[2018-02-09 14:36] alvelig commented on #2016
@jskidd3  they should be lowercase. `@3x` https://facebook.github.io/react-native/docs/images.html

[2018-02-09 14:37] alvelig commented on #2016
@arronhunt your production build is ok, because this is the actual pin size.

[2018-02-09 14:38] jskidd3 commented on #2016
@alvelig Ok thanks. I've worked around temporarily by inserting image as a child of the marker and scaling with style but I'll set up a demo project shortly.

[2018-02-09 15:11] alvelig commented on #2020
Duplicate of #118 and numerous more XD

[2018-02-09 15:15] alvelig commented on #1826
@helixbass I agree, but rebuilding your project around the working maps allows to localize the problem. The problem localized can be handled.

[2018-02-09 15:27] alvelig commented on #2018
@nicoaureliovillanueva I think if you expressed in Spanish we could understand you better XD
There's a #175 (fitToElements)

[2018-02-09 15:27] #2018 closed

[2018-02-09 15:39] alvelig commented on #701
@SvetoslavSlavov @joelandplus  if you get `undefined is not an object`, then your map reference is undefined. Use onMapReady to make sure it's ok

[2018-02-09 15:50] alvelig commented on #1954
@xinlangzi https://github.com/alvelig/react-native-maps-example

[2018-02-09 17:12] itanhduy commented on #1033
I've tried to setState for re-render. But it doesn't work.
Any helps?
Thansk in advance.

[2018-02-09 21:43] wbattel4607 commented on #2021
I'm getting the same issue. iOS is using MapKit instead of Google Maps, even though Google Maps is specified as our preferred provider and was functioning properly in `0.19.0`.

[code]

[code]

[2018-02-10 02:37] xieliying commented on #660
If you use CocoaPods, may be you should check your Podfile whether you have add RCTImage, like this:

`pod 'React', :path => '../node_modules/react-native', :subspecs => [
    'Core',
    'CxxBridge',
    'DevSupport',
    'RCTText',
    'RCTImage',     # add RCTImage, then **pod install**
    'RCTNetwork',
    'RCTWebSocket',
  ]`

[2018-02-10 03:38] itanhduy commented on #1033
This is a default functionality why we can't make it work?

[2018-02-10 04:31] malithjkmt commented on #1033
The re-render workaround only works for me when the
`cacheEnabled={false}`
is input to <MapView>

[2018-02-10 10:42] gogoku commented on #834
@Grundmanis  Did you solve your Issue?

[2018-02-10 12:10] JeromeDesseaux opened #2023 "react-native-maps@0.20.0 requires a peer of react-native@0.51.0 but none was installed."
Hi everyone and thanks for everything you've mafe here! It look really awesome.

I'm starting React Native and I'm facing a NPM dependency error.
`npm WARN react-native-maps@0.19.0 requires a peer of react@16.0.0 but none was installed.
npm WARN react-native-maps@0.19.0 requires a peer of react-native@0.51.0 but none was installed.
npm WARN react-native-maps@0.20.0 requires a peer of react@16.0.0

[2018-02-10 15:53] jskidd3 commented on #2016
@alvelig Just coming back to confirm, I reverted back to using the `image` prop today and it's working fine now. I haven't changed anything, but I did do a `cd android; ./gradlew clean` this morning and my thinking is that would have sorted it.

[2018-02-10 16:04] alvelig commented on #2016
@jskidd3 glad you sorted it

@arronhunt if you keep experiencing this after adding x2 and x3, let us know.

[2018-02-10 20:30] rohithramachandran commented on #2020
Same issue Here.The key is correct.But still loads the blank map after the installation of react-native-onesignal
Here is my build.gradle

[code]

[2018-02-11 08:41] lpb006 commented on #1862
@rborn I will use some library,so i have to add 'use_frameworks!' in my Podfile, but when i add this, i   get the error '<React/RCTView> not found'. How can i solve this? Thanks

[2018-02-11 22:19] wbattel4607 commented on #2021
@rborn any ideas? This seems like a pretty big issue. I'm surprised it didn't get caught in testing before being released.

[2018-02-12 09:15] ShaikhKabeer commented on #2014
@rborn , any solution for this ?

[2018-02-12 10:20] ShaikhKabeer opened #2024 "Markers are not moving onPress in iOS"
Hi, currently I'm facing the issue in iOS. I have used google maps in iOS. The issue is like screen view is not moving when  another marker is pressed even if I set the property of MapView  `moveOnMarkerPress={true}` .
Is any solution there?

[2018-02-12 10:36] rborn commented on #1862
@lpb006 sadly I don't have a solution for this :(

[2018-02-12 12:09] keeleycarrigan commented on #2013
@helixbass thanks for pointing out that I might be mistaken. I went back to look at my project that was working even with `use_frameworks` uncommented. Since it was a few months ago that I installed `react-native-maps` I forgot that I actually used the "manual" installation method that was listed in that version's docs. It doesn't solve this particular problem, but I was able to start a project us

[2018-02-12 14:04] krystianpach commented on #213
+1

[2018-02-12 16:50] arronhunt commented on #1870
Reading through this thread, it looks like there are two issues being discussed. There is a lot of discussion around using an image for <MapView.Marker>, but not a lot of discussion around nesting and <Image> inside of a <MapView.Callout> component on Android, which is the issue me and my team are currently trying to fix.

@alvelig would it make more sense to split the thread into two different di

[2018-02-12 19:32] andela-cofor commented on #999
?

[2018-02-12 19:53] wbattel4607 commented on #2021
@alvelig I meant no disrespect. I understand this is a community effort. That being said, I think it would make more sense to mark brand new untested/lightly-tested versions as release candidate pre-releases. Myself and others would be happy to help test and diagnose issues. The only reason I hadn't done so for this one is because I had no way of knowing if @rborn or another Collaborator was alrea

[2018-02-12 20:02] alvelig commented on #2021
@christopherdro do you mind creating a `react-native-maps` slack and sharing invite link in #1807

[2018-02-12 20:06] anaibol commented on #100
+ 1

[2018-02-12 20:09] techwes commented on #1995
I got pulled onto more pressing things so left this hanging for now. My plan when I get back to this is to remove the need to control the region through the state and use `animateTo` when I need to change the region, as @alvelig suggested.

If it is a bad practice to control region with state, then I propose we remove references to it in the Readme and call it out as a bad practice. Almost every c

[2018-02-12 20:17] alvelig commented on #1995
@techwes I see your point, but there's a problem, that it's not a totally bad practice, but actually just a use case. You may intentionally use state to control region, but you should be aware of the consequences. I agree that this cases should be cleared in the docs.

[2018-02-12 20:20] wbattel4607 commented on #2021
@alvelig I found the culprit.

Commit 9f3c5f6e8be3f95335de20fda073d3edceb2c850 is where this issue started.

[2018-02-12 20:33] techwes commented on #1995
Yeah I don't think I know exactly what the consequences are, so maybe I am not the best to do this? Or maybe if you give me a use case where it is a good idea to control region via state  (and that actually works) that would help. I just know the example in the docs does not work  and it doesn't seem like this is best recommendation for most use cases

[2018-02-12 20:35] alvelig commented on #1995
One possible use case is when you want to restrict area shown. But actually you are correct. Most of them are doable with `animateTo`

[2018-02-12 20:53] rafetkhallaf commented on #1995
I know this is outside your convo right now, but it got little confusing for me now. just to confirm, the problem is not with onRigonChange => setState({ region: region}), it's with region={this.state.region}. is this correct?

[2018-02-12 21:13] alvelig commented on #2021
@wbattel4607 THX!!! Try latest master, it contains hotfix.
https://github.com/react-community/react-native-maps/commit/cd868ea7b33a04c8bdd5e909cf134a133b2cb316

[2018-02-12 21:25] wbattel4607 commented on #2021
@alvelig just tried with cd868ea7b33a04c8bdd5e909cf134a133b2cb316 and I'm happy to report that it works!

[2018-02-12 21:27] alvelig commented on #2021
That was the border case.
If you did `MapView.PROVIDER_GOOGLE` or `'google'` it would have worked 🙄

[2018-02-12 22:59] techwes commented on #1995
I think yes, but I would not have phrased it that way. It is more an issue of them being used together than with either individually. To be clear, there is no issue with onRegionChange being called, and you could certainly set the state in that function and it would work fine. But once you hook that region state up to the region prop is when this bug occurs.

[2018-02-12 23:38] zelgan90 commented on #1677
@jpmazza Could you please elaborate how you fixed this issue? I've tried setting the region of the map on the `onMapReady` event, and it does work, thing is everytime I try to move the map around it goes back to this same spot over and over again which which is not ok for my app

[2018-02-13 00:20] alvelig commented on #1995
Exactly, the issue is expecting the map to pan fluently while controlling it's region with setState(), as map render() might take more time than you expect to change the region.

[2018-02-13 08:45] yqbk commented on #1954
@alvelig Could you provide some basic instruction how to link it manually? Which libraries add to Xcode and so on?

[2018-02-13 11:13] MichielDeMey opened #2025 "Inconsistent Polygon Rendering (iOS/Android)"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

   react-native: 0.53.0
    react: 16.2.0
	react-native-maps: 0.20.0

### Steps to Reproduce

1. Use a simple `<MapView>` component with a `<Polygon>` covering half the world.

[code]

### Expected Behavior

[2018-02-13 12:23] alvelig commented on #1954
@yqbk https://developers.google.com/maps/documentation/ios-sdk/start Tab "Manually"

[2018-02-13 12:38] DanGDroid commented on #1386
i can see a fix for this in
`react-native-maps/lib/ios/AirGoogleMaps/AIRGoogleMap.m`
`makeGMSCameraPositionFromMap `

[code]

can we please have the same fix for Android?? @christopherdro @IjzerenHein

[2018-02-13 12:45] jeffreymendez1993 commented on #1973
@rborn Thanks will do. I probably should not have said bad but instead could use more detail to eliminate the install part. After a couple hours of being frustrated my mind was warped and I am just over here like this is CRAP since I have installed Gmaps on iOS on multiple projects using this library haha!. Ill try to be more insightful and contribute instead of roaring and barking.

[2018-02-13 15:41] rborn commented on #2021
@christopherdro can we make a push to npm for this hotfix? 🤗

[2018-02-13 15:50] alvelig commented on #2021
Fixed in 0.20.1

[2018-02-13 15:50] #2021 closed

[2018-02-13 16:06] arronhunt commented on #2016
Sorry for the delay in updates. Just did another release build this morning and can confirm that even with the 1x 2x 3x assets, pins are too large on the map after building.

Here's the snack I used to re-create -> https://snack.expo.io/@arronhunt/map-example

You need to build the project to replicate the steps to reproduce. Also a a note, when previewing the snack I'm getting the opposite issue

[2018-02-13 16:06] arronhunt commented on #2016
Sorry for the delay in updates. Just did another release build this morning and can confirm that even with the 1x 2x 3x assets, pins are too large on the map after building.

Here's the snack I used to re-create -> https://snack.expo.io/@arronhunt/map-example

You need to build the project to replicate the steps to reproduce. Also a a note, when previewing the snack I'm getting the opposite issue

[2018-02-13 16:07] arronhunt commented on #2016
Here are the assets I am using

![map_pin](https://user-images.githubusercontent.com/298336/36159998-fd2a6750-1094-11e8-8441-57a15ee8e758.png)
![map_pin 2x](https://user-images.githubusercontent.com/298336/36159999-fd458f62-1094-11e8-882e-b77e09981d39.png)
![map_pin 3x](https://user-images.githubusercontent.com/298336/36160000-fd5e999e-1094-11e8-8bab-92c3a8e297c3.png)

[2018-02-13 16:21] Daugilas commented on #1823
+1

[2018-02-13 17:46] alvelig commented on #2016
@arronhunt Looks like an expo issue. I marked photos x1, x2 and x3 respectively.

See expo:
![photo4906750632896079896](https://user-images.githubusercontent.com/4231544/36164181-636fe1ea-10ca-11e8-98b3-2a72f26d2d19.jpg)

See native build: (Master in this repo https://github.com/alvelig/react-native-maps-example)
![photo4906750632896079897](https://user-images.githubusercontent.com/4231544/3616490

[2018-02-13 17:46] rborn commented on #2023
@JeromeDesseaux is this breaking your app or it's just a nuisance in the logs?

[2018-02-13 17:47] alvelig commented on #2016
Please try https://github.com/alvelig/react-native-maps-example and comment

[2018-02-13 18:04] efkan commented on #1966
I develop on Android and in my case, the issue about `onRegionChangeComplete` is that the event is fired multiple times.

If I set map `ragion` among these two fired event `onRegionChangeComplete` event, the map is shown at the first and the last region consecutively.

And of course if the event is being reflected from Android completely, its mean that there is no many things to do to overcome thi

[2018-02-13 23:40] bmkopp10 commented on #1948
I've got the same problem when trying to change my dependencies to match that of react native maps.   My map is working perfectly fine even though I'm getting a dependency error... so as of now I'm leaving it.  I'm not sure if that is bad?  I'm relatively new to react, I'm wondering if the react native maps  issue has anything to do with running react native link?

[2018-02-14 01:50] mellet commented on #2023
Not 100% sure.
But if your in Expo don't they ship their own version that works in Expo?

Meaning you should `import { MapView } from "expo"`

[2018-02-14 10:22] JeromeDesseaux commented on #2023
I followed the React-Native's starting guide [here](https://facebook.github.io/react-native/docs/getting-started.html)

But apparently, the required way (RN-maps) is using react-native init. Using this command, I got ios and android folders and, RN-maps is working. I still got theses warning. But, at least, it works.

I'm hoping this would help someone (a beginner as I am maybe) : Scaffold your pr

[2018-02-14 10:22] #2023 closed

[2018-02-14 12:48] v3solutions opened #2027 "Big memory and cpu leak on android"
### Is this a bug report?

Memory and cpu leak on android using any navigation (react native navigation, react navigation, even simple if switching pages). Seems like a very serious issue. It increases until it just crashes (in my case ~400mb and cpu 7% on galaxy s5)

### Environment
Android
react-native: 0.53.0
react-native-maps: 0.20.0

### Steps to Reproduce

(Write your steps here:)

1. Any tw

[2018-02-14 14:44] narek11 commented on #70
+1

[2018-02-14 15:02] alvelig commented on #2027
That's an interesting case. Any ideas how to localize the leak?

[2018-02-14 18:29] thomascharbit commented on #218
@stephan-nordnes-eriksen thanks! as of today this is still then only way i got it working

[2018-02-14 20:08] arnsa opened #2028 "[Android] Blank map on emulator, works on real device"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native: 0.53.0
react: 16.2.0
react-native-maps: 0.20.1

### Steps to Reproduce

Try to render map like this https://pastebin.com/8Xksi0We (I pasted the code to pastebin, because github wasn't displayin

[2018-02-14 20:43] rborn commented on #2028
@arnsa you need an emulator that has google play services.

[2018-02-14 21:02] z4qx opened #2029 "Conflict while updating data on map and user move on it [IOS/ANDROID]"
Hello !

I have a problem while I try to move on the map (onRegionChange) and the circle on it is updated by position.

### Environment
    react-native: 0.49.0
    react-native-maps: 0.20.0

You can see a video of it =>  https://youtu.be/G1qWDshEGG8

This is my code :
`

onRegionChangeComplete(region) {
    this.props.updateGeoQueryMapView(region);
    this.props.updateMapRegion(region); //will m

[2018-02-14 21:10] rborn commented on #2029
Don't make the region of the map depending on the state, see more here: https://github.com/react-community/react-native-maps/issues/1966

[2018-02-14 21:11] #2028 closed

[2018-02-14 22:37] ltchurch88t commented on #2027
A potential avenue to explore would be nesting your MapView inside a screen accessible through the DrawerNavigator for android. This forces you to re-render the MapView when you return to the screen holding that view. I will give it a shot here in a little bit and post some code for you if I come up with a solution.

[2018-02-14 22:45] ltchurch88t commented on #2024
moveOnMarkerPress is an android only functionality, however, you could create your own work around through setState. If you handled onPress you could update the current region to move the map to the specified coordinates the Marker is set at. If you need some code to give you and idea feel free to let me know otherwise it is always good to try it out yourself first. Look at onRegionChange and how

[2018-02-15 02:03] terrathe2 commented on #213
+1

[2018-02-15 06:00] arnsa commented on #2028
@rborn I am not sure why you closed the issue, because my emulator DOES have google play services and they're updated to the latest version.

[2018-02-15 09:57] rborn commented on #2028
@arnsa as long as the google logo is rendered, it means the module works fine but there is a problem either with the api key or a wrong emulator.

I closed the issue because there lots of similar issues already. This would be one of them, but please search by yourself and let us know if you have it fixed: https://github.com/react-community/react-native-maps/issues/1877

[2018-02-15 10:41] jiteshwadia commented on #1798
@alvelig , I am following the steps according to the README.MD.

Error I got while - `Pod install` (The bold part is error)
[code]

Below is my Pod file contents:

[code]

I tried changing ios version from 8.0 to 11.0, but still got the error.
 Should I file this as new issue.

[2018-02-15 10:46] hedaktibo commented on #2014
If you added the 'region' property to the MapView element, for every render() call, the map will update it's region.
if whenever you interact with the map the map refreshes, that kind of behaviour can be caused.

[2018-02-15 10:52] rborn commented on #1798
@jiteshwadia try a `pod update`

[2018-02-15 11:52] jiteshwadia commented on #1798
@rborn , It Worked. Thanks !!

[2018-02-15 15:51] v3solutions commented on #2027
I'd be happy to sponsor anyone who can come up with a solution this week. It's urgent :(
Btw. it would be great to know how can i compile my own version of react-native-maps after editing library. I can't find any docs regarding this.

[2018-02-15 19:25] salbatore commented on #1935
@rborn you are my hero :D.... thanks!!!!

[2018-02-15 19:27] rborn commented on #1935
@salbatore did you find where they are on android?

[2018-02-15 19:29] salbatore commented on #1935
Nop... i dont see.. :P... this weekend i will search in depth

[2018-02-16 10:14] zyskowsk commented on #813
I ran into a similar problem and clearing my DerivedData and re-building fixed this issue for me.

you can do this by running `Command + option + shift + k` in xcode and rebuilding

[2018-02-16 11:39] mtiziano opened #2031 "compass icon fires onPress - android"
### Is this a bug report?

Yes

### Environment

### Report

![compass](https://user-images.githubusercontent.com/6752432/36305792-64bed6e4-1315-11e8-9255-ae2fd816bf0c.png)

by changing map direction with two fingers, compass icon appears top-left to reset map direction to North.

When i press the compass icon, it fires onPress event of an external TouchableOpacity that has nothing related

[2018-02-16 17:47] rafetkhallaf commented on #1995
@techwes @alvelig I tried everything to get the map to work as smooth as before but no luck. how are you guys setting the region when somebody moves the map around? this.setState({}) is not working as we discussed and almost every tutorial i found is doing the same thing.

** we are also using expo and it's using 0.19 and i noticed today that there is a new version here that solved some of the oth

[2018-02-16 18:09] efkan commented on #549
I guess this issue can be closed.

Today `toolbarEnabled` property of `MapView` component solves this issue.

Example:
[code]

[2018-02-16 21:36] rborn commented on #549
Closed as solved by https://github.com/react-community/react-native-maps/issues/549#issuecomment-366313775

[2018-02-16 21:36] #549 closed

[2018-02-17 02:37] ShaikhKabeer commented on #2024
Hey @ltchurch88t , it will be good if you share the code for it.

[2018-02-17 04:01] ShaikhKabeer commented on #2024
Below is the Map component I'm using. Here I'm passing multiple lat long coordinates. Now please refer this one and tell what I do for doing marker moving functionality in iOS too.

import React from 'react';
import { StyleSheet,Text,View }  from 'react-native';
import MapView,{PROVIDER_GOOGLE} from 'react-native-maps';

export default class ReactMap extends React.Component {
    constructor(props

[2018-02-17 06:25] KangYoosam commented on #637
👍

[2018-02-17 15:41] efkan commented on #1870
I've investigated this issue for a couple of hours.

Because of I'm not an expert on `react-native-maps` and the structure of `react-native` I could just review the code.

I guess [`addView`](https://github.com/react-community/react-native-maps/blob/master/lib/android/src/main/java/com/airbnb/android/react/maps/AirMapMarker.java#L280-L288) method adds the custom markers into parent view. So, after

[2018-02-17 16:26] jskidd3 commented on #1903
@Agontuk @rborn I've just installed v0.20.1 which includes the pull request https://github.com/react-community/react-native-maps/pull/1953 but the map is still zoomed right out showing the world on iOS. Our region looks like this `{latitude: 54.5, longitude: -4.5, latitudeDelta: 20, longitudeDelta: 20}` and should focus on the UK. Testing simultaneously on Android device and it focuses correctly o

[2018-02-17 18:11] foyarash commented on #1870
@efkan it works on iOS if i remember well

[2018-02-17 18:41] alvelig commented on #1870
@arronhunt Actually they have the same origin. Images sometimes don't render in Android because View.draw() does not render the image in time (that's where I came to in my investigation)

@efkan yes, it's android specific

[2018-02-18 03:49] Benjamin-Dewey commented on #1932
Same issue for me on Android using react-native-maps 0.19.0 and react native 0.51.0.
Regardless of whether or not I use a custom marker or the default marker the problem persists.

[2018-02-18 14:01] inanbayram commented on #2005
I created now a new project and installed at first the react-native-maps package. Everything works fine now. The strange thing is, that I'm currently using the same version as before (react-native, react-native-maps etc...) and also the modules which I installed are the same as before :/

If you have enough time, try to create a fresh project with react-native-maps. Later you can include the other

[2018-02-19 02:59] Andre-JierongLuo commented on #1353
any updates on this issue?

[2018-02-19 07:33] khsily commented on #2027
having same problem on ios :(

[2018-02-19 09:51] leminhtuan2015 commented on #1465
I have the same problem, I already test (in #921fffb). but it still NOT work.

[2018-02-19 11:22] andr3a88 commented on #213
+1

[2018-02-19 11:56] MarcJohansenITM commented on #1002
Any news on this issue?

[2018-02-19 11:57] phehaz commented on #1002
Any news on this issue? :)

[2018-02-19 14:00] yoieh commented on #1399
Having the same issue here:

Thow im using:

[code]

[code]

Works fine on real device but not in my emulater.

[2018-02-19 16:01] reyalpsirc commented on #842
In my case I was having the error due to the call to `animateToRegion` before the map was ready. Using @MacKentoch solution worked for me by using a flag on the state of my component that is set to true on the `onLayout` event.

[2018-02-19 18:20] douglasjunior commented on #733
For Android only works with `Marker.Animated`:

[code]

But now work with normal `Marker`:

[code]

No errors, just marker does not appear.

[2018-02-20 01:00] joelandplus commented on #701
@alvelig I'm already using onMapReady ... but this problem still persists. Worst it i can't seem to reproduce it in all my three Android test devices (5.1, 6.0 & 7.0). But it persists in Android console crash reporting.

[2018-02-20 08:19] runia1 commented on #1434
Same issue :(

[2018-02-20 08:50] DanGDroid commented on #2027
@v3solutions
hi,
to edit a RN lib and use it you have to add it to your project file and use your edited version, but it wont be updated for npm any more.
to add a lib locally:
in your project directory create a `Lib` folder, and cut and paste the module you want from `node-modules` folder.
do your changes - it is now in your local project.
in `package.json` change the import to:
`"react-native-ma

[2018-02-20 10:41] hanselsen opened #2033 "Use a local image as map"
I want to use `react-native-maps` for showing a map of a building or zoo or something.
The map will also show custom (clustered) markers.
I tried to load a `LocalTile` but that's showing the same image over and over again ofcourse.

Is there someone with insights on how to make this work? Maybe a local tile generator?

[2018-02-20 10:54] timorss commented on #278
in that
let distance = Math.abs(deltaLongitude / 360 * (Math.cos(latitude) * 2 * (Math.PI) * radiusEarth));

what do i need to put in the radiusEarth?

[2018-02-20 11:05] rborn commented on #278
@timorss one of these depending what you want (km, miles, m, nautical miles): https://github.com/brandon93s/haversine-js/blob/master/index.js#L5

[2018-02-20 11:16] Yo-Dev opened #2034 "Polygon displayed when the 3 rd point is drawn in 'ios'"
I have a problem when i draw a polygon in ios platform  ,  it is displayed from the 3rd point drawn. I tried to use the same code in the example https://github.com/react-community/react-native-maps/blob/master/example/examples/PolygonCreator.js

Any  solution  ?

Thanks

[2018-02-20 15:28] rynatk commented on #813
@zyskowsk thank you so much

[2018-02-20 16:07] alvelig commented on #2033
#2022 ?

[2018-02-20 16:11] hanselsen commented on #2033
This is not a question for showing an image above a Google Maps for example. I don't need an actual map provider. Only my own map.

[2018-02-20 18:23] arnsa commented on #2028
@rborn okay, launching app on emulator with API 25 fixed the issue. Thanks!

[2018-02-20 18:27] tugorez commented on #213
+1

[2018-02-20 18:32] cinder92 commented on #213
+1

[2018-02-20 21:56] mobihunterz opened #2036 "IOS Build fails with native component "AIRMapCircle" does not exist"
### Is this a bug report?

Nope. It seems to be some configuration/installation issue. As steps followed for example setup worked and I can see Maps as well.

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

I followed each and every bit of the installation instructions. I have installed npm package and setup

[2018-02-20 22:03] rborn commented on #2036
@mobihunterz Try to install the github version

[2018-02-20 22:18] mobihunterz commented on #2036
@rborn I cant get it. This is from github as well. Can you point me to the repository because I thought this one is the only suitable and authentic.

Thanks for prompt response.

Regards,
Paresh Thakor

[2018-02-20 22:20] rborn commented on #2036
In your package.json put
[code]
and then run `yarn install`

Please let me know if it changes anything

[2018-02-20 22:54] chrismcleod commented on #1903
@Agontuk, I was having the same problem as @jskidd3.

I could not get initialRegion to zoom correctly, even though it does go to the right coordinate. I updated my code to call animateToRegion after onMapReady has been called.  That still did not work so I set some breakpoints in XCode in animateToRegion of AirGoogleMapManager.m and noticed when I call animateToRegion, the block is called twice ba

[2018-02-20 23:23] ramsestom commented on #1701
If you take the code example for animated markers provided in the readme page and add a rotation property:

[code]

Here is the error message you obtain:

tested on android with react 16.2.0, react-native 0.53.3 and react-native-maps 0.20.1

[2018-02-21 09:54] prasanth95 opened #2037 "GPS Navigation"
How can we display Google Navigation through react-native-maps? Any workaround?

[2018-02-21 10:27] hanselsen opened #2038 "coordinateFromPoint not working"
### Is this a bug report?

YES

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

YES

### Environment

"react": "^16.0"
"react-native": "^0.51"
git+ssh://git@github.com/react-community/react-native-maps.git"

Tested on Android only

### Steps to Reproduce

1. Clone react-native-maps-master
2. Change example/e

[2018-02-21 14:14] Agontuk commented on #1903
@jskidd3 , I tried with your coordinates and map is shown like this. It looks ok to me since it's focusing on UK.

![simulator screen shot - iphone 7 - 2018-02-21 at 19 49 10](https://user-images.githubusercontent.com/5656440/36484472-9c82e5e8-1743-11e8-92ad-b5378e50838a.png)

[2018-02-21 18:09] VySellathurai commented on #1664
I've face exactly the same issue and this work for me :
1. I moved my projet in a different location to shorten the path (I put mine in the root of my D: for instance)
2. run the command `gradlew clean` from android directory of the project

As I understood, it's a OS path limit issu :
https://stackoverflow.com/questions/33905687/error-file-path-too-long-on-windows-keep-below-240-characters/346801

[2018-02-22 00:50] wasedaigo commented on #2038
I cannot make it work either. The error I am receiving is
[code]
I am using iOS

[2018-02-22 03:03] redisean commented on #678
Thank you for your help with this issue, I had a similar problem resulting in the same thing.

My structure was <MapView>functionReturning{<View><MapView.Markers></></>}</> and this was causing an issue, once I removed the <View> and put the <MapView> inside the function instead it made it all work seemlessly.

Came to this result from reading the above and just wanted to thank you guys for your e

[2018-02-22 05:24] ShaikhKabeer commented on #2024
Hey @ltchurch88t , any solution to this ?

[2018-02-22 07:14] LuckySambial commented on #842
@MacKentoch I have same issue as you were facing but your solution is not working for me. In IOS it's working fine but not at all in android.
Can you please help me to sort it out ?

[2018-02-22 07:33] pejalo commented on #1952
This issue has been driving me crazy so I created a new project to isolate it:
https://github.com/pejalo/react-native-maps-callout-bug

    "expo": "^24.0.0"
    "react": "16.0.0"
    "react-native": "0.51.0"
    "react-native-maps": "^0.20.0"

I know expo includes [its own map](https://docs.expo.io/versions/latest/sdk/map-view.html) view but I'm using this vanilla one explicitly like so:
`import

[2018-02-22 12:39] g3r4n commented on #2038
Got the same issue.
@danielgindi does your RCT_EXPORT_METHOD from AirMap should be in the AirMapManager ?
e.g like the takeSnapshot one ?

[2018-02-22 12:54] g3r4n commented on #103
@devfd we should support Overlay now : [docs](https://github.com/react-community/react-native-maps/blob/master/docs/overlay.md) and [example](https://github.com/react-community/react-native-maps/blob/master/example/examples/ImageOverlayWithURL.js)

[2018-02-22 13:05] rborn commented on #103
Going to close as per https://github.com/react-community/react-native-maps/issues/103#issuecomment-367671687

[2018-02-22 13:05] #103 closed

[2018-02-22 13:08] g3r4n commented on #2033
@hanselsen can you give us a snippet of your code to understand your issue ?

[2018-02-22 13:09] g3r4n commented on #2001
@saxenanickk can you give a snippet of your code to reproduce the issue ? thank you !

[2018-02-22 19:00] wasedaigo commented on #2038
@g3r4n you are right
@danielgindi At least this fixes iOS for me
https://github.com/wasedaigo/react-native-maps/commit/615975f438460f331dfbd611fb03f4dec285c55f

[2018-02-22 20:09] v3solutions commented on #2027
@DanGDroid
Thanks, I'll take a look.

[2018-02-22 20:26] Goblaz opened #2040 "Can't npm install, unexpected token."
I'm currently attempting to install this package and I run across the following error when executing npm install react-native-maps --save:

Unexpected token < in JSON at position 6708.

Has anyone else seen this that has tried to install this recently?

[2018-02-22 20:27] ltchurch88t commented on #2024
@ShaikhKabeer is it absolutely essential to use the marker itself as the navigation tool or could you attribute the functionality elsewhere? For example on a carousel slider or button press in a separate view? The issue with iOS is the register of the marker press itself not mapping the component. Let me know as soon as you can and I will try and post code accordingly

[2018-02-22 23:08] Goblaz opened #2041 "Android app crashing as soon as MapView is rendered."
I'm currently testing on an emulator with android 5.1. Everything seems to be linked correctly as I'm able to build and run the app just fine. However, when I get to a component that renders MapView the app crashes with no error. Just says it had to stop. I have no error and nothing to go on, has anyone else run into this?

[2018-02-22 23:33] wkoutre commented on #2041
@Goblaz There's always an error :)

Run the Android debugger before launching your app -- either in Android Studio or via terminal with the `adb logcat` command.

Clear logs right before you're about to render a component with `MapView`, enter the component and let your app crash, immediately copy/paste the logs, and report back.

[2018-02-23 00:28] TheoGit commented on #1153
@pquattro did the ReactImageView ever get resolved?  I'm having the same problem.  This is a production show-stopper.

[2018-02-23 02:42] ShaikhKabeer commented on #2024
Hey @ltchurch88t , as mentioned in the code above, I'm passing the no of Lat-Long objects and fitting those using fitToCordinates( ). So those markers are now fitting in the MapView. I'm showing Lat Long cordinate object for that particular marker. So when  I'm pressing particular marker for checking its cordinates then it is moving screen. So this behaviour is expected in both iOS and android but

[2018-02-23 09:24] alvelig commented on #2040
As far as I see you managed to overcome this.

[2018-02-23 09:24] #2040 closed

[2018-02-23 09:25] alvelig commented on #2037
Duplicate of #778

[2018-02-23 09:25] #2037 closed

[2018-02-23 15:17] chrismcleod commented on #2002
@gunsym I was able to solve this by using state.  It seems onDragStart will fire before the Map's onLongPress.  So onDragStart set an "isDragging" flag to true, and in your handler for onLongPress, return early if isDragging is true.  Another onDragEnd handler sets isDragging back to false.

[2018-02-23 15:33] Goblaz commented on #2041
ADB Logs:

--------- beginning of main
W/unknown:ViewManagerPropertyUpdater( 3356): Could not find generated setter for class com.airbnb.android.react.maps.SizeReportingShadowNode
D/AndroidRuntime( 3356): Shutting down VM
--------- beginning of crash
E/AndroidRuntime( 3356): FATAL EXCEPTION: main
E/AndroidRuntime( 3356): Process: com.myapp, PID: 3356
E/AndroidRuntime( 3356): java.lang.AbstractMeth

[2018-02-23 15:46] Goblaz commented on #2041
I think this is to due with google play services.

[2018-02-23 15:49] Goblaz commented on #2040
I overcame it with yarn. Using NPM still results in this error.

[2018-02-23 16:05] Goblaz commented on #2041
It was do to Google Play Services, a quick:
compile 'com.google.android.gms:play-services-base:+'
    compile 'com.google.android.gms:play-services-location:+'
    compile 'com.google.android.gms:play-services-maps:+'

in the build.gradle solved it.

[2018-02-23 16:05] #2041 closed

[2018-02-23 16:11] kingsleykbc commented on #834
@DennisSnijder tried it, still didn't work

[2018-02-23 17:34] jonathanmauer commented on #213
+1

[2018-02-23 17:35] jpmazza commented on #1677
@zelgan90 You should ask if it is the first load before update the region.

onMapReady => is first time? => UPDATE REGION

[2018-02-23 17:58] EOdOW commented on #930
I had the mapType prop set to 'none' for the layers that have UrlTile and onRegionChangeComplete was not being called. By setting mapType to one of ("standard", "satellite", "hybrid") first and then to 'none' I was able to go around this issue.

[2018-02-24 05:57] twinkleSiya commented on #327
Debug apk  install and  app work properly and google map show, too
but  release generated apk  install when map not showing in please solution
All process are done, but i'm facing same problem
Could you please guide me for the same on how to resolve it asap? I really need to get this done. Help me.

[2018-02-25 01:01] mobihunterz commented on #2036
Hello @rborn,

Apologies for the late response but I was stuck a lot while processing your suggestion. It was some other issues but react-native was not working. So, I need to create a whole new project with map only.

I have put the suggestion you mentioned here and package.json is pasted below.

[code]

However, it still shows the same error. I tried reseting simulator and npm/yarn start with re

[2018-02-25 04:30] alexsmartens commented on #1813
I'm having similar error. Can the issue be reopened?

[code]

[2018-02-25 07:26] danielgindi commented on #2038
Hmm for some reason it works for me. Haven't seen the error. I can look into it, but I see that there's already a PR for fixing this :-)

[2018-02-25 07:27] wasedaigo commented on #2038
@danielgindi I think this does not happen if you are using GoogleMap

[2018-02-25 11:31] iosfitness opened #2042 "Issues while rendering Google Maps on iOS"
Please review the mechanism for rendering Google Maps on iOS and recommend corrections to improve/revise the approach.

Issue: The UI gets stuck if I quickly click the back button while the reverse geocode is still fetching. However, the performance is way better for Apple Maps for the same use-case. Also, I keep receiving memory warning while rendering Google Maps.

Library used for reverse geoco

[2018-02-25 15:35] alvelig commented on #2042
This might happen because you are trying to render when it's already unmounted.

Try something like that (not tested, just an idea)
[code]

Could you please make a project to be able to clone and describe steps to reproduce.

[2018-02-25 16:44] iosfitness commented on #2042
@alvelig I will surely try this. I have also referred to https://github.com/Rudolph-Miller/RNGoogleMapExample but I'm unable to see the markers.
If possible, please try this sample and share your feedback.
Thanks..

[2018-02-25 18:24] Sainathhiwale commented on #1948
any one give the good solution

[2018-02-26 04:46] wjielim commented on #2027
@v3solutions Which navigator did you used for that two components containing the MapView?
I suspect that you are using StackNavigator, which will indeed adds up memory consumption because the previous component will still running in background after you switched to the new component.

[2018-02-26 07:41] Rewieer commented on #486
How comes no one implemented a simple state switch in MapMarker to know wether or not the callout is visible ? Are there anything planned about this or do you need some help ?

[2018-02-26 07:54] Schabaani commented on #2038
same issuse

[2018-02-26 08:54] hanselsen commented on #2038
@wasedaigo thanks. I look forward to the merge.

[2018-02-26 09:27] hanselsen opened #2043 "Feature reuest maxExtend & wrapDateLine"
### Environment

"react": "^16.0"
"react-native": "^0.51"
git+ssh://git@github.com/react-community/react-native-maps.git"

### Feature

Implementation for `maxExtend` and `wrapDateLine` for `LocalTile` layers.

### Why

Whilst projecting a local image on the map using `LocalTile`, limiting the image to be shown only once. So making sure the map is not infinite scrollable in the horizontal position

[2018-02-26 09:48] mobihunterz commented on #2036
Hello,

Is there anyone to help me out this issue?

I am not able to integrate react-native-maps due to error mentioned above and I have followed numerous steps to resolve this but none helped.

Regards,
Paresh.

[2018-02-26 10:41] Bassonlinho commented on #1685
If anyone wondering, I've did it with Draggable Markers.
 {this.state.editing && this.state.editing.coordinates &&
 (this.state.editing.coordinates.map((coordinate, index) => (
  <MapView.Marker draggable
   coordinate={coordinate}
   onDragEnd={(e) => this.changeCoordinate(e, index)}
   />
 )))}

and the function:
  changeCoordinate(e, index) {
    let newCoord = e.nativeEvent.coordinate;
    let

[2018-02-26 11:04] Rewieer commented on #1592
Everything is working fine on RNM 0.17.0. Once I went to 0.20.1 it started to stutter.

[2018-02-26 14:27] chrismcleod commented on #2002
I was wrong, onDragStart does not always fire first.  I am unsure what determines the order.

[2018-02-26 16:45] mafiusu commented on #1810
@rborn my start post is updated with the issue template. Hope it's looking good.

[2018-02-26 19:06] Doychev commented on #1870
Given that the custom view markers are not rendering, is there any way to style/resize the image prop supplied to Marker?

[2018-02-27 07:25] Afalook commented on #1870
I fixed this problem by follow this solution https://github.com/wkh237/react-native-fetch-blob/issues/574
you can pass image to <Webview/> and place it in <Marker/> or <Callout/> like this
`<Callout tooltip={true}>
           <View style={{flex: 1,}}>
                    <WebView source={{
                              baseUrl: RNFetchBlob.fs.dirs.DocumentDir,
                              html,}}

[2018-02-27 08:30] Stophface commented on #1679
@alvelig Any progress on this?

[2018-02-27 08:33] Stophface commented on #2043
Getting the Mapextend, the covered area that is shown by the MapView would be awesome. That would increase the performance of `react-native-maps` dramatically because one can finally only render Marker, Polygons, Overlays, ... what is actually shown in the Mapextend instead of rendering everything all the time.

[2018-02-27 11:56] Doychev commented on #1870
@Afalook Is there a way to feed the WebView an image without more html? Also, in my case the image might be both local and a url, if that matters.

[2018-02-27 11:59] efkan commented on #1870
@Afalook Have you found a chance to check its performance?
For example: How many Marker could you use at the same time without any screen lag?

(I had also tried WebView with base64 but I could not achive your result)

[2018-02-27 18:21] sofiane-soufi opened #2044 "Show title on marker"
Hello.

I would like to know if anyone knows how to show the title of a marker without having to press on it.

Example:

![kxz6nr5gq2_ynzfuncugkw](https://user-images.githubusercontent.com/14898088/36746714-02a7dda2-1bc1-11e8-9d67-ee15fa26663c.png)

Thank you!

[2018-02-27 19:13] AFMW commented on #1610
Please share the Code @thomasbaldwin

[2018-02-27 20:24] wasedaigo commented on #2038
@hanselsen currently the merge is blocked as we haven't tested the PR on Android. If you can confirm if it is working and leave a comment on the PR, we can merge that PR.

[2018-02-28 05:54] iegik opened #2045 "react-native-maps@0.19.0 requires a peer of react@16.0.0 and react-native@0.51.0"
### Is this a bug report?

yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    react-native: 0.53.3
    react: 16.2.0

### Steps to Reproduce

[code]

### Actual Behavior

[code]

https://github.com/react-community/react-native-maps/blob/v0.19.0/package.json#L36

[2018-02-28 07:13] RidaRidss commented on #1937
yes it will

[2018-02-28 09:34] andr3a88 commented on #213
+1

[2018-02-28 09:55] minhphung210 commented on #2041
@Goblaz  how do you solve it

[2018-02-28 10:20] dbyilmaz commented on #213
+1

[2018-02-28 16:10] 7772 commented on #1091
@HiroNonoyama's solution do work too when using Xcode simulator.

[2018-02-28 17:44] CarrieKami opened #2046 "MapView is causing the app to crash. This was not happening a few days ago."
It was working fine before, but now my views that contain a mapview crash and only work when I take the mapview out. I have been through several issues on the react-native-maps github page that seemed similar to mine and most say it has to do with google play services that you have added in dependencies in the build.gradle and I have made changes with regard to that however nothing has changed. I

[2018-02-28 19:35] rborn commented on #2046
@CarrieKami please remove your api key from the comment. Would be a good idea to reject it from the google console too and create another one for your project as there are bots scanning github for keys to use them for own purposes (usually malicious ones)

[2018-02-28 19:40] rborn commented on #2038
@hanselsen @Schabaani @danielgindi @g3r4n +1 if you could confirm it works ok on android. I won't be able to run a test of the PR very soon so I could use some help ❤️

[2018-02-28 19:49] aperhaite commented on #1033
The re-render workaround using `padding` property didn't work for me. I was able to make it work using the following approach:

[code]
[code]
[code]
[code]

[2018-02-28 19:55] zibs commented on #889
I was running into the error on latest, used @tugorez snippet and issue was resolved.

[2018-02-28 21:20] vvusts opened #2048 "Custom markers doesn't always update on android"
RN - 0.52
RN Maps - 0.20.1
IOS - work perfect
Android - is problem

I render a lot of markers and use clustering (react-native-maps-super-cluster) but this is related to map.
Markers use custom images like: **marker.png** and **selectedMarker.png**
I have list of buttons bellow map. When button is pressed it` .animateToRegion()` where some marker is.
Selecting button update state variable like `se

[2018-02-28 22:02] alvelig commented on #2044
You need to make the title a part of the marker.

[code]
Marker's image prop also can do instead of <Image />

[2018-02-28 22:02] #2044 closed

[2018-02-28 22:04] alvelig commented on #1870
@Afalook that's dirty man. But that's valid! Better that not having any solution.

[2018-02-28 22:12] ecarrera commented on #2045
├── UNMET PEER DEPENDENCY react@16.2.0
├── UNMET PEER DEPENDENCY react-native@0.53.3
└─┬ react-native-maps@0.20.1
  ├─┬ babel-plugin-module-resolver@2.7.1
  │ ├─┬ find-babel-config@1.1.0
  │ │ └── path-exists@3.0.0
  │ └── resolve@1.5.0
  └─┬ babel-preset-react-native@1.9.0
    └── babel-plugin-react-transform@2.0.2

npm WARN react-native-maps@0.20.1 requires a peer of react@16.0.0 but none was in

[2018-02-28 22:36] sofiane-soufi commented on #2044
Thank you!

[2018-03-01 00:32] fernandoem88 commented on #1948
No one found a good solution for this issue? it's about 4 days that I am stuck looking for a solution.
I am using the latest version of expo (v25.0.0), react@16.2.0 and react-native@0.52.0.
running the command
`create-react-native-app maps`
I have the following warning:
`warning "react-native-maps@0.19.0" has incorrect peer dependency "react@16.0.0".
warning "react-native-maps@0.19.0" has incorrec

[2018-03-01 08:39] chiphan2008 commented on #1499
<MapView
            region={this.state.region}
            onPress={ (event) =>{
              const {latitude,longitude} = (event.nativeEvent.coordinate || this.state.region);
              ...
            }}

[2018-03-01 09:32] mojotti commented on #2036
@mobihunterz, Facing similar issue at the moment.

[2018-03-01 09:47] toanhosss commented on #600
I have the same issues.
I don't know how to implement it on google map in iOS

[2018-03-01 11:34] AndrePech commented on #2046
I am facing the same problem, my app ( in production ) started crash when opening any view an a map.

[2018-03-01 11:47] mojotti commented on #2036
For everyone who faced same problem that I did. Problem was that 'AIRMapOverlay' was not included _yet_ in react-native-maps version ^0.20.1. Solution was to use the master's version, like @rborn noted earlier.

[2018-03-01 11:55] mojotti commented on #2036
@mobihunterz if you go to Xcode and open Pods --> Development Pods --> react-native-maps, can you find files AIRMapCircles.h & AIRMapCircles.m from there?

If not, you can try to delete your .xcworkspace project and install again according to instructions.

[2018-03-01 14:36] meknil commented on #1952
I run into the same problem.
		"react": "16.0.0",
		"react-native": "0.51.0",
		"react-native-maps": "0.20.1",

[2018-03-01 15:56] CarrieKami commented on #2046
Thanks @rborn ! :)

[2018-03-01 15:57] CarrieKami commented on #2046
@AndrePech Hopefully we will get this figured out :sweat_smile:

[2018-03-01 17:50] AndrePech commented on #2046
@CarrieKami Yes, hopefully =D

By the way, another app of mine (that also makes use of this lib) is not crashing and the maps are working!

[2018-03-01 18:09] hanselsen commented on #2038
@rborn at this moment I do not have the time. I will let you know later if @Schabaani or @danielgindi  or @g3r4n doesn't reply.

[2018-03-01 18:16] hanselsen commented on #2033
I can tell you how I got this working.
I downloaded picture which is rectangular. Then I used my native module to add whitespace around the image so that it becomes square and from this point, I created the tiles to store locally and use `LocalTile` to show the image in my map.

[2018-03-01 18:16] #2033 closed

[2018-03-01 23:15] Doychev commented on #1870
For some reason the webview solution doesn't work for me. It works outside of a map/marker, but once I put it in a marker it renders only the background.

That bug is super annoying, I hope there exists (even if no one knows it yet) a real solution for it.

[2018-03-02 03:16] g3r4n commented on #2038
Sorry guys i don't have an android device.

[2018-03-02 03:20] hungdev commented on #553
position, and set size for callout: {
    position: 'relative',
    height: 100,
    width: 100,
  },
and it worked for me.

[2018-03-02 04:47] efkan commented on #1870
The same result here. Just like as @Doychev 's.

[2018-03-02 06:37] hekgarcia commented on #1948
The only Solution I found was to downgrade react and react native Versions,
in the meantime Is solved

El 28/02/2018 6:32 p.m., "fernandoem88" <notifications@github.com> escribió:

No one found a good solution for this issue? it's about 4 days that I am
stuck looking for a solution.
I am using the latest version of expo (v25.0.0), react@16.2.0 and
react-native@0.52.0.
running the command
create-re

[2018-03-02 09:44] v3solutions commented on #2027
@wjielim Sorry for a delay. Even using simple if statements (to switch components containing MapView ) adds memory and cpu to it.

[2018-03-02 18:15] hugoh1995 commented on #1159
Still getting the flickering when moving map around and when updating markers

[2018-03-02 20:43] AzarouAmine opened #2051 "Requiring unknown module "undefined"."
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes, repeated the steps 3 times with different projects. Same result.

### Environment

    react-native: 0.54
    react: 16.3.0-alpha.1 react-native-maps: 0.20.1

### Actual Behavior

The MapView import doesn't recognize "react-

[2018-03-02 21:18] AzarouAmine commented on #2051
Solved the issue by changing dependencies in package.json manually:
Was:
[code]

Changed to

[code]

Then ran npm install.

[2018-03-02 23:19] AzarouAmine commented on #2045
Had the same problem as yours, solver it by changing dependencies in package.json manually:
Was:
[code]

Changed to

[code]

Then ran npm install.

[2018-03-03 05:12] hrl7 commented on #2051
I have same issue.
I changed react-native to `0.54.0-rc.3`, and then it works.
[this commit](https://github.com/facebook/react-native/commit/f4fde9d84a5d12051173ee8e13754144b1f08903) may cause this problem.

https://github.com/react-community/react-native-maps/blob/master/index.js#L12
those module cannot be imported.

[2018-03-03 07:12] toanhosss opened #2052 "Cannot use animateToBearing and animateToViewingAngle function"
I implement google maps on Expo latest version SDK 25.0.0,

I get this error when call animateToBearing or animateToViewingAngle:

this.mapRef.animateToBearing(45, 1000);
Error:
undefined is not an object (evaluating 'this._mapManagerCommand(name).apply')

[2018-03-03 20:59] VinceBT commented on #2051
Your fix worked for me

[2018-03-03 21:42] iamlasse opened #2054 "Map options showsBuildings, showsCompass not working (Expo MapView))"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

Expo 25.0.0
React Native 0.52.0
React 16.2.0

IOS Simulator 11.2

### Steps to Reproduce
Imported MapView from Expo, Added MapView component and added
showsBuildings={true}
showsMyLocationButton={true}

[2018-03-03 21:43] andersonaddo commented on #2051
I got the same error, upgrading to 0.54.0-rc.3 worked.

[2018-03-04 03:08] hammadzz commented on #1032
@draperunner it works for me with these:
[code]

[2018-03-04 03:36] vuphuctho commented on #2048
Same issue with you but in my case I don't call `animateToRegion` but update region by changing state. using `Math.random()` for updating key values work for me, no more flickering happens.

[2018-03-04 03:51] hrl7 commented on #2051
I sent PR to solve this and it was merged.
https://github.com/react-community/react-native-maps/pull/2053
this PR enables to import modules in react-native@0.54.0

[2018-03-04 10:35] lalitmohan001 commented on #305
I am getting the same error and I use the both `new MapsPackage(this)` and `new MapsPackage()`. But nothing works for me

MainApplication.java

`package com.awesomeiam;

import android.app.Application;

import com.facebook.react.ReactApplication;
import com.airbnb.android.react.maps.MapsPackage;
import com.facebook.react.ReactNativeHost;
import com.facebook.react.ReactPackage;
import com.facebook.

[2018-03-04 14:27] vvusts commented on #2048
Where exactly you set math.random?
On marker key? On marker image?
I set id of location from database for marker key so for me that is not random. I set on custom image but then I get flickering.

[2018-03-04 19:24] alvelig commented on #1937
#2032 closes this

[2018-03-04 19:26] #2051 closed

[2018-03-04 21:17] bramus commented on #2048
Could it be that this is a duplicate of https://github.com/react-community/react-native-maps/issues/1288 ?

[2018-03-04 21:23] vvusts commented on #2048
No, markers are moving fine it’s image for marker that is not update.

For example: you have two markers in a view region and two buttons one should update image one one and second on another.
Click on button update once.
But when you click on second button marker image is not changed.
But if you move map so that marker is not visible and back agin it update marker image.
And this is only on andro

[2018-03-04 21:26] bramus opened #2055 "Feature Request: Provide `onUserLocationChange` for use with MapKit (iOS)"
### Is this a bug report?

No, a feature request

_(Since it's a feature request I'm adjust some sections of the issue template because it's not really a good fit for this kind of issue)_

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

- iOS, Apple Maps
- All versions of all dependenci

[2018-03-04 21:38] bramus commented on #1937
I don't think it should follow the user location by default but only when explicitly requested to do so. A prop for this could be named something like `userTrackingMode`.

MapKit (iOS) has the [`userTrackingMode` property](https://developer.apple.com/documentation/mapkit/mkmapview/1616208-usertrackingmode?language=objc) for this exact case. Possible values are `none` _(default)_, `follow`, and `fo

[2018-03-04 21:39] bramus commented on #2048
Ah, thanks for the clarification … I get it now :)

[2018-03-05 01:26] alvelig commented on #1937
@bramus great investigation. Actually now it's implemented with followUserLocation prop and by  [mapView setRegion:region animated:YES];

[2018-03-05 06:32] vuphuctho commented on #2048
@vvusts I updated marker key, based on [this explanation.](https://github.com/react-community/react-native-maps/issues/1611#issuecomment-334619684)

[2018-03-05 07:09] ShaikhKabeer opened #2056 "Show callout without marker press"
Is it possible to show callouts on marker without marker press ? I mean I should not need to press the marker for viewing callout.

[2018-03-05 11:14] rborn commented on #2054
@iamlasse expo uses react-native-maps[ 0.19 ](https://github.com/expo/expo-sdk/blob/master/package.json#L60) and usually it takes a little for them to update to the last version.

You could try to update the module manually and see if it solves your issues.
Also on npm we don't always have the very last version, so you might wanna use the github one.

I'll close the issue now, but please comment a

[2018-03-05 11:14] #2054 closed

[2018-03-05 11:39] bramus opened #2058 "Android doesn't compile with current master as dependency"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native 0.54.0
react 16.3.0-alpha.1
Android compileSDKVersion 23
Android buildToolsVersion "23.0.1"

### Steps to Reproduce

1. Create a new RN project
2. Add the master of `react-native-maps` as a depe

[2018-03-05 11:56] zerazeru commented on #2058
Indeed seems rushed, the ios build fails too, thanks to a syntax error.

[2018-03-05 11:59] rborn commented on #2058
@zerazeru could you work with @bramus for a common PR please? 🤗

[2018-03-05 12:00] rborn commented on #2056
Closing as we start to enforce the issue template. Sorry.

[2018-03-05 12:00] #2056 closed

[2018-03-05 12:00] rborn commented on #1983
Closing as we start to enforce the issue template. Sorry.

[2018-03-05 12:00] #1983 closed

[2018-03-05 12:01] rborn commented on #2014
Closing as we start to enforce the issue template. Sorry.

[2018-03-05 12:01] #2014 closed

[2018-03-05 12:02] rborn commented on #2052
@toanhosss this might be an issue with expo as it uses an older map module (0.19).

Closing as we start to enforce the issue template. Sorry.

[2018-03-05 12:02] #2052 closed

[2018-03-05 12:12] ShaikhKabeer opened #2060 "Show button on Map"
Guys, I have used 'MapView' and I need to use button on Map to implement some functionality. So how can I place button on Map ? Help needed

[2018-03-05 12:18] alvelig commented on #2060
Have Marker onPress if the button is location specific or place a button over the map as if it was another view (absolute positioning)

[2018-03-05 12:18] #2060 closed

[2018-03-05 12:20] ShaikhKabeer commented on #2060
I tried by placing button on Map but it's giving me errors. Can post the example if you have.

[2018-03-05 12:37] Murmand commented on #578
Hello, thank you for all your great job. This issue is really painful for us. Any updates?

[2018-03-05 15:47] markozelenbaba commented on #213
+1

[2018-03-05 16:52] rborn commented on #213
Going to close and lock the issue because there is a "good enough" solution mentioned in the comments and the discussion only goes "+1" which doesn't bring value.

If anybody has a better solution please open a PR.

[2018-03-05 16:52] #213 closed

[2018-03-05 20:21] hlz2103 opened #2061 "coordinateForPoint is misnamed in lib/components/MapView.js as coordinateFromPoint so if you try to call it you get undefined"
### Is this a bug report?

yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

(Write your answer here.)
yes
### Environment

### Steps to Reproduce

if you try to call this.map.coordinateForPoint, you get undefined. This is because the function is called coordinateFromPoint
(Write your steps here:)

1. 2.

[2018-03-05 22:29] alvelig commented on #2058
Applied hotfix.

[2018-03-05 23:10] efkan commented on #1870
The reason of this issue is this -> https://github.com/facebook/fresco/issues/1445#issuecomment-362551065

[2018-03-05 23:13] foyarash commented on #1870
@efkan dont think so, fresco is only used to load the markers from the ``image`` prop, but when adding child to the Marker, fresco wont be used

[2018-03-05 23:30] efkan commented on #1870
@foyarash I've updated my comment above. You might check it out..

[2018-03-06 04:24] jzk4khan opened #2062 "java.lang.NullPointerException: at com.google.maps.api.android.lib6.impl.cw.onClick(:com.google.android.gms.DynamiteModulesB@11975436:81)"
java.lang.NullPointerException: at com.google.maps.api.android.lib6.impl.cw.onClick(:com.google.android.gms.DynamiteModulesB@11975436:81)
  at android.view.View.performClick (View.java:5205)
  at android.view.View$PerformClick.run (View.java:21162)
  at android.os.Handler.handleCallback (Handler.java:739)
  at android.os.Handler.dispatchMessage (Handler.java:95)
  at android.os.Looper.loop (Looper

[2018-03-06 05:20] aniiskywalker commented on #2005
Same issue, I follow the instructions and the same screen appears
![captura de pantalla 2018-03-05 a la s 23 16 10](https://user-images.githubusercontent.com/37088363/37015310-bdd56dc4-20cb-11e8-8260-ba95ab45eeb1.png)

[2018-03-06 05:24] aniiskywalker commented on #1972
same issue, i can't do anything

[2018-03-06 05:33] ShunYamada commented on #1864
I have faced the same issue. And I spent so long time to fix it, finally I added `libAirMaps.a` on the Xcode. That worked!

[2018-03-06 05:33] vinicius5581 commented on #1434
**OS:**
[code]

**Node version**
[code]

**Steps**
[code]

[code]
[code]

**ERROR:**

[code]

[2018-03-06 05:45] vinicius5581 opened #2063 "[!] CocoaPods could not find compatible versions for pod "React/BatchedBridge"
### Is this a bug report?

Yes.

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes.

### Environment

    "react": "^16.3.0-alpha.1",
    "react-native": "0.54.0",
    "react-native-maps": "^0.20.1"

  ***iOS , using AppleMaps or GoogleMaps

### Steps to Reproduce

**Steps**
[code]

[code]
[code]

### Expe

[2018-03-06 05:56] vinicius5581 commented on #2063
at `myProject/node_modules`

<img width="266" alt="screenshot 2018-03-05 21 55 00" src="https://user-images.githubusercontent.com/1258955/37016210-ff768a6c-20bf-11e8-8a7c-075d52d865e0.png">

[2018-03-06 06:07] aniiskywalker opened #2064 "Native component for "AIRMap" does not exist' on IOS"
### Is this a bug report?

Not exactly, i think it needs more information for the instalation

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    react-native: 0.52.0
    react: 16.2.0
react-native-maps: 0.20.1
### Steps to Reproduce

I'm trying to use google maps for my project, I fol

[2018-03-06 07:13] purplehank7 commented on #929
Is it possible to do it with customized ArcGIS routing service instead of using Google's?

[2018-03-06 10:02] Doychev commented on #1870
@efkan Can you show what's done in step 4 in a bit more detail / by example? Also, is it possible to share the .aar files generated by step 3? Thanks!

[2018-03-06 10:41] rborn commented on #2063
@vinicius5581 can you try a `pod update`?

[2018-03-06 10:48] rborn commented on #929
@purplehank7 it should be possible as long as you can convert the ArcGIS route to a polyline, something similar to https://github.com/react-community/react-native-maps/issues/929#issuecomment-309426229

[2018-03-06 10:50] cryser29 commented on #2063
`BatchedBridge` was deleted in the latest release. It's mentioned in the [release notes](https://github.com/facebook/react-native/releases/tag/v0.54.0). So it looks like that it should be removed from `Pods` file.

[2018-03-06 10:54] rborn commented on #2063
@cryser29 @vinicius5581 can you run a test and confirm this? maybe even make a PR? 🤗

[2018-03-06 11:06] rborn commented on #2062
Closing, no issue template, no context of how you got the error, no useful information 😔
How are we suppose to work with this?

[2018-03-06 11:06] #2062 closed

[2018-03-06 11:17] rborn commented on #2058
@alvelig is this still an issue? I saw you applied a hotfix.

[2018-03-06 11:20] rborn commented on #2061
@hlz2103 could you please try this PR? https://github.com/react-community/react-native-maps/pull/2039 and report back if it works? Thank you.

[2018-03-06 11:29] efkan commented on #1870
@Doychev , I've needed to change some of `build.gradle` files that belong to some other project in my main `build.gradle` file.

Sample `theProject/android/app/build.gradle` changes after putting `*.aar` file into `libs` folder:

[code]

(This step was necessary in my project. _Do not apply if it is not necessary in your project_)
Sample `theProject/my_custom_modules/build.gradle` changes after pu

[2018-03-06 11:52] efkan commented on #1870
BTW, @Doychev keep in mind, `react-native` compile `Fresco` packages in [its own dependencies section](https://github.com/facebook/react-native/blob/master/ReactAndroid/build.gradle#L284). So `drawee` module must be excluded in `build.gradle` file.
Otherwise it throws an exception..

[2018-03-06 12:10] alvelig commented on #2058
@rborn @zerazeru @bramus could you please confirm that's this is not an issue anymore?

[2018-03-06 12:15] bramus commented on #2058
Just checked:
- Android: OK (`yarn run:android`)
- iOS: OK (`yarn build:ios && yarn run:ios`)

Closing.

[2018-03-06 12:15] #2058 closed

[2018-03-06 12:45] VinceBT commented on #2051
@altissave1 The aim of this issue is to make RNMaps@0.20.1 compatible with RN@0.54.0

[2018-03-06 12:53] JulianCurrie commented on #2064
I am getting the same issue

[2018-03-06 13:12] zerazeru commented on #2058
Yes, ios builds now 👍

[2018-03-06 13:46] Doychev commented on #1870
For reference for anyone else, that's the additional change:
[code]

[2018-03-06 14:07] efkan commented on #1870
@Doychev , your solution also works within `allprojects` section. it's a good practice for to provide unity .

[code]

[2018-03-06 16:32] meknil commented on #1805
I am interested in gradient polylines too.

[2018-03-06 16:50] Tamiyadd commented on #2051
waiting for release too

[2018-03-06 16:51] rborn commented on #2051
@Tamiyadd try to install the master from git and let us know if it works

[2018-03-06 17:20] mafiusu commented on #1810
In `SMCalloutView.m` you can find the following code

[code]

Do you think this has been to do with my problem? If yes, what can I do, to remove this behavior. I don't have the knowledge about Swift/ObjectiveC.

[2018-03-06 17:56] Tamiyadd commented on #2051
@rborn it works!

[2018-03-06 21:41] macs03 commented on #1877
Just update your Map API_KEY and it'll work

[2018-03-06 22:58] mafiusu commented on #1207
@cyakimov could you provide some more details of how you solved that problem? Which exactly objective c classes did you changed?

[2018-03-07 02:09] Avery246813579 commented on #1877
I fixed this by enabling "Google Maps Android API" inside the Google API console.

[2018-03-07 03:05] CarrieKami commented on #2046
I am wondering as to whether or not this has to do with any libraries or anything else i have set up on the app....i think i will make a react-native project with nothing else but a map, just to see if it will crash when it is on its own.

Do you have any new ideas as to what may be causing this @AndrePech ?

[2018-03-07 05:26] ujwal-setlur commented on #2063
Running into this too. Will remove BatchedBridge and test

[2018-03-07 05:53] vinicius5581 commented on #2063
I did the same @ujwal-setlur  and now I got this:
<img width="399" alt="screenshot 2018-03-06 21 53 16" src="https://user-images.githubusercontent.com/1258955/37075882-cbe8cfb0-2188-11e8-8e55-91cf9cbcee78.png">

[2018-03-07 06:06] ujwal-setlur commented on #2063
It worked for me. Are your sure your packager is running?

[2018-03-07 06:10] tingchaoxu commented on #1948
@hekgarcia It works for me. I just npm install whatever the version it needs and it works. For my issue it required react@16.0.0, react-native@0.51.0, svg and websql so here is what i did

npm install react@16.0.0
npm install react-native@0.51.0
npm install react-native-svg --save
npm install websql

[2018-03-07 06:32] vinicius5581 commented on #2063
Ok @ujwal-setlur . I've created a fresh project and used the following Podfile, I successfully ran `pod install`.

[code]

I don't know if that belongs to this thread anymore but after running `react-native run-ios` with the following `App.js` I got an error (attached below). I wonder if you can successfully run the `App.js` above or spot anything wrong with it.

[code]

Error:

<img width="401" a

[2018-03-07 06:45] ujwal-setlur commented on #2063
This looks like you are pulling react-native-maps from a published release in npm.

Please use the latest code from git.

In package.json:

"react-native-maps": "github:react-community/react-native-maps"

[2018-03-07 07:08] vinicius5581 commented on #2063
@ujwal-setlur , you are right. I've applied the change on package.json as you suggested and I got it up and running now. Thanks.

[2018-03-07 07:10] ujwal-setlur commented on #2063
Great! Hopefully, a new release will be pushed out soon so that we don't have to pull from git.

[2018-03-07 07:11] vinicius5581 commented on #2063
Just for the sake of completeness here is a working sample `App.js`:

[code]

[2018-03-07 07:31] #2063 closed

[2018-03-07 08:18] vinicius5581 commented on #2063
Ops! I closed the issue but I'm not sure if I should do that before or after the PR been accepted. Please advise for future reference and I'll be happy to reopen if that is the case.

[2018-03-07 10:13] vinicius5581 opened #2066 "'GMUKMLParser.h' file not found AIRGoogleMap.m while building myProject on my Iphone with XCode"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

[code]

### Steps to Reproduce
[code]

[code]
$ `react-native run-ios`. // The app builds correctly on the simulator

- Using XCode to build it on my Iphone.

### Expected Behavior

Expected the app to succe

[2018-03-07 10:32] rborn commented on #2066
@rafaellincoln could you have a look at this? I think it's related to your PR #2011

I suspect it requires google maps, but in the @vinicius5581 code the provider is apple so maybe your  code is missing a conditional? 🤗

[2018-03-07 10:37] rborn commented on #2063
@vinicius5581 the issue has the solution in the comments, so it's ok to be closed 😀

[2018-03-07 10:49] rborn commented on #2046
@CarrieKami  @AndrePech try to get some crash logs, it's impossible to say what's going on without them.

[2018-03-07 11:18] MarkOSullivan94 commented on #1983
@rborn why did you not ping the creator of this issue before closing it? They could have updated their original post.

[2018-03-07 11:32] hegelstad opened #2067 "Is RN 0.54 supported?"
### Is this a bug report?

No

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    react-native: 0.54.0
    react: 16.3.0-alpha.1 (peerDep of RN 0.54)
    react-native-maps: 0.20.1

### Steps to Reproduce

1. npm install
2. `npm WARN react-native-maps@0.20.1 requires a peer of react-nat

[2018-03-07 12:46] rborn commented on #2067
@hegelstad try yo use the git version, it should work with 0.54

about the discord channel, I don't know 😊

[2018-03-07 12:57] rborn commented on #1983
@MarkOSullivan94 the issue template specifies that if the issue doesn't have the template we close it right from the start. We didn't enforce this right away so there was time to update or adopt it for new issues.

This issue in particular might have been here before the template, but we are trying to keep the number if issues as small as possible, so some issues might get closed in an "unfair" wa

[2018-03-07 12:59] hegelstad commented on #2067
It's supported. It worked even with 0.20.1, I just needed to remove BatchedBridge from React deps in Podfile.

[2018-03-07 12:59] #2067 closed

[2018-03-07 13:00] rborn commented on #2067
@hegelstad we have this almost ready: https://github.com/react-community/react-native-maps/pull/2065

[2018-03-07 17:52] CarrieKami commented on #2046
Hello, after removing and adding a new api key the map suddenly works...which is quite random. I am not sure if the issue will crop up again or not as with the previous api key it was working just fine...however some of the functionality i put it seems to be broken now.....

All of this has literally just happened right now....

There were no logs unfortunately, but i had added a few new libraries

[2018-03-07 23:28] arapocket commented on #2058
....so what's the hotfix? I have this same issue.

[2018-03-08 04:26] EsdrasEtrenne commented on #2066
I got this exact same issue, causing my builds to fail when I use the `react-native-maps` library by pulling directly from master.

If I do not pull directly from master then I get issue #2051

[2018-03-08 04:56] julienR2 opened #2069 "Update maps SDK to get last features"
### Is this a bug report?

No

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native: 0.52.0
react: 16.2.0

### Question

I was checking out the release notes of the latest version of Google Maps when I found there was a new listener available: `OnMyLocationClickListener` [releas

[2018-03-08 07:40] EmrahKK opened #2070 "Use Google tiles and Local tiles"
Hi,
Is there a way to use custom local tiles on top of google map tiles? Can we use google map tile and local tile together?

[2018-03-08 08:06] guhungry commented on #2045
Fixed was landed in master branch (https://github.com/react-community/react-native-maps/commit/53b374b189599590fc5a5c20c0468f22c1e80598). Waiting for next release.

[2018-03-08 11:13] rborn commented on #2045
Yes, please use the master for now, we are a little slow in publishing on npm.

[2018-03-08 11:13] #2045 closed

[2018-03-08 11:15] rborn commented on #2070
No issue template, closing.

[2018-03-08 11:15] #2070 closed

[2018-03-08 11:27] rborn commented on #2069
this? https://github.com/react-community/react-native-maps/pull/2032

[2018-03-08 11:34] rborn commented on #2055
@bramus this? https://github.com/react-community/react-native-maps/pull/2032

[2018-03-08 11:35] rborn commented on #2055
@bramus fancy a PR ? 🤪

[2018-03-08 11:46] jamesDZ opened #2071 "Requiring unknown module "undefined"."
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes
### Environment
  "react": "^16.3.0-alpha.1",
    "react-native": "0.54.0",
    "react-native-maps": "^0.20.1"

### Steps to Reproduce

1. create project using npm install -g react-native-cli
2. npm install -g yarn
3. react-n

[2018-03-08 11:59] bbandydd commented on #2071
I am getting the same issue

[2018-03-08 11:59] chnbohwr commented on #2064
I am getting it too ~

[2018-03-08 12:10] jamesDZ commented on #2071
are you able to resolve this issue. If yes can you please help me on this.

[2018-03-08 12:18] rborn commented on #2071
@jamesDZ @bbandydd use the master from git please

[2018-03-08 12:20] rborn commented on #2071
duplicate of https://github.com/react-community/react-native-maps/issues/2051

[2018-03-08 12:20] #2071 closed

[2018-03-08 12:28] rborn commented on #2064
@chnbohwr are you using the git master version?

[2018-03-08 13:08] MarkOSullivan94 commented on #1870
@efkan could you post a tree of the project structure to make sure I'm not pointing to wrong location for the libs directory

Many thanks for posting a solution for this infuriating bug.

[2018-03-08 13:11] jamesDZ commented on #2051
@AzarouAmine I used the given steps but same error every time.
If it is possible please send the steps to solve.

[2018-03-08 13:51] rafaellincoln commented on #2066
@vinicius5581 remove the `BatchedBridge` from `Podfile` and run `pod install` again.

Example using
----
[code]
https://github.com/rafaellincoln/test-rn-maps

@rborn `BatchedBridge` was removed from the version 0.54.0 of the react-native. #2072

[2018-03-08 14:01] rafaellincoln commented on #1967
@rborn I include this fix on #2011

[2018-03-08 14:10] rishabhmathur1693 commented on #2051
I'm facing the same issue for past few days as @jamesDZ . It would be really helpful if someone can provide insight on what could be happening on either react native side or react native maps side.

[2018-03-08 14:14] rishabhmathur1693 opened #2073 "Update Podfile contents on setup instructions readme"
Please update the Podfile contents on installation documents as per latest react native version. Some of the values are not needed are giving compile time error if added like "BatchedBridge", etc.

[2018-03-08 14:41] rborn commented on #2073
closing, no template and duplicate of various other issues. There is also a PR opened but you didn't bother to search

[2018-03-08 14:41] #2073 closed

[2018-03-08 14:46] rborn commented on #1967
@rafaellincoln so we can close this one?

[2018-03-08 14:51] rishabhmathur1693 commented on #2073
@rborn When I previously checked the pull requests, it wasn't there. I saw that after I posted the issue.

[2018-03-08 14:53] rborn commented on #2073
@rishabhmathur1693 that's ok, but please for the other issues you raise respect the template.
We do this in our free time and the template helps us evaluate the issues faster.

[2018-03-08 14:54] rishabhmathur1693 commented on #2073
@rborn Will do.

[2018-03-08 14:56] hugoh1995 commented on #1552
Having the same issue on different version of Android including 4.2, 7.0, 8.0

[2018-03-08 15:19] VinceBT commented on #2051
@jamesDZ @rishabhmathur1693 The only fix for the moment is [this](https://github.com/react-community/react-native-maps/issues/2051#issuecomment-370119631)

Make sure of [this point ](https://github.com/react-community/react-native-maps/issues/2051#issuecomment-370179379) too

Now you can only wait for the next release like everyone

[2018-03-08 15:49] bramus commented on #2058
@arapocket The hotfix is already on master: https://github.com/react-community/react-native-maps/commit/8f7bd9edbf2145f21664d282d73310457543a4e1

[2018-03-08 15:55] rishabhmathur1693 commented on #2051
@VinceBT Thanks for your response, but I didn't helped me much.

After changing react-native to 0.54.0-rc.3, NPM gave me this error -

![screen shot 2018-03-08 at 9 19 12 pm](https://user-images.githubusercontent.com/6391138/37160512-6a02f57a-2316-11e8-8b61-d5e924e8ad4c.png)

Then, I looked up for this issue and I found its resolution on this link -

[https://github.com/facebook/react-native/issue

[2018-03-08 15:56] rborn commented on #2051
@rishabhmathur1693  use

[code]

[2018-03-08 16:14] aniiskywalker commented on #2064
Hello fellas, i fix my error, it's a little tricky. First of all I be sure you don't have linked any AirMap library, then check your podfile.
![captura de pantalla 2018-03-08 a la s 09 59 20](https://user-images.githubusercontent.com/37088363/37161219-b22f599c-22b7-11e8-81c1-5566576862cf.png)
![captura de pantalla 2018-03-08 a la s 09 59 44](https://user-images.githubusercontent.com/37088363/37161

[2018-03-08 16:20] hugoh1995 commented on #1870
This fix doesnt work for me on Android Moto 4

[2018-03-08 16:25] hrl7 commented on #2051
FYI: I wrote the document to solve this issue until it will be released.
I recommend to use [patch-package](https://www.npmjs.com/package/patch-package) in the aspect of maintainability.
https://gist.github.com/hrl7/916ce48ba3e2d62dcaee9540f304a504#file-use-rn-maps0-20-1-in-rn0-54-0-md

[2018-03-08 16:26] MarkOSullivan94 commented on #1870
[code]

[2018-03-08 16:39] Doychev commented on #1870
After a few more iterations, I found out something peculiar in my project.

I have multiple marker styles, using different images. Some of them are a bit larger than the others (basic marker - 15.2KB, 15x15 pixels; special marker - 18.5KB, 60x81 pixels).
In my project, I gather the information about all markers simultaneously and I try to display them at once, whenever they are ready.

After the f

[2018-03-08 16:48] hugoh1995 commented on #1870
Noticed similar issue as you, will try your fix right away.

[2018-03-08 16:53] hugoh1995 commented on #1870
@MarkOSullivan94  I get "Could not find :drawee-debug:." when trying to run the app.

[2018-03-08 17:01] hugoh1995 commented on #1870
@Doychev  can you share the code you use for delaying the markers?

[2018-03-08 17:10] MarkOSullivan94 commented on #1870
@hugoh1995 did you download the aar file provided by @efkan?

[2018-03-08 17:11] hugoh1995 commented on #1870
No because I'm not sure where to put the file 🤔

[2018-03-08 17:12] hugoh1995 commented on #1870
Icon images only show after I reload the map a few times, sometimes it works on the second time, sometimes doesn't.

[2018-03-08 17:14] Doychev commented on #1870
[code]

Also, the .aar file should be located in: YourProjectDir\android\app\libs

[2018-03-08 17:17] hugoh1995 commented on #1870
@Doychev thanks! doesn't seem to change anthing for me tho.

[2018-03-08 17:56] efkan commented on #1870
@hugoh1995 , you might also try [this code](https://github.com/react-community/react-native-maps/issues/924#issuecomment-347476891)

[2018-03-08 18:06] hugoh1995 commented on #1870
@efkan thanks! just tried without luck 😅

[2018-03-08 18:29] VinceBT commented on #2051
@rishabhmathur1693 You wont have the babylon error if you install it with yarn

[2018-03-08 21:46] zaguini commented on #1902
@jeffreymendez1993 solved it?

[2018-03-08 23:03] zaguini opened #2074 "Build failed on iOS, library not found for Google-Maps-iOS-Utils"
### Is this a bug report?

yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

yes

### Environment
OS: macOS High Sierra 10.13.3
  Node: 9.6.1
  Yarn: 1.5.1
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 9.2 Build version 9C40b
  Android Studio: 3.0 AI-171.4443003

Packages: (wanted => installed)
  react: 1

[2018-03-09 01:26] aMarCruz commented on #1303
I think Yarn is not adding typings, it is VS Code. But anyway, I have this issue because I'm debuging with the "JS Minify" option checked on the Dev Menu.

The comparisson at the top of react-native-maps/lib/compnents/AnimatedRegion.js is wrong in minified buils in debug mode:
![image](https://user-images.githubusercontent.com/6636980/37185270-2e45c5c8-2305-11e8-8366-a196c765bcff.png)

...because

[2018-03-09 04:05] julienR2 commented on #2069
@rborn #2032 is about `onMyLocationChange`, however I meant `onMyLocationClick` which is a "new" listener introduced on September 2017 release of GM SDK.

My question is more about how to update the GM SDK so we can access and implements these last features in react-native-maps ?

[2018-03-09 04:38] purplehank7 commented on #929
I am having trouble writing out the proper fetch call since I can't find any examples fetching an ArcGIS REST routing API to borrow an idea from.
This was as far as I could get (of course incorrect), inherited from the google map api @alioguzhan 's example above. I removed the decoding part where was unnecessary. The error messages I have been getting are ” Network request failed.” I assume it's t

[2018-03-09 04:52] sydneywu commented on #2051
I faced this issue too and this is my experience and eventual temp solution.

Before i start, i would like to point out that before I even reached this error of 'unknown module "undefined"', i was following the documentation and realized i need to  need to comment out "BatchedBridge" from the Podfile to do pod install.

After pod install and following further into the document, i encounter 'unknow

[2018-03-09 07:17] rishabhmathur1693 commented on #2051
@sydneywu Thanks for your solution. I did everything that you mentioned, but still I got this error while building -
![screen shot 2018-03-09 at 12 28 18 pm](https://user-images.githubusercontent.com/6391138/37195055-455ec6f0-2397-11e8-8615-eef7c546a29b.png)

So, I added `DevSupport` in pod file and ran `pod install`

After doing all that my package. json looks like this -

`
{
  "name": "GoogleMa

[2018-03-09 09:52] VinceBT commented on #2051
@rishabhmathur1693 @sydneywu As said in https://github.com/react-community/react-native-maps/issues/2051#issuecomment-371578887 you wont have the unsupported protocol error if you install 0.54.0-rc.3 with yarn.
[code]

[2018-03-09 09:56] rishabhmathur1693 commented on #2074
@zaguini Try to remove this from Podfile and the run command `pod install` -

`if target.name == "React"`
`      target.remove_from_project`
`    end`

[2018-03-09 10:38] MarkOSullivan94 commented on #1870
@hugoh1995 after adding it in that directory you still need to carry out all the changes to your gradle files to get it to work

[2018-03-09 10:56] rishabhmathur1693 commented on #2051
@VinceBT @sydneywu
Using yarn resolved the issue for installing react-native 0.54.0-rc.3. Google Map is finallly displayed on screen.

![screen shot 2018-03-09 at 4 26 07 pm](https://user-images.githubusercontent.com/6391138/37204362-9b6ca7dc-23b6-11e8-8551-9abc4f6de256.png)

Thanks everyone for all the assistance.

[2018-03-09 11:10] Puetz opened #2075 "Blank map on android"
Hi,
I'm trying to use react-native-maps on android but the map is always blank. I also checked out the other issues regarding this topic but none of them helped me fixing it. The map renders the Google icon in the bottom left corner.
I compared my app/build.gradle to the one in the  react-native-maps/example/android/app/ folder and I'm using the same sdk versions:

- compileSdkVersion 25
- buildTo

[2018-03-09 11:27] efstathiosntonas opened #2076 "AnimatedViews Pan is not working as expected."
### Is this a bug report?

Yes

### Environment

    react-native: 0.54.0
    react: 16.3.0-alpha.1
    react-native-maps:  "0.20.1"

  Target Platform: iOS - 11.2 Simulator/iPhone 8 Plus, real device iPhone 7 11.2 // MapKit

### Steps to Reproduce

Using AnimatedViews, the PanResponder is not functioning well.

### Expected Behavior

Normal pan behavior, swipe left-right bottom-top

### Actual Be

[2018-03-09 11:30] zaguini commented on #2074
@rishabhmathur1693 I can't see how this resolves the issue. I tried it anyway, still no results...

[2018-03-09 12:00] rafaellincoln commented on #1967
@rborn yes.

[2018-03-09 12:07] zaguini commented on #2074
Solved! The problems was the libraries were not properly being found at `Library Search Paths`. I changed it from `$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)` to `$(BUILD_DIR)/${CONFIGURATION}$(EFFECTIVE_PLATFORM_NAME)` and it worked. Perhaps it was not my fault, who knows... Whatever, if someone has this issue as well, that is the solution.

[2018-03-09 12:07] #2074 closed

[2018-03-09 12:39] VinceBT commented on #2051
@christopherdro Could there be a release after this PR ?

[2018-03-09 13:29] zaguini commented on #2075
+1

[2018-03-09 13:37] zaguini commented on #2075
Fixed it by enabling `Google Maps Android API` on Google Developers Console. It takes around 5 minutes to update the changes, so don't rush.

[2018-03-09 14:38] shafayeatsumit commented on #100
I have found a work around of this problem. first you set the coordinate into an animated region.
`this.state = {
 coordinate: new MapView.AnimatedRegion({
    latitude: 0,
    longitude: 0,
  })
}
<MapView
  style={styles.container}
  initialRegion = {initCoordinates}
  ref={ref => { this.map = ref; }}

  <MapView.Marker.Animated
    coordinate={this.state.coordinate}
    ref={marker => { this.ma

[2018-03-09 14:56] jamesDZ commented on #2051
Thanks @VinceBT @sydneywu and @rishabhmathur1693  with your effort issue resolved.

[2018-03-09 15:29] Puetz commented on #2075
I tried everything mentioned in the installation.md and readme.md, including the suggested style from istallation.md. Google Maps API is enabled and I generated a new API Key but the map is still blank.

This is the [link](https://github.com/Puetz/Phodl) to our repository in case someone would like to check our files. The map works on IOS but not on android. It's also our first time developing an

[2018-03-09 15:30] zaguini commented on #2075
It's not Maps API, it's Maps ANDROID API. Check?

[2018-03-09 15:32] Puetz commented on #2075
That's what i meant, sorry. Google Maps Android API is enabled.

[2018-03-09 15:34] zaguini commented on #2075
Right. Did you check the logs? `adb logcat`. Check if there is some meaningful information

[2018-03-09 15:45] Puetz commented on #2075
[code]
That's the end of the log. The information up to this point does not seem meaningful.

[2018-03-09 15:50] JimmiHagen commented on #2027
This problem shows up running the base application using 'react-native init Test'.

After running for a couple of minutes, on a new i7-based MacBook, the qemu-system-x86_64 process consumes 30-40% of CPU and quickly balloons to over 2.5 GB of memory usage.

MapView is not required, nor is any code beyond 'react-native init Test'.

[2018-03-09 16:33] apamphilon commented on #354
I managed to fix this by registering my API key for android use.

Section 5 of the troubleshooting section here:

https://github.com/react-community/react-native-maps/blob/5f7bb26d2878b59ff3a66a05bb0238c8b47be177/docs/installation.md

[2018-03-09 18:19] Puetz commented on #2075
I just tried it again on my S7 and now it's working fine. I have no idea what fixed it though. I guess I made a mistake during my initial setup and redoing everything over and over again fixed that. But since it's not working properly on my virtual device, I didn't realize that the app itself works fine.

So I will just use my phone for debugging from now on, since that works.
I used one virtual d

[2018-03-09 18:20] zaguini commented on #2075
Cheers.

[2018-03-09 20:31] djalmaaraujo commented on #2075
I am facing the same issue, simply is not working. Can't find a solution. Which react-native version you guys are using?

[2018-03-09 21:26] bramus commented on #929
@purplehank7 The ending of your URL does not matter, it's the format that's being returned which is important. As it's JSON, you're good to go.

Since your returned JSON is different from the one from Google, you'll have to manually extract the data you need. For Google the necessary data can be found in `json.routes[0].overview_polyline.points` … for your response you'll to look somewhere else.

[2018-03-10 06:53] rahulbhankar786 commented on #118
Thanks all for such knowledgeable posts... everything worked now am ready to work on google  map.

[2018-03-10 10:04] Afalook commented on #1870
Recently, I found the sample solution for this problem without convert image to base64, just pass the image URL to html property then place it in `<img/>` tag like this
![capture-20180310-165926](https://user-images.githubusercontent.com/34957763/37240955-a0adae2a-2484-11e8-9d2a-d84813282477.jpg)
By the way, I'm using cloudinary to store my image that's work fine.
Hope this help.

[2018-03-10 11:19] rahulbhankar786 opened #2077 "map is showing only in a rectangle form not as a world map"
please help .
![screenshot_2018-03-10-16-46-52-424_com parking_finder 1](https://user-images.githubusercontent.com/33485869/37241687-3b82a434-2483-11e8-9f52-aebb219bed4f.png)

[2018-03-10 11:44] rahulbhankar786 commented on #585
still stuck with this problem. if someone has solution pls let me know....... this eating my performance

[2018-03-10 12:43] rborn commented on #2077
No template issue, multiple posting, closing

[2018-03-10 12:43] #2077 closed

[2018-03-10 12:51] rborn commented on #2075
Closing, no issue template, not closed by the author even after it was working.

@djalmaaraujo make a search for similar issue, if you have the logo of the map rendered is a apikey issue and/or a simulator that does't have google services installed.

[2018-03-10 12:51] #2075 closed

[2018-03-10 12:51] rborn commented on #354
@apamphilon finally somebody that reads the docs 🤗

[2018-03-10 12:57] rborn commented on #1967
Closing as per comments

[2018-03-10 12:57] #1967 closed

[2018-03-10 13:00] rborn commented on #1288
@angineering can you post some code? Also can you try with the last version of the module from master git and not npm ?

[2018-03-10 13:11] #1132 closed

[2018-03-10 13:21] rborn commented on #2064
Going to close the issue as the solution was found.

[2018-03-10 13:21] #2064 closed

[2018-03-10 14:42] minotaurrr opened #2078 "Dynamically removing & adding markers depending on region"
Hey guys,

I have lots of markers on the map but I only want to display the ones within user's screen.

So as the user moves the map to a different area (`onRegionChangeComplete`), new markers in that area would show up (as long as they are within the screen) and the old ones would disappear.

I tried a couple things myself and searched this repo but haven't figured it out yet.

Can anyone help pl

[2018-03-10 16:17] rborn commented on #2078
No issue template 😔, closing.

[2018-03-10 16:17] #2078 closed

[2018-03-10 17:28] danmcgill6 commented on #1276
if you are running this for first time you need to `npm install` first

[2018-03-10 18:56] djalmaaraujo commented on #2075
Info for whom is getting the same error. I BELIEVE the error is related to the API KEY. Do not use the same key for IOS and android, generate one in the android SDK page. That's the only thing I changed, and it worked.

[2018-03-10 19:22] esutton commented on #2051
Work-around to use master results in iOS ** BUILD FAILED **.

Rolling back to **0.53** ....

[code]

** BUILD FAILED **
[code]

[2018-03-10 20:21] joshuamataaraya opened #2080 "CocoaPods could not find compatible versions for pod "GoogleMaps""
### Is this a bug report?
Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
    react-native: ^0.51.0
    react: ^16.2.0
    react-native-maps: ^0.20.1

  Target Platform: eg: iOS - 10.2 Simulator

### Steps to Reproduce

I followed the steps for installation in the [link](https://git

[2018-03-10 21:47] rborn commented on #2080
`Note: Support for Xcode 7.3 has been dropped. The new minimum is Xcode 8.0.` -> https://developers.google.com/maps/documentation/ios-sdk/releases

In other words your xcode project needs to have the target >=8.0

You might wanna try to uncomment this podfile line
`# platform :ios, '9.0'`

[2018-03-11 00:49] raphaelrk commented on #930
@EOdOW any chance you could share the code you used to fix this?

[2018-03-11 04:20] minotaurrr opened #2081 "Dynamically rendering markers"
### Is this a bug report?

No

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
[code]

### Expected Behavior

I'm trying to dynamically display/hide markers only within users screen. I have a function that returns true if a coordinate is within users screen, false if not.

For every mark

[2018-03-11 08:32] rafetkhallaf commented on #1995
I guess then it's an expo issue and not reactnative-maps @ethantran. I just came back to this issue i'm going to do some more testing on it and see if we can solve this.

[2018-03-11 09:30] rborn commented on #2081
[code]
you set the `state.region` but then in `isInBoudingBox` you look for  `state.boundingBox`.

Another idea would be to try to use supercluster, because is really fast but I'm not sure you can set a cluster of 1 marker only.

[2018-03-11 09:42] minotaurrr commented on #2081
@rborn Is that what's causing the slow performance? Should I be getting the bounding box coords within the `isInBoundingBox` function rather than looking for `state.boundingBox`?

[2018-03-11 09:49] rborn commented on #2081
Is not slow performance what's making your markers not to show (even if the code slow). It's the fact that `onRegionChangeComplete` you are setting the `state.region` as being the area where to look for, while `isInBoudingBox` searches in `state.boundingBox` which you never change.

[2018-03-11 10:53] minotaurrr commented on #2081
@rborn but I am setting `state.boundingBox`?

[code]

[2018-03-11 11:09] rborn commented on #2081
I'm blind, sorry.
Managing the region in the state is not ok, there are few issues related to this (you can search). Try to set only the  `state.boundingBox` and see if it improves anything.

[2018-03-11 12:06] minotaurrr commented on #2081
@rborn getting rid of `setState({region})` didn't help unfortunately :(

I noticed the markers do show up but they take a long time to show up. And the rendering seems really slow even when they show up, like maybe 4-5 would show up every second or so (out of like 100).

[2018-03-11 12:57] minotaurrr commented on #2081
@rborn I noticed it's the custom image causing the slow performance. I'll open a new issue.

[2018-03-11 12:57] #2081 closed

[2018-03-11 14:18] minotaurrr opened #2082 "Custom marker image very slow performance"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

[code]
### Steps to Reproduce

Markers with default Google Maps marker image show up very quickly, no issues at all.

But when I use a custom image (size is 1kb) it struggles to render.

### Expected Behavio

[2018-03-11 16:32] techwes commented on #1995
@rafetkhallaf I have been able to sidestep this issue in both a pure naive and an expo (SDK 25) app using  I have been able to side step this issue using the suggestion from @alvelig which is to not use the region prop (only use initialRegion aka don't control the region with state), keeping track of the region in the state via onRegionChanged, and using `animateTo` to change the region when neede

[2018-03-11 17:17] GonzaloRecioG commented on #2082
Make sure to set the *tracksViewChanges* prop to false once Markers are rendered. For some reason on iOS if you provide a custom marker (Image, View, Svg etc..) it keeps re-rendering it causing the UI thread to go nuts forever.

For me, following this instructions from @heysailor, solved it:

You can find the original quote on [the commit he made](https://github.com/hetaoai/react-native-maps/commi

[2018-03-11 17:58] alvelig commented on #1995
I'd go for documenting that `animateTo` is generally preferable before controlling `region` in state due to the nature of ReactNative `render` method. I'm even against initialRegion, but don't know yet how to handle some border cases.

Something like:
**NOTE:** the approach used in examples where `region={this.state.region}` is only for demonstration purposes and extremely discouraged to apply due

[2018-03-11 18:02] keithics commented on #1862
wasted 6hours.. I simply upgrade my mac to 10.12.6 and Xcode to 9.2. Now it's working fine.
Hope this will help someone. I think there is an issue with xcode 8.x

[2018-03-11 18:04] rafetkhallaf commented on #1995
@techwes @alvelig I agree with the documentation seince this is the best practice/approach.

[2018-03-11 22:07] minotaurrr commented on #2082
@GonzaloRecioG Shouldn't this bit take care of `tracksViewChanges` for all markers?
[code]

[2018-03-12 00:35] wbattel4607 opened #2083 "Custom marker images not showing on Android, working on iOS"
### Is this a bug report?

Yes (I think)

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
[code]
[code]

### Steps to Reproduce

See Demo section...

### Expected Behavior

This is how it should work, as seen on iOS. Each user marker displays their picture.
<img width="373" alt="screen s

[2018-03-12 01:03] taojoe opened #2084 "React Native 0.54 remove batchbridge"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
    react-native: 0.54.0
    react: 16.3.0-alpha.1
    react-native-maps: 0.20.1

### Steps to Reproduce

1.  upgrade react native to 0.54

### Expected Behavior

react-native-maps works

(Write what you thou

[2018-03-12 01:10] alvelig commented on #2084
That's your environment. Follow what the red screen says.

[2018-03-12 01:10] #2084 closed

[2018-03-12 01:16] alvelig commented on #2046
I'll close it till we have logs to make clear what's the problem.

[2018-03-12 01:16] #2046 closed

[2018-03-12 01:18] alvelig commented on #2083
Your user object has image prop with uri, that is a valid prop for the marker. That's why they appear full size.

As for that they don't appear that is duplicate of #1870

[2018-03-12 01:18] #2083 closed

[2018-03-12 02:59] wbattel4607 commented on #1870
So the only ways around this right now are the WebView and drawee-debug workarounds? Is this a problem react-native or react-native-maps? Is there any hope for a complete solution to this in the foreseeable future?

[2018-03-12 03:02] minotaurrr opened #2085 "Dynamic style change on Callouts not working properly"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
[code]
### Steps to Reproduce

I'm trying to change `width` of my marker callout when state changes, using react native animation. However when the state changes, callout style still remains the same.

Workar

[2018-03-12 03:30] minotaurrr commented on #2082
@GonzaloRecioG I removed above code and put this instead in the MapView class
[code]

Then the Marker class would receive it as a prop like `<Marker tracksViewChanges={!this.state.initialised} />` but this didn't improve performance either.

[2018-03-12 05:03] GH974 opened #2086 "Android "App has stopped""
Hi, App crash after launched

Extract error in cmd adb logcat
`Rejecting re-init on previously-failed class java.lang.Class<com.google.android.gms.maps.GoogleMapOptions>: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/internal/safeparcel/zza;
03-12 04:56:21.743 12676 12695 I zygote  :   at void com.airbnb.android.react.maps.AirMapManager.<init>(com.facebook.re

[2018-03-12 07:31] rishabhmathur1693 commented on #1566
Does anyone have a solution for this thing? I also need to implement this thing in my project and I haven't found anything anything in the document regarding Polyline animation.

[2018-03-12 07:38] rishabhmathur1693 commented on #1697
Does anyone have a solution for this thing? I also need to implement this thing in my project and I haven't found anything anything in the document regarding Polyline animation.

[2018-03-12 10:36] rborn commented on #1697
Closing as duplicate of #1566

[2018-03-12 10:36] #1697 closed

[2018-03-12 10:37] rborn commented on #2086
@GH974 try with the git version please and let us know

[2018-03-12 10:57] henninghall opened #2087 "Region coordinates not centered on Google Maps"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    "react-native": "0.53.0",
    "react": "16.2.0",
    "react-native-maps": "0.20.1",

### Steps to Reproduce

1. Render a Marker at the coordinates received from onRegionChangeComplete
2. Add provider='go

[2018-03-12 12:29] rborn commented on #2084
@taojoe try with the git version please and let us know.

[2018-03-12 13:02] alvelig commented on #2084
Sure, is it duplicate of #2053 ?

[2018-03-12 13:47] kabbi commented on #1033
Is there any way to fix this from native code? How can I invalidate google map view? I've tried both `invalidate` and `requestLayout`, and they don't fix this issue.
I do need this to make `mapPadding` work.

[2018-03-12 14:24] sydneywu commented on #2051
@VinceBT I tried yarn add react-native@0.54.0-rc.3. I am still getting the same 'unknown module "undefined" error'. For those of you who did it. May i asked whether you:

1) comment out "BatchedBridge" in podFile
2) run pod update yoga
3) run pod update React/Core

[2018-03-12 15:37] floorswinkels opened #2088 "AIRGoogleMapLocalTile does not exist."
### Is this a bug report?

yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

yes

### Environment

    react-native:  0.50.0
    react-native-maps: 0.20.1
   target is iOS and using GoogleMaps

### Steps to Reproduce

1. using iOS
2. using Google Maps SDK
3. using LocalTile

### Expected Behavior

Load lo

[2018-03-12 15:40] hanselsen commented on #2088
+1 please introduce this in a next version.

[2018-03-12 15:45] rborn commented on #2088
@floorswinkels @hanselsen try the git version please and let us know

[2018-03-12 16:08] floorswinkels commented on #2088
@rborn with the git version it's still not working.

When I switch to Apple's mapkit LocalTile is working. ( But in our case we need Google Map SDK )

[2018-03-12 16:12] rborn commented on #2088
@floorswinkels can you please set a small test/demo repo? because we have this https://github.com/react-community/react-native-maps/pull/1876 which should work.
So maybe it's a mistake somewhere in the PR (unless I'm totally getting wrong 😹)

[2018-03-12 23:12] rborn commented on #191
Closing, should be implemented/fixed by https://github.com/react-community/react-native-maps/pull/2039

[2018-03-12 23:12] #191 closed

[2018-03-12 23:16] rborn commented on #360
Closing, should be implemented by https://github.com/react-community/react-native-maps/pull/2032

[2018-03-12 23:16] #360 closed

[2018-03-12 23:36] simon4321 commented on #1993
Still experience this bug. Pls help. Using Expo version 24. React version 16. React-native version 0.51 and react-native-maps version 0.20.1.

[2018-03-13 02:18] jpapillon opened #2089 "Animation lag on iOS with Marker.Animated"
### Is this a bug report?

No

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react: 16.3.0-alpha.1
react-native: 0.54.2
react-native-maps: https://github.com/react-community/react-native-maps.git#637cfcdb1f5bac3bd734bcf629c4ba83e6479cfb (latest as of now)

Target Platform: iOS (Apple

[2018-03-13 02:20] taojoe commented on #2084
@rborn

git version works.

now the map is not loaded well,  I don't know what the problem is.  I'm in China, so the default map of ios is "GAODE"?

![image](https://user-images.githubusercontent.com/545656/37318927-d5a62fec-26a7-11e8-98f6-95d7d123379d.png)

[2018-03-13 02:26] taojoe commented on #2084
@alvelig , yes it's duplicate

[2018-03-13 07:39] longpq18 commented on #2084
@taojoe same issue on android, i rerun "react-native run-android" and it working, you try rerun "react-native run-ios"

[2018-03-13 11:41] MarkOSullivan94 commented on #1870
@wbattel4607 it's a problem with the Android Fresco library which is breaking it for API 25+. @efkan has posted a workaround which will mean should work for now.

Have a read from here and below: https://github.com/react-community/react-native-maps/issues/1870#issuecomment-370601097

[2018-03-13 12:23] luoerming commented on #255
+1

[2018-03-13 13:40] rborn commented on #2084
@taojoe @longpq18 if the map renders the logo is usually an api key issue.

[2018-03-13 14:20] mafiusu commented on #1810
Solved this issue 🎉🎉

in SMCalloutView.m I commented out the following code

[code]

I will let this issue open for anyone faces to this problem.

[2018-03-13 15:36] hegelstad commented on #2036
@mojotti I've changed the package.json to ` "react-native-maps": "https://github.com/react-community/react-native-maps.git"` and i ran `yarn install`. What other exact steps need to be done?

[2018-03-13 17:55] mojotti commented on #2036
@hegelstad, then just follow the installation instruction: https://github.com/react-community/react-native-maps/blob/master/docs/installation.md

[2018-03-13 19:14] esutton commented on #2051
Yet another silent metro side effect.

[Requiring unknown module "undefined" #152](https://github.com/facebook/metro/issues/152)

[2018-03-13 19:33] MeganKurz commented on #1870
Can someone give a more indepth example of what the build files is supposed to look like and which one? Tried to follow along but I'm still having issues viewing custom callout images.

[2018-03-13 21:37] octopuss commented on #887
From my research, I've find out that only colors that are created from combination HUE + 100% saturation and 100 % value/lightness can be used see docs page (
https://developers.google.com/android/reference/com/google/android/gms/maps/model/BitmapDescriptorFactory)
for example HUE_GREEN is 120 (100, 100 - see convertor https://www.rapidtables.com/convert/color/hsv-to-rgb.html) , which converts to

[2018-03-13 22:40] maikenmadsen92 commented on #2051
I just set this in the package.json:

  "react": "16.0.0",
    "react-native": "0.51.0",
    "react-native-maps": "https://github.com/react-community/react-native-maps.git"

Now it works.

[2018-03-13 22:54] Arshiamidos commented on #2051
i upgrade RN for this bug #18359
and now :|

[2018-03-14 00:09] MatheusGit opened #2090 "cannot find class UIBlock when run react-native run-android"
### Is this a bug report?

Yes, cannot find class UIBlock when run react-native run-android

                                   ^
  symbol:   class UIBlock
  location: package com.facebook.react.uimanager
C:\ReactNative\fruttinee\node_modules\react-native-maps\lib\android\src\main\jav
a\com\airbnb\android\react\maps\AirMapView.java:105: error: getCurrentActivity()
 is not public in ReactContext; c

[2018-03-14 04:55] ShunYamada commented on #1287
I would work today!

The error occurred just in iPhone(actually worked generally in Simulator on Mac), for me this is the problem shortage of `libAirMap.a` on Linked binary and `AirMap.xcodeproj` on Libraries.

After added, that would work.

[2018-03-14 07:16] piloulac commented on #2080
Same here,

using XCode `9.02`and when uncommenting `platform :ios, '9.0'` it gives the same result :/

[2018-03-14 07:39] kartik0709 commented on #2010
You can do something like this.

componentDidMount(){
        setTimeout(()=>this.setState({flex: 1}),100);
}

Then in your mapview, you can put the style referring to the state
<MapView style={{flex: this.state.flex}} />

[2018-03-14 07:45] bhatti-waqas opened #2091 "Host key verification failed. fatal: Could not read from remote repository."
I try to install react-native-maps and encounter this error.
"Host key verification failed, fatal: Could not read from remote repository."

[2018-03-14 09:54] alexghinea-adswizz commented on #718
@8of I can also confirm that this works when you have Libraries and Pods together in one React Native project (any project with a similar structure).

[2018-03-14 12:10] GonzaloRecioG opened #2092 "Heavy UI FPS decrease just moving/panning around the map."
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    react-native: 0.51.0
    react: 16.0.0
    react-native-maps: 0.21.1
    Target Platform: iOS, iPhone 6 10.3
    Both AppleMaps + GoogleMaps

### Steps to Reproduce

Just an empty map rendered with no ma

[2018-03-14 12:24] rborn commented on #2091
closing, no issue template

[2018-03-14 12:24] #2091 closed

[2018-03-14 12:43] maluramichael commented on #828
I got the same problem

[code]
[code]

[2018-03-14 12:45] Arshiamidos commented on #2051
"native-base": "^2.3.10",
"react": "^16.3.0-alpha.1",
"react-native": "0.54.0-rc.3",
"react-native-maps": "^0.20.1"

with this package i solved my solution
it relate to react-native-maps

[2018-03-14 12:46] Hoolii commented on #828
I think you should update `react-native-maps`. I'm using `0.16.2` and I don't have the issue anymore.

[2018-03-14 12:47] maluramichael commented on #828
@Hoolii do you know if `0.16.2` is still compatible with react-native `0.38.1`?

[2018-03-14 12:52] Hoolii commented on #828
@maluramichael Maybe not, I'm using `0.46.4` in my project.

[2018-03-14 12:56] manodupont commented on #1315
That solution didnt work for me.

Adding a timeout doesnt show the button ...

[2018-03-14 12:56] manodupont commented on #1315
[code]

[2018-03-14 13:00] Arshiamidos commented on #2051
i fixed this issue with react-native-maps

[code]

[2018-03-14 13:22] mafiusu commented on #1850
It's one of my key feature in my app I hope this bug gets a fix soon.

[2018-03-14 13:34] Vetalyo commented on #2010
I have same issue on iOS, using apple map provider.
showsMyLocationButton={true} is not showing up the button.

[2018-03-14 13:37] kholiavko-roman commented on #1263
@alvelig I have the same issue on ios -  `showsUserLocation={true}` doesn't not show the button.

I tried
[code]

and also I using hack as in #1332 tread, but nothing helped me.

I use rn version 0.52.
and plugin version react-native-maps 0.20.1. (Using Apple provider)

[2018-03-14 13:56] mellet opened #2093 "UrlTile sometimes failes to load tiles"
### Is this a bug report?
Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes, but using Expo.

### Environment

Expo SDK v25, running build of react-native-maps v0.19.0

### Steps to Reproduce

*NB! This bug is sporadic, does not occur on every run of the app. If everything seems fine try again until t

[2018-03-14 14:26] mellet commented on #2093
### Some more debugging

[Here](https://i.imgur.com/R2IKCp2.png) is another screenshot of tiles failing to load.
This time I had Charles Proxy running so I could see the network requests going out.

### Failing requests
![FailedRequests](https://i.imgur.com/8WhSEgl.png)

The response code was `404 Not Found`.
I tried hitting the [tile](https://b.tile.openstreetmap.org/3/4/6.png) manually from the

[2018-03-14 15:16] MarkOSullivan94 opened #2095 "Gradle sync failing due to outdated gradle configuration"
Currently using Android Studio 3.2 Canary 5 and the React Native Maps lib will cause gradle sync to fail. Only fix is by having to go into the libs gradle files and manually changing them.

This will most likely cause an issue with any Android Studio 3.0+ installs as they should all be using Gradle 3.0.0+

Details on new gradle configuration: https://developer.android.com/studio/build/gradle-plugi

[2018-03-14 15:26] bdavid68 commented on #1870
When I was using **com.google.android.gms:play-services-maps:10.0.1**, custom marker views were rendering well. But since I am using **com.google.android.gms:play-services-maps:11+**, it doesn't work. Any idea?

[2018-03-14 15:36] MarkOSullivan94 commented on #1870
@bdavid68 I think I've been using 10.2.4 the entire time

[2018-03-14 15:48] bdavid68 commented on #1870
@MarkOSullivan94 Actually, it's working with 10.0.1.
I need to use [react-native-geolocation-service](https://github.com/Agontuk/react-native-geolocation-service) library and It requires 11.+.
But I can't use different google service versions.

[2018-03-14 15:55] MarkOSullivan94 commented on #1870
@bdavid68 I haven't done extensive testing with the different versions, have you raised an issue about it?

[2018-03-14 16:01] manodupont commented on #1315
Yes. well i mean, my code is already "asking" for permissions, and i "Allowed" them as it appears on the screen :) Is there any other things to "accept" than those ?

[2018-03-14 19:20] arapocket commented on #744
I think I have the most recent version of everything? I even tried 26.1.1 since I already have it installed same issue

<img width="743" alt="screen shot 2018-03-14 at 12 19 28 pm" src="https://user-images.githubusercontent.com/14900253/37425826-066ed20c-2782-11e8-8c1f-ebd8dbfce581.png">

[2018-03-14 21:01] arapocket commented on #2051
The code here fixed this for me

https://github.com/react-community/react-native-maps/commit/0e201a9a2ca833728b20526049c172e7240e4d7c

[2018-03-14 21:44] sibelius commented on #2051
can we plan a new release?

[2018-03-14 22:00] MeganKurz commented on #1870
I added the .aar file in the comments above, and changed the gradle files, but the callout images still don't seem to load. Weirdly, after the callouts are opened, on the 3rd time the image loads

[2018-03-15 06:57] magichim commented on #2051
My package

    "react": "^16.3.0-alpha.1",
    "react-native": "0.54.2",
    "react-native-maps": "https://github.com/react-community/react-native-maps.git"

When I use Mapview, nothing is showing in emulator.

What should I do? :( Help [`me...`](url)

<img width="362" alt="2018-03-15 3 55 00" src="https://user-images.githubusercontent.com/5843652/37448386-82b540ac-2869-11e8-8abf-5ee06405e608.png

[2018-03-15 08:23] bdavid68 commented on #1870
@MarkOSullivan94 It doesn't look like an issue of plugin version.
Last night, I upgraded my android device to 8.0 and I can't see markers now. Google map marker is working well on Android 7.0, but not working on android > 7.0. It might be an issue of google service plugins for new android OS versions.

[2018-03-15 10:16] MarkOSullivan94 commented on #1870
@MeganKurz if you could share a public project, someone here could hopefully point out what you need to do to fix your problem.

@bdavid68 it's API 25 and above so you'll have no issue with 7.0 or below, it's when you use 7.1 and above.

[2018-03-15 14:59] magichim opened #2099 "Why are render images different with original render images?"
### Is this a bug report?

(No)

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

(Yes)

### Environment
"react": "^16.3.0-alpha.1",
"react-native": "0.54.2",
"react-native-maps": "https://github.com/react-community/react-native-maps.git"

### Steps to Reproduce

(Write your steps here:)

1. just put in code

[2018-03-15 15:15] rborn commented on #2099
@magichim on the right it's Apple map, not Google, you need to set the `provider` of the map first

[2018-03-15 15:23] magichim commented on #2099
@rborn oh really thanks! but I have a question. When I not use provider, automatically render apple map. however when this event like zoom and move by touching in simulator is triggering, it is very slow unlike google map. What's reason?

[2018-03-15 15:30] rborn commented on #2099
The simulator is slow, you might wanna try on a real device, and in release mode.

[2018-03-15 15:39] #2099 closed

[2018-03-15 16:11] lachenmayer opened #2100 "GoogleMaps iOS: initialRegion latitudeDelta/longitudeDelta not respected"
### Is this a bug report?

Yes. Please see the repo containing a minimal example: https://github.com/lachenmayer/react-native-maps-google-maps-initialregion-bug

### Observations

When using Google Maps with react-native-maps on iOS, the `initialRegion` prop is not respected.

The map is centered on the correct region, but the zoom level is incorrect, ie. the `latitudeDelta` & `longitudeDelta` val

[2018-03-15 17:51] lachenmayer commented on #2100
Hi there, I have found a simple one-line fix to this, you can see it on https://github.com/lachenmayer/react-native-maps-google-maps-initialregion-bug/tree/debugging along with a detailed discussion of the root cause.

The actual fix is this:

[code]

This fixes this bug, as well as resolving the flicker mentioned in https://github.com/react-community/react-native-maps/pull/1950. It also preserves

[2018-03-15 18:34] lachenmayer commented on #2100
If you are affected by this, try using the https://github.com/lachenmayer/react-native-maps/tree/initialregion branch - will do a PR once I get some feedback.

[2018-03-15 18:50] maikenmadsen92 opened #2102 "Adding multiple polylines on maps"
I want to place multiple polylines on Google maps in react-native. I'm using the react-native-maps and @mapbox/polyline for creating polylines which I imported at the top:

`import MapView from 'react-native-maps';
import Polyline from '@mapbox/polyline';`

Here is the rest of the code:

`import {
  Marker
} from 'react-native-maps';

import React, { Component } from 'react';
import {
   Platform,

[2018-03-15 19:02] ehutchllew opened #2103 "Can't get new project or even example project to build."
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    react-native: 0.51.0
    react: 16.0.0
    react-native-maps: 0.20.1

### Steps to Reproduce

    1. git clone https://github.com/react-community/react-native-maps.git
    2. cd react-native-maps/example

[2018-03-15 20:25] ujwal-setlur commented on #2103
Try using the latest code from github. In you package.json:
[code]

[2018-03-15 20:27] ujwal-setlur commented on #2080
Try using the latest code from github. In you package.json:
[code]

[2018-03-15 22:39] breadadams commented on #2066
Downgrading as suggested by @EsdrasEtrenne is the only thing that fixes this for me. So the following dependencies:
[code]

However it's been a rollercoaster to finally get to _this_ issue, I've been through at least half-a-dozen bugs/issues prior to meeting ye `'GMUKMLParser.h'` 😅

[2018-03-15 22:56] breadadams commented on #1287
This popped up for me today whilst trying to get the lib to work.

Cleaning the project in Xcode (`Product → Clean`) & **relaunching Xcode** appears to have resolved it.

[2018-03-16 04:15] wassgha commented on #2066
I solved this issue without downgrading by adding
`
    pod 'Google-Maps-iOS-Utils'
`
(in addition to `pod 'GoogleMaps'`) to my Podfile then running `pod update` followed by `pod install`

[2018-03-16 07:39] aliy321 opened #2104 "Custom Marker follow pointer direction"
is it possible to do this?

[2018-03-16 08:10] percivalruiz-bibo commented on #1708
Have you tried doing `react-native upgrade` before `react-native link`? That worked for me.

[2018-03-16 08:16] ivanbtrujillo commented on #2103
Hi,

Here is my podfile. I did an install the last tuesday:

[code]

And in my package.json I've reference the code from github (as ujwal said):

Remember to run pod install from the ios folder before run your project.

Hope it helps.

[2018-03-16 09:46] rborn commented on #2104
Closing, no issue template

[2018-03-16 09:46] #2104 closed

[2018-03-16 11:11] lachenmayer commented on #2103
Hi there, the current example Podfile is broken. I have a PR open that should fix this. https://github.com/react-community/react-native-maps/pull/2094
With the changes from that PR you should be able to follow https://github.com/react-community/react-native-maps/blob/master/docs/examples-setup.md to get the example set up :)

[2018-03-16 12:30] rborn commented on #2102
@maikenmadsen92 you gave  a lot of details, but please update the issue respecting the template and with better formatting.

[2018-03-16 12:36] eladgel commented on #2066
@wassgha this what happens to me now
![image](https://user-images.githubusercontent.com/412137/37520871-61cabc28-2927-11e8-8187-c76daa8a0f57.png)

[2018-03-16 15:14] breadadams commented on #2066
I ran into that one too @eladgel. Try removing the lib files from `node_modules/...` in Xcode & dragging in again again after downgrading. Then restart Xcode and clean the project. I'm pretty sure that's what cleared it up for me.

[2018-03-16 16:02] nicholasc commented on #1608
Did you resolve this @thuyiya? I am having the same issue.

[2018-03-16 20:05] Agontuk commented on #2100
I have not yet faced this problem on my end, lat/lng delta is working fine. So I can't tell for certain whether it's a setup issue or an actual issue. If the example project is working correctly, then it's probably a setup problem. It would be better if you're able to reproduce this somehow.

[2018-03-17 02:21] npmun commented on #1456
Is there an alternative way to display simple map component on UWP app at the moment?

[2018-03-17 05:00] purplehank7 commented on #929
@bramus The spatial reference defaults to the map, but I am able to specify it to EPSG:3857.
There are dozens and dozens of parameters on solving a route on arcgis which makes hte work complicated. But here is the updated returned json:
[code]
I agree that compressedGeometry seems like the way to go. As for decoding, I found this two articles: Do you think they are the solution?
https://www.arcgis

[2018-03-17 08:34] magichim commented on #2100
me, too. same problem on ios.

[2018-03-17 09:41] magichim commented on #2100
@lachenmayer thanks to your fixing, I can solve this problem. What's the reason and Could you explain it?

[2018-03-17 10:14] piloulac commented on #2080
still the same issue

[2018-03-17 15:21] lachenmayer commented on #2100
@Agontuk - please check the example repo https://github.com/lachenmayer/react-native-maps-google-maps-initialregion-bug
I don't think this is a setup problem.

[2018-03-17 15:22] lachenmayer commented on #2100
@magichim I have tried to explain the issue here https://github.com/lachenmayer/react-native-maps-google-maps-initialregion-bug/tree/debugging
I'm not sure why it does not trigger in the example repo.

[2018-03-17 18:31] prathammehta opened #2105 "Custom map styles, custom markers and marker pin color not working on Android"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native: 0.51.0
react: 16.0.0

### Steps to Reproduce

1. Create a react native app using react-native init.
2. Follow installation instructions to the dot.
3. Use Google custom style generator to gener

[2018-03-17 22:17] wbattel4607 commented on #2105
Can you please share what `react-native-maps` version and `play-services-maps` version you're using? The latest versions are `0.20.1` and `11.8.0` respectively.

[2018-03-18 06:48] magichim commented on #2100
@lachenmayer your example repo has a this error.

<img width="333" alt="2018-03-18 3 46 41" src="https://user-images.githubusercontent.com/5843652/37563427-b9af25d0-2ac3-11e8-9650-e64e58ec4a50.png">

I open trippin.xcworkspace on xcode. and then build and run simulator.
but there are errors like image.

[2018-03-18 11:20] raarts opened #2106 "react native web support"
I'd like this repo to support react-native-web. I put in a PR for it.

[2018-03-18 21:51] alexdunne commented on #2090
@MatheusGit
I had the same issue when doing:
[code]

Splitting out the maven urls like so worked:
[code]

[2018-03-18 22:37] AliSarraf opened #2108 "Relocate the 'Powered by Google' logo in MapView to a different part of the MapView"
### Is this a bug report?
Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

### Steps to Reproduce

The 'Powered By Google' logo appears in the bottom left of the MapView, but I have a component that floats at the bottom of the MapView. So this 'Powered by Google' logo is hidden, how

[2018-03-19 08:09] swese44 opened #2109 "Overlay component not working - `Invariant Violation: Native component for "AIRGoogleMapOverlay" does not exist`"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
    react-native: 0.54.0-rc.3
    react: 16.2.0
    react-native-maps: 0.20.1

  Target Platform: eg: iOS - 11.2 Simulator/iPhone 6

  Google Maps

### Steps to Reproduce
I'm new to iOS and React Native so ma

[2018-03-19 08:47] hegelstad commented on #837
+1

[2018-03-19 09:17] moh3n9595 opened #2110 "setState infinity loop in onRegionChange"
Hi, when I use `this.setState` inside of onRegionChange function, program stuck on an infinity loop.

Code :
[code]
Is this a bug? what I do this for?

[2018-03-19 09:53] rborn commented on #2110
No template, I'll close this.

Don't make the region state dependent, make a search among the issues and you'll find more info about.

[2018-03-19 09:53] #2110 closed

[2018-03-19 09:59] rborn commented on #2109
Try to use the git version of the module. Also did you see the `# REMOVE THIS if you use RN 0.54+` part in Podfile ?.

What are the instructions you think are missing?

[2018-03-19 10:03] rborn commented on #2108
Not sure this will work for Google maps, but please try: `legalLabelInsets`

[2018-03-19 10:08] rborn commented on #2090
@MatheusGit can you please confirm and it it works close the issue?

[2018-03-19 10:11] moh3n9595 commented on #2110
But in main doc I see something like this : `Using a MapView while controlling the region as state`.
what is other way for that? please give me a link or code to find that.

[2018-03-19 12:17] biancaFarcas commented on #2080
i had the same issue but running pod update fixed the problem.

[2018-03-19 12:43] rborn commented on #2110
I think this will need to be changed.

[2018-03-19 14:51] TitanKing commented on #1701
@ramsestom This is actually incorrect, the rotation will not animate if you do this, it is preferred to not re-render the markers in the first place even if you are satisfied with a jerky rotation. I will investigate if perhaps react-natives native animation library can be used.

[2018-03-19 15:35] rishiankush commented on #1949
my app crashes on release build after rendering default splash screen.
This is my package.json file:
[code]
I tried many solutions provided on github and stackoverflow bu nothing worked for me.

[2018-03-19 15:59] rishiankush commented on #1949
@rborn How can I create logs in release build, Can you please help

[2018-03-19 16:00] rborn commented on #1949
what os ?

[2018-03-19 16:01] rishiankush commented on #1949
MacOS Sierra version 10.12.6

[2018-03-19 16:02] rborn commented on #1949
No, ios or android?

[2018-03-19 16:02] rishiankush commented on #1949
IOS

[2018-03-19 16:04] rborn commented on #1949
https://docs.buddybuild.com/troubleshooting/getting_device_logs_from_xcode.html

get only the ones related to your app

[2018-03-19 16:06] rishiankush commented on #1949
ohh yes! let me try this. Thanks

[2018-03-19 17:53] bramus commented on #929
@purplehank7 Not doing custom routing via ArcGIS myself, so that's for you to find out ;-)

[2018-03-20 00:04] aswinramakrish commented on #818
Here is how I debugged this issue -

**1. Look at the logs**

Here is what I was seeing in mine -

      Fatal Exception: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/maps/GoogleMapOptions;
       at com.airbnb.android.react.maps.AirMapManager.<init>(AirMapManager.java:54)
       at com.airbnb.android.react.maps.MapsPackage.createViewManagers(MapsPackage.java:39)

[2018-03-20 01:14] wbattel4607 commented on #2051
@hrl7 @rborn can we please have a new release?

[2018-03-20 03:17] danZheng1993 commented on #2051
@hrl7 's solution works for our project too.
When are you guys going to release the new build which changes?
Really appreciate it.

[2018-03-20 03:30] DavidNorena commented on #2064
@rborn what was the solution, I'm still having  the error :(

[2018-03-20 03:42] aniiskywalker commented on #2064
@DavidNorena have you tried my solution? :0

[2018-03-20 05:07] julienR2 commented on #2108
@AliSarraf You can set padding to the map. It will change the place of the Google logo to the corner of the padded map, and as an bonus, the center of the map will be adjusting accurately to the visible part of the map !
See the PR here for more detail https://github.com/react-community/react-native-maps/pull/1750 (We could probably add some docs on this one @rborn, the mapPadding property is actu

[2018-03-20 06:03] swese44 commented on #2109
thanks @rborn

Regarding missing instructions, I had initially missed the `pod install` step but it's in the readme so nevermind 😳

My Podfile was correct, but things must have gotten borked while upgrading different versions of react-native, react-native-maps, etc. I started over with a fresh RN install and things are good now.

[2018-03-20 06:04] #2109 closed

[2018-03-20 06:25] swese44 opened #2112 "TypeScript type issues"
There are a few issues with the declaration file which prevents TypeScript apps from compiling. I'll post a PR to fix them

[2018-03-20 10:07] socar-chef commented on #2025
I made approximate and middle coordinates for mask.
And it works on me.

[code]

[2018-03-20 10:09] rborn commented on #2112
Merged 🎉

[2018-03-20 10:09] #2112 closed

[2018-03-20 10:14] rborn commented on #2108
@julienR2 at the moment I have some busy time, I'll try to add the docs.
Would be interesting to see if we can somehow normalise this between apple and google maps - if needed.
Any thoughts?

[2018-03-20 10:31] TitanKing commented on #1701
@ramsestom Actually, my bad, it does work.

[2018-03-20 10:32] Anandks1993 commented on #1222
Try this https://www.npmjs.com/package/react-native-geo-fencing package. With this we can easily make use of geofencing.

[2018-03-20 10:40] ShankarMaraka commented on #917
In my case, Its working perfectly in Android but doesn't move to provided region in IOS.

[2018-03-20 11:10] Anandks1993 opened #2114 "Text above map using Polygon"
### Is this a bug report?

No

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

### Steps to Reproduce

I tried using Text as a child to Polygon but it is not rendering the Text

[code]

### Expected Behavior

I expect a text to be placed above the map

### Actual Behavior

Text not at a

[2018-03-20 11:16] rborn commented on #2114
@Anandks1993 You can try to add a `Marker` that has a `Text` as child. I don't think that Polygon accepts children.

[2018-03-20 11:19] Anandks1993 commented on #2114
@rborn Yeah I could able to add `Text` with `Marker` but with `Polygon` I couldn't able to do that. But is there by any chance it is possible through styles (in this case `Text` may be a sibling of `MapView`)?

[2018-03-20 11:22] rborn commented on #2114
I don't think you have any other option but marker.  I do this and it works pretty nice. You just
add a marker with the coordinates the center of the polygon

<img width="175" alt="screen shot 2018-03-20 at 12 21 18" src="https://user-images.githubusercontent.com/406409/37651693-446f2e92-2c39-11e8-88a1-43b1a72c3d6b.png">

[2018-03-20 11:30] Anandks1993 commented on #2114
@rborn If we go for child the default marker will not come and we have to use our own marker right ?

[2018-03-20 11:34] rborn commented on #2114
Yes, that's what I do:

[code]

don't forget the `tracksViewChanges={false}` or the map will go crazy for many markers and put a huge load on the cpu

[2018-03-20 11:36] Anandks1993 commented on #2114
@rborn Is it possible to do the following changes using marker ? If possible can you pls explain me how to do it. Thanks in advance. (See right bottom of the image)
![screenshot_1521545505](https://user-images.githubusercontent.com/26414695/37652203-c7f519a8-2c60-11e8-9900-7dca4bb9197c.png)

[2018-03-20 11:37] rborn commented on #2114
The right bottom labels are fixed if you move the map?
What are they showing, what are the coordinates you are showing ?

[2018-03-20 11:39] Anandks1993 commented on #2114
Yes you are right that should be a fixed one and the coordinates I want to show is device current location.

[2018-03-20 11:43] rborn commented on #2114
Nothing to do then with markers or even the map, you just add a Text over the map, so **not** inside, and use the https://facebook.github.io/react-native/docs/geolocation.html#getcurrentposition to set them.

[2018-03-20 11:50] Anandks1993 commented on #2114
Yeah I have the current location details with me but I am struggling to place the Text over the map 😓

[2018-03-20 11:54] rborn commented on #2114
In your screen component (pseudocode)
[code]
Something like this, you might also want to add a `zIndex` to the text

[2018-03-20 11:56] Anandks1993 commented on #2114
Yeah I tried the same but the problem is if I try to position a `Text` at right bottom, the map is overlapping the text and it's not in visible mode to us.

[2018-03-20 11:59] rborn commented on #2114
Show me some code, it should work, do you use `position:'absolute'` for the text?

[2018-03-20 12:03] Anandks1993 commented on #2114
Below is the code I tried with
[code]

[2018-03-20 12:07] rborn commented on #2114
The order of the layers rendered are the same with the one you are putting them in the jsx. So in your case the Text will go first and then the MapView above.
Move the Text **after** the MapView, and add a zIndex to the map lower than the text one (make text `zIndex:2` and map `zIndex:1`)

[code]

[2018-03-20 12:10] Anandks1993 commented on #2114
@rborn Thank you so much. my bad 😌

[2018-03-20 12:10] rborn commented on #2114
🤗

[2018-03-20 12:47] MichielDeMey commented on #2025
@socar-chef Thanks, that seems to be a valid workaround for now!

[2018-03-20 14:12] lachenmayer commented on #2100
@magichim - thanks for checking this out! :)
I just tried to delete the repo & check it out from scratch - it works for me.
Are you definitely sure a packager is running? Did you start the packager using `yarn start`?

[2018-03-20 14:21] magichim commented on #2100
@lachenmayer
I just git download and then directly build in xcode.

[2018-03-20 16:50] lachenmayer commented on #2100
I can confirm that this happens on every map when using React Native 0.54, even the maps in the example app. Check out https://github.com/react-community/react-native-maps/pull/2115

[2018-03-20 16:54] lachenmayer commented on #2103
Hi @ehutchllew, this should be working now.
If you still get the same error, try deleting the file `example/ios/Podfile.lock`.

[2018-03-20 17:46] DavidNorena commented on #2064
@aniiskywalker Hi, and thanks for your answer, sadly I'm working with android, my workaround was to start a new project from scratch and now its working ...

Weird and tedious !

[2018-03-20 17:56] ehutchllew commented on #2103
@lachenmayer

Hey, so the only way I could get this to even build was by using RN 0.47.0, and react-native-maps on 0.15.2.

I can render something now, but it only shows a grid, not an actual map. So not sure why that might be, I have initialRegion set.

[2018-03-20 18:24] #2090 closed

[2018-03-20 19:15] aniiskywalker commented on #2064
@DavidNorena we face an issue in android, we change some version from 10 to 11 (I don’t remember what was that but I hope you know what I’m talking about haha)

[2018-03-21 15:05] LorandP opened #2116 "ShowUserLocation shows even if it was set to false"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
Android 7.0 and 8.0
    react-native: 0.53.0
    react: 16.2.0
    react-native-maps: 0.17.0

### Steps to Reproduce

1. Set the following properties:
          showsUserLocation={true}
          showsMyLocat

[2018-03-21 15:07] salbatore commented on #1935
Good afternoon ... do you know where I can change the dimensions of the default markers?... I'm going crazy, haha

[2018-03-21 15:39] rborn commented on #1935
nope

[2018-03-21 17:20] xxstefanoxx opened #2117 "Red screen module "Undifined""
### Is this a bug report?
when i import:
import MapView from 'react-native-maps';
I recive this error:
Require unknown module "undefined". if you are sure the module is there, try restarting Metro Bundler...

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment
    "react": "^16.3.0-alpha.1",

[2018-03-21 17:49] rborn commented on #2117
closing , duplicate of https://github.com/react-community/react-native-maps/issues/2071

use the git version.

[2018-03-21 17:49] #2117 closed

[2018-03-21 18:50] forkbomb commented on #1870
[code]

works on Moto X Style (7.0), not on S8 Note (7.1)

[2018-03-21 20:40] xxstefanoxx commented on #2051
hi, i get red error undifined, this is my configuration:
"dependencies": {
    "react": "^16.3.0-alpha.1",
    "react-native": "0.54.2",
    "react-native-maps": "^0.20.1"
  }
i get the error in ios simulator and real device.
I've install with pod.
https://github.com/react-community/react-native-maps/blob/master/docs/installation.md
please help :)

[2018-03-21 20:43] wbattel4607 commented on #2051
@xxstefanoxx change `"react-native-maps": "^0.20.1"` to `"react-native-maps": "https://github.com/react-community/react-native-maps.git"`

[2018-03-21 21:34] xxstefanoxx commented on #2051
I have to give back the command npm install?

[2018-03-21 21:59] wbattel4607 commented on #2051
@xxstefanoxx after changing the version in `package.json` you will need to re-install the package with the command `npm install`

[2018-03-21 22:03] xxstefanoxx commented on #2051
now works with emulatore but xcode give this error:
'GMUKMLParser.h' file not found AIRGoogleMap.m

[2018-03-21 22:07] wbattel4607 commented on #2051
@xxstefanoxx see proposed solutions in this issue https://github.com/react-community/react-native-maps/issues/2066

[2018-03-21 23:49] Metroninja commented on #2086
Was facing the same issue, can confirm running from the current repo version solves this issue.

[2018-03-22 03:04] GarimaMathur07 commented on #1756
How can i fixed this issue on iOS 11 The map is freeze on real device and simulator. Can anyone tell the solution @alvelig @kesha-antonov

[2018-03-22 06:23] wbattel4607 commented on #1870
Looks like React Native might finally be updating their Fresco dependency. Whenever this gets packed into an RN version we might see the end of this bug...

https://github.com/facebook/react-native/commit/8e065baad43a124a999d4f3c253b1081a3045a1a

I'm trying to determine if Fresco has fixed this problem internally. This RN commit would bump the version to 1.8.1, with RN currently way behind on 1.3.

[2018-03-22 10:06] rborn commented on #2086
Closing as fixed ( @Metroninja comment).

[2018-03-22 10:06] #2086 closed

[2018-03-22 15:01] vigneshwarrao opened #2119 "Animating polyline of google maps - (Any way to animate google maps tracked path)"
## Environment
Environment:
 OS: macOS High Sierra 10.13.3
 Node: 8.9.1
 Yarn: Not Found
 npm: 5.5.1
 Watchman: 4.9.0
 Xcode: Xcode 9.2 Build version 9C40b
 Android Studio: 3.0 AI-171.4408382

Packages: (wanted => installed)
 react: 16.2.0 => 16.2.0
 react-native: 0.51.0 => 0.51.0

## Steps to Reproduce
Actually we tried with geo location and react-native-maps. If we have starting and ending point

[2018-03-22 15:03] mafiusu commented on #1671
Any solution how I can achieve that my custom position marker is always behind the rendered Markers for the Map?

[2018-03-23 00:36] codypearce commented on #1149
I am having the same issue as  @alvelig , `fitToSuppliedMarkers` works perfectly on iOS but fails on Android.

[code]

Using a timeout like @alvelig works as a quick fix for the time being, does anyone know of a more robust solution?

[2018-03-23 00:44] codypearce commented on #1399
Same issue here

[code]
Shows a blank map on both a real device and emulator.

@aforty Solution seems to work, should this merged to master or is there a more long term solution?

[2018-03-23 01:57] codypearce opened #2120 "Add `mapPadding` to docs"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

https://github.com/react-community/react-native-maps/blob/master/docs/mapview.md

### Steps to Reproduce

1. Go to https://github.com/react-community/react-native-maps/blob/master/docs/mapview.md

2. Ctrl +

[2018-03-23 11:07] MarkOSullivan94 commented on #1870
Has anyone been able to test RN-Maps with it being bumped to 1.8.1? Don't want to get my hopes up and think this will be a fix to our issues only to find out it's still broken.

[2018-03-23 11:26] mcmatan opened #2122 "Button (TouchableOpecitiy) places on top of map, randomly stopes functioning after map scroll"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    "react-native": "0.54.0-rc.3",
    "react-native-maps": "^0.20.1",

### Steps to Reproduce

When placing buttons (TouchableOpecitiy) on top of the map, after some scroll and zoom, buttons stop responding

[2018-03-23 11:38] jeypc commented on #606
@cadr-sa I have the same problem, and it fixed. thanks

[2018-03-23 12:43] alvelig commented on #1870
@MarkOSullivan94 they haven't packaged it yet.

[2018-03-23 13:06] mehulnahar commented on #660
I Did all pod setting, Framework added, Also header search path setting, But still 'RCTImageLoader.h' file not found this issue is not getting fixed.

[2018-03-23 15:08] Luckygirlllll commented on #1678
I got error "cannot find symbol method getOpenSourceSoftwareLicenseInfo(ReactApplicationContext). Error:Execution failed for task ':react-native-maps:compileReleaseJavaWithJavac'." in AirMapModule.java any ideas how to fix that?

[2018-03-23 15:19] patelronakp opened #2123 "Custom Image Marker with actual size"
Case 1 :
I try to load the custom image in marker with original height X width. Image was coming dynamically
from server so i don't know the size of it.

`  <Image
                      style={{flex:1, height: undefined, width: undefined}}
                      resizeMode={'contain'}
                      source={{ uri: 'http://www.xyz.com/images/' + this.state.IconPath }} />`

it shows nothing on

[2018-03-23 15:21] Luckygirlllll opened #2124 "Error:Execution failed for task ':react-native-maps:compileReleaseJavaWithJavac'"
### Is this a bug report?

yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

yes

### Environment

react-native-cli: 2.0.1
react-native: 0.47.2

### Steps to Reproduce

react-native run-android

### Expected Behavior

project works

### Actual Behavior

Got such error:   error: cannot find symbol method g

[2018-03-23 15:57] TarasDumych opened #2125 "[IOS] Implicit declaration of function 'CGContextResetClip'"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    "react-native": "0.53.3",
    "react-native-maps": "^0.20.1",

### Steps to Reproduce

1. Create new react-native project `react-native init example-name`
2. Install react-native-maps according instructi

[2018-03-23 16:02] alvelig commented on #2123
It's ok that it does not work like you expect, because it's not web. You must set height and width. And you must have 1x, 2x and 3x images to fit all screen densities.

And actually it's a duplicate: #1870 #1422

[2018-03-23 16:55] chen4393 opened #2126 "Dynamic updating map location with setState()"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native: 0.52.0
react: 16.2.0
react-native-maps: 0.19.0

### Steps to Reproduce

1. In onComponentWillMount(), I fetched the latitude and longitude data from the react-navigation screenProps and called

[2018-03-23 17:02] chen4393 commented on #2126
If I could not call setState() in componentWillMount(), how can I update the region state so that the map can get updated? Thanks.

[2018-03-23 20:53] julienR2 commented on #2108
I think @codypearce already offered a PR 👍(https://github.com/react-community/react-native-maps/pull/2121)
Good question about Apple logo.. I'll try to investigate a bit to see if it's needed (to be honest I don't even know if the apple logo has to appear on the map to respect the TOC). I'll check it out !

[2018-03-24 12:22] divyanshupathak94 opened #2128 "Error while trying to install pod file"
### Is this a bug report?

NO

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

YES

### Environment

react-native: 0.52.0
react: 16.0.0-alpha.12
react-native-maps: 0.20.1
Target Platform: iOS - 9.3.2

I am using **GoogleMaps**

### Steps to Reproduce

1. run command - `pod init` (inside iOS folder of plugin)

[2018-03-24 12:41] 95deepan commented on #249
I am getting this issue in iOS since react-native-firebase does not support !user_frameworks! and react-native-maps require !use_frameworks!

Can anyone help me?

[2018-03-24 14:09] xuho commented on #1907
@nealkarpe: Did you fixed this problem?

[2018-03-24 20:35] fedeghe commented on #1197
@alvelig worked for me.... thank You... I roamed too much for that

[2018-03-24 20:42] wbattel4607 commented on #2066
I've been wrestling with this one for a while. Unfortunately nothing in this thread has resolved it for me.

This only happens when pulling from master, which I have to do to get around https://github.com/react-community/react-native-maps/issues/2051

[2018-03-24 20:54] wbattel4607 commented on #2051
This is still holding us up. We've tried using the fix on master but #2066 is preventing us from doing so. @rborn @hrl7 when will a new version be released? There are a ton of changes on master but the last version was released 40 days ago.

We're stuck into a corner right now. React Native 0.53 has a debugging issue that prevents us from using it and we can't get react-native-maps working on 0.54

[2018-03-25 00:05] wbattel4607 commented on #2100
We're experiencing this as well on RN 0.54.

[2018-03-25 00:14] wbattel4607 commented on #2100
@lachenmayer I tried your fix and it works great. (only tested iOS). I hope this gets published soon!

[2018-03-25 06:43] Agontuk commented on #2100
Seems like it's only happening in RN 0.54, I also encountered this after upgrading.

[2018-03-25 07:27] Agontuk commented on #2100
@lachenmayer, your solution works fine. But I think it should be `_initialRegionSetOnLoad = _didMoveToWindow;` instead of `_initialRegionSetOnLoad = _didCallOnMapReady;`. Can you check if it works ?

[2018-03-26 08:35] lachenmayer commented on #2100
That also works - why do you prefer this?

[2018-03-26 08:38] Anandks1993 opened #2129 "Is there any option to render map with default zoom ?"
### Is this a bug report?

No

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    react-native: 0.54.2
    react: 16.0.016.3.0-alpha.1
    react-native-maps: https://github.com/react-community/react-native-maps.git

Is there an option to render the map with default zoom option ? I chec

[2018-03-26 09:17] kay-es commented on #2076
+1 got the same issue.

[2018-03-26 13:07] jarmlaht commented on #2064
I have the same issue in android, the command "react-native bundle --platform android --dev false --entry-file index.js --bundle-output android\app\src\main\assets\index.android.bundle --assets-dest android\app\src\main\res\" seems to work just fine. I don't use AirMap at all in my code, I use MapView. When I try to show the screen using MapView, I get the same error message as shown above.

[2018-03-26 13:34] rborn commented on #2129
@Anandks1993  The zoom is controlled by longitudeDelta and latituteDelta.

[2018-03-26 13:40] Anandks1993 commented on #2129
@rborn Thank you 🤝

[2018-03-26 13:40] #2129 closed

[2018-03-26 13:59] rborn commented on #1678
@Luckygirlllll can you try with the git version?

[2018-03-26 14:00] rborn commented on #2124
Please try the git version

[2018-03-26 14:08] rborn commented on #2108
@julienR2  merged #2121 🎉
Can we close this issue or should I wait for you to see the Apple stuff? 🤗

@AliSarraf  see #2121

[2018-03-26 14:13] rborn commented on #249
@95deepan  Where do you see in the https://github.com/react-community/react-native-maps/blob/master/docs/installation.md#ios---cocoapods  ` !use_frameworks!` ?

[2018-03-26 14:16] rborn commented on #2051
@wbattel4607 I don't control the releases sadly :(
@christopherdro does but I think he's overloaded atm as he's not responding.

[2018-03-26 14:45] christopherdro commented on #2051
Hey there. Right now I am pretty backed up with work so what is mainly limiting me from doing a release is putting the release notes together.

If someone from the community can create the release commit as a PR I'll be more than happy to merge and do a release. Here is a reference commit to what needs to be changed for a new release.

https://github.com/react-community/react-native-maps/commit/0d

[2018-03-26 15:51] Agontuk commented on #2100
Because in iOS, map is ready long before the `onMapReady` event is triggered. So we can set the initial region right away when view moved into the window.

[2018-03-27 01:48] DavidNorena commented on #2064
@aniiskywalker  yeah I know what you are talking about. The thing is that starting a project from scratch wasn't the real solution, as soon as I started using [wix/react-native-navigation](https://github.com/wix/react-native-navigation) I found that again I had the issue, so after a good time searching I found that I had to change the following steps:

1. I had to remove **new MapsPackage()** from

[2018-03-27 05:11] sujitpk-perennial commented on #718
For me the issues was related to frameworks. So I was added explicitly google frameworks in frameworks folder. After removing it, error is gone

[2018-03-27 06:02] julienR2 commented on #2108
@rborn Nice ! Thanks 👍
I checked and it is also necessary to let the "legal" label visible on IOS.. But good new is it act as GM, so the label moves with the paddings. So it should be all good already !

[2018-03-27 07:35] jarmlaht commented on #2064
@aniiskywalker Thanks for the tips! I tried the steps you suggested, I still get some errors. About getPackages() and createAdditionalReactPackages(), I get errors for the @Override annotation. Where are these methods coming from?

[2018-03-27 07:46] jarmlaht commented on #2064
Now after some struggle compiling works! I made several changes to the .gradle files, there were mismatches in the version numbers.

[2018-03-27 08:50] ou2s opened #2130 "Object.assign not behaving as before when updating the library"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

   react-native: 0.52.1
   react: 16.2.0
   react-native-maps: 0.20.1

### Steps to Reproduce

- Install the react-native-maps@0.20.1 via npm/yarn
- Use Object.assign with a prototype object like below
`Obje

[2018-03-27 09:07] rborn commented on #2130
@ou2s What does this have to do with `react-native-maps`?

[2018-03-27 09:44] #2108 closed

[2018-03-27 09:51] rborn commented on #73
@hegelstad as soon as a community member will put the effort into making it 😔

[2018-03-27 14:48] ou2s commented on #2130
@rborn I don't know but I don't have this issue with 0.17.1 and I have it with 0.20.1 so there is a link with the changes in the dependencies in the latest version of `react-native-maps`.

[2018-03-27 14:50] rborn commented on #2130
Without some code to see  what you are doing there we can't really help.

[2018-03-27 14:51] lachenmayer commented on #2100
Makes sense! I've made a PR with this change https://github.com/react-community/react-native-maps/pull/2131.

[2018-03-27 15:05] lachenmayer commented on #2128
Hi there, couple of things that could have gone wrong here:

1. Is the `react-native` dependency installed, ie. did you run `npm install`?
2. Is the path to the node_modules folder correct? ie. when you're in the `ios` folder, does running `cat ../node_modules/react-native/React.podspec` give you an error?

[2018-03-27 16:27] aniiskywalker commented on #2064
@DavidNorena that's right, that's how I have my mainApplication
`protected List<ReactPackage> getPackages() {
      // Add additional packages you require here
      // No need to add RnnPackage and MainReactPackage
      return Arrays.<ReactPackage>asList(
                 new MapsPackage()

      );
    }

    @Override
    public List<ReactPackage> createAdditionalReactPackages() {
      return

[2018-03-27 22:22] aMarCruz commented on #1975
@rodrigoic23 ...why not `this.props.pois.length` ?

[2018-03-28 03:39] sleeviin opened #2133 "zIndex is not working on IOS"
### Is this a bug report?

YES

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

YES

### Environment
react-native: 0.51.0
react: 16.0.0
react-native-maps: 0.20.1
I'm using iPhone 6s with the latest IOS Version

### Steps to Reproduce

I'm using Maps in order to show a lot of dynamic items, but some of these

[2018-03-28 08:22] todorone opened #2134 "iOS installation fails for RN 0.54.3 according to latest installation instructions"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

"react-native": "0.54.3"
"react": "^16.3.0-alpha.1"
"react-native-maps": "0.20.1"

Target Platform: iOS - 11.2 Simulator

### Steps to Reproduce

1. Add Podfile to ios directory
2. Run `pod install`(received

[2018-03-28 08:29] TarasDumych commented on #1671
@mafiusu => @KarlosQ solution works for me. But you also should set custom marker via `image` prop.

[2018-03-28 08:45] rborn commented on #2134
Try this part of the manual: https://github.com/react-community/react-native-maps/blob/master/docs/installation.md#on-ios

[2018-03-28 08:50] todorone commented on #2134
@rborn Deleting ios/build directory helped. Thanks for help.

[2018-03-28 08:50] #2134 closed

[2018-03-28 13:01] rborn commented on #2100
@lachenmayer merged #2131 , closing. 🤗

[2018-03-28 13:01] #2100 closed

[2018-03-28 13:15] martsie commented on #2133
There are some other issues that mention this:

https://github.com/react-community/react-native-maps/issues/1788
https://github.com/react-community/react-native-maps/issues/1671

**I think I have a hacky solution**
1. First I order markers in the zIndexes I want them to be in (so make sure you sort your markers array before mapping it to the screen).
2. Whenever you update markers, loop through yo

[2018-03-28 13:43] jvaclavik opened #2135 "Cropped overlay image when user changes zoom"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

[code]

iOS 11.2, iPhone and Simulator, AppleMaps

### Steps to Reproduce

Sometimes when I zoom in and zoom out of the map I cannot see rest of the image overlay. I don't know how exactly it happens but I f

[2018-03-28 22:02] #2095 closed

[2018-03-29 08:04] ou2s commented on #2130
Snippets are explicit and I cannot add code, but let's close this issue as I seem I'm the only complaining about it.

[2018-03-29 08:04] #2130 closed

[2018-03-29 10:01] gvlekke commented on #1862
still issues with the documentation doesn't work out of the box.  :(

get the error
`Requiring unknown module "undefined".`

I already did a yarn install and pod install.
Also the @import from google maps doesnt work without changing the module config in ios.

[2018-03-29 10:03] khadkaPratik opened #2137 "Build fail for google-signin package in react-native?"

[2018-03-29 10:10] #2137 closed

[2018-03-29 10:28] damathryx commented on #2124
getting the same problem with 0.16.1

[2018-03-29 10:40] Luckygirlllll commented on #2124
In may case this error, was because of problem in method getConstants() in  AirMapModule.java

I have changed this method to:

[code]

[2018-03-29 10:46] jerolimov commented on #2051
The master version works fine (for me). Whats holding back a new release?

[2018-03-29 10:47] rborn commented on #2051
@jerolimov this:  https://github.com/react-community/react-native-maps/issues/2051#issuecomment-376191505

[2018-03-29 13:49] aminvb12 opened #2138 "How to render a list of MapView with different coordinates in one page using FlatList Component"
I'm using below code but list of map not rendering:
/////////////////////////////////////////////////////////////////////////////

import React, { Component } from 'react';
import {
    Platform,
    StyleSheet,
    Text,
    View,
    ScrollView,
    Image,Dimensions,TextInput,FlatList
} from 'react-native';
import MapView from 'react-native-maps';
import Modal from "react-native-modal";
import I

[2018-03-29 13:51] rborn commented on #2138
No template on any type of information, closing

[2018-03-29 13:51] #2138 closed

[2018-03-29 13:58] aminvb12 commented on #2138
@rborn can you please help me about this issue?

[2018-03-29 14:01] rborn commented on #2138
@aminvb12 how can I help if you didn't even try to respect the simple requirement of filling the issue template. We are giving our free time to the community but you expect to be helped without putting any little effort into it. Sorry.

[2018-03-29 16:52] TarasDumych commented on #2125
@bkitduy I updated xcode to 9 version.

[2018-03-29 17:33] ravirajindi opened #2139 "Invalid region->longitudeDelta when east longitude < west longitude"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

### Steps to Reproduce

1) Integrate react-native-maps and include <MapView/> component in your view hierarchy.
2) Pass handler function to **onRegionChangeComplete** prop
3) Change your map region either by

[2018-03-29 18:10] TheoGit commented on #1798
Helped me tremendously - thanks

[2018-03-29 18:13] h3ll0w0rld123 commented on #2007
Awesome work! This saved me, I was working for hours and couldn't figure out why localtile didn't work.

I had a question about your tile fetching though. It looks like you make a separate request for each tile. For performance, I'm hoping to download a compressed file, then uncompress in one go. I see expo doesn't have that feature and using a different library would require a detachment. Do you

[2018-03-30 07:58] danielhq opened #2140 "Map zoom is different with provider="google" in iOS"
### Is this a bug report?

yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

yes

### Environment

    react-native: 0.52.0
    react: 16.2.0
    expo: 25.0.0
    react-native-maps: 0.19.0 or "git+ssh://git@github.com/react-community/react-native-maps.git"

### Steps to Reproduce
Add a Map to a View
`<Map

[2018-03-30 08:10] nisargrthakkar commented on #1480
any update on this?

[2018-03-30 09:17] halzahrani79 commented on #2140
I spent hours and hours trying to solve the longitudeDelta to discover minutes ago that there is a bug on ios when using google as provider , thank you for opening this issue

[2018-03-30 09:30] rborn commented on #1480
@nisargrthakkar have you read @theslyone example?

[2018-03-30 09:32] rborn commented on #2140
We merged #2131 two days ago, can you try with the last master (so the git version).

[2018-03-30 09:34] nisargrthakkar commented on #1480
@rborn Yes I read and try to implement but zoom in and zoom out is not properly working by custom button. I also read the comment and solved the issue with the code. But zoom in/out is not proper working.

[2018-03-30 12:39] noumanDev commented on #1972
@aniiskywalker  anyluck?

[2018-03-30 13:46] noumanDev commented on #375
Tried all the solution, but i am still facing
`Native component for "AIRMap" does not exist`

Followed the installation docs
1. npm install react-native-maps --save
2. use the same code in podfile and then run pod install
3. Then use the following code in my component
[code]

but still got the  "airmap" does not exist error

**And please someone explain me without react-native link react-native-ma

[2018-03-30 15:02] mickaelw opened #2142 "Auto zoom on user position on the device not on emulator (iOS)"
The MapView's props showsUserLocation and followsUserLocation are set on true.
I would like use an initialRegion with a big lat & long delta.

The emulator that's work great but when I build on my iPhone after the map loading, there is a zoom in on the user location and my deltas is ignored.

- RN 0.54
- RN Maps 0.20.1

[2018-03-30 15:02] nerdyzia commented on #1870
`<ImageBackground source={busMarker} style={{ width: 50, height: 50 }} onLoad={() => this.forceUpdate()}>
                                        <Text style={{ width: 0, height: 0 }}>{Math.random()}</Text>
                                    </ImageBackground>` works for me

[2018-03-30 15:17] Bassonlinho opened #2143 "Prevent Polygon intersecting?"
### Is this a bug report?

No

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

    react-native: 0.45.1
    react: 16.0.0
   react-native-maps: 0.16.2

### Steps to Reproduce

/

### Expected Behavior

Prevent Polygon from being line intersected while drawing.

### Actual Behavior

It's

[2018-03-30 16:21] jassonha21 commented on #1967
@rafaellincoln when will be this PR be included on the update?

[2018-03-30 16:33] rborn commented on #1967
@jass-trix it's in master merged with #2011 . Use the git version.

[2018-03-30 17:52] meylor opened #2144 "error: cannot find symbol UIBlock"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

yes

### Environment

[code]

### Steps to Reproduce

1. react-native run-android (works fine for ios)

### Expected Behavior

Expected project to build.

### Actual Behavior

Received the following errors:

[code]

[2018-03-30 19:48] Stophface opened #2145 "[ADVICE NEEDED] How to additional Java Library"
I want to bring more functionality to react-native-maps. In order to do that, I have to add an [additional Java library][1]. No I wonder where exactly am I supposed to add the Java library that it works with react-native-maps. Do I add here (in a newly created `lib` folder)
https://github.com/react-community/react-native-maps/tree/master/lib/android or somewhere else? How do I make it "known" to J

[2018-03-30 22:18] meylor commented on #2144
This appears to be the same issue as https://github.com/react-community/react-native-maps/issues/2090 , except that I'm not attempting to define a second maven url.

[2018-03-30 22:19] aniiskywalker commented on #1972
@noumanDev yeah, I opened an issue if you want to take a look [https://github.com/react-community/react-native-maps/issues/2064#issuecomment-376429299](#2064) i hope it helps

[2018-03-31 11:12] Daavidaviid commented on #1870
Still not working for me, even if Fresco seems to have been updated in the latest version.
I'm using Expo, and I still have the same issue being :

 Everytime I open the app and display the map for the first time, some Images in some custom Markers don't appear for no reason, like one Image appears in one marker but not in another one...

And when I go to another view, and then come back to the vi

[2018-03-31 15:35] GarimaMathur07 commented on #865
@alvelig I have about 600 markers. So, i am using https://github.com/novalabio/react-native-maps-super-cluster uses MapBox's SuperCluster as clustering engine. I am facing **Callout behind markers** issue. I am using `renderMarker` as follows:

[code]
[code]
Can you please suggest how can i resolve this issue.

[2018-03-31 15:39] GarimaMathur07 commented on #1844
@alvelig I have about 600 markers. So, i am using https://github.com/novalabio/react-native-maps-super-cluster uses MapBox's SuperCluster as clustering engine. I am facing **Callout behind markers** issue. I am using `renderMarker` as follows:

[code]
[code]
Can you please suggest how can i resolve this issue.

[2018-03-31 17:12] h3ll0w0rld123 commented on #2007
Also, looking at the source code, I believe the idea you suggested is not possible because the loading has to be done on the native side, not javascript. If so, I think this issue can be closed?

[2018-04-01 00:58] wbattel4607 commented on #2051
I guess I'll make a PR then... ¯\_(ツ)_/¯

[2018-04-01 08:05] GarimaMathur07 opened #2147 "Mapbox/Super Cluster: Callout behind markers"
### Is this a bug report?

(No)

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

(Yes)

### Environment

react-native: 0.45.1
react: 16.0.0-alpha.12
react-native-maps: 0.17.0
AppleMaps
### Steps to Reproduce

I have about 600 markers. So, i am using https://github.com/novalabio/react-native-maps-super-cluste

[2018-04-01 10:54] danielgindi opened #2148 "padding/paddingAdjustmentBehavior causing weirdness in coordinates/points in Google Maps (iOS only)"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native: 0.54.4
react: 16.3.0
react-native-maps: 0.20.1
Target: iOS 11 Simulator
Provider: Google Maps

### Steps to Reproduce

1. Add a *native* navigation controller (i.e react-native-navigation)
2. M

[2018-04-01 20:00] starba3 opened #2151 "estimated arrival time (question)"
does mapview provide function to calculate estimated arrival time between 2 latlng objects?
if not is there any other to get the function.

[2018-04-01 21:01] markmssd commented on #2151
You will probably need to use Google's Directions service for this.

[2018-04-01 21:03] markmssd commented on #2151
https://github.com/bramus/react-native-maps-directions might also be useful to you.

[2018-04-01 21:20] starba3 commented on #2151
will try, if it didn't work well i will just use
Distance Matrix through fetch api.
thanks for quick response

[2018-04-02 00:44] rpicking opened #2152 "Building Crashes With Error"
### Is this a bug report?

Yes

### Environment

"react": "16.3.0-alpha.1",
"react-native": "0.54.4",
"react-native-maps": "^0.21.0"

Target Platform: android

### Steps to Reproduce

1. Create new project with react-native init
2. npm install --save react-native-maps
3. Follow installation steps
4. react-native run-android
5. Build crashes

* What went wrong:
A problem occurred evaluating project

[2018-04-02 02:56] wbattel4607 commented on #2152
I'm guessing https://github.com/react-community/react-native-maps/pull/2096 is what's causing it.

See what happens if you revert those changes yourself. You can do this by navigating to node_modules/react-native-maps/lib/android/build.gradle and changing

these lines
[code]
to
[code]
and see if the project builds.

[2018-04-02 06:57] noumanDev commented on #1798
@TheoGit which solution worked for you?

[2018-04-02 09:42] rborn commented on #2152
@rpicking did you update your gradle ? https://github.com/react-community/react-native-maps/pull/2096#issuecomment-376877553

[2018-04-02 09:42] rborn commented on #2151
Closing, no template, not a real issue.

[2018-04-02 09:42] #2151 closed

[2018-04-02 09:53] rborn commented on #1844
@GarimaMathur07 please don't post the same question in multiple posts, once should be enough.
Also you pinged @alvelig multiple times, imagine how many emails he receives - he, like everybody else here is trying to help in our free time, so please respect this 🤗

[2018-04-02 09:56] rborn commented on #2144
@meylor ` "react-native-maps": "^0.16.4",`? we're at 0.21.0 now. Try to update please.

[2018-04-02 09:57] rborn commented on #2145
@Stophface no template, I'll close the issue till you update it.

[2018-04-02 09:57] #2145 closed

[2018-04-02 09:59] noumanDev commented on #2064
**Environment**
	react-native : 0.53.0
	react :16.2.0
	react-native-maps : 0.21.0

**Followed the installation steps**

1. npm install react-native-maps —save
2. added code to cocoa pods
3. then run pod install
4. added code in appdelegate.m
5. Did not run react-native link react-native-maps
6. added code in app .js
[code]
7. After all these steps then i run the app and following error shows

![](

[2018-04-02 10:17] havinhthai commented on #2152
Same problem

[2018-04-02 10:18] prathammehta commented on #2105
Hey,
Sorry for the delayed response.

`react-native-maps` version is 0.20.1
`Google play services` are set to 11.8.0

Still doesn't work.

[2018-04-02 10:34] havinhthai commented on #2152
Fixed, thanks @wasa4587

[2018-04-02 10:34] havinhthai commented on #2152
Fixed, thanks @wbattel4607

[2018-04-02 11:15] GarimaMathur07 commented on #1844
@rborn Apologies for the inconvenience!!

Can you please help me out with this issue.

[2018-04-02 11:42] rborn commented on #1844
I sadly don't know 😔

[2018-04-02 12:55] alvelig commented on #2147
[code]
Use maps from master and let us know.

[2018-04-02 12:57] alvelig commented on #1844
@GarimaMathur07 in your issue you say that you use version 0.17.0. Update your version (to master branch) and let us know.

[2018-04-02 14:51] wbattel4607 commented on #2152
Everyone upgrading to version 0.21.0 will need to upgrade their gradle to 3.0.0+ as described [here](https://github.com/react-community/react-native-maps/pull/2096#issuecomment-376860933).
---
@havinhthai no problem

[2018-04-02 15:13] aniiskywalker commented on #2064
@noumanDev Hello! I’m checking if I miss something with my installation but no, when you add .../ios/Pods/Headers/Public/react-native-maps you are adding AirMaps (because that path contains AirMap.h). I don’t want to sound basic but have you tried erase cache? Believe me, I tried everything ☹️. Also, maybe you have to add the condition for “yoga” cuz when I try to run in a real device (from Xcode)

[2018-04-02 15:18] wbattel4607 commented on #2105
Okay. Can you share the code for you MapView component?

Also, a new version of react-native-maps was just recently published. Try updating to v0.21.0. (Note that this will require Gradle version 3.0.0 or greater. See [here](https://github.com/react-community/react-native-maps/pull/2096#issuecomment-376860933).)

[2018-04-02 15:56] TheoGit commented on #1798
@jiteshwadia solution with the coco Pods, sadly now my Permissions and Orientation packages don't work - I'm going to delete my Node_Modules and use my package.json from a previous project - good luck

[2018-04-02 16:22] noumanDev commented on #2064
Will try it tomorrow inshAllah

[2018-04-02 17:18] jeffreymendez1993 commented on #1810
Experiencing this as well. Tried to animate to center pos before the callout is opened and no luck.

[2018-04-02 17:35] meylor commented on #2144
@rborn okay, upgraded to `"react-native-maps": "^0.21.0",` as well as the gradle classpath to `3.0.1`.
I had tried upgrading before, but still seeing the same issue after upgrade.
[code]

[2018-04-02 19:14] jeffreymendez1993 commented on #1031
There is still a cpu problem on the latest build.

[2018-04-02 19:26] jeffreymendez1993 commented on #1031
tracksViewChanges does not help and I am using the latest maps and react-native v 0.53.0

[2018-04-02 21:07] vitto-moz commented on #1748
I stack also on this issue.
I have about 30 markers on map situated in different parts of a world map.
So my goal is to zoom out until they are shown all. But map can't be zoomed out more than 20.
What can be a workaround?

[2018-04-02 22:46] jeffreymendez1993 commented on #361
needs to be fixed not. Currently callout opens twice and isnt that smooth.

[2018-04-02 23:20] dfed opened #2153 "Address CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF warnings surfaced in Xcode 9.3"
### Is this a bug report?

Yes.

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native-maps iOS: 0.21.0

### Steps to Reproduce

(Write your steps here:)

1. Integrate react-native-maps into an iOS project on Xcode 9.3
2. Turn on `CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF` warnings (a

[2018-04-03 00:16] xempie opened #2155 "The app crashes after reinstalling the react-native-maps 0.21.0"
### Environment

    react-native: 0.54.0
    react: 16.0.0
    react-native-maps: 0.21.0
   Target Platform:  Android 7.0 Galaxy S6

### Expected Behavior

I'm using the react-native-maps for about a year and I never had such an issue but I recently reinstalled it but my app crashes when I use <MapView> component.
There is no change in my code but just I reinstalled the library and did all the st

[2018-04-03 03:06] outaTiME commented on #1620
So? any update?
im dealing with this issue on iOS the onRegionChangeComplete method fires intermittently but on Android fires according each region update.

Any way to achieve that? thanks !!!

[2018-04-03 03:14] outaTiME commented on #1557
Hi @EricPKerr, in need to intercept the user interaction to display "center" button like google maps on navigation, do you achieve that ?

Thanks !

[2018-04-03 03:20] havinhthai commented on #2155
Did you update your gradle to 3?

[2018-04-03 03:44] pnthach95 opened #2156 "Unknown error when add Callout"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native: 0.48.4
react: 16.0.0-alpha.12
react-native-maps: 0.21.0

### Steps to Reproduce
I try to add Callout

[code]

### Expected Behavior

Show Callout when press marker

### Actual Behavior

I get t

[2018-04-03 06:21] EricPKerr commented on #1557
We did with mapbox - left this library awhile ago.

[2018-04-03 06:48] farazzaidi95 opened #2157 "React-native map can't show"
![erroe](https://user-images.githubusercontent.com/38029800/38233707-e715f3d2-3734-11e8-80fb-9848a68e9658.png)

[2018-04-03 06:49] farazzaidi95 commented on #2157
please help
i'm stuck at here

[2018-04-03 07:14] vikrantnegi opened #2158 "Android dependency 'com.android.support:support-v4 error"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

 "react": "^16.3.0-alpha.1",
    "react-native": "0.54.4",
    "react-native-maps": "^0.21.0"

### Steps to Reproduce
I followed the steps for adding the react native maps to android and I'm getting the foll

[2018-04-03 07:50] rborn commented on #2157
Closing, no issue template

[2018-04-03 07:50] #2157 closed

[2018-04-03 07:57] rborn commented on #2156
Your Callout has 2 Texts inside, try to add a single child ( or a wrapper View around the texts)

[2018-04-03 08:00] rborn commented on #2155
- If it crashes it should have some logs, try to get some
- gradle neeeds to be updated to 3 (there are 2 places you need to be sure things are changed - https://github.com/react-community/react-native-maps/pull/2096#issuecomment-376877553)
- run a `gradle clean` (in your android folder)

[2018-04-03 08:07] pnthach95 commented on #2156
No luck with that. Still get the same error.

[2018-04-03 08:11] rborn commented on #2144
Be sure gradle change is in both places as per https://github.com/react-community/react-native-maps/pull/2096#issuecomment-376877553 and run a `gradle clean` in your android folder.

[2018-04-03 10:09] GarimaMathur07 commented on #2147
Thanks for the reply 👍 Is there any workaround in `react-native-maps: 0.17.0`  for support of `react-native 0.45.1` using zIndex.

[2018-04-03 10:15] rborn commented on #2143
This is outside the scope of this module. Closing.

[2018-04-03 10:15] #2143 closed

[2018-04-03 10:17] GarimaMathur07 commented on #1844
Thanks for the reply 👍 I'll try with master branch then let you know about the scenarios.

[2018-04-03 10:19] rborn commented on #2013
Closing, as the issue was `use_frameworks`  which for now it's not supported.

[2018-04-03 10:19] #2013 closed

[2018-04-03 10:49] xempie commented on #2155
I found the issue
needed to use google play services base v11.0.4 instead of 10.0.1
also complile sdk version 27.0.3

[code]

[2018-04-03 13:04] radubatori opened #2159 "0.21.0 iOS build failed when Google Maps are not included"
### Is this a bug report?
Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?
Yes

### Environment
react: 16.3.0
react-native: 0.54.4
react-native-maps: 0.21.0
iOS only, without Google Maps

### Steps to Reproduce

### Expected Behavior
The build succeeds.

### Actual Behavior
The iOS build crashes with `AIR

[2018-04-03 13:11] rborn commented on #2159
@radubatori did you remove from podfile all the Google references as per installation instructions?
You might also need to clean your xcode project and run pod install again if you had the google refs on before.

[2018-04-03 13:14] radubatori commented on #2159
I did not use Google Maps from the star, so the podfile does not reference 'react-native-google-maps' or 'GoogleMaps'.
The same result is obtained if I do not use pods and add AirMaps as a library directly.

[2018-04-03 13:34] rborn commented on #2159
@rafaellincoln could you please have a look? 🤗

[2018-04-03 13:45] jassonha21 commented on #1542
@alvelig does on region change complete always return the centre of the map?

how can i add the `fake` marker?

just add some image and put it on the centre of the map?

[2018-04-03 13:48] pnthach95 opened #2160 "Marker's description don't change instantly"
### Is this a bug report?

Yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react-native: 0.48.4
react: 16.0.0-alpha.12
react-native-maps: 0.21.0

### Steps to Reproduce

[code]

### Expected Behavior

When I press a marker, it will get data from server and setState(data), decriptio

[2018-04-03 14:25] mafiusu commented on #1810
You should comment this lines like in my post above. This will solve the issue.

https://github.com/react-community/react-native-maps/issues/1810#issuecomment-372681667

[2018-04-03 14:33] alvelig commented on #1542
@jassonha21 region change complete returns coordinates of the region. I don't see any situations where it may not be the same as the center of the map with this current region.

If you need a marker, you put a marker, as it is bound to coordinates. If you need something in the center of your map, you put in the center of the screen

[2018-04-03 14:40] Areeeb commented on #1756
I am also facing similar kind of issue with weird behavior, when i run the project, the screen is blank, and when i navigate somewhere else and then come back, map shows up but it doesn't respond to any tap gesture. Need help....

[2018-04-03 14:41] TheWrongAlice commented on #2159
I just upgraded from 0.20.1 to 0.21.0 and I appear to be having this issue as well.

[2018-04-03 15:04] rafaellincoln commented on #2159
@radubatori I could not simulate the error, can you help me simulate this error?

I created a repository to perform the tests.
https://github.com/rafaellincoln/rn-maps-ios

[2018-04-03 15:34] wbattel4607 commented on #2066
@benseitz I uninstalled the library and reinstalled it. This fixed it for me because I was using an older integration method from an older version. They updated the recommended installation method and I used that to reinstall using Coacoapods and it worked just fine after that.

[2018-04-03 15:38] benseitz commented on #2066
@wbattel4607  Thanks! unfortunately, I don't really remember what kind of files I had to edit to install it, so uninstalling is going to be a challenge.

[2018-04-03 15:40] wbattel4607 commented on #2066
@benseitz how is it installed currently? Did you manually add the AirMaps and AirGoogleMaps directories to the Xcode project? Or is it installed by some other method?

[2018-04-03 15:42] benseitz commented on #2066
@wbattel4607  I installed it with cocoapods, but had some issues, I resolved by adding lines to some files (e.g. 'AppDelegate.m`). I just looked for the commit and am reversing every step now.

[2018-04-03 15:47] radubatori commented on #2159
Thank you for your support, but meanwhile I had to downgrade to 0.20.1 because of gradle 4 incompatibilities with some of my project's dependencies.

Still, I suspect the issue occurs only when having the AirMaps library linked directly and I somehow missed that during the upgrade. However, even if this installation mode is not officially supported, it still works fine with version 0.20.1 (at leas

[2018-04-03 19:25] majidln opened #2162 "how to change map language???"
### Is this a bug report?

(write your answer here)

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1. 2. 3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened

[2018-04-03 19:42] TheWrongAlice commented on #2159
Should I open an issue of my own? I'm not sure if the bug i'm experiencing is the same or different.

[2018-04-03 19:43] farazzaidi95 opened #2163 "Map Can't Show"
![erroe](https://user-images.githubusercontent.com/38029800/38271867-0e84bcde-37a1-11e8-887c-119609ac4712.png)

[2018-04-03 19:43] farazzaidi95 commented on #2163
i need any solution ???
Please help guysssss

[2018-04-04 02:34] pnthach95 commented on #2156
I just moved Callout below View, problem solved.

[2018-04-04 02:34] #2156 closed

[2018-04-04 02:43] juliancorrea commented on #1175
In my case, it was missing <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>.

[2018-04-04 06:38] radubatori commented on #2159
@TheWrongAlice If running `sed -i '' '/Google.*\\.[h|m]/d' node_modules/react-native-maps/lib/ios/AirMaps.xcodeproj/project.pbxproj` (macos) will fix your problem, then it's probably the same issue.

[2018-04-04 07:14] danielhq commented on #2140
@rborn I tried the last version (sdk 26) and it's working now.

[2018-04-04 07:14] #2140 closed

[2018-04-04 09:31] Ukiand1 commented on #2051
So there was an update for react, react-native and react-native-maps, the configuration that is **currently working** for me is:

[code]
**Also I added additional things to make project work**

_your-project/android/build.gradle_

[code]

I used the old way of implementation (not the recommended project-wide properties)

_your-project/android/app/build.gradle_

[code]

and the last thing I changed

[2018-04-04 10:09] rborn commented on #2163
no template, closing

[2018-04-04 10:09] #2163 closed

[2018-04-04 10:10] rborn commented on #2162
no real information, empty template, closing

[2018-04-04 10:10] #2162 closed

[2018-04-04 11:35] GarimaMathur07 commented on #1810
I am facing the same issue and i have commented out the lines like in post above but it does not resolve. I am using the custom callouts and when marker close to edge of screen then its callout aligns left and right with padding but not in centered.

[2018-04-04 12:50] #2155 closed

[2018-04-04 14:43] AdrianMrn commented on #1870
@nerdyzia Are you doing anything special in your ImageBackground component or busMarker variable? Your solution isn't working for me.

[2018-04-04 17:35] rpicking commented on #2152
Sorry for delay upgrading gradle fixed the issue

[2018-04-04 17:47] stereu commented on #967
Not working, won't show the markers in your example. Any Ideas? Using react-native 0.54.4

[2018-04-04 17:55] meylor commented on #2144
@rborn thanks for the help. I narrowed down to the issue. I had been testing a fork of `react-native` using an `ssh+git` url rather than a version. Although, I was testing against upstream ` "react-native": "^0.54.2"` some artifact was getting left behind when I switched between the fork and upstream causing this weird issue.

[2018-04-04 17:55] #2144 closed

[2018-04-04 18:51] stereu opened #2164 "Markers from KML-File not showing"
### Is this a bug report?

YES

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

YES

### Environment

    react-native: 0.54.4
    react: 16.3.1
    react-native-maps: 0.21.0 / Google Maps

### Steps to Reproduce

Started the Example (AirMapsExplorer), selected GoogleMaps mode and clicked "Load Map with KML"

[2018-04-05 01:19] meylor commented on #2159
I ran into the same issue using:

[code]

without having the GoogleMaps headers configured for iOS. Fixed by applying the`.patch` file below to `react-native-maps` tag `v0.21.0` during postinstall.

https://gist.github.com/meylor/442cf17ae6ff6213b358866dde4f5b77

The sed command didn't fix the issue for me.

[2018-04-05 04:05] zzimbler commented on #967
@stereu My example or @rafaellincoln PR? You should add context to your comments and be slightly more thorough. Saying it won't/doesn't work isn't exactly useful. Perhaps logs, code snippets, etc included would be wise next time around

[2018-04-05 04:29] ddnov commented on #1480
just Ctrl+left click on mouse.

[2018-04-05 07:03] nerdyzia commented on #1870
@AdrianMrn  no nothing. bus marker is
`import busMarker from '../images/bus_marker.png';`
Hope its helps you.

[2018-04-05 09:15] rborn commented on #2152
Closing as fixed

[2018-04-05 09:15] #2152 closed

[2018-04-05 09:30] aksonov commented on #1031
+1. Please reopen the issue - I see high CPU load with tracksViewChanges disabled.

[2018-04-05 09:38] compojoom commented on #1031
I'm on RN .55 with rn-maps .21 - our iOS version of the app uses google maps and I don't see any load on the CPU. Have you guys properly set tracksViewChanges to false on the Marker?

[2018-04-05 09:39] aksonov commented on #1031
I'm using RN0.53, didn't done upgrade yet, are you sure that it could be RN-version related?

[2018-04-05 09:41] compojoom commented on #1031
I doubt it. We were previously on .51 with rn-maps .19 - and it was working fine

[2018-04-05 09:44] aksonov commented on #1031
Oh, looks like I didn't change one marker. Now CPU usage is gone, but I don't see any markers visible - what is the best way to use `trackViewChanges`?

[2018-04-05 09:49] compojoom commented on #1031
I'm not sure on the best way, but here is what I do.
I have a marker Component that renders <MapView.Marker> with tracksViewChaganges set to true.

On ComponentDidUpdate I set a timeout of 400ms and set tracksViewChanges to false.

I set trackViewChanges again to true when the component is receiving props. Once the component rerenders the componentDidUpdate is triggered again and after 400ms the t

[2018-04-05 10:03] aksonov commented on #1031
@compojoom Works well, thanks! But I'm not sure it is good fix and looks like react-native-maps Marker could do this (setting tracksViewChanges) by itself

[2018-04-05 11:34] hegelstad commented on #2044
@alvelig Is it possible to keep the native marker and add a react component beneath or above the marker (much like a always on callout for each marker)? Ideally moving itself to avoid borders?

[2018-04-05 12:30] hegelstad opened #2166 "Keep native pin when adding React element to markers"
### Is this a bug report?

No, more like a feature request.

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes.

### Environment

[code]

### Steps to Reproduce

1. Added marker.
2. Want custom marker which looks similar to a marker with the default `Callout` but "Always-On".
3. Callouts cannot be always o

[2018-04-05 12:40] Xaus commented on #2155
i have the same problem when turning on   showsUserLocation={true} above solutions didn't work :-(

[2018-04-05 13:44] BatDroid opened #2167 "App Crashes when MapView.Circle center longitude is 181"
### Is this a bug report?

yes

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

yes

### Environment

    react-native: 0.48.2
    react: 16.0.0-alpha.12
    react-native-maps: 0.21.0

### Steps to Reproduce

(Write your steps here:)

1. followed the [installation instructions](https://github.com/react-commu

[2018-04-05 14:51] TheWrongAlice commented on #2159
@meylor I got some type of error running that patch. Now I got 33 new build errors. Did I use it wrong?
[code]

[2018-04-05 14:54] 1hndrxx commented on #2126
Hi. I have the same issue. Have you found a fix? Thanks

[2018-04-05 15:19] mauritsd commented on #1031
I fixed this by exposing the google maps icon marker property to RN (using the patch from #1491). In the majority of use cases (i.e. you just want a custom marker image) this is sufficient, and much simpler to boot.

[2018-04-05 15:27] arichnad commented on #2159
Can you reopen this ticket?  I'm also having this problem.  The sed line that @radubatori suggests does fix this problem for me. (@radubatori you should remove one of the backslashes in your sed line)

[2018-04-05 15:40] CharlesPillet opened #2168 "ke .."
### Is this a bug report?

(write your answer here)

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

(Write your answer here.)

### Environment

### Steps to Reproduce

(Write your steps here:)

1. 2. 3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happened

[2018-04-05 16:12] radubatori commented on #2159
I've reopened the issue, but I cannot provide a clean environment to reproduce it.

@arichnad The extra backslash is there to escape the backslash in `package.json`. If the command is ran directly, then yes, one backslash has to be removed.

[2018-04-05 17:14] meylor commented on #2159
@TheWrongAlice are you using `react-native-maps: 0.21.0` ?

[2018-04-05 19:12] HalvorMjoen commented on #2076
+1

[2018-04-05 22:04] TheWrongAlice commented on #2159
@meylor Yes that's right.

[2018-04-05 22:31] meylor commented on #2159
@TheWrongAlice here are the versions from my `package.json`
[code]

postinstall.sh is is just doing `patch -p1 < $patchfile` ; perhaps you're not having the same issue?

[2018-04-06 00:56] alvelig commented on #2044
@hegelstad didn't get your idea. Place native marker and another one with offset?

[2018-04-06 07:05] hegelstad commented on #2044
@alvelig yes. https://github.com/react-community/react-native-maps/issues/2166

[2018-04-06 08:18] TheWrongAlice commented on #2159
@meylor I got your solution to work now (I guess I was doing something wrong the first time).
My build is succeeding! :balloon:
I hope that this can be fixed in the master branch soon.

[2018-04-06 09:12] prathammehta commented on #2105
This is the code for the `MapView` component:

`
       <MapView
          style={{position:'absolute', height:'100%', width:'100%'}}
          initialRegion={{
            latitude: currentLocation.coords.latitude,
            longitude: currentLocation.coords.longitude,
            latitudeDelta: intitialMapDelta,
            longitudeDelta: intitialMapDelta,
          }}
          showsUserLoca

[2018-04-06 09:35] rborn commented on #2159
@radubatori @rafaellincoln @meylor could you guys collaborate and make a PR to solve this issue 🤗 ❤️

[2018-04-06 09:37] rborn commented on #2168
?

[2018-04-06 09:37] #2168 closed

[2018-04-06 09:38] hlbp commented on #2159
@TheWrongAlice  what are you doing wrong? i have the same problem like you.  im getting

`Helmers-Mac:react-native-maps helmer$ patch -p1 < react-native-maps-remove-google-support.patch
patching file ./lib/ios/AirMaps.xcodeproj/project.pbxproj
patch unexpectedly ends in middle of line
Hunk #4 succeeded at 240 with fuzz 1.
 `

[2018-04-06 09:57] prathammehta commented on #2105
I've also updated to v0.21.0 and Gradle 3.0.1
Experiencing the same problems.

[2018-04-06 10:25] Xaus opened #2169 "when set showsUserLocation true app crashes"
### Is this a bug report?
     yes
### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?
     yes
### Environment
    react-native: 0.54.4
    react: 16.3.0-alpha.1
    react-native-maps: 0.21.0
### Steps to Reproduce
1 - install react native 0.54.4 and react native maps 0.21.0 by instructions and set api key.
2 -

[2018-04-06 13:18] deorukhkarchaitanya commented on #2169
Hi @Xaus. I'll look into it and get back to you as soon as I can. I think you already found a solution to fix your crash. Thanks for reporting.

[2018-04-06 13:30] ahmetabdi commented on #2088
Same issue here

[2018-04-06 15:55] sfyfe31 opened #2170 "Use of "showsUserLocation" rejected by Apple because message not specific enough"
### Is this a bug report?

Half a bug, half a feature request

### Have you read the [Installation Instructions](https://github.com/react-community/react-native-maps/blob/master/docs/installation.md)?

Yes

### Environment

react: 16.3.0-alpha.1
react-native: 0.54.0
react-native-maps: ^0.21.0

### Steps to Reproduce

iOS App Store build was rejected because the request user's location message was

[2018-04-06 17:50] JCMais commented on #2159
Same issue here, using the patch mentioned by @meylor fixed it for me.

[2018-04-06 18:15] wbattel4607 commented on #2105
How come your `provider` prop has that ternary? Your setting the provider to `null` on Android, which may or may not be causing the problem.

Replace `provider={Platform.OS == 'ios'?PROVIDER_GOOGLE:null}` with `provider={"google"}` and see if it helps.