[2016-01-13 08:10] deanmcpherson opened #1 "Installation instructions"
Hey @lelandrichardson, Is it possible to get this running from an npm install?

[2016-01-13 16:58] christopherdro commented on #1
Yes, I tried it last night. Both iOS and android run but have a few crashes on specific examples.

[2016-01-13 17:00] christopherdro opened #2 "Plans on creating library"
Hey there,

First off, great work! I haven't had a chance to dig too much but overall the looks very thorough and well coded. I was just curious of what your plans are with this project?

I've been working with the mapbox library for the last 2 weeks for a project but has started to become a hassle so am looking for an alternative map library to use for our companies project.

I, along would other

[2016-01-13 17:19] gendronb opened #3 "No map displayed"
Installation and compilation work fine, but nothing is displayed (neither tiles or markers or shapes) on Android

[2016-01-13 17:22] lelandrichardson commented on #1
This repo is not meant to be a consumable module via npm... it is/was mostly a staging area until I get it ready to merge into RN.  I should probably explicitly mention this in the README.

If there is a lot of demand for this component for people that can't wait for 0.19 or won't be able to upgrade, i can probably release this as a standalone as well...

@christopherdro did any examples other tha

[2016-01-13 17:23] lelandrichardson commented on #2
Hey @christopherdro, as I mentioned in the other issue, the goal here is to get this merged into RN proper. If that does not happen, I have no problem exposing this as a library. In fact, it might make sense to do so anyway?

[2016-01-13 17:24] lelandrichardson commented on #3
@gendronb hmm. That's a bit worrisome. Are there any errors or console output?

[2016-01-13 17:26] christopherdro commented on #2
I could imagine it taking some time to get merged into RN proper. Have you already talked to anybody about that already @nicklockwood Would be the best person to reach out too if you haven't already.

I'm just stuck on making a choice on what to use moving forward with this project since we need something that will be production ready in 4-5 months.

Exposing it as a library would help just to get

[2016-01-13 17:29] christopherdro commented on #1
On top of my head it was a issue with `Animate.multiply` complaining that multiply was not a function.

@lelandrichardson So is this slated for 0.19?

[2016-01-13 17:29] gendronb commented on #3
I get 3 warnings :

1. Native component for "RCTMap" does not exist
2. Native component for "RCTModalHostView" does not exist
3. Native component for "RCTWebView" does not exist

[2016-01-13 17:36] nicklockwood commented on #2
It looks like you support a similar feature set to our existing iOS MapView, but with a bunch of functionality not yet available in Android.

To merge it in, we'd first need to try to unify the API with what we already have in iOS, so we don't break existing apps. After that we could probably merge in the Android stuff fairly painlessly.

[2016-01-13 17:40] lelandrichardson commented on #2
I discussed it a bit with brent vatne and some others, and they seemed okay with merging this in as a breaking change with a code mod to upgrade apps. The feature set should cover everything that's currently in the MapView, it's just a different API. I know that Vjeux has mentioned that a child-based API like the one this one has would be preferred moving forward.

There is a possibility we could

[2016-01-13 17:41] lelandrichardson commented on #2
nevertheless, I do think that publishing this repo on NPM in the near-term is not a bad idea. The main thing is that animations will not work properly, as `AnimatedRegion` is required to be added to `AnimatedImplementation.js`

[2016-01-13 17:41] lelandrichardson commented on #3
hmm. Those warnings are always there, are they not? They shouldn't have anything to do with this library.

[2016-01-13 17:43] lelandrichardson commented on #1
Ahh. Gotcha. Yeah - in order to get this app up and running, you will need to expose `AnimatedRegion` in `AnimatedImplementation.js` as well as include the `Animated.multiply` which is in 0.18.  I will put instructions in the readme...

[2016-01-13 17:58] gendronb commented on #3
@lelandrichardson : You're probably right about the warning...

Also, it does not work at all on the Android emulator (on Windows).

As I said before, the samples seem to be working OK, but the maps are always blank (no map tiles, no overlays), see attached screenshot.

![screenshot_2016-01-13-12-54-30](https://cloud.githubusercontent.com/assets/1242289/12302809/22a97802-b9f5-11e5-9b1a-49cdc4345f8

[2016-01-13 17:59] lelandrichardson commented on #3
This may be API key related?  If it is, we should figure out where we can surface an error that's more helpful.

[2016-01-13 18:16] gendronb commented on #3
Yep, you were right,I was missing a valid API key.

Works great now, wow!

Excellent work, thanks @lelandrichardson for your help!

[2016-01-13 18:16] #3 closed

[2016-01-13 18:20] lelandrichardson commented on #3
Oh, great! Thanks for getting it figured out. I will add to my list providing a nice redbox screen whenever an API key is missing / invalid.

[2016-01-13 18:58] christopherdro commented on #2
@lelandrichardson Going to be looking through this today. Let me know if I can help in any way.

[2016-01-13 19:05] lelandrichardson commented on #2
@christopherdro right now there are two things that are missing/broken on the android side:

1. The `image` prop on the `<Mapview.Marker />` component is supposed to work like this:

[code]

This currently works for iOS, but doesn't for android. I've tried but can't seem to get it working.

2. When rendering views to bitmaps in android to be placed on the map, it seems to render views with transpa

[2016-01-13 19:19] christopherdro commented on #2
@lelandrichardson I  get error when trying to load an example from android.
`Attempt to invoke virtual method 'void com.google.android.gms.maps/GoogleMap/sms/maps/GoogleMap$InfoWindowAdapter)' on a null object reference`

Error is coming from:
https://github.com/lelandrichardson/react-native-mapview/blob/master/android/app/src/main/java/com/rn_mapview/AirMapView.java#L66

[2016-01-13 19:21] lelandrichardson commented on #2
@christopherdro which example are you loading?

[2016-01-13 19:25] christopherdro commented on #2
All examples besides "Custom Markers" and "Animating with MapViews".

Error on Animated is what we discussed earlier.

Custom Markers throws:
`undefined is not a function (evaluating 'resolveAssetSource.getPathInArchive(asset)'`
https://github.com/lelandrichardson/react-native-mapview/blob/master/examples/MarkerTypes.js#L56

[2016-01-13 21:54] deanmcpherson commented on #1
I'll close this as the discussion to turn this into a library has continued in #2

[2016-01-13 21:54] #1 closed

[2016-01-13 22:17] lelandrichardson commented on #2
The animated stuff will break in examples that use AnimatedRegion at all. When i get a sec, I'll update the readme with detailed instructions on this.  Essentially, you need to make sure that `AnimatedRegion` is added into `AnimatedImplementation.js` and exported as `Animated.Region`. Further, `Animated.multiply` and `Animated.add` are both likely needed, which can be found on RN's master branch i

[2016-01-13 22:29] christopherdro commented on #2
I'm currently on master. I'll try and add AnimatedRegion.

The `resolveAssetSource` is on both platforms.

[2016-01-13 22:38] christopherdro commented on #2
@nicklockwood Thanks for chiming in!

[2016-01-13 22:43] lelandrichardson commented on #2
@christopherdro i can set up a gitter room for this repo if you want to discuss more real-time there?

[2016-01-13 22:44] christopherdro commented on #2
:+1: Sounds great!

[2016-01-13 22:49] nicklockwood commented on #2
@lelandrichardson resolveAssetSource is called automatically for image props in iOS thanks to the machinery in requireNativeComponent.js - I don't think that's the case for Android.

[2016-01-14 10:52] nicklockwood commented on #2
@lelandrichardson I take a stricter view on breaking changes than some, because I feel that it's important to the success of the project for people to have confidence that we won't break their apps or workflow unnecessarily.

That doesn't mean that we should be afraid to make improvements to the API if we see the opportunity to do so, but we should try to maintain continuity where possible by havi

[2016-01-14 16:14] mkonicek commented on #2
Does the Android implementation use both Google Maps and Mapbox? https://github.com/lelandrichardson/react-native-mapview/blob/master/android/app/build.gradle#L80

Are both of them needed? The internal one we use in Ads Manager only uses Google Maps.

[2016-01-14 16:16] christopherdro commented on #2
@mkonicek Google maps, the mapbox library just needs to be removed.

[2016-01-14 16:27] christopherdro commented on #2
@satya164 Could you also chime in with some of your Android expertise in how we might be able to replace getMap with [getMapAsync](https://developers.google.com/android/reference/com/google/android/gms/maps/MapView.html#getMapAsync(com.google.android.gms.maps.OnMapReadyCallback))?

Here is [line](https://github.com/lelandrichardson/react-native-mapview/blob/73b9e99c7b1406cc54a1c7b0e217c15b28af13da

[2016-01-14 17:08] nbastoWM opened #5 "How to run the project example?"
I'm anxiously waiting for this to get to npm!

Meanwhile I've copied the project files, run npm install and when I run the project in iOS I get an error:
'Image' has no propType for native prop RCTImageView.defaultImageSrc of native type UIImage.
![image](https://cloud.githubusercontent.com/assets/15138821/12331385/2ed629b2-bae1-11e5-9e5f-4849d07a9162.png)

In Android, when I run "react-native run

[2016-01-14 17:36] lelandrichardson commented on #2
Using `getMapAsync` is doable, but complicates the implementation quite a bit. I had gotten everything working with `getMap`, so I thought we were in the clear - but it seems that some devices this will not work for.

The problem is if it is async, then we need to build the component in such a way that none of the props are set on the component until the map is present. I think the best approach i

[2016-01-14 17:42] lelandrichardson commented on #2
@nicklockwood totally agree about breaking changes. If this is decided to be moved in, I think we can minimize the damage by doing the following:

1. building a code-mod to fix deprecated code
2. make a best-effort to making props on the old version (namely `annotations`) deprecated with a yellow-box warning, while attempting to make them still work in the same way by mapping annotations => childr

[2016-01-14 17:43] rufisayev opened #6 "Register package problem"
Hey how can i register package in MainActivity.java?

[2016-01-14 17:54] lelandrichardson commented on #5
Hi nbasto!

Thanks for your questions.

Couple of things:

1. the `image` prop will not work for android. I just merged in the code to make it work for ios last night. I suspect the code you have downloaded is trying to run the example that uses that prop (my fault).
2. You need to have google play services installed on your device. There are several guides for this, but it's surprisingly difficul

[2016-01-14 17:57] lelandrichardson commented on #6
Hey @rufisayev ,

This repo was originally written as just an example app rather than a consumable library...  I'm working now on turning this into a consumable library on npm but it's not there yet.

With some work, you should be able to look in the MainActivity.java in this project and copy the registration thats done there...

[2016-01-14 18:15] nicklockwood commented on #2
@lelandrichardson

Agreed

That doesn't really make sense from an FB perspective, as we rely on MapView in several of our internal apps, and we don't currently have a good way to use 3rd party RN modules in our own codebase, other than forking them and maintaining our own copy anyway.

I agree that for components that we aren't using and have no interest in maintaining, it makes sense to remove th

[2016-01-14 18:21] christopherdro commented on #2
I think the best approach here might be to work on making the proper changes to get this merged into RN, especially if current MapView is going to stay in core.

To avoid having the maps library included with every installation, we can have developers manually add it, similar to PushNotificationsIOS.

[2016-01-15 07:57] rufisayev commented on #6
I write MainActivity.java like you but i get error like this:
error: cannot find symbol
                .addPackage(new AirPackage())

Although i attached all java files(which you set into java folder) into my project

[2016-01-15 09:05] nbastoWM commented on #5
Shouldn't my Android device (Note 3 Neo) have that installed?
I tryed to run the example with 2 different devices but the same error happens.

Meanwhile, in iOS it keeps showing me the "Image has no propType for native prop RCTImageView.defaultImageSrc" error.

Is there any update on the example so we can run it as is?

Thanks!

[2016-01-15 16:03] af7 commented on #6
Hello, I would like to use your better implementation of `mapview` straight away. I see that this is not release on NPM. Do you have any instructions on what we need to do in order to include it on our project? For now, I am only interested for the iOS part. Thanks!

[2016-01-15 17:12] lelandrichardson commented on #6
@rufisayev you will need to import `com.rn_mapview` if you havent done that. Also, you should try and follow the instructions in https://github.com/lelandrichardson/react-native-mapview/issues/5

@af7 I'm working on getting this published as a library on npm. This repo started getting attention before I could finish it. Hopefully I will be able to do that this weekend, along with detailed instruct

[2016-01-15 17:29] rufisayev commented on #6
@lelandrichardson i import my package,i write my code like this,is there are any problem?

package com.mapapp;

import android.app.Activity;
import android.os.Bundle;
import android.view.KeyEvent;

import com.facebook.react.LifecycleState;
import com.facebook.react.ReactInstanceManager;
import com.facebook.react.ReactRootView;
import com.facebook.react.modules.core.DefaultHardwareBackBtnHandler;
i

[2016-01-15 17:46] af7 commented on #6
@lelandrichardson If you could do it this weekend it would be great for me! Thanks again!

[2016-01-16 00:37] jetaix opened #8 "Error: Animated.multiply is not a function"
First off, nice work and MERCI!

When I run 'Animating with MapViews' exemple on iOS (Simulator) I get this error ->"Animated.multiply is not a function. (In 'Animated.multiply(isIndex,panY)', 'Animated.multiply' is undefined)"

Ideas ?

[2016-01-16 03:14] christopherdro commented on #8
@jetaix See https://github.com/lelandrichardson/react-native-mapview/issues/2#issuecomment-171454862

[2016-01-16 07:01] christopherdro commented on #6
@lelandrichardson @af7 I'm working on this a bit now. Starting with iOS.
Have you guys already started with some of the changes?

[2016-01-16 07:39] lelandrichardson commented on #6
@christopherdro I havent started yet. Feel free to start on it. Would be nice if we could not duplicate work...

[2016-01-16 07:48] christopherdro commented on #6
Yea that's what I wanted to avoid as well. I ended up created a new project as a framework instead of a application to start and setting up the header search paths so that it will work properly for development and as a library.

Could you push the package.json that you used to publish to npm recently?

I was thinking it would be a good idea to rename the library to something different than rn_mapv

[2016-01-16 07:56] lelandrichardson commented on #6
@christopherdro you can get the package.json here: https://gist.github.com/lelandrichardson/83901244c78d081b69b5

Feel free to change it however you see fit (ie, react-native should be removed as a dep).

RNMapView works as a name...  or maybe AIRMapView?

[2016-01-16 08:18] rufisayev commented on #6
@lelandrichardson finally i can build my project,now i can open view,but when i click one of buttons i t give me an error..

[2016-01-16 08:23] lelandrichardson commented on #6
@rufisayev which buttons? All of them? What error does it give?

[2016-01-16 08:26] rufisayev commented on #6
All of them i get the same error like this:
<init>
AirMapView.java:66

[2016-01-16 08:28] lelandrichardson commented on #6
@rufisayev there is a known issue where we are using `getMap()` instead of `getMapAsync()` which appears to not work correctly on all android devices. If possible, try to change your emulator. I'm using a nexus 5 emulator and its working. We are working on a fix for this.

[2016-01-16 08:31] christopherdro commented on #6
@lelandrichardson I like AirMapView

[2016-01-16 08:38] #8 closed

[2016-01-16 08:43] rufisayev commented on #6
I install nexus 5 emulator,now i still get error like this:
 Attempt to invoke virtual method 'void com.google.android.gms.maps.GoogleMap.setInfoWindowAdapter(com.google.android.gms.maps.GoogleMap$InfoWindowAdapter)on a null object reference
<init>
AirMapView.java:66

[2016-01-16 09:58] rufisayev commented on #6
I tried in different emulators bu still i get the same error,how can i solve it?And exactly in which emulator it works on you?

[2016-01-16 10:02] lelandrichardson commented on #6
The emulator that is working for me is `Google Nexus 5 - 5.1.0 - API 22 - 1080x1920`. Unfortunately I'm not sure what to tell you beyond that. I am working on getting the component to work with the Async API and will maybe/hopefully have some progress on that this weekend.

[2016-01-17 04:20] #2 closed

[2016-01-17 11:01] #6 closed

[2016-01-17 14:03] rufisayev opened #10 "GetCurrentLocation"
Hello,how can i get current location automatically?

[2016-01-17 18:24] lelandrichardson commented on #10
are you talking about the maps location (ie the lat/lng that the map is centered on) or the current location of the user?

[2016-01-17 18:25] rufisayev commented on #10
i am talking about current location of user..

[2016-01-17 18:37] lelandrichardson commented on #10
That's not really in the scope of this library. please see https://facebook.github.io/react-native/docs/geolocation.html

[2016-01-17 18:38] #10 closed

[2016-01-18 07:33] lelandrichardson commented on #5
I'm closing this issue now. The project is now published on NPM, documented examples are in the readme. Enjoy!

[2016-01-18 07:33] #5 closed

[2016-01-18 14:45] priithaamer opened #14 "onMarkerPress event is bubbled up to parent components onPress events"
Hi! I'm using MapView inside one of the views that is inside TabBar. It looks something like this:

[code]

Now when pressing on MapView.Marker, `handleTabBarItemPress` method gets called, even without adding any event handlers to marker element itself. The `event.nativeEvent.action` has `"marker-press"` as value. Luckily, this is my current workaround how i can bypass handling this event handler

[2016-01-18 15:43] af7 opened #15 "Invalid directory /Users/node_modules/react-native-maps"
Hi I get this error when importing the library:

`uncaught error Error: UnableToResolveError: Unable to resolve module react-native-maps from /[path]/index.ios.js: Invalid directory /Users/node_modules/react-native-maps`

It appears that this is a common problem, do you have any remedy?
https://github.com/facebook/react-native/issues/4968

[2016-01-18 16:43] christopherdro commented on #15
@af7 Did you already try some of the suggestion solutions?

1. Delete the node_modules folder - rm -rf node_modules && npm install
2. Reset packager cache - rm -fr $TMPDIR/react-* or node_modules/react-native/packager/packager.sh --reset-cache
3. Clear watchman watches - watchman watch-del-all
4 .Restart Packager

[2016-01-18 16:53] af7 commented on #15
Yes I did try all of them.

[2016-01-18 17:25] lelandrichardson commented on #14
Hey @priithaamer,

This behavior is because the `onPress` event is a bubbling event by default in iOS, and will propogate up the render tree.

I agree though that this isn't exactly the behavior you're expecting... especially with a TabBar item...

In the near term, you can terminate the bubbling by calling `event.stopPropogation()`.  We should consider removing this though.

[2016-01-18 17:28] lelandrichardson commented on #15
what version of node/npm are you using?  I would try switching (if you're on 5, switch to 4... if you're on 4, switch to 5) and then running `rm -rf node_modules && npm install` again.

[2016-01-18 19:40] lelandrichardson commented on #15
Closing, since issue not related to this library.

[2016-01-18 19:40] #15 closed

[2016-01-18 21:13] lelandrichardson opened #17 "CSS Transparent Border trick doesn't work on Android when embedded in the Map"
Can be seen by comparing these two gifs on the readme:

![](http://i.giphy.com/xT77XNePGnMIIDpbnq.gif) ![](http://i.giphy.com/xT77YdU0HXryvoRqaQ.gif)

The android implementation uses a canvas to draw the views to a bitmap in order to put them on the map. I wonder why the canvas draw isn't accurate with the border transparency???

[2016-01-18 21:26] lelandrichardson opened #18 "Implement draggable markers"

[2016-01-18 22:50] christopherdro commented on #18
@lelandrichardson This might help.
https://github.com/facebook/react-native/commit/b8aac8b77a6b0737c23fd7d68c7b83ff068f5c4c

[2016-01-18 22:52] lelandrichardson commented on #18
yah i saw that... :+1:

[2016-01-19 08:30] priithaamer commented on #14
Thanks! I haven't seen `onPress` being bubbled up elsewhere, e.g with `TouchableOpacity`, that's why i raised the question. If it is still the case, i think onPress should not be used as it may cause lot of confusion for others as well.

I believe this issue may be closed for now.

[2016-01-19 15:53] christopherdro commented on #17
I think transparent borders don't work on Android at the moment.
/cc @mkonicek

[2016-01-19 17:11] lelandrichardson commented on #14
@priithaamer i agree. I'll dive deeper into what other RN components are doing and try to follow whatever is "idiomatic". Thanks for bringing the issue up!

[2016-01-19 17:11] #14 closed

[2016-01-19 17:25] lelandrichardson commented on #17
i'll double check, but I could have sworn these tooltips looked fine when they werent in the mapview...

relevant issues on RN: https://github.com/facebook/react-native/issues/5396 https://github.com/facebook/react-native/issues/3652

[2016-01-19 23:10] rt2zz opened #19 "showsUserLocation broken in iOS"
when `showsUserLocation={true}` I get a 'unrecognized selector sent to instance' exception.

Commenting out the following line prevents the exception: https://github.com/lelandrichardson/react-native-maps/blob/master/ios/AirMaps/AIRMapManager.m#L274

Still digging in to troubleshoot which selector is unrecognized & potential fix. Let me know if you have any ideas.

[2016-01-19 23:20] lelandrichardson commented on #19
hmm. The method should be implemented: https://github.com/lelandrichardson/react-native-maps/blob/master/ios/AirMaps/AIRMap.m#L181

Can you verify that its the `setRegion:animated` selector that's unrecognized?  I did notice that it seems to not be on the public interface of `AIRMap.h` which could be a problem... (though wouldn't be a runtime exception IIRC)

[2016-01-19 23:52] rt2zz commented on #19
hmm, I was incorrect about commenting out that line. Here is my full error:
`2016-01-19 15:50:32.527 MapboxTest[26970:2104066] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[MKUserLocation setMap:]: unrecognized selector sent to instance 0x7faa1cd00c50'`

Perhaps the issue is that there is no annotation present to animate?

[2016-01-20 03:51] christopherdro commented on #19
@rt2zz Did you add `NSLocationWhenInUseUsageDescription` to info.plist?

Also, are you testing through the simulator or on a device?

If im not mistaken, it won't work through the simulator.

[2016-01-20 06:36] rt2zz commented on #19
@christopherdro ye NSLocationWhenInUseUsageDescription is defined, this is on simulator, but for reference showsUserLocation does work with native MapView in simulator (with spoofed position). I will try tomorrow on device and see if that yields anything insightful.

[2016-01-20 06:43] christopherdro commented on #19
Im noticing this extra line when comparing the two implementations.
https://github.com/lelandrichardson/react-native-maps/blob/74f4da35f7e2eada6d85e35aad494afbfba4ef98/ios/AirMaps/AIRMap.m#L177

@rt2zz Maybe try uncommenting that and see if it works?
@lelandrichardson Is that maybe some dead code leftover? I don't see it being utilized anywhere.

[2016-01-20 06:57] lelandrichardson commented on #19
@christopherdro the `map.followUserLocation` property is used in `AIRMapManager.m`.  Some of this code was sort of copied over from the RN map in core right now, and i haven't really spent much time double checking to see that it works...

[2016-01-20 12:09] nillo opened #20 "Blank screen on usage"
Hi there, first of all thanks for the great work.

A question though: when implementing react-native-apps, and i use rnpm link, the project files are added to my project, but when running the  code, i gives me a blank screen without any error what so ever, not i xcode , not in the chrome debugger.

(Find the libairmaps.a file) blank screen remains.

Any suggestions?

[2016-01-20 12:24] nillo commented on #20
I got it to work after uninstalling and reinstalling the package, and redo the rnpmlink

[2016-01-20 12:24] #20 closed

[2016-01-20 13:55] anton-aleksandrov opened #21 "Support react-native < 0.17"
I've seen similar issues, but nothing have helped.

I'm receiving this error while debugging in chrome:

[code]

Both ios and android have blank screen.
May it be because i'm using react-native 0.15?
I've checked out release notes and didn't found significant updates, which may make impossible to use this package without updating react-native

[2016-01-20 17:09] nillo commented on #21
I got this error with another package, it means, that the linking went wrong, ur apps wants to call its native counterparts but they cannot be found, i didnt work on android yet, but go to xcode and then to libraries, u should se, Airmaps.xcodeproj <-- containing 2 folders 'Airmaps' and 'Products', this should contain, your native components. if u don't have this, try running rpmn link again, or t

[2016-01-20 17:58] rt2zz commented on #19
Ok after digging a *little* deeper:

The issue comes from the [line 173](https://github.com/lelandrichardson/react-native-maps/blob/master/ios/AirMaps/AIRMap.m#L173) of AirMap.m

The code around this line is basically identical to RCTMap.m so I am not sure where the digression is, my best guess is that some property or method is not being called on MKMapView.

I am going to let this rest for now b

[2016-01-20 18:28] mdcsfk commented on #21
i've just rolled all changes back, then install react-native-maps and linked everything manually in xcode.
Now, build is failing with this errors:

[code]

error repeating 3 times during the build process, then build is failing

[2016-01-20 18:34] lelandrichardson commented on #21
@mdcsfk The latest error you are getting sounds like a real compatibility problem with this library and RN 0.15

I'm not sure what else would be involved with getting this lib compatible with older versions of RN, but I will try and check it out.

Officially, this library was only really intended to be compatible with 0.17+, but if it is easier to have broader compatibility, I will attempt to do s

[2016-01-20 18:37] mdcsfk commented on #21
thank you! May be i will use the older version for now?

[2016-01-20 20:38] lelandrichardson commented on #19
As soon as I get some time, I'll try and check this out. We definitely want to make sure this feature is working.

[2016-01-20 21:14] christopherdro commented on #19
Can confirm this from the AirMapsExplorer demo.
[code]

[2016-01-20 23:09] guofoo commented on #21
I've tried using the library with react-native 0.17 and 0.18 but am getting blank screen in both cases. I've also tried both the rnpm link and manual installations, but it doesn't seem to make a difference.

I don't see any errors, and I'm rendering only the most basic test code:
[code]
I tried removing the latitudeDelta line, and I do get an error saying it is needed so it seems to silently fail

[2016-01-20 23:10] lelandrichardson commented on #21
@guofoo android or ios?  If android, have you set your API key, and installed google play services on the device?

[2016-01-20 23:27] guofoo commented on #21
It was IOS. But after hours of trying, as soon as I typed the comment, I had an epiphany and added a style element with flex: 1 and, viola, the map showed up. My bad.

[2016-01-20 23:29] lelandrichardson commented on #21
ah! no worries :)

[2016-01-21 01:02] mrpatiwi commented on #21
Same problem here.

* React Native 0.18.1
* Installed with `npm install react-native-maps --save`
* `rnpm link`

[code]

And I see a blank screen on iOS emulator and Android device :disappointed:

[2016-01-21 01:05] lelandrichardson commented on #21
@mrpatiwi can you try the styles that the example uses?

[code]

[2016-01-21 01:06] lelandrichardson commented on #21
also, if we need to change the default styles on the mapview to be `flex: 1`, i'm happy to do that...

[2016-01-21 01:17] mrpatiwi commented on #21
It's working on iOS after unlinking, uninstalling, installing again and linking again.
But trying to run on Android throws:
[code]

[2016-01-21 10:21] n0ne opened #22 "PruneCluster"
Hi.
Is it possible to add PruneCluster for markers?

[2016-01-21 17:18] lelandrichardson commented on #22
Hi @n0ne , can you give me some more context to what this is and potentially how it works?  Thanks.

[2016-01-21 20:03] ischenkodv commented on #21
Same problem for me on Android when running `react-native run-android`. The version of react-native is 0.18-rc. I used the following installation procedure:
[code]

How this could be solved?

[2016-01-21 20:19] lelandrichardson commented on #21
Hmm. I think rnpm is maybe not working for this module anymore.

Can you check to make sure your `settings.gradle` and `build.gradle` file look like they say they should here: https://github.com/lelandrichardson/react-native-maps/blob/master/docs/installation.md

[2016-01-22 00:51] jrichardlai commented on #19
https://github.com/lelandrichardson/react-native-maps/pull/23 this should fix it

[2016-01-22 01:47] lelandrichardson commented on #19
This should now be available in 0.1.2

[2016-01-22 01:47] #19 closed

[2016-01-22 02:29] graywolf336 commented on #21
I am having the same issue, when using the `rnpm link` method. My `settings.gradle` ended up looking like this:
[code]

I think changed it to the following and I got past the error @mrpatiwi and @ischenkodv are having:
[code]

And then in my `MainActivity.java` it was importing `import com.mapbox.AirMaps.AirPackage;` instead of `import com.AirMaps.AirPackage;`

Once those items were changed, it bu

[2016-01-22 02:32] lelandrichardson commented on #21
@graywolf336 thanks for this helpful information. I will try and get rnpm working correctly. Not sure what it's looking at right not to get these bad values.

[2016-01-22 03:36] graywolf336 commented on #21
@lelandrichardson Welcome, thanks for making this package.

After looking into the code, it seems your `AndroidManifest.xml` file has the package defined as `com.mapbox.AirMaps`, [here](https://github.com/lelandrichardson/react-native-maps/blob/master/android/src/main/AndroidManifest.xml#L3), but in all of the Java source files the packages are using `com.AirMaps`. So, that would fix the reference

[2016-01-22 04:42] KelseyRegan opened #24 "Animated.Region undefined constructor"
I may be missing something.  How is Animated.Region supposed to be referenced?  I can't seem to get it bundled at all.  It isn't one of the module.exports.  I see it in the examples, but can't use it in my project.

Any help is appreciated!

[2016-01-22 06:27] lelandrichardson commented on #24
See instructions here: https://github.com/lelandrichardson/react-native-maps#using-with-the-animated-api

You need to modify your AnimatedImplementation.js file. Let me know if you need any more help.

[2016-01-22 06:27] #24 closed

[2016-01-22 06:37] lelandrichardson commented on #21
@graywolf336 thanks for pointing that out!  i've updated it and it is now available in 0.1.3 on npm

[2016-01-22 23:56] shieer opened #26 "example project issue Android"
First, thanks for this MapView component, I really love it!

I tried to run the example project, it's working perfect on iOS, but Android has some issues.

For "Tracking Position", not able to move map and zoom, but working fine on "Arbitary Views as Markers",
"Events" has the same problem.

[2016-01-23 01:54] guofoo opened #27 "showCallout method usage"
I'm trying programmatically show the callout of a particular marker by using the showCallout method under MapView.Marker but not having luck.

I've set the ref="myMarker" on a marker during render, and then in componentWillMount stage, use this.refs.myMarker.showCallout() but nothing seems to happen on the map. There's no error logged either.

Not sure if my usage is incorrect as I could not find

[2016-01-23 02:37] lelandrichardson commented on #27
Hey @guofoo , is this on android or ios or both?

[2016-01-23 05:03] graywolf336 opened #28 "Android onRegionChange Issue"
I'm having an issue with Android (doesn't happen on iOS). Whenever I add `onRegionChange` to the MapView and set the state's region to the region passed (like the `DisplayLatLng.js` example), the view maps gets "laggy" or "grabby" like something is fighting the display region to be displayed. That's not very descriptive, so here's a video which hopefully shows what I'm talking about:

https://www.

[2016-01-23 05:30] graywolf336 commented on #28
I have removed the `region` prop from the MapView and replaced it with `initialRegion` yet the "grabbing" is still happening with listening and using the `onRegionChange`.

[2016-01-23 06:48] lelandrichardson commented on #28
can you try removing the `onRegionChangeComplete` handler?  (and also change the `initialRegion` prop back to `region`)

[2016-01-23 08:22] guofoo commented on #27
this is on IOS, have not tried android

[2016-01-23 21:13] mrpatiwi commented on #21
That fixed my problem :+1:

[2016-01-23 21:17] ippa opened #29 "How would one mark out specific streets"
This plugin looks impressive. I've been fiddling with a app-idea that's centered around a map, I need to 'mark out streets'. So not setting a marker but rather color whole streets making them stand out on the map. Is this something that can be done with react-native-maps? Maybe with the Polyline? I couldn't find the answer while checking out the readme and docs.

[2016-01-23 21:38] BigPun86 opened #31 "Constant White-Screen"
Hey there. I tried this module on Android RN .17 but unfortunately the only thing i see is a white-screen. Any ideas?

     var MapTest = React.createClass({
            getInitialState() {
                return {
                    latitude: 37.78825,
                    longitude: -122.4324,
                    latitudeDelta: 0.0922,
                    longitudeDelta: 0.0421
                }

[2016-01-23 21:43] lelandrichardson commented on #31
@BigPun86 you might have to apply some styles to the mapview itself in order for it to fill it's container.

I might change the default styles of it to be `flex: 1` in order to make this work a little more intuitively...

[2016-01-23 21:45] lelandrichardson commented on #29
@ippa polylines could be used to cover streets. It might not look super pretty... but probably worth a try to see if it will suit your needs.

To be clear, this is not a react native limitation or a limitation of this plugin... I dont think there's any better way. If you find one and this library doesn't support it though, let me know.

[2016-01-23 21:46] BigPun86 commented on #31
Oh man, should of thought that my self :D Thanks, works great !!

[2016-01-23 21:56] lelandrichardson commented on #31
:+1:

[2016-01-23 21:56] #31 closed

[2016-01-23 22:01] ischenkodv commented on #21
I managed to install it using manual installation instructions for Android. The only thing that is different from instructions is step 3:

[code]

I had to do it this way because there was no `onCreate` method. The version of React Native is 0.18-rc.

[2016-01-23 22:15] ippa commented on #29
Thanks for the quick reply. I'll fiddle around as see what I come up with :).

[2016-01-23 22:15] #29 closed

[2016-01-23 22:59] #27 closed

[2016-01-23 22:59] lelandrichardson commented on #18
implemented in 0.2.0

[2016-01-23 22:59] #18 closed

[2016-01-23 23:00] lelandrichardson commented on #22
Closing pending more information from @n0ne

[2016-01-23 23:00] #22 closed

[2016-01-23 23:01] lelandrichardson commented on #26
Do you see any errors getting logged in the console?

Is it responding to pans/zooms at all or is it just static?  A gif might help if possible.

Also, which version of android and google play?

[2016-01-23 23:06] lelandrichardson commented on #21
@ischenkodv can you copy/paste in here your entire MainActivity.java file?

[2016-01-23 23:20] af7 opened #33 "Dashed Polyline Support"
Can we have dashed polylines somehow? I understand that this is not possible at the moment but could that be possible?

![image](https://cloud.githubusercontent.com/assets/7850073/12533425/251eae40-c238-11e5-8789-6c3cb8ac395a.png)

[2016-01-23 23:44] lelandrichardson commented on #33
@af7 this is currently possible with this library for ios only (see docs). Google maps does not yet support line types for their polygon/polyline implementation.  It's been a longstanding issue here (https://code.google.com/p/gmaps-api-issues/issues/detail?id=4633).

It sounds like they might add it in google maps v3, at which point this library will add support for it. Until then, I'd consider ac

[2016-01-23 23:52] afilp opened #34 "Make callout visibility controlled / declarative"
This is a similar wish to this:
https://github.com/facebook/react-native/issues/4656

I understand that we have the `showCallout` method but this seems to be an imperative way to do so, plus it needs to know when the marker is rendered, etc.

I would expect something like this (`showsCalloutOnLoad` property):

[code]

If more than one marker uses this property then only one of them shows the callo

[2016-01-24 00:12] lelandrichardson commented on #34
@af7 I agree I think callout visibility could ideally be done as a declarative API.

a bit different to your proposed API, I envision something like this:

[code]

As long as there is no major qwerkiness, this would be a change I would support :+1:

[2016-01-24 01:15] EricPKerr opened #35 "Google Maps support for iOS"
Any plans to implement the Google Maps SDK for iOS so we don't have to use the default Apple Maps?

[2016-01-24 03:27] af7 commented on #33
@lelandrichardson Thanks for the info.

I looked at the docs here and could not find something to create a dashed polyline:
https://github.com/lelandrichardson/react-native-maps/blob/master/docs/polyline.md

Maybe I do not understand something there?

[2016-01-24 04:20] af7 commented on #34
Did you mean to write `<MapView.Callout` and not `<MapView.Marker` on the example above?

[2016-01-24 04:32] lelandrichardson commented on #34
@af7 hmm. I dunno, I think this might work better on the Marker. The `<MapView.Callout />` component isn't necessary if you're just filling out a `title` and a `description` on the Marker.

`calloutVisible` might make more sense:

[code]

[2016-01-24 04:34] lelandrichardson commented on #35
@EricPKerr no plans at this point. Is there a reason why Google maps should be preferred over MapKit?

[2016-01-24 04:43] lelandrichardson commented on #33
@af7 you're right! Sorry. I could have sworn that I had implemented this.  We can implement this on iOS...

https://developer.apple.com/library/ios/documentation/MapKit/Reference/MKOverlayPathRenderer_class/index.html#//apple_ref/occ/instp/MKOverlayPathRenderer/lineDashPattern

[2016-01-24 04:52] graywolf336 commented on #28
Doing that yields the same results. :disappointed:

[2016-01-24 04:57] lelandrichardson commented on #28
@graywolf336 does this happen with the examples?  If not, perhaps you can post the code you are using?

[2016-01-24 05:24] graywolf336 commented on #28
I'm using es6 and babel, but that's the only real difference I can tell between your code and mine.

[2016-01-24 12:25] ischenkodv commented on #21
@lelandrichardson

[code]

[2016-01-24 16:01] af7 commented on #34
Yes, the naming now makes sense! I am absolutely OK with this.

[2016-01-24 16:02] af7 commented on #33
Nice! So, it **can** be done, thanks!

[2016-01-24 19:18] lelandrichardson opened #36 "Don't update overlays multiple times when multiple props change"
Optimization could be made in both ios and android.

[2016-01-24 19:21] lelandrichardson opened #37 "Add `id` prop for markers to be passed back in all events"
This would make the event handlers on the mapview much more useful since you could know which marker was causing the event.  This would also help performance when you need to have a ton of markers, but don't want to have a ton of bound event handler functions.

[2016-01-24 19:41] lelandrichardson opened #38 "Remove code duplication between polygon/polyline/circle"
This could be improved a lot with polymorphism/inheritance.

[2016-01-24 19:53] #33 closed

[2016-01-24 19:56] lelandrichardson commented on #33
@af7 this is now in 0.2.2

[2016-01-24 20:06] graywolf336 commented on #26
I think this might be related somehow to my issue, #28. As I experienced this when I first tried out the components, but then I switched to a different example and I didn't think about it. I'll try to replicate the issue and post the code along with the versions.

[2016-01-24 20:11] graywolf336 commented on #28
As an update, I just copied the source and pasted it directly from the `DisplayLatLng.js` example and I'm still experiencing the issue. I'm using `Genymotion Google Nexus 6 - 5.0.0 - API 21`.

[2016-01-24 20:16] lelandrichardson commented on #28
@graywolf336 thanks. Going to try downloading the same emulator and seeing what happens. We've had some issues with 5.0.0 before, but they were a bit different.

[2016-01-24 20:16] graywolf336 commented on #26
Okay, I was able to replicate this but with the `EventListener.js` example. You're unable to move the map around, zoom in, and all that. Using `Genymotion Google Nexus 6 - 5.0.0 - API 21` and the source code was copy and pasted from the repository to ensure it was the same.

[2016-01-24 20:57] lelandrichardson opened #40 "Create a `FeatureCollection` component that encourages composition"
The API of this library, which works by having the children of the `<MapView />` component does a great job making maps and map features more "React-like", but it could go a bit further.

Right now, it is possible to make composable react components that end up rendering a single feature (like marker), and passing them as children to the map view

[code]

However, as soon as we want to render more

[2016-01-24 21:07] af7 commented on #33
Great, thanks!

[2016-01-24 21:14] #28 closed

[2016-01-24 21:17] lelandrichardson commented on #28
@graywolf336 should be available in 0.2.3

[2016-01-24 21:44] lelandrichardson commented on #26
@shieer I'm assuming your issue got fixed in version 0.2.3. If not please let me know! Closing this issue now.

[2016-01-24 21:44] #26 closed

[2016-01-24 23:00] graywolf336 commented on #28
Can confirm it is fixed and with #26 being fixed. :+1: Thanks!

[2016-01-25 03:54] EricPKerr commented on #35
@lelandrichardson Matter of preference. There aren't  any iOS ports of Google Maps for React Native yet, but the API for this library (markers/callouts as children, etc.) seems like the right approach.

[2016-01-25 04:45] christopherdro commented on #37
@lelandrichardson Is there anyway we can set the `key`or `ref` prop and have either those be available in the event callback?

[2016-01-25 04:51] christopherdro commented on #21
@ischenkodv
There was change in 0.18 that added a base activity named [ReactActivity](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/ReactActivity.java).

@lelandrichardson We can just update the docs to reflect that.

[2016-01-25 04:52] christopherdro commented on #38
@lelandrichardson Can you reference what is being duplicated?

[2016-01-25 07:51] lelandrichardson commented on #37
@christopherdro i don't think `key` is available in the context of the child... and I'm not sure `ref` is the best way to do it as refs come with a bit of overhead, and also wont be available in functional stateless components.

[2016-01-25 07:55] lelandrichardson commented on #38
@christopherdro if you look at the classes for Polygon and Polyline in both ios and android for this library, they are extremely similar. A lot of the props are identical for both classes, and a lot of the handling of adding them to the map etc is the same.

[2016-01-25 17:27] shieer commented on #26
@lelandrichardson Thanks, 0.2.3 works well :)

[2016-01-25 18:24] shieer opened #43 "Initial Postion bases on geolocation"
Hi, Everyone,
I'm not sure if I should write this question on here.

On my app, I did this on render:
[code]

and I have this to get user's current position:

[code]

But with this, It's didn't auto move to current region on Android, but on iOS it'll move to current region when open that page.

Thanks.

[2016-01-26 01:06] graywolf336 commented on #43
Sounds like that's async on android and sync on ios, but I could be wrong. Might be best to use `region` instead of `initialRegion`? That's just a guess though..

[2016-01-26 01:10] jrichardlai opened #44 "Android map view calls onLayout when adding a new child"
It seems that `MapView._onLayout` is called multiple times when updating the markers. It does not happen for iOS only for Android.

This cause an issue that it repositions the map to the `initialRegion` everytime, not sure in Android what triggers the `onLayout` call.

I have currently a workaround in the component that uses MapView which is that after the first load to not return the `initialRegi

[2016-01-26 01:49] lelandrichardson commented on #44
@jrichardlai can you upgrade to the latest version of the lib?  I believe this should be fixed.

[2016-01-26 01:50] lelandrichardson commented on #43
@shieer I suspect this is an issue where `onMapReady` has not been called yet when you're setting state. This would only end up being an issue on android.

When I get a sec I can try and get this code working on my machine...

[2016-01-26 05:22] anton-aleksandrov opened #45 "Doesn't work on Android"
Here is my component:

[code]

[code]

right now it works in iOS properly. In android i see only green background of the View container, nothing else

Also, please, mention in the installation guide that developer should have `Google Play Services`, `Google Play Repository` and `Google Play APK Expansion Library` installed in the android SDK.

By the way, may be I should have some other dependenci

[2016-01-26 05:41] jrichardlai commented on #44
Yep works well! Good job! Sorry didn't looked at the fix history, you going too fast ;) ! Also any idea why it triggers multiple times? Is it supposed to happen with Android ?

[2016-01-26 05:41] #44 closed

[2016-01-26 05:42] jrichardlai commented on #45
Do you have any errors in your Android Log?

[2016-01-26 05:45] mdcsfk commented on #45
No, nothing at all

[code]
returns
[code]

[2016-01-26 05:47] lelandrichardson commented on #44
@jrichardlai it seems to fire a lot more in android 5.0 versus other versions. It's not clear to me why. :/

[2016-01-26 06:01] notlose commented on #45
i have the same issue, rn 0.18.0

[2016-01-26 07:09] notlose commented on #45
everything works after adding style,
<MapView
                style={{flex:1}}
                initialRegion={{
                  latitude: 37.78825,
                  longitude: -122.4324,
                  latitudeDelta: 0.0922,
                  longitudeDelta: 0.0421,
                }}
              />

[2016-01-26 07:13] mdcsfk commented on #45
doesn't help in my case. @notlose could you post the code of your component here?

[2016-01-26 07:16] notlose commented on #45
[code]

[2016-01-26 07:42] lelandrichardson commented on #45
@mdcsfk  i dont imagine it would fix it, but do you think you could try removing the `backgroundColor: 'red'` style on the mapview?

[2016-01-26 07:46] mdcsfk commented on #45
@lelandrichardson `backgroundColor` presents just for debugging. Nothing changes when i'm removing it

[2016-01-26 10:18] nbastoWM opened #46 "Configuration with name 'default' not found."
The example project runs OK but when I apply the module to a fresh new project or an existing RN 0.17 project I get this error when compiling for Android:

[code]

[2016-01-26 10:20] mdcsfk commented on #45
during the execution of `react-native run-androis` i'm receiving this warnings:
[code]
may some of them be related to my issue?

[2016-01-26 10:25] mdcsfk commented on #45
when I intentionally use wrong google maps api key, I don't see any difference - no errors;
I've tested this key in one of my web projects to search within the radius - it works fine.

[2016-01-26 11:13] nbastoWM commented on #46
OK; found the solution: it's due to installing dependencies with ```rnpm link ```.

It creates links with absolute paths in ```settings.gradle``` and somehow the error occurs.

I installed manually and I got it working!

[2016-01-26 11:13] #46 closed

[2016-01-26 13:28] yedeba opened #47 "Marker image"
Hi,
Is it possible to assign a new image to a marker onSelect event?
Thanks!! :)

[2016-01-26 15:08] gplopes opened #48 "Load markers, old ios versions."
Hi All,

I'm wondering if there is some reason for the markers are not being loaded on the map for old ios versions, I'm testing on 7.1.2 iPhone4 the map loads ok, but somehow not the markers. I have antoher iPhone5s with the latest version and everything load fine.

Thanks.

[2016-01-26 15:57] jrichardlai commented on #45
@mdcsfk I think you should see some errors in the log if you do switch the key to random, does `adb logcat` shows nothing ?

[2016-01-26 17:15] shieer commented on #43
@lelandrichardson Yes, it's only happen on Android. Thanks for your reply, I appreciate

[2016-01-26 17:51] lelandrichardson commented on #47
Hi Yedaba,

It sounds to me like that should work. Keep in mind that the `onSelect` event is not currently implemented on android, though.

[2016-01-26 17:53] lelandrichardson commented on #48
Hi @gplopes ,

Thanks for submitting this issue. What actually ends up getting rendered? Are the markers just not shown on the map at all?

I have not had much chance to make sure this library is working well with iOS < 9, but I would like to have compatibility wherever i can.

[2016-01-26 18:15] yedeba commented on #47
With this code don't work:

makeEvent(e,markerid, latlng) {
    this.refs.map.animateToRegion(latlng);
    this.refs.markerid.image = require('./img/iconselect@2x.png');
 },

Error: Attempted to assign to readonly property.

[2016-01-26 18:58] lelandrichardson commented on #47
Why are you trying to set the image in a mutable way? You will want to do this through `state` and passing it through to `<Marker />` as props:

[code]

[2016-01-26 19:07] yedeba commented on #47
Sorry, perhaps I have not explained well.
Yes i do.
makeEvent function is only for onSelect event marker.
First, the marker has an image,
when you select the marker, this image should be changed to another.
It would be possible with a new marker method?
Thanks

[2016-01-26 19:20] shieer opened #49 "TouchableOpacity in Custom Marker doesn't work on Android"
I created a custom marker view with a button in it, it works well on iOS, but it's no touch event triggers on Android.

![screen shot 2016-01-26 at 11 19 08 am](https://cloud.githubusercontent.com/assets/1696788/12591860/af67b528-c41e-11e5-819a-000acbe7b846.png)

[2016-01-26 19:25] lelandrichardson commented on #47
Just do this?
[code]

Sorry, am I missing something?

[2016-01-26 23:08] lelandrichardson commented on #49
@shieer android will have limitations here. Android renders the markers and the callout as bitmaps directly, and they don't have interactivity.

The best you can really do here is capture the onPress event and use the `position` property of the event to calculate where the user pressed.

Unfortunate, I know... but currently there are no maps implementations on android that don't implement markers

[2016-01-26 23:35] shieer commented on #49
@lelandrichardson  Thanks for your answer, that helps.

[2016-01-26 23:35] #49 closed

[2016-01-27 05:17] mdcsfk commented on #45
`adb logcat *:S ReactNative:V ReactNativeJS:V` doesn't contain google maps logs

[2016-01-27 05:27] jrichardlai commented on #45
It will not be with `ReactNative` nor `ReactNativeJS`, what happens when you run `adb logcat | grep Google` ?

[2016-01-27 05:30] mdcsfk commented on #45
[code]
I'm sure i have it installed and updated in Android SDK Manager
also, this is logs from `react-native run android`:
[code]

[2016-01-27 05:34] jrichardlai commented on #45
Did you follow the step to install Google Services: https://github.com/lelandrichardson/react-native-maps/blob/master/docs/installation.md, you can follow the instructions from this link http://stackoverflow.com/questions/20121883/how-to-install-google-play-services-in-a-genymotion-vm-with-no-drag-and-drop-su/20137324#20137324 ?

[2016-01-27 06:17] mdcsfk commented on #45
Stackoverflow helped, now the map gets rendered, but it is empty.
`adb logcat` has this:
[code]

[2016-01-27 06:49] mdcsfk commented on #45
[code]

[2016-01-27 09:48] gplopes commented on #48
Hi @lelandrichardson,

No problems at all, great plugin btw. It looks like the default markers are not getting rendered. I installed the examples from the master repo to be sure and they still not being rendered however the image based markers works fine.

[2016-01-27 09:56] yedeba commented on #47
Thanks,
that works for all markers,
but only need to change the image of the one selected marker.

[2016-01-27 17:38] lelandrichardson commented on #47
@yedeba you're going to have to figure out how to handle this using state in your application. You could have an array of marker objects and just set it for that specific one...

Going to close this for now since this is not an issue with the library.

[2016-01-27 17:38] #47 closed

[2016-01-27 17:40] Flyr1Q opened #51 "Could not find com.google.android.gms:play-services-base:8.3.0"
Hello, this bunch or errors i see just after `react-native run-android`. I am new to react-native, so not sure whether I missed something or this is bug.

Should I define something in build.gradle? I 've tried to install Google Play Services in Android SDK. And provided `compile "com.google.android.gms:play-services-base:8.3.0"`, unfortunately it still fails.
So what did I miss?

[code]

PS: Thank

[2016-01-27 20:45] ahmed1490 opened #52 "Do you have plans to have a directions api in place?"

[2016-01-27 20:47] ahmed1490 opened #53 "Support for live track user location and update self marker?"
https://github.com/facebook/react-native/commit/3d0ff69e40f0262e0ffc6f6023ec958b52eeb986

[2016-01-27 21:25] lelandrichardson commented on #53
cc @christopherdro who is working on this i think

[2016-01-27 21:26] lelandrichardson commented on #51
@Flyr1Q did you follow the steps in the installation instructions? Installing google play services is a pain but unfortunately I don't know any way to make it any easier :/

[2016-01-27 21:27] lelandrichardson commented on #52
cc @christopherdro who is working on something similar.

I don't think we will add a directions API... but it is conceivable you could open source a directions component or something that worked on top of this library...

[2016-01-27 21:56] christopherdro commented on #52
@ahmed1490  You can use Google's or Mapbox's api to get an array of geo json coordinates that you can set on the `coordinates` prop for `<Polyline />`.

It would look something like this.

Get directions based on start and end coordinates.
[code]

Massage data to fit `<Polyline />` component.

[code]

[code]

I'll try by best to get an official example up when I get some free time.

[2016-01-27 22:01] christopherdro commented on #53
@lelandrichardson We decided not to support this because of the behavioral differences between iOS and Android. Setting `followUserLocation` would cause the map to keep snapping back if you decided to pan out. I believe this was specific to iOS.

The better solution would be to just update the `region` prop `<Mapview />`. With this approach, we should be able to make use of `<MapView.Animated />`

[2016-01-27 22:17] ahmed1490 commented on #52
@christopherdro Thank you for the quick response :+1:
Is it because of the API token that you are skeptical.. to have this included in the project?

And lastly Great work in the project guys!

[2016-01-28 02:47] rahul1346 commented on #45
Any answers to above ^^

[2016-01-28 05:51] Flyr1Q commented on #51
@lelandrichardson well, I've tried both ways, via rnpm & manually. Didn't change a thing.
I've installed google play services in Android SDK, do i need to install it with something else?
I've read the 5th step in installation instructions, but it's not like I cannot run it, I cannot build it.
I test it on real device in case it matters.

[2016-01-28 08:20] yedeba commented on #47
Ok, perfect I will do it
thanks!!

[2016-01-28 10:04] ghamaide opened #54 "<MapView.Circle /> does not update its position when changing its center"
I'm trying to put a circle in the center of my map. I have the following :
[code]
but the circle doesn't change when I change region while my MapView has a onRegionChange method that sets the new region
[code]

[2016-01-28 12:57] lopezjurip opened #55 "Polygon events"
It is possible to add an event when a Polygon is pressed?

[2016-01-28 16:53] ghamaide opened #56 "Error trying to run the AnimatedViews example"
When trying to run the example on iOS, I get the following error :
undefined is not a constructor (evaluating 'new Animated.Region({latitude: ....})'), that is thrown line 196 of the AnimatedViews example... I can't figure what I'm doing wrongly..

[2016-01-28 17:11] lelandrichardson commented on #55
I would very much like to add this... I haven't been able to fine built-in support for this, though. I think we'd have to hack it in ourselves if we want it.  Seems possible, just not as easy as I wish it was.

Seems some people here have found ways to do it with mapkit:

http://stackoverflow.com/questions/20858108/detecting-touches-on-mkoverlay-in-ios7-mkoverlayrenderer

Also,  it looks like this

[2016-01-28 17:12] lelandrichardson commented on #56
Please see the section of the readme that describes what you need to do: https://github.com/lelandrichardson/react-native-maps#using-with-the-animated-api

You will need to replace a file in react native.

[2016-01-28 17:12] #56 closed

[2016-01-28 17:56] ghamaide commented on #56
OK, but I don't see which RN file needs to be replaced...

[2016-01-28 18:29] lelandrichardson commented on #56
@ghamaide `AnimatedImplementation.js` needs to be replaced with the one in the linked gist

[2016-01-28 18:48] umfana commented on #51
@Flyr1Q I ran into the same issue. Check that you also have "Google Repository" installed under Extras in your Android SDK Manager. Installing that added the missing "play-services-base" and "play-services-maps" libs that were breaking my compile.

[2016-01-28 21:54] ecjs commented on #51
I also ran into this issue when first installing, the Google Repository addition fixed it int he Android SDK manager, I lost enough time on this, IMO it be added to the installation docs.

[2016-01-29 07:37] ghamaide commented on #56
Ok thanks !

[2016-01-29 08:29] ghamaide opened #57 "Animated View example : how to unblock the view when it has been "opened""
I'm starting in RN and I've been trying to mess a bit with your Animated example. The example works well but when the red view is brought up, it cannot be closed anymore. How would you work this out ?

![giphy](https://cloud.githubusercontent.com/assets/6986811/12670687/b5d55192-c66a-11e5-9df7-285fcffa2b37.gif)

[2016-01-29 11:20] CEOGavin commented on #3
I had the same issue. Thanks for that @lelandrichardson. Worked!

[2016-01-29 12:20] ghamaide commented on #37
So at the moment, it's not possible to know which marker triggered an `onMarkerSelect` method for example ?

[2016-01-29 13:12] ayarulin commented on #27
I'm on 0.2.1 but `showCallout()` still don't working for me, @guofoo could you confirm?

[2016-01-29 16:15] Flyr1Q commented on #51
@umfana @ecjs Thanks a lot guys. Now it's building, but not working unfortunately.

[2016-01-29 16:15] #51 closed

[2016-01-29 17:29] lelandrichardson commented on #57
@ghamaide i'm sorry, but what do you mean by "closed"? the example is built to only pan in the x direction when the red panels are all down.  Also, keep in mind this is just an example and not a "production-ready" idea...

[2016-01-29 17:29] lelandrichardson commented on #54
I need to try this out. If I understand your example as given, it seems to me like this should work.

[2016-01-29 17:37] lelandrichardson commented on #37
@ghamaide You can use the `onSelect` event on the marker directly, and you can also get the marker node by using the `event.target` property.

[2016-01-29 22:35] mrpatiwi commented on #57
It would be awesome to have that as a separated component

[2016-01-31 22:48] jrichardlai opened #59 "Issue with react-native 0.19"
Not sure if I'm doing something wrong but with RN 0.19 props does not seems to be passed into the native components in Android.

I tried to render a MapMarker and it raised an error, I removed it and noticed that even my Map region was not set properly, I tried to debug it and it seem to not call the ReactProps setters.

Might be related to https://github.com/facebook/react-native/issues/5649? Tri

[2016-01-31 22:52] jrichardlai commented on #59
Update actually updating to `import com.facebook.react.uimanager.annotations.ReactProp` worked, I also had to update to `com.facebook.react:react-native:0.19.+` the react-native-maps `build.gradle`

[2016-01-31 23:03] ahmed1490 commented on #59
Can you try reversing the manual change and see if re-running `rnpm link` solves the problem?

[2016-01-31 23:22] jrichardlai commented on #59
It didn't fixed it, does it work for you and RN 0.19 ?

[2016-01-31 23:23] jrichardlai commented on #59
Made a branch if that helps https://github.com/jrichardlai/react-native-maps/tree/react-native-0.19 but it would only work for 0.19 version

[2016-02-01 01:58] lelandrichardson commented on #59
hmm. this is a bummer. We can try to keep 2 branches? Or just move to only supporting 0.19+ in future versions?

[2016-02-01 02:26] jrichardlai commented on #59
Yeah bummer. Seems that its due to this commit https://github.com/facebook/react-native/commit/c1b7a369af7ca457819d682b15f47fae7e2732fc . Up to you for what to do here, but RN is moving fast, there might be more things in the future that becomes incompatible, having master / latest release be compatible to the latest version of RN and having other branches for other versions would be better I thin

[2016-02-01 03:31] lelandrichardson commented on #59
@jrichardlai if you want to PR your branch, I will likely accept it. I'll do a minor version bump (ie, semver major because we are still 0.x) and increase the peer dep to 0.19

[2016-02-01 03:34] jrichardlai commented on #59
https://github.com/lelandrichardson/react-native-maps/pull/60

[2016-02-01 06:17] lelandrichardson commented on #59
The fix should be available now on 0.3.0

[2016-02-01 06:17] #59 closed

[2016-02-01 18:39] sammosampson opened #61 "Can't seem to get this working on Android, just get a white background"
I've tried it by copying all code from the example\app.js down into a new react native app with react-native-maps setup as per the application instructions. I also have put the api key in the app.manifest and followed the instructions to install google play. I am using genymotion free with a custom phone 5.1.0 -api 22 image.

It maybe due to the fact that the Google Apps zip would not flash. can y

[2016-02-01 19:54] guofoo opened #62 "calling showCallout() triggers onMarkerSelect() event?"
Upon calling showCallout() on a Maview Marker ref, I seem to receive the event onMarkerSelect() for that marker. The result is that the callout is selected twice (redrawn twice) Is this the current intended behavior? If so, is there a way to disable the even generation? Since calling showCallout() explicitly means I'm already aware of the marker selection and do not need it to be selected again.

[2016-02-01 22:10] ahmed1490 opened #63 "Is there an interface to request access and get user location?"

[2016-02-02 00:15] sammosampson commented on #61
after logcatting i get 'Google Play services is missing' going to retry the flash

[2016-02-02 00:26] sammosampson commented on #61
everytime i try to to flash the google play zip to my genymotion device it just says failed to flash. ANy ideas?

[2016-02-02 01:39] keeganmccallum commented on #54
+1, also experiencing this issue

[2016-02-02 01:56] EricPKerr commented on #63
https://facebook.github.io/react-native/docs/geolocation.html

[2016-02-02 08:29] dchdimitrov opened #64 "Vertical scroll not working when included in "ScrollView" - Android"
MapView for iOS is with greater priority than ScrollView. When you try to scroll, you scroll the map. If the content of the ScrollView should be scrolled, the user has to touch something outside the map. I think that the case should be the same here.

[2016-02-02 14:26] sodik82 commented on #45
maybe the same issue - installed npm, used `rnpm` and updated android manifest and this is what I see when debuging on real device (samsung s4).
[code]
and code
[code]
I just see "empty" map with google logo.
![screenshot_2016-02-02-15-20-22](https://cloud.githubusercontent.com/assets/6132259/12752110/1b786ddc-c9c1-11e5-85f6-d538264deb73.png)

Logcats:
[code]

[2016-02-02 16:32] stinju opened #65 "Android: View marker does not update when only opacity style changes"
On a re-render, if the view marker only has an opacity style change, the marker does not reflect the new opacity.  However, if the marker also has a key or text change, the marker does reflect the new opacity.  Example below.  Note that iOS works as expected.  Thanks!

Versions:

[code]

Example:

[code]

[2016-02-03 02:22] lelandrichardson commented on #63
Please use the provided geolocation APIs from RN. I think we've decided that we will not be adding it to the component directly.

Thanks!

[2016-02-03 02:22] #63 closed

[2016-02-03 02:24] lelandrichardson commented on #61
@sammosampson usually you have to go through a couple of cycles of updating "Google Play Services" in the app store in order to get it to finally work. I think the error you are seeing is normal, you just need to keep going.

[2016-02-03 08:38] efkan opened #66 "Do components provide JavaScript APIs or SDK APIs?"
Hello,
First of all, thanks for these awesome components.

Could you please tell me whether the components use native SDK parts or not?

This is important because of payment issues. [Google specifies](https://developers.google.com/maps/pricing-and-plans/#details) the price of Google Maps API's usage as "Unlimited free usage" for Google Maps Android API. But JavaScript API usage is not free.

If on

[2016-02-03 09:57] elaygl opened #67 "Map isn't updating on region prop change"
I've been trying to run the sample you gave in the readme but couldn't make it work.

[code]

The map isn't changing according to the region in the state.

I debugged the Android project and noticed that the setRegion method not gets called.

I'm running with RN: 0.19.0

[2016-02-03 11:38] sammosampson commented on #61
I got it working finally with your api key, but it doesn't seem to work
with mine

On Wed, Feb 3, 2016 at 2:24 AM, Leland Richardson <notifications@github.com>
wrote:

[2016-02-04 00:35] jshaw22 commented on #67
Where are you calling setRegion in your code?

Try putting this in your onRegionChange:

[code]

[2016-02-04 05:14] jshaw22 opened #68 "Are GIFs supported in MapView.Marker's image prop?"
Regular images work fine, but gifs don't seem to. Would be nice to have this issue verified as we're trying to render blinking dots on multiple socket connections.

Thanks!!

[2016-02-04 08:20] DanDance opened #69 "Ensure that the following Android Key exists"
I ran into this [issue](https://github.com/lelandrichardson/react-native-maps/issues/45). I run my application on an android device, but the map is blank. `adb logcat | grep Google` says the following when i start my application:
`E/Google Maps Android API( 9266): Ensure that the "Google Maps Android API v2" is enabled.
E/Google Maps Android API( 9266): Ensure that the following Android Key exists

[2016-02-04 08:39] elaygl commented on #67
The problem occurred because of the upgrade to RM 0.19.
They changed some imports in the native modules.

After updating the react-native-maps module to latest, problem is gone.

[2016-02-04 08:39] #67 closed

[2016-02-04 10:52] DanDance commented on #69
Finally i made it.
Steps to fix were:
1)I've uninstalled application from my device
2)Deleted app-debug.apk, app-debug-unaligned.apk from android/app/build/outputs/apk
3)Deleted Api Key from Google Developer Console
4)Generated new Api key
5)Added new Key to <meta-data> in AndroidManifest.xml
6)Built my app on device
Im not sure, but it seems like google cached my application data when i tried to

[2016-02-04 10:52] #69 closed

[2016-02-04 18:11] lelandrichardson commented on #68
Hmmm. I haven't tried this and I'm not really sure what I would need to change in order to get it. AFAICT the images should have the same compatibility as any local resource provided to the `<Image />` component.

[2016-02-04 18:19] lelandrichardson commented on #66
Hi @efkan ,

This only uses the Google Maps Android API. The JavaScript API is not used.

Thanks!

[2016-02-04 18:19] #66 closed

[2016-02-05 00:49] jedlau commented on #34
Along similar lines, is it possible to enable/disable the callout for an annotation? My use case is that I want a marker to be displayed, but not tappable (i.e., no callout appears when the marker is tapped).

[2016-02-05 03:07] jshaw22 commented on #68
Just verified this with native <Image /> component and the GIFs renders. Unfortunately it doesn't in MapView.Marker.Animated image prop :(.

[2016-02-05 05:51] christopherdro commented on #43
@shieer Are you receiving coordinates at all?
Also, have you added `<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
` to `AndroidManifest.xml` already?

[2016-02-06 23:09] cy2cheng opened #70 "Feature request: ability to specify background color when tooltip=true"
Would like to be able to pass in custom colors and margins when tooltip=true. :)

Thanks!

[2016-02-07 15:15] ahmed1490 opened #71 "onDragStart event for markers"
It would be nice to have the ability to change marker image or the css to zoom in the image on drag start and subsequently change it back on drag end.

A is dragging property to the custom marker is another case, to consider.

[2016-02-07 17:02] timford2015 opened #72 "Ability to limit zooming"
Implement the following params:
minDelta={0.05}
maxDelta={2}
as outlined in https://facebook.github.io/react-native/docs/mapview.html

[2016-02-07 17:45] ahmed1490 commented on #72
maximum for sure !

[2016-02-07 18:22] ahmed1490 commented on #71
[code]

all the console.log happens *after* i have dropped the marker.

[2016-02-07 19:11] lelandrichardson commented on #71
@ahmed1490 Hmm. It's certainly supposed to work differently. Does the `onDragStart` logging ever actually get called?

Can you try listening to these events on the `<MapView />` component and see if the logging there is any different?

[2016-02-07 19:26] ahmed1490 commented on #71
I now tried..
[code]

both the components seem to be in sync while dragging..
But with console log.. i see all the changes.. only after i dropped back the marker

[2016-02-07 20:09] ahmed1490 opened #73 "Persistent callout"
Is there a possibility of not having callout disappear?

I tried

[code]

this still seems to be making a fade even on drag start and stop..

[2016-02-07 20:23] ahmed1490 opened #74 "Animated.Region is not a function"
There seems to be an error on my end when i try to run this. Can you please tell me what must be wrong here.

<img width="277" alt="screenshot" src="https://cloud.githubusercontent.com/assets/623510/12875001/cf3d6fc0-cde0-11e5-85af-f711cb2f81e5.png">

<img width="296" alt="screenshot" src="https://cloud.githubusercontent.com/assets/623510/12875005/ed3b6806-cde0-11e5-8f7c-3eade6c93237.png">

[Updat

[2016-02-08 16:32] nbastoWM opened #75 "onCalloutPress not triggered in iOS"
I just copied the events example and the `onCalloutPress` is not being triggered in iOS (Either on MapView or Marker).
In Android it fires OK, but in iOS it catches always the Map::onPress even though the callout doesn't hide until I click outside of it.

(I'm on RN 0.19)

[2016-02-08 17:23] lelandrichardson commented on #74
@ahmed1490 the patch is only needed if you want to use the animated versions of the component. The rest of the component's API will work perfectly.

The real problem is that the `AnimatedWithChildren` class is not exported in react native. I will likely propose a new API to extend/create arbitrary animated classes soon, but this needs to be done in such a way that does not conflict with efforts to

[2016-02-08 17:24] lelandrichardson commented on #73
@ahmed1490 this would be a good feature. Let me see if I can figure out how we could get this working.

[2016-02-08 17:25] lelandrichardson commented on #72
Agreed. This should be implemented. Unfortunately it might have to be for ios only though :/

[2016-02-08 22:03] ahmed1490 commented on #72
Do we really need a native implementation for this?

How about maintaining the maxDelta in as props and as soon as user changes the delta more than that.. the map animates and snap backs to the maximum its allowed to.

[2016-02-08 22:44] lelandrichardson commented on #72
@ahmed1490 the problem is the native side is often the side that is responding to zoom changes, which is required to stay that way in order to keep the map performant.

[2016-02-09 04:37] ericmuyser opened #76 "Can't see anything"
I know it's strange, but I followed the instructions and I just don't say anything. There's no errors. I've tried making it my root element. I've verified it's making it into the JS code using alerts. I suspect it's just failing to render to the view. I'm not sure what to try to figure out the root issue.

[2016-02-09 04:39] lelandrichardson commented on #76
This is likely from either:

1. component isn't styled correctly. try applying `flex: 1` or something to the container. see example app.
2. google play services not being properly installed.
3. google maps API key not specified

Please provide more information if it is none of these issues. Closing in the interim.

[2016-02-09 04:39] #76 closed

[2016-02-09 04:41] ericmuyser commented on #76
Applying `flex: 1` to the mapview element worked! Thanks mate!

[2016-02-09 06:21] ericmuyser commented on #64
It doesn't seem to be working in iOS either. I'd like to wrap it in a ScrollView so that I can scroll below the map. I think the map is absolutely positioned so that's why. I think a workaround would be to use an interaction to manipulate the map properties manually.

[2016-02-10 09:10] nbastoWM commented on #75
I tried to overcome this bug by catching a ```onPress``` (map) between a ```onMarkerSelect``` and a ```onMarkerDeselect``` but the onPress triggers before the onMarkerDeselect.

Anyway, I don't know how to get marker info in the onMarkerSelect.
I did:  ```onMarkerSelect={(m) => this.setState({markerSelected: m})}``` but the m doesn't get the markers' info.

[2016-02-12 06:02] KevinWade commented on #54
I was having this issue on iOS.

It looks like instances of AIRMapCircle are never getting a reference to the AIRMap.  Adding  `((AIRMapCircle *)subview).map = self;` to line 90 of AIRMap.m fixed this.

[2016-02-12 14:21] ghamaide commented on #37
I'm a bit new to RN. How do I get info on the marker that triggered an onMarkerSelect method knowing the event.nativeEvent.target (which returns an integer, for example 514). I don't know what that integer represents in fact. This is what onMarkerSelect returns :

[code]

[2016-02-12 14:56] ghamaide opened #77 "Released unknown imageData reference"
I get this error on Android only when I try to update markers.
Here is my markers code :

[code]

And here is the error :

![screenshot_2016-02-12-15-51-49](https://cloud.githubusercontent.com/assets/6986811/13010242/1ad465c4-d1a1-11e5-8747-a5f0eae1c48f.png)

[2016-02-15 05:31] niftylettuce opened #78 "Document `followUserLocation` (Boolean)"
Right now it's not documented under <https://github.com/lelandrichardson/react-native-maps/blob/master/docs/mapview.md>.  In order to disable following on iOS, this is needed (had to dig up the React Native docs that have it, to then realize it's also a prop in this lib).

[2016-02-15 05:35] niftylettuce commented on #78
Is this a bug?  If you pass `false`, then it will still follow location despite this code <https://github.com/lelandrichardson/react-native-maps/blob/124039be1808a67e842d6bafa71d01b94431930d/ios/AirMaps/AIRMapManager.m#L314-L323>.  So we have to enable it to true, in order it to get disabled?

[2016-02-15 06:31] niftylettuce commented on #78
It also needs patched too, see this comment on StackOverflow (it was broken in RN v0.19 and the files AIRMAP.h and others need patched too).

<http://stackoverflow.com/a/35233142>

[2016-02-15 06:31] niftylettuce commented on #78
Also, I think the iOS emulator automatically adjusts/centers MapView if you are running simulation of a car driving.  I have tested with bike and walking simulations (with geolocation on Simulator), and it seems that it only occurs for driving.  In other words, if you do bike/run in Simulator, it does not follow the user and re-center the map, however on driving mode it does.

[2016-02-15 09:46] sodik82 commented on #45
In my case it was a problem with api key (I used JS one - not the android one).
However simple "fix" by updating key haven't worked. I tried several things so I am not sure what actually helped but I think `./gradlew clean assembleRelease` and total uninstall from device helped.

[2016-02-15 15:04] rollacaster opened #79 "Usage with redux"
I tried to control the map region via a redux state container, but it seems like the map region is updated internally and overwrites the region provided by redux. The map is only shaking and cannot be moved. Is this.setState() the only way for updating the region?

Code:

[code]

[2016-02-15 16:13] roflmaolol commented on #20
I had to style to the MapView containing its size

[code]

[2016-02-15 17:39] niftylettuce opened #81 "Draggable circle/polygon"
I'd like to know how we can get the `draggable` prop currently on Markers to also be for circle/polygon/rectangle (so we can drag these shapes around the map by touching them).  I noticed we can embed custom views inside Markers, but if we want to have respect to the map (e.g. use `meters`), then how do we calculate the `width` and `height` of the custom views inside a Marker?  For example, I want

[2016-02-15 22:04] badasve commented on #77
I have the same error, it seems to be related to garbage collection of markers not  on the map anymore, any idea how to solve it ?

[2016-02-16 02:07] danielweinmann opened #82 ""illegal start of type" errors when compiling with react-native run-android"
Hi there! I'm having the following compile errors with android:

[code]

I'm using `Java Version 1.8.0_71 from Oracle Corporation`, from http://javatester.org/version.html

I've encountered this kind of error before, and it seems to have to to with my java version. For react-native-geocoder, @devfd made the following changes and it compiled for me: https://github.com/devfd/react-native-geocoder/co

[2016-02-16 09:26] joshblour commented on #54
+1 with this problem. I think I remember this being the native behaviour on iOS. (not being able to change the position of an MKOverlay) I think you'll need to remove it and re-add it at the new position.

[2016-02-17 00:12] lelandrichardson commented on #54
Sorry for the wait on this. I will get this fixed as soon as I get time. It sounds like @KevinWade had a fix... perhaps you're willing to PR?

I'm going to be heads down on ReactConf + Work for next week at least... but will get back to work on this some time after that.

Thanks for your patience!

[2016-02-17 00:14] lelandrichardson commented on #82
Interesting. Looks like the java version you are using doesn't do the generic type inferencing.

I will PR this when I get a chance. In the mean time if you want to try to take a stab at a PR i will likely accept it - but understand if you're not a java person.

[2016-02-17 00:15] lelandrichardson commented on #81
@niftylettuce This is something that I don't think is possible out of the box with the native APIs. If someone can hack together a solution, that'd be really cool... but is currently not something that's very easy to implement.

[2016-02-17 00:17] lelandrichardson commented on #79
@rollacaster this type of interaction should be possible. Not sure exactly why it's not with your example. Will have to try it out though....

[2016-02-17 00:21] lelandrichardson commented on #75
Will try to take a look at this when I get a chance.

[2016-02-17 00:21] #74 closed

[2016-02-17 00:49] ahmed1490 commented on #78
related https://github.com/lelandrichardson/react-native-maps/issues/53

[2016-02-17 08:10] rollacaster commented on #79
Thanks for the hint that there is no reason it should not work. I will try to investigate it further.

[2016-02-17 10:54] DanDance commented on #45
Got same problem. Fixed by creating new project in Google Developer Console, enabling Google Maps Android API in Developer Console, creating new key and rebuilding application with new key

[2016-02-17 16:10] rollacaster commented on #79
I found the issue I misunderstood the concept of lat/lng delta. The map was reacting strange because I used a fixed lat/lng delta. Here's the fixed version:

[code]

[2016-02-17 16:10] #79 closed

[2016-02-17 18:19] heydabop commented on #77
I was experiencing a similar error when I had an array of markers being rendered via a .map() operation, very similar to what happens in [DefaultMarkers.js#L60](https://github.com/lelandrichardson/react-native-maps/blob/master/example/examples/DefaultMarkers.js#L60). If I cleared the array, on the next render pass I would get this error.
I noticed that if I added `marker = null;` right after `mark

[2016-02-17 19:03] badaz commented on #77
I'll try this right now, thanks !

[2016-02-17 19:38] badasve commented on #77
It works thanks !

[2016-02-17 20:11] badasve commented on #77
Hmmm after some testing it seems that markers are not removed from the map anymore when doing this

[2016-02-17 20:12] badasve commented on #77
Oh I think I didn't do it correctly : I completely replaced the marker.remove() with marker = null, I will try leaving both

[2016-02-17 20:12] heydabop commented on #77
Oh, weird. How so? They get removed for me but what I'm doing is pretty basic.

[2016-02-17 20:13] heydabop commented on #77
Oh nvm, just saw your follow-up. Yea the call to remove() still needs to be there.

[2016-02-17 20:15] badasve commented on #77
Working like a charm now, tx again

[2016-02-18 01:37] danielweinmann commented on #82
Thanks, @lelandrichardson! I found out I didn't have Java 8 installed, as I thought I had. I installed it and now it works :)

[2016-02-18 01:37] #82 closed

[2016-02-18 08:51] incrediblebutterfly opened #85 "Build fails"
I'm trying to create a simple "weather" app using react-native-maps on Android.

I have followed the installation steps but I get following errors when I run `react-native run-android`

**JS server already running. Building and installing the app on the device (cd android && ./gradlew installDebug)...
**
**FAILURE: Build failed with an exception.**

* What went wrong: A problem occurred configurin

[2016-02-18 09:02] DanDance commented on #85
Do you have Google Play Services installed?

[2016-02-18 09:08] incrediblebutterfly commented on #85
Hi, thank you for reponding. Yes. I have just installed Google Play Services. I am now getting a new issue. It goes as follows -

JS server already running.
Building and installing the app on the device (cd android && ./gradlew installDebug)...
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:checkDebugManifest
:app:preReleaseBuild UP-TO-DATE
:react-native-maps:compileLint
:react-native

[2016-02-18 09:16] DanDance commented on #85
Can you please provide your MainActivity.jar code?

[2016-02-18 09:19] incrediblebutterfly commented on #85
Do you mean MainActivity.java? I'm sorry, I'm new to Android development.

[code]

[2016-02-18 09:23] DanDance commented on #85
Yeah, sure. Did you set up plugin manually or with `rnpm link`?

[2016-02-18 09:25] loox- commented on #64
I met the same problem on Android: it is nearly impossible to scroll map in the same direction of scrollview (either vertical or horizontal)
Did anyone solve this?

[2016-02-18 09:25] incrediblebutterfly commented on #85
I did it with `rnpm link` and then manually checked every affected file against the ones that are mentioned in [Installation Guide](https://github.com/lelandrichardson/react-native-maps/blob/master/docs/installation.md)
After that, I added my google maps API key in AndroidManifest.xml manually.

[2016-02-18 09:33] incrediblebutterfly commented on #85
Hey! I think I just solved the issue. I removed `onCreate()` method from MainActivity.java and everything worked like a charm. That being said, I'd like to know why is `onCreate()` method is mentioned in the installation guide?

[2016-02-18 09:35] DanDance commented on #85
I did it with `rnpm link` and saw that there is no `onCreate()` method. Glad you solved it!

[2016-02-18 09:39] incrediblebutterfly commented on #85
Yeah! Thank you!

[2016-02-18 11:39] incrediblebutterfly opened #86 "Build is successful but with some strange warnings."
After running `react-native run-android` I get following warning-

:app:processDebugResources
Unknown source file : warning: string 'catalyst_debugjs' has no default translation.
Unknown source file : warning: string 'catalyst_element_inspector' has no default translation.
Unknown source file : warning: string 'catalyst_jsload_error' has no default translation.
Unknown source file : warning: strin

[2016-02-18 11:56] #86 closed

[2016-02-18 18:11] ericmuyser commented on #64
I'm trying to grok the issue but I believe I solved this by wrapping everything inside the ScrollView with a View, including the MapView.

[code]

[2016-02-19 13:28] MiMaMuh opened #87 "Differentiate between region change by animation and interaction?"
It would be great it there were callbacks to differentiate between region-change by animation and by user interaction.

I tried to handle it with a flag which tracks region change by animation using the onRegionChangeComplete handlers, but it doesn't work as sometimes it fires the complete-handler in the middle of an animation.

Maybe there could be an implementation like this:
onRegionChangeByAni

[2016-02-19 20:09] jgibbons commented on #70
+1 this would be awesome

[2016-02-19 22:26] badasve opened #88 "Animated.Region is not a function"
Hello,

 I'm trying your AnimatedViews example and I get this js error : "Animated.Region is not a function", but I can't find this problem mentioned anywhere, am I missing something here ? Thanks for your work.

[2016-02-19 23:35] lelandrichardson commented on #88
@badasve please see this section of the readme: https://github.com/lelandrichardson/react-native-maps#using-with-the-animated-api

[2016-02-19 23:35] #88 closed

[2016-02-20 11:29] DanDance opened #89 "onDrag event not triggered on Android"
It works on iOs well, but somehow i can't make it work on android device. Does someone know why it may happen? Thank you.

[2016-02-21 21:05] micksabox commented on #54
+1 experience this issue, fixed it using @KevinWade method

[2016-02-21 23:42] swimjo opened #90 "can't find libAIRMaps.a"
Hi,

I am having some issues and haven't been able to figure them out. When I attempt to install and link the react-native-maps package using rnpm link, it only links the Android project, and doesn't mention the iOS project. When I go in to do the linking manually, I can't find the libAIRMaps.a binary file to link to the AirMaps.xcodeproj.

I've been uninstalling, reinstalling, and trying various

[2016-02-22 03:49] niftylettuce commented on #81
@lelandrichardson I figured out how to do this, I also fixed/figured out the following:

* Convert points from React Native views to coordinates on map
* Add gestures with circles/polygons etc to map
* Calculate meters from points
* Added `onMapReady` to iOS (alleviating the weird `setState({ isReady: true })` fix you had done I think because iOS didn't have `onMapReady` yet?)
* Switched from `...

[2016-02-22 20:54] heydabop opened #92 "Possible to have a button in a callout?"
Is it possible to have a button (or two) in a marker callout?
I'm aware callout has its own onPress, but I have two buttons I'd like in the callout, and as of right now either the map or the callout is catching presses and so the buttons in the callout never see them. Alternatively, the information present in the press on the callout isn't enough to determine where it's being pressed.
Just wonderi

[2016-02-23 12:43] machard commented on #92
On iOS it works, on Android not.
On Android it comes from Google Maps : https://developers.google.com/maps/documentation/android-api/infowindows (see the note)

[2016-02-23 15:58] heydabop commented on #92
Ahh, thank you for the assistance.

[2016-02-23 15:58] #92 closed

[2016-02-24 02:48] texas697 opened #94 "accuracy in location tracker"
would a native swift project have more accuracy when tracking a users movement? I have created app that does this and the points are not as accurate when compared to native swift template i bought that does the same thing. this is the template i purchased.
http://zappdesigntemplates.com/product/corelocation-coredata-swift-ios-app-source-code-psd/

[2016-02-24 06:59] christopherdro commented on #90
@swimjo Could you try adding the library manually?

[2016-02-24 15:07] sodik82 opened #95 "Memory leak on Android"
Hi there,

I mount and unmount `<MapView>` component (with single marker) quite often. And during my test on real device the app is killed after some time by OS. I have investigated it more and found out that the memory usage is really high (I can get to 1.5GB after 25-30 cycles).

[code]

I am on Samsung S4 - Android 5.0.1. Quite funny is that same apk on different phone does not lead to such cat

[2016-02-25 01:47] gunters63 commented on #87
We had the same problem and fixed it by forking React Native.

We also submitted a PR, unfortunately it was not merged yet, and the PR is now stale because our repo had issues and we had to delete it.

https://github.com/facebook/react-native/pull/4939

If you want to patch it yourself: Look for mapViewWillStartRenderingMap in RCTMapManager.m and comment out the:

````[self _emitRegionChangeEvent:

[2016-02-25 07:34] MiMaMuh commented on #87
Ah, okay, thanks! :) Hopefully it get fixed soon.

[2016-02-25 18:20] micksabox opened #96 "fitToElements to include overlays on iOS"
Great library here.

I need to be able to zoom the map to fit one or more overlays. I've accomplished this on iOS using these changes: in AIRMapManager.m -fitToElements:animated:

[code]

I can submit a pull request when I have some extra time. Just posting here in case anyone wants to contribute to the discussion of the API.

[2016-02-25 19:12] micksabox commented on #96
See pull request #97

[2016-02-25 19:41] lelandrichardson commented on #95
Hi @sodik82 ,

Thanks for looking into this issue!  Do you think you could put up a PR of the change?

Also, cc'ing @mkonicek to see if he can confirm that this would be an appropriate place to put this

[2016-02-25 19:47] lelandrichardson commented on #94
@texas697 i don't know much about this, but I think @christopherdro does. There was some accuracy stuff that he recently merged into RN

[2016-02-25 19:52] lelandrichardson commented on #87
@MiMaMuh this is a good idea, but I don't want to split up the two event handlers. On the other hand, I think it would be a good idea to pass it into the event as data so you can choose to conditionally handle it that way.

For instance:
[code]

[2016-02-25 19:57] christopherdro commented on #94
@texas697 You can see the commit here: https://github.com/facebook/react-native/commit/109036b4c4b530c04c394c48e43319ca91ca2d53

Previous, the default distance filter on iOS was set to 100 meters. Now, you should be able to set any value you'd like. Try setting the distance filter to `10` and see if you end up getting more accurate results.

[2016-02-25 20:46] sodik82 commented on #95
sure, I can create PR for this. However some review would be helpful as it was just some empirical experiment :)

[2016-02-25 20:48] bcalik commented on #95
I have the same problem and just came here to report that. After a few mount and unmount, my app gets really slow and becomes unresponsive, after that the app get killed by OS.

Please create PR, so I will also do testing.

[2016-02-25 21:34] sodik82 commented on #95
PR created.

[2016-02-25 23:29] ahmed1490 opened #99 "Possibility of fixed marker and draggable map"
This is pretty similar to how Uber behaves.
Instead of dragging the map marker (which is not necessarily a good ux), uber allows to drag the map while the pin is fixed in the middle of the screen.

[2016-02-26 00:05] heydabop commented on #99
Assuming your MapView is filling whatever view it's in, you can just put another view with only your marker in the center of it over the MapView. I'm doing this right now by putting the following right after my MapView. Then you can just use the MapView methods to get its current location.

[code]

[2016-02-26 00:20] trave7er commented on #17
not sure if this helps: https://github.com/facebook/react-native/pull/5911

[2016-02-26 00:47] christopherdro commented on #48
I haven't had a chance to dig in too deep, but it appears that the issue is coming from https://github.com/lelandrichardson/react-native-maps/blob/master/ios/AirMaps/AIRMapMarker.m#L71-L72

[2016-02-26 00:58] ahmed1490 commented on #99
sounds like a solution, although Ideally it would be nice to have something passed to marker to make it static on the screen instead of the map.

In your case, do you use screen resolutions, map width/height to get the lat/long value or is there a better way?

[2016-02-26 01:10] heydabop commented on #99
If you pass it to a marker it will be static with respect to the map, that's the point of a marker. It's a child of the map, so as you drag the map the marker gets dragged too. What you want is something completely independent of the map.

Use the MapView method `onRegionChange` and update a state variable that you can then use to figure out where the center of the map and thus your marker is.

[2016-02-26 02:02] lelandrichardson commented on #17
ooOoOoOo.

I think it does! That will be awesome!

[2016-02-26 02:24] trave7er commented on #17
great! :smiley:

[2016-02-26 06:34] lelandrichardson commented on #81
@niftylettuce i apologize for not responding to this sooner. I've been busy with react conf and I'm just now getting caught up with my github issues :)

It sounds like you've done quite a bit of work. I'd love to take a look at it! Please do submit a PR, and we can talk over the code.

Thanks

[2016-02-26 08:01] jedlau commented on #27
I'm trying to call `hideCallout()` programmatically on a `MapView.Marker.Animated`, and it's not working. I'm on 0.3.0.
[code]

Then:
[code]

[2016-02-26 12:34] MiMaMuh commented on #87
@lelandrichardso jup, makes sense to pass the information into the event. Looks good for me!

[2016-02-26 15:50] priithaamer opened #100 "Images inside Marker views are not always rendered on Android"
When using images within custom views on Markers like this, they are not always rendered on Android (sometimes they appear though):

[code]

With `adb logcat` i always see this error when image is not rendered:

[code]

Images on markers only appear correctly on Android, when using `<Marker image="..." />`

I'm using React Native 0.20

[2016-02-26 17:16] christopherdro commented on #100
@priithaamer What version of android are you running?

[2016-02-26 18:24] priithaamer commented on #100
I've seen it with devices running Android 5.1. Had no chance to check with other versions yet.

[2016-02-26 18:49] jedlau opened #101 "Can't call hideCallout() on MapMarker.Animated"
I can call `hideCallout()` successfully if the marker *isn't* animated, i.e. is just a `MapView.Marker`. However, if I use a `MapView.Marker.Animated`, nothing happens. I'm on 0.3.0.

[code]

I've also tried using the callback method of saving the ref, but that doesn't work either:
[code]

I've noticed in this latter case that the component returned in the callback alternates between null and non-

[2016-02-28 08:22] jamesone opened #102 "SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode."
So I've been trying to get this package working for a while now and am getting an error: `SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode.`

I'm using webpack and es6. Here is my web pack config.

[code]

Is there any more information I should provide?

[2016-02-29 15:19] micksabox commented on #102
What version of node are you using? Had this same issue on another project due to the incorrect version of node running, even though I was using nvm and thought I was using the latest one.

[2016-02-29 17:07] programmersharp commented on #21
I have the same problem with 'react-native-maps' - blank screen in Android. Seems I followed all the instructions in the topic.

[2016-02-29 19:45] labeeb commented on #100
I'm also facing this issue. If I set image source attribute `image={imageSource}` it work. While if we set as an Image component inside the marker, not rendering
[code]
Shows `Draw requested for a non-attached controller 1261b63` error

[2016-02-29 20:39] devfd opened #103 "custom map overlay"
Hello,

In my project I am currently using `AIRMap` and `AIRMapManager` custom categories for a heatmap overlay. Everything smooth and fine but I though maybe you would know a better and cleaner way to handle this.

Thanks for this very fine library

[2016-02-29 20:48] KFreak commented on #100
I'm facing the same issue, android 6.0 with RN version 0.20.
        <MapView.Marker
          key={car.key}
          coordinate={car.coordinates}

          <Image source={pin} style={styles.pin} />
        </MapView.Marker>

Sometimes some markers  are rendered without the image.

[2016-02-29 22:36] BigPun86 commented on #61
Had the same issue until i checked my developer console. I forgot to enable the Google Maps Api...Now it works great

[2016-02-29 22:43] jamesone commented on #102
Node version: v5.2.0 & npm version: 3.7.2

Interesting. What was the fix?

[2016-02-29 23:29] micksabox commented on #102
Sorry, should have included the fix before. I opened the program (Atom) using node from the terminal/command line, ensuring that the correct version of node was used (via nvm). Then it worked. When I just launched Atom regularly, it didn’t.

I seemed to have installed node incorrectly because I’m still having problems with it. Hope this helps.

[2016-03-01 01:13] jamesone commented on #102
Wait, so what version of node did you get to fix this error? @micksabox

[2016-03-01 02:17] af7 commented on #73
@lelandrichardson I am also interested to this, plus the other one that we discussed of the callout appearing automatically on map load. Do you think we could have these 2 features soon? Thank you for the consideration.

[2016-03-01 04:51] #85 closed

[2016-03-01 14:00] BigPun86 commented on #3
Hey there. Module works fine with release apk (signed), but when i am using the debug.apk on emulator as well as on real device i don´t see any Map...Any ideas?

Running on Mac / ReactNative 0.20

[2016-03-01 15:02] afilp opened #104 "[AIRMapMarker.m] "Implicit conversion from enumeration type 'enum UIView ContentMode' to different enumeration type"
This 'warning' appears within `AirMaps` at the following code: `resizeMode: UIViewContentModeCenter`

`Implicit conversion from enumeration type 'enum UIView ContentMode' to different enumeration type 'RCTResizeMode'`

[2016-03-01 18:50] heydabop commented on #100
I've also experienced this. It usually seems to happen on the first marker being placed.

[2016-03-01 21:29] karolbarkowski opened #105 ".addPackage missing in Android"
Hi,
in install instructions for Android, on step 3, it is said to add this line

` .addPackage(new AirPackage()) // <---- and This!`

to the onCreate method of MainActivity class along with the corresponding import statement.

But my MainActivity.java class looks like this one below and I can't find any usage of that "ReactInstanceManager.builder()" method in my project.

I'm using react 0.21. Can

[2016-03-01 21:29] christopherdro commented on #99
@ahmed1490
@heydabop Is right that want you are looking for is something independent. I would also suggest using `onRegionChange` to achieve what your looking for.

[2016-03-01 21:29] #99 closed

[2016-03-01 21:30] #77 closed

[2016-03-01 21:52] christopherdro commented on #71
@ahmed1490 Your console logs are automatically getting invoked at render since your using `()` by passing in arguments. You'll have to call your console logs with a anonymous function.

[code]

[2016-03-01 21:52] #71 closed

[2016-03-01 21:59] heydabop commented on #105
Change
[code]
to
return Arrays.<ReactPackage>asList(
    new MainReactPackage(),
    new AirPackage()
);
[code]

[2016-03-01 22:11] #105 closed

[2016-03-01 22:38] christopherdro commented on #43
@shieer Things are working fine for me.
Closing this for now since we haven't heard back in a while.
Feel free to re-open it again if the problem persists. Thanks!

[2016-03-01 22:38] #43 closed

[2016-03-01 22:40] christopherdro commented on #61
@sammosampson Closing this since it appears resolved by providing a valid key.

[2016-03-01 22:40] #61 closed

[2016-03-01 22:48] christopherdro commented on #94
@texas697
Any updates on this issue?

[2016-03-02 00:54] #48 closed

[2016-03-02 00:55] christopherdro commented on #48
@gplopes You can give this another shot.

[2016-03-02 09:57] gorjanz opened #108 "AnimatedViews example: Zooming and moving around does not work"
Why is the zooming and moving around in the map, not working in the example with the animated views => /examples/AnimatedViews.js

I am trying to build an app where the user can use the views in the bottom to see information about a marker, and jump to that marker depending on what view is in the middle, but I also need the possibility of the user zooming in, and seeing more details about the neig

[2016-03-02 12:49] KFreak commented on #52
Starting from  @christopherdro idea I used google directions api.
[code]

from the response I used: data.routes[0].overview_polyline.points;
[code]

Polyline it a class that is able to decode into an array with lat,lng coordinates the encoded polyline points. You can find it here. [https://github.com/mapbox/polyline]

and finally
[code]

It works perfectly. Thanks @christopherdro for the idea.

Go

[2016-03-02 13:01] paulbrie commented on #52
@KFreak , nice job! Thanks for your contribution. :)

[2016-03-02 14:25] BigPun86 opened #109 "In debug mode the map is not loaded? (WhiteScreen)"
Hey there. Module works fine with release apk (signed), but when i am using the debug.apk on emulator as well as on real device i don´t see any Map...Any ideas?

Running on Mac / ReactNative 0.20 / GenyMotion emulator / Sony Xperia Z5

[2016-03-02 16:50] christopherdro commented on #52
:+1:

[2016-03-02 16:50] #52 closed

[2016-03-02 16:57] christopherdro commented on #53
Here is the link to the conversation @lelandrichardson and I had on this feature.
https://gitter.im/lelandrichardson/react-native-maps?at=56a26e05c54bc2bf180b7853

[2016-03-02 16:57] #53 closed

[2016-03-02 16:57] christopherdro commented on #78
Closing since this is a duplicate of #53.

[2016-03-02 16:57] #78 closed

[2016-03-02 16:59] christopherdro commented on #21
@programmersharp Did you make sure to install google play services and provide a API key?

I also don't think we should be spending to much time supporting older versions of React Native. @lelandrichardson Thoughts?

[2016-03-02 17:34] jkallunki opened #110 "showUserLocation without focusing?"
Is it somehow possible to show user's location without focusing to it initially? Of course it can be done by using geolocation API manually and drawing a custom marker, but I think this would still be a nice feature.

[2016-03-02 18:14] ahmed1490 commented on #71
Right..
Thank you :)

[2016-03-02 18:35] christopherdro commented on #71
:+1:

[2016-03-02 19:18] christopherdro commented on #90
@swimjo Any updates?

[2016-03-02 23:42] stinju opened #114 "MapView.Marker onSelect support for Android"
Is MapView.Marker onSelect support for Android on your short-term roadmap?

[2016-03-03 02:15] #89 closed

[2016-03-03 15:33] kristianmandrup commented on #108
I just tried running the `/example` project and the *Animated Views* is not working.

[code]

`AnimatedViews @196:0`

ie. it fails here:

[code]

Note that I upgraded to `"react-native": "0.20",` so maybe the API for `Animated` has changed? Very likely, since this is an area under development/improvement according to statements made at React Conf recently!

[2016-03-03 19:27] jedlau commented on #101
Figured it out:
[code]

[2016-03-03 19:27] #101 closed

[2016-03-03 20:31] gorjanz commented on #108
Yeah, but I already did the patch, and changed the contents of AnimatedImplementation.js, with the one provided in this project, so Region is declared there, and usable. The example runs, and the functionality showcased by the example, works as expected. It's the basic functionality of the map that is lost.

[2016-03-03 23:03] stinju commented on #100
Also having this issue.  It generally occurs when I first use an icon.  Even if a marker renders correctly the first time, if I switch the marker state such that a different icon is used, the new icon will not be rendered.  If I switch it back to the original, and then again back to the second icon, the second icon renders correctly.  It might be related to whether the image has fully loaded by th

[2016-03-04 01:08] 3LP commented on #109
Same Problem

[2016-03-04 01:18] 3LP opened #117 "Android+GenyMotion+ ':react-native-maps:compileReleaseJavaWithJavac FAILED'"
Hello, I am running react-native v0.20, I followed the installation instructions, using **rnmp** **link.**  I am using Genymotion Emulator, Samsung S6.  I have used my API key for AndroidManifest.xml.  When I **react-native** **run-android** I receive the message that the Build Fails.  However, the App runs in the emulator, but the Map is blank, absent...not there.  I have all the proper API's and

[2016-03-04 09:26] ghost opened #118 "Blank Map"
Upon running it, all I get is an empty box with red outline.
![screen shot 2016-03-04 at 4 25 21 am](https://cloud.githubusercontent.com/assets/16503197/13523051/241b37a4-e1c1-11e5-9183-3e108609a908.png)

![screen shot 2016-03-04 at 4 30 10 am](https://cloud.githubusercontent.com/assets/16503197/13523197/f6d74a34-e1c1-11e5-8251-06848c96cb01.jpg)

[2016-03-04 15:58] magrinj commented on #118
:+1: I have the same problem

[2016-03-04 19:36] benvium commented on #109
You need to make sure that your debug keystore SHA1 has been added to the Google API console.

To find it use Terminal.app and type:
[code]

Add the SHA1 shown here, and it should then work.

[2016-03-04 23:29] BigPun86 commented on #109
@benvium Great job thanks!!! Works. I had it for release apk but of course not for debug.keystore. I thought it would have the same SHA1 key

[2016-03-05 03:45] christopherdro commented on #117
@3LP Any chance you can revert your changes from running `rnpm` and try adding the project manually?

[2016-03-05 06:27] osungjin commented on #118
Someone help this problem.

[2016-03-05 11:30] rgoldiez commented on #118
I'm experience the same thing.

[2016-03-05 17:24] programmersharp commented on #21
@christopherdro thank for you help. I discovered what happens. So, it works on Android device, though it doesn't work on Android emulator for Visual Studio (I still see blank screen). Actually it's not a big problem anymore. Now I have another problem with image with absolute path on marker with custom view (it's not shown in some cases). I found one coincidence - images that are declared somewher

[2016-03-06 09:49] bodyflex commented on #110
:+1:

[2016-03-06 10:11] af7 commented on #34
@lelandrichardson

I am afraid I do not know the internals well to help on this task in a timely manner. If you think you can do this relatively easily can you please give it a priority, if possible?

Thanks!

[2016-03-06 10:28] magrinj commented on #118
There is another ticket #109 which indicates that the map isn't loaded in debug mode, but I'm not in debug mode and I still have the problem, but, if some of you are in debug mode try without, just in case :)

[2016-03-06 11:28] SuttJ commented on #118
Just out of curiosity, is everyone using ES6 syntax (class extends component), or the older JS syntax (React.createClass) to make their class? I'm thinking the error might be a confusion with state/props.

[2016-03-06 11:29] magrinj commented on #118
I'm currently using the ES6 syntax, and you ?

[2016-03-06 11:31] SuttJ commented on #118
ES6 for me as well. The examples are done with the other syntax so maybe that's throwing something off.

[2016-03-06 11:33] magrinj commented on #118
Yes maybe, I'm gonna try with the older syntax :)

[2016-03-06 11:34] SuttJ commented on #118
Let us know how it goes, thanks!

[2016-03-06 11:39] magrinj commented on #118
Ok I think I just find the problem, try to put your MapView in a View with this styles for the map and the container:

[code]

The map need to be in absolute position with the top, left, right and bottom props :)
That's work for me !

[2016-03-06 11:42] mrpatiwi commented on #110
+1

[2016-03-06 11:48] SuttJ commented on #118
No luck for me. Should I try it with the other syntax or did you stay with ES6?

[2016-03-06 12:01] magrinj commented on #118
I stay with ES6 Syntax, just bellow you can see my file:

`import MapView from 'react-native-maps';

import React, {
  Component,
  StyleSheet,
} from 'react-native';

const styles = StyleSheet.create({
  container: {
    position: 'absolute',
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    justifyContent: 'flex-end',
    alignItems: 'center',
  },
  map: {
    position: 'absolute',

[2016-03-06 16:30] heydabop commented on #110
Use the `initialRegion` prop.

[2016-03-06 16:35] heydabop opened #119 "onRegionChange gives wrong location if map is tilted"
If the map is in a tilted perspective, the coordinates returned by `onRegionChange` no longer line up with the center of the screen, or to coordinates the map programmatically gets navigated to.
To test this just call `animateToCoordinate` on a titled MapView and then check the values returned by `onRegionChange` or `onRegionChangeComplete`, and they won't be equal.

[2016-03-06 16:36] bodyflex commented on #110
@heydabop at least on iOS `initialRegion` is ignored and the user location is automatically focused on when `showsUserLocation` is `true`

[2016-03-07 17:13] swimjo commented on #90
Hey sorry- I had to take a break from this and only am now getting back into it- I just had to restart and reinstall everything, there seemed to be something going wrong. It seems to be a little iffy for me whether the set-up works or not but eventually it does.

Thanks.

[2016-03-07 19:06] hakosl opened #121 "When starting my app, with react-native-maps installed, getting: error type 3"
the console output:
[code]
I don't know any java so i'm kinda stuck.

[2016-03-07 19:14] #121 closed

[2016-03-07 19:31] hakosl commented on #121
I figured it out, I looked at the example AndroidManifest.xml , and I saw that the meta-data tag with the api-key should go inside the already existing application tag. That fixed it, and I finally got the map working.

[2016-03-09 07:59] osungjin opened #122 "How can get Map zoom level?"
I couldn't find from docs.

1. How can I get current map zoom level?
2. How can I set initial map zoom level?

Plz reply to me.

[2016-03-09 11:07] #122 closed

[2016-03-09 11:08] osungjin commented on #122
Sorry. I solved.

[2016-03-09 12:33] alexHlebnikov commented on #118
Same problem here, ES6 syntax, positioning manipulation doesn't helps.

[2016-03-09 12:34] magrinj commented on #118
If you just copy-paste my example you still have the problem ?

[2016-03-09 12:49] alexHlebnikov commented on #118
Not exactly, I've also have `AppRegistry` in `import React` and a line on the bottom:
`AppRegistry.registerComponent('AwesomeProject', () => AwesomeProject);`

Without `AppRegistry` there is an error in Android emulator:

![2016-03-09 18 47 36](https://cloud.githubusercontent.com/assets/1951398/13635663/29136b02-e61f-11e5-87b0-41713e3941e7.png)

Everything else is the same.

[2016-03-09 12:59] magrinj commented on #118
Ok, so AppRegistry it's normal, you need this class one time (or two if you have two indexes, one fo iOS and one for Android) to specify the first class called in the bundle, it's the base of your application.
So if you want to use my code create a new file `Home.js`, copy-paste and copy-paste my code.
In your index file, for android -> `index.android.js` put this code:

[code]

Try to run again y

[2016-03-09 13:26] programmersharp commented on #100
I have similar issue.
Image is not shown in some cases in marker with custom view. I found one coincidence - images that are declared somewhere else on the view are shown in marker with custom view correctly too. Imagine somewhere in application (outside of the map) I have image with uri equals URL1 and it's shown correctly there. If I have image with the same uri equals URL1 in marker with custom

[2016-03-09 16:21] fabiosussetto commented on #54
I confirm that Kevin's snippet above fixes the issue for me, and it also makes the radius property of the circle working on change.

[2016-03-09 18:29] jrichardlai opened #123 "Android blinking black on load"
Before the map loads it seems there is some blinking for the map ( tried on Android 4.x, 5.x ), does anyone has the same issues too? I'm not that familiar with Android so not sure how to fix it, but found several issues on stackoverflow
- http://stackoverflow.com/questions/14419521/moving-mapfragment-surfaceview-causes-black-background-flickering
- https://code.google.com/p/gmaps-api-issues/issues

[2016-03-09 19:49] jeveloper opened #124 "IOS using Google Map instead"
Hi
Thank you for your effort in creating this library, amazing stuff!

What if i need to use google maps sdk instead of native apple on ios. It's just a requirement.
Is that possible to do through some sort of configuration?

Thank you

[2016-03-10 08:55] alexHlebnikov commented on #118
It seems to be not the styles problem, but Google Maps API configuration problem.
Thank you for help anyway.

Now I have this:
![2016-03-10 14 38 27](https://cloud.githubusercontent.com/assets/1951398/13663782/671f5b12-e6c5-11e5-83fd-111c76375911.png)

And now I'm trying to configure Google API credentials.

[2016-03-10 09:20] magrinj commented on #118
Ok thanks for your answer :)
I only try on my iOS emulator and when I change the style in another thing than absolute position my view is blank.
When that's work for you on Android device, please post a quick response, just to know if you do something specific than the installation guide

[2016-03-10 09:31] osungjin opened #125 "Marker onPress return Callout"
How can I render callout if marker pressed?

[code]

[code]

This structure caused many loads when rendered a lot of makers.

[2016-03-10 10:59] bbk1985 commented on #45
@DanDance thank you for the tip! developing for android on windows seems to be such a hassle

[2016-03-10 11:29] Ouadie opened #126 "onRegionChangeComplete is called multiple times if fitToElements(true)"
If `fitToElements(true)` is set the `onRegionChangeComplete` is called multiple times and not only at the end of the animation

[2016-03-10 11:49] #126 closed

[2016-03-10 16:43] Ouadie commented on #75
same issue for me too

[2016-03-10 20:25] #94 closed

[2016-03-11 09:57] mohamedpsx commented on #69
Had same issue, solved just by uninstalling and adding a new Key to in AndroidManifest.xml

Thanks!

[2016-03-11 10:26] ghamaide opened #129 "AirMap Circle, set radius as screen width and not meters"
All is said in the title. Is it possible to specify the radius as a screen width and not as a distance. So that it doesn't change the zooming / unzooming the map.

[2016-03-11 10:29] ghamaide commented on #110
You can change this by commenting this line : `_followUserLocation = showsUserLocation;` line 178 of AirMap.m file

[2016-03-11 10:32] mohamedpsx commented on #122
@osungjin how did you solve this ? did you use latitudeDelta and longitudeDelta ?

[2016-03-11 16:28] DennisMG commented on #100
Did anyone find a workaround for this issue??

[2016-03-11 19:45] zmsp opened #130 "Overlays not working"
The overlays arent showing up on map

The code I used isnt much different from the example you have provided.

Using react-native .21
[code]
<img width="320" alt="screen shot 2016-03-11 at 2 46 37 pm" src="https://cloud.githubusercontent.com/assets/949058/13713686/4b3056bc-e798-11e5-9147-f1d277574bf7.png">

Thanks.

[2016-03-11 21:20] badasve commented on #108
In the styles, comment the paddingTop property of itemContainer and uncomment the top property ;)

[2016-03-11 21:34] badasve opened #131 "AnimatedViews example: bad positionning of rightmost tile item after swiping"
Hello,

as said in the title, when you swipe all the items from right to left in order to get to the last item to the right, you can still swipe a little more and the last item settles at the wrong place, meaning not in the middle of the screen but left of it (you can actually see only a part of it) as if there was room for yet another "ghost" item to the right of it.

So far I have tried messing

[2016-03-11 22:01] badasve commented on #131
Ok, I managed to do it with a hacky trick : I set the xBounds prop of the PanController component to xBounds={[-screen.width * (markers.length-1.6), 0]} instead of xBounds={[-screen.width * (markers.length-1), 0]} . I'm not very happy with this though as I'm not sur it will work on any viewport, so if someone has something more elegant I'd be happy to try it !

[2016-03-11 22:36] badasve commented on #131
Ok, not working if I change the size of items (or screen I guess), I'm trying to work out a formulae from those constants, ITEM_SPACING, ITEM_PREVIEW, ITEM_WIDTH and screen.width

I'm close but it's not perfect

[2016-03-11 22:57] badasve commented on #131
I think I have it !

`let offsetSize = ITEM_SPACING / 2 + ITEM_PREVIEW;` (this is the space before the first item and after the last one)
`let xStartBound = -(offsetSize * 2 + ITEM_WIDTH * markers.length + ITEM_SPACING * markers.length - screen.width);`

then set the xBounds prop of PanController with this :
`xBounds={[xStartBound, 0]}`

[2016-03-12 07:58] osungjin commented on #122
Right. I use delta values. and calculating level from sever.

[2016-03-12 10:32] kristianmandrup commented on #108
@gorjanz What patch exactly? Do you have a working example with `Animated.Region` on github a gist or sth? Thanks :)

[2016-03-12 13:36] badaz commented on #108
It's in the docs "using with the Animated API" section I think, you have to replace a file with one provided by the author

[2016-03-12 17:32] kelvinaliyanto commented on #118
Hi, anyone got it working on iOS? I also got the same red border going on.

[2016-03-12 19:10] hannupekka opened #132 "Android scroll performance with multiple markers"
Android UI FPS drops significantly when scrolling on map with multiple (10+) markers.

[code]

[2016-03-13 12:53] kristianmandrup commented on #108
Ah yes this one [AnimatedImplementation.js]( https://gist.github.com/lelandrichardson/c0d938e02301f9294465)

[2016-03-14 06:42] christopherdro commented on #124
Duplicate #35

[2016-03-14 06:42] #124 closed

[2016-03-14 06:43] #109 closed

[2016-03-14 16:28] esutton opened #133 "Question: Programmatically open a MapView.Callout ?"
I have a  map with a list of  markers and a "next marker" button, that advances and centers the next marker in the MapView.

How can I automatically open a callout associated with next marker?

File: MapCalloutWaypoint.js
[code]

File: PlanMapView.js
[code]

Thanks for a *great* component!

-Ed

[2016-03-14 18:25] experimentsin commented on #95
The linked PR for this seems to have stalled in review, which is a little bit unfortunate given the severity of the problem on Android. Is it likely to get review attention?

[2016-03-14 18:27] lelandrichardson commented on #95
@experimentsin thanks for the ping. I agree we should get this PR in. I will take a look today and merge + publish if all looks good.

Thanks for your patience.

[2016-03-14 18:41] bodyflex commented on #110
apparently Android doesn't do this by default. I think that iOS should also not automatically focus on the users location, since it's pretty trivial to set focus manually and you'd have more control anyway.

[2016-03-14 19:46] experimentsin commented on #95
No pressure, I just think @sodik82's done some good work tracking down the issue and it would be great for everyone to benefit. Thanks for giving it the once over.

[2016-03-14 21:24] sodik82 commented on #95
@experimentsin thanks for your valueable input on PR @bcalik can you confirm any improvement on the matter?

[2016-03-14 21:45] bcalik commented on #95
@sodik82 I don't know, I am not sure. There are still memory issues, but this pr feels like reduced it a little. Anyway I released my app on both Android and iOS, our clients are using it and there isn't any negative feedback yet.

[2016-03-15 08:32] programmersharp commented on #100
I still was not able to resolve the problem. Very frustrating(..

[2016-03-15 08:37] alexHlebnikov commented on #118
Still no success in showing tiles on map, same thing (like in my previous message) in emulator and in real Android device.

I've done everything like it's said in the instruction.

[2016-03-15 09:29] programmersharp opened #134 "onRegionChangeComplete is called multiple times during first displaying of the map"
onRegionChangeComplete is called several times (2 times as far as I see) during first displaying of the map.

[2016-03-15 09:40] gorjanz commented on #108
@kristianmandrup a bit late response, but, yes that was the file I was referring to.
@badasve Thanks, I will try this first chance I get, and close the issue if successful.

[2016-03-15 11:43] fmarsoni opened #135 "Custom callout TouchableHighlight onPress not triggered in android"
While in iOS it's working.
I have something like this, rendered when I have two or more elements with the same coordinates

[code]

[2016-03-15 15:01] martinfilliau commented on #135
It's a known issue unfortunately, see #49 and #92

[2016-03-15 17:09] lellex commented on #100
I had the same issue. The only way I found is to declare marker's images before MapView.

[code]

[2016-03-15 17:29] DennisMG commented on #100
@lellex I try your solution but didn't work for me :(

[2016-03-15 19:13] Pocket-titan opened #138 "Java compilation error for getPackages()"
Hi,

In Installation.md, it states that (when manually installing), the following code should be added to MainActivity.java:
[code]

However, for me, this results in a compileDebugJavaWithJavac error when building.
Adding a "," after MainReactPackage() fixes the error, so:

[code]

would become:

[code]

If this is an error others also experience, I can make a quick pull request to Installation.md

[2016-03-16 08:21] alexHlebnikov commented on #118
Hey guys, I've finally fixed my issue.

My Google Maps Api Key was incorrect.
I've regenerated it using instructions here - https://developers.google.com/maps/documentation/android-api/signup#release-cert - and now map works perfectly.

[2016-03-16 10:31] programmersharp commented on #100
@lellex I also used this approach to make workaround, and seems it solved the problem. But after some testing I found cases when even this hack will not help. Trust me, it will not work in 100%.

[2016-03-16 11:36] Pocket-titan commented on #132
Are you testing it with JS Dev Mode disabled?

[2016-03-16 13:18] ghamaide opened #140 "Android : Error while updating property 'region' of a view managed by : AIRMap"
While everything works fine on iOS, I get this error when running on Android :

![screenshot_2016-03-16-14-09-48](https://cloud.githubusercontent.com/assets/6986811/13813619/c7a4764a-eb82-11e5-8d30-7715122a9a8f.png)

My MapView component :

[code]

[2016-03-16 13:40] texas697 commented on #130
having the same issue

[2016-03-16 17:28] DennisMG commented on #140
I was having the same issue! Debbuging the component I realized that region needs latitudDelta and longitudDelta. Once you add those props everything will work just fine.. At least that worked for me.

[2016-03-16 20:35] Type1J commented on #130
Check your capitalization. It looks like your this.state.polygon is all lowercase, but you reference it as this.state.Polygon, which will cause the rest of the render to fail.

[2016-03-17 11:00] alexHlebnikov commented on #118
And one important thing - don't forget to enagle Google Maps Android API in your Google Developers Console API Manager.

[2016-03-17 11:03] magrinj commented on #118
@alexHlebnikov: I was my first answer :)
But yes the installation guides isn't very clear about the API Key, I think you can do a PR for that!

[2016-03-17 16:06] SuttJ commented on #118
I assume that's what my problem is as well, the API key. The instructions lacked info on it, i'll try it out later.

[2016-03-17 18:58] Pocket-titan commented on #140
I had this issue too, and doing what @DennisMG did resolved the issue.
Tip: Use the Chrome debugging. It will provide you with a very clear error, in this case, it would've told you that region needs latitudeDelta and longitudeDelta as arguments as well.

[2016-03-18 09:16] programmersharp commented on #135
![image](https://cloud.githubusercontent.com/assets/2078015/13873511/a14b5dc8-ecfa-11e5-8f6c-74b154ab9673.png)
Wherever I click on my custom callout I get the same x and y (as you can see in the screen). So, I don't have the ability to determine where it was clicked.

[2016-03-18 15:47] esutton commented on #133
[The API docs](https://github.com/lelandrichardson/react-native-maps/blob/master/docs/marker.md) explain **MapView.Marker** has a **showCallout()** method.

I am a js newbie and the syntax "**this.state.markers.map**" syntax is hard to understand. Its sounds like it creates a **MapView.Marker** for every element in array **this.state.markers**.

I am hard time understanding how I can access the **

[2016-03-18 15:57] esutton commented on #133
Found answer searching for [showCallout in react-native-maps source](https://github.com/lelandrichardson/react-native-maps/blob/master/example/examples/Callouts.js).

https://github.com/lelandrichardson/react-native-maps/blob/master/example/examples/Callouts.js

  show() {
    this.refs.m1.showCallout();
  },

Thanks again for a great component!
-Ed

[2016-03-18 15:57] #133 closed

[2016-03-18 18:08] zmsp commented on #130
There was actually error on example code for overlay that I copied wrong.
strokeColor="rgba(0,0,0,0" for example missing closing bracket. Plus the error mentioned by @Type1J

[2016-03-18 18:08] #130 closed

[2016-03-18 23:21] texas697 opened #141 "how to trigger default marker popup"
I am trying to trigger a marker popup by the markerId. I see the showCallout method available in the examples but, how do I pass the marker id of the marker i want to focus on?

[2016-03-20 01:59] smooJitter commented on #118
I'm experiencing the same behavior via my IOS simulator even after making the changes. Note, running the Example app runs fine without an api key

[2016-03-20 07:13] chezhe opened #144 "MapView.Marker doesn't display when I changed location"
When I use the sample code, Maker is okay.But when I changed longitude and latitude, Marker doesn't display.
I changed to
[code]
Any idead? Thanks.

[2016-03-20 08:05] chezhe commented on #144
I mistake longitude and latitude.

[2016-03-20 08:05] #144 closed

[2016-03-21 02:44] christopherdro commented on #138
@Pocket-titan Good catch!

Can you submit a PR for that? Thanks!

[2016-03-21 11:08] Pocket-titan commented on #138
@christopherdro Sure! Pull request is here: #145

[2016-03-21 13:32] Pocket-titan commented on #103
@devfd I'm also working with heatmaps in react native & have not found any existing library that adds this feature. Could you elaborate a bit more on how you're creating a heatmap overlay? I'm interested in creating a native module for this. Thanks!

[2016-03-21 14:31] #138 closed

[2016-03-22 08:38] r-wittmann commented on #125
Hi osungjin,

just use the default structure for callouts:
`
<MapView.Marker>
  <MapView.Callout>
    <Custom Callout or just Text>
  </MapView.Callout>
</MapView.Marker>`

as seen here: https://github.com/lelandrichardson/react-native-maps#rendering-a-custom-marker-with-a-custom-callout

Callout is triggered by pressing on the marker.

Ray

[2016-03-22 10:44] lellex commented on #118
Same blank page with red borders on iOS... I guess the API key has nothing to do with this issue right ? The instructions seems to use Plans ?

[2016-03-22 12:28] magrinj commented on #118
@lellex Yes the API key has nothing to do with iOS because that's use Plan. Did you try to set you map in absolute position with the props top, right, left and bottom set to `0`, if that still doesn't work make sure the lib is linked in Xcode, or link it with `rnpm`

[2016-03-22 13:29] lellex commented on #118
Thanks, but I didn't install the plugin correctly (first time I try on iOS)... and it's works fine !

[2016-03-22 13:31] magrinj commented on #118
@lellex Ok great :+1:

[2016-03-22 15:53] maluramichael opened #146 "Update polyline"
Is it possible to update a polyline?

[code]

And {polyline} is a dynamic line from Google Directions Api which i generate everytime i change my origin and destination TextInputs.

I call this after i change my TextInputs.
[code]

Then the map gets rendered. But no polyline. Only after i move the map a bit. But only for the first time. If i change the Destination and move the map again, the old po

[2016-03-22 16:59] lucasfeliciano opened #147 "Initial Position based on markers + user geolocation"
I have only one marker and the users geolocation enabled.
I want to have both showing in the initial position of the map.

Whats the best approach to do that?

[2016-03-22 17:48] lucasfeliciano commented on #140
I'm having the same issue, I added the deltas coordinates but I still get this error:

[code]

[2016-03-22 18:05] lucasfeliciano commented on #140
Ok, I figured it out what was my problem in this case:

If you use `showsUserLocation` props you need to add the `ACCESS_FINE_LOCATION` permission into your `AndroidManifest.xml`.

[code]

That worked for me

[2016-03-22 20:06] DennisMG commented on #132
I can confirm this! When rendering multiple markers the FPS drops. JS Dev Mode is disabled.

[2016-03-22 20:21] hannupekka commented on #132
I had dev mode also disabled. BTW, my device is Nexus 5x and some other devices seemed to perform better.

[2016-03-23 11:56] bbk1985 commented on #72
will android be supported?

[2016-03-23 12:13] chenchuanjiang opened #148 "blank page"
I did it according to the instructions.But the page display nothing on android device.I installed google-play-service and applied a google-maps-key.
`
'use strict';

var React = require('react-native');

var {
    AppRegistry,
    StyleSheet,
    Component,
    View,
    Alert,
    TouchableHighlight,
    Text
    } = React;
var MapView = require('react-native-maps');
var MapExample = React.create

[2016-03-23 13:55] sesteva opened #149 "Memory Release"
Hi,
 Im displaying two maps on two TabBarIOS.Item.
 Memory increases 80MB for each map and even when I switch to a non map tab item, the memory is never released.
 Is there any method I can run on componentWillUnmount to clean up the view?
 Thanks

[2016-03-23 15:09] lucasfeliciano opened #150 "When showsUserLocation is true initialRegion is always the user"

[2016-03-23 15:10] lucasfeliciano opened #151 "When showsUserLocation is true initialRegion is always the user's location on iOS"
If you enable the prop `showsUserLocation` even if you pass `initialRegion` the map is centralised by the user's position on iOS

[2016-03-23 15:11] lucasfeliciano commented on #150
Wrong submission, sorry!

[2016-03-23 15:11] #150 closed

[2016-03-23 15:12] lucasfeliciano opened #152 "Feature proposal: Intent to open in native maps app"
Would be nice to provide the user a intent method to open the actual map component into their map app of choice, passing the markers as well so they can trace a route easily

[2016-03-23 15:20] lucasfeliciano commented on #151
If i use `region` props it works

[2016-03-23 15:58] lucasfeliciano commented on #151
Reopening it because

[2016-03-23 19:42] rusel1989 opened #153 "Stacked maps"
It is probably not issue at all... i am just wondering how to make possible to nest MapViews. In my app i want to open custom dialog with map detail on marker click, but when i try to do it the view is empty

[2016-03-23 19:44] #153 closed

[2016-03-23 19:45] rusel1989 commented on #153
Sorry lame :-)

[2016-03-23 21:57] weixingsun commented on #129
try marker with image

[2016-03-24 05:00] bbk1985 commented on #147
will this work?

1. userCoord: get user coordinates with navigator.geolocation.getCurrentPosition
2. centerCoord: get center coordinates of user and marker
3. deltasLat/Lng: get delta of user and marker coordinates
4. create MapView with
    - initialPosition = centerCoord
    - latitude/longitudeDelta = deltasLat/Lng
    - showUserLocation = true
5. create marker with marker coords

[2016-03-24 06:19] christopherdro commented on #151
It appears this is the default behavior.

This property does not indicate whether the user’s position is actually visible on the map, only whether the map view should try to display it. Setting this property to YES causes the map view to use the Core Location framework to find the current location and try to display it on the map. **As long as this property is YES, the map view continues to track

[2016-03-24 06:20] #151 closed

[2016-03-24 06:28] christopherdro commented on #147
You can set the users location as a marker and use [fitToElements](https://github.com/lelandrichardson/react-native-maps/blob/master/docs/mapview.md#methods)`.

Not sure if `fitToElemnts` will work if your using `showUserLocation`. If not then you would have calculate the region based the your static marker and users current position and update the `region` prop or use the `animateToRegion` method

[2016-03-24 06:28] #147 closed

[2016-03-24 06:29] christopherdro commented on #123
@jrichardlai Is this still an issue?

[2016-03-24 06:39] jrichardlai commented on #123
Yes it still happens for me, is there anything special to set up the MapView for Android to not have the black blinking?

[2016-03-24 06:43] christopherdro commented on #123
Hmm, are you trying on a device or through the simulator?

Also, what version of RN are you on?

[2016-03-24 06:45] jrichardlai commented on #123
Both on device and simulator, I was on RN 0.21, but upgraded to 0.22 and same issue

[2016-03-24 06:50] christopherdro commented on #123
I think this is more a device issue. @lelandrichardson Any thoughts on exposing an api for lite mode?
https://developers.google.com/maps/documentation/android-api/lite#intents_to_launch_a_map_view_or_directions_request

[2016-03-24 06:51] christopherdro commented on #148
Duplicate #118

[2016-03-24 06:51] #148 closed

[2016-03-24 06:54] jrichardlai commented on #123
So you don't have this issue? I'm gonna try out more phones tomorrow and let you know if it happens across the board for me. I'm gonna try the example app see if shows the same behavior.

[2016-03-24 06:55] christopherdro commented on #123
Nope, never came across this one yet.
Keep us posted.

[2016-03-24 09:15] chenchuanjiang commented on #118
I Donot Understand Debug Certificate.I have had a key and set my map in absolute position with the props top, right, left and bottom set to 0.But still get a blank view. @alexHlebnikov

[2016-03-24 09:21] magrinj commented on #118
How did you link your the package to iOS and Android ? Manually ? If so, try to do it automatically with `rnpm`

[2016-03-24 09:29] chenchuanjiang commented on #118
I have linked my package to Android with rnpm.

[2016-03-24 09:32] magrinj commented on #118
Ok, so, I think you create a wrong API key, follow the link of @alexHlebnikov, wait some minutes after key is created, sometimes there is a little delay before the key is active. Check in your google account if the `Google Map Android API` is enabled, if not enable it and change the key.

[2016-03-24 09:34] chenchuanjiang commented on #118
OK , thank you , I will try again.

[2016-03-24 09:36] magrinj commented on #118
Ok keep us inform :)

[2016-03-24 09:36] chenchuanjiang commented on #118
OK,thank you very much :)

[2016-03-24 10:41] chenchuanjiang commented on #118
Oh no! still blank view. how can I know that whether my key is correct?

[2016-03-24 10:43] magrinj commented on #118
Oh, try your key like describe here to know if the problem is the key: [here](http://stackoverflow.com/questions/15124908/how-to-make-sure-that-your-android-google-maps-api-key-is-working-fine)

[2016-03-24 11:30] chenchuanjiang commented on #118
I have tried.Repleace the key in native file <android-sdk>/extras/google-play-services/samples/maps/AndroidManifest.xml with my own key.It can be run up , but still blank view.

[2016-03-24 13:29] magrinj commented on #118
Did you run the sample app ? If so, and you still have a blank map, the error came from your Google Map API key, and you need to generate a new one.

[2016-03-24 15:24] alexHlebnikov commented on #118
@chenchuanjiang do you enable Google Maps Android API in your Google Developers Console API Manager?

[2016-03-24 15:32] bcgilliom commented on #118
It started working for me on iOS after restarting the dev server.

[2016-03-24 15:38] magrinj commented on #118
@alexHlebnikov I told us to check this think a few messages before, I think he do it :)

Another think, it's obvious but just in case, you need to **restart** your virtual machine when you install a new package linked to Android or iOS

[2016-03-24 20:22] jrichardlai commented on #123
Hey, I tried on multiple phones the project example from react-native-maps and the issue seems to happen in all the phones we have here is a recording for 3 phones. ( it happens for the last one too but was shorter and the frame got dropped )

![out](https://cloud.githubusercontent.com/assets/159813/14030135/49315d72-f1c3-11e5-8a05-d85c8dab334d.gif)

[2016-03-24 21:05] christopherdro commented on #123
@jrichardlai Not quite sure if I would consider that a bug. It just looks like the view loading.

[2016-03-24 21:30] jrichardlai commented on #123
Ok, just wanted to check if that was the expected behavior. Yes I don't think its a bug either, but it feels unpleasant to have this black, was just checking if you knew a way to remove it ( change the color maybe).
Thanks again on checking in!

[2016-03-25 00:21] lelandrichardson commented on #123
@jrichardlai is there a common way this effect is skirted around in traditional android development?  It's not clear to me what the fix is - but it seems like it could be hacked around by displaying a view while the map loads or something.

I'm open to potential workarounds.

I'm not sure, but this PR might help out: https://github.com/lelandrichardson/react-native-maps/pull/91

[2016-03-25 01:17] jrichardlai commented on #123
Thanks! I'm gonna take a look and see if that works for us, the staggering/lagging is the reason why I used liteMode.

[2016-03-25 01:22] chenchuanjiang commented on #118
I tried again, but got nothing.I do not know the reason why the Map do not display.I tried everything I can do.That is a sad story.

[2016-03-25 01:47] chenchuanjiang commented on #118
I just review the file.The signature algorithm name is SHA256 but SHA1 on my computer.Maybe this algorithm cause this problem.But I donot know how to deal with it :(

[2016-03-25 04:46] chenchuanjiang commented on #118
I delete the old debug.keystore file and create a new one with SHA1 . And then I supply a new key with the new SHA1 key.But it still dosenot work.

[2016-03-25 08:24] magrinj commented on #118
@chenchuanjiang: It's really a sad story, can you try it on iOS ? if not, check these files:

`android/settings.gradle`

Need to have this:

[code]

`android/app/build.gradle`

Need to have this:

[code]

`android/app/src/main/AndroidManifest.xml`

Need to have this:

[code]

`android/app/src/java/com/yourproject/MainActivity.java`

Need to have this between `application` tag:

[code]

I'm pretty

[2016-03-25 08:30] chenchuanjiang commented on #118
You missed a step. `android/app/src/java/com/yourproject/MainActivity.java` also need to have  `import com.AirMaps.AirPackage;`

[2016-03-25 08:31] magrinj commented on #118
@chenchuanjiang: Yes, but it's a little bit obvious :)

[2016-03-25 08:31] chenchuanjiang commented on #118
I have checked it many times...

[2016-03-25 08:32] magrinj commented on #118
@chenchuanjiang: Did you do the steps for the Google Map API Key ?

[2016-03-25 08:37] chenchuanjiang commented on #118
yes , I also have checked it many times.

[2016-03-25 08:40] magrinj commented on #118
Ok, I think we do an overall check, I have no other ideas for the moment, but if I have one I'll post it.

[2016-03-25 08:47] chenchuanjiang commented on #118
OK,thank you very much :) ,I will keep eyes on it , if I have any progress I‘ll post it.

[2016-03-25 08:49] magrinj commented on #118
Your welcome :)

[2016-03-25 17:52] jrichardlai commented on #123
@lelandrichardson it actually resolve the blink, but had to change the logic to have the loader even when not wanting to cache ( still want sometimes to scroll and have the location button )

[2016-03-26 12:39] dg92 commented on #21
i have same problem running react-native-maps on android avd 'blank screen', tried everything mentioned in comments but no success.

"react-native": "^0.22.2",
play services installed,
api key provided,
manual installation of react-native-maps

Please help to resolve.

[2016-03-26 16:12] dg92 commented on #45
@mdcsfk : please help to resolve issue.
getting same as you got in log
W/GooglePlayServicesUtil( 2349): Google Play services is missing.

[2016-03-26 16:16] jrichardlai commented on #45
@dg92 did you install google play services on the simulator? http://stackoverflow.com/questions/20121883/how-to-install-google-play-services-in-a-genymotion-vm-with-no-drag-and-drop-su/20137324#20137324 That's generally when you get this message

[2016-03-27 09:17] dg92 commented on #45
@jrichardlai  thanks for your time .
please refer the sdk manager screen shot , its installed.
![screenshot from 2016-03-27 14 45 21](https://cloud.githubusercontent.com/assets/17122343/14064693/9980072e-f42a-11e5-8b4c-c2016015bbf8.png)

[2016-03-27 15:10] dg92 commented on #45
@jrichardlai :  thanks !

[2016-03-28 00:37] jrichardlai commented on #45
You need to install it on the simulator you can follow this video https://www.youtube.com/watch?v=D0CjC4LVRuc ( or other one on youtube )

[2016-03-28 05:29] cnsilvan commented on #100
I had the same issue.

[2016-03-28 10:51] GedoonS commented on #149
I think I'm seeing this too. It appears that when I have a view with the map, open one item on the map, fetch server data, display it, and then return to the map, at some point it crashes on the Nth display of the map, throws an ANR and I see a mem alloc error in logcat. Some garbage collection call on unmount would deffo be great. I'm using a navigator, and pushing new views on it every call. Doe

[2016-03-28 21:56] jakegny commented on #118
I don't know if this was the problem... but after I double checked my API key (enabling) I added the following permissions and the screen was no longer blank. I also set the mapType="hybrid".

`<uses-permission android:name="android.permission.INTERNET" />
    <permission      android:name="com.maps.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="c

[2016-03-29 09:53] bcgilliom opened #154 "Images in Custom Callouts not appearing on Android"
I tested this on a nexus 5X emulator with API 23 and a Samsung S4 with 5.0.1. It works fine on iOS. I am essentially using the code from the example and added an Image with a local source (which shows up as expected outside of the map view).

![screen shot 2016-03-29 at 10 50 12 am](https://cloud.githubusercontent.com/assets/5893743/14104274/397bd5d8-f59c-11e5-8bf9-5fb3a7cb9c24.png)

[2016-03-29 12:26] frankbolviken opened #155 "Map with marker and animated itemContainer"
Hi,

I'm loving the animated view example. However, I find it kind of advanced and have a requirement like this.

A user tap a marker, the item container at the bottom (barely visible) updates with some info.
You can slide the item container up, and it will snap at some point while panning the map so you can still see the marker above the item container. Lets say the item container fills 60% off t

[2016-03-29 12:33] frankbolviken commented on #155
I guess the difference in this solution would be that you will only have this one itemContainer, instead of all the other container panned out. (Supports more markers at the same time easy, and clicking on markers instead of swiping left and right).

[2016-03-29 13:31] frankbolviken commented on #37
+1 for this. Im having a hard time tying this together.

My marker definition:
`<MapView.Marker
            key={station.csmd.id}
            title= {'' + station.csmd.id}
            coordinate={ station.coords }
            onSelect= {this.onStationTap}
            image={require('../../assets/station.png')}
          />`

As you can see from the image below, the only slight reference to the mar

[2016-03-29 14:44] jrichardlai commented on #140
@ghamaide are you still getting the error?

[2016-03-29 23:51] gunters63 commented on #49
MapView.Marker onCalloutPress works with the native built-in Android map callout

[code]

Wouldn't it be possible to support that for custom callouts too? So that at least we can have click events on the whole callout?

[2016-03-30 01:48] irfaan opened #156 "Animated View throws error (w/ AnimatedImplementation.js mod)"
Switched out AnimatedImplementation.js with the one from the gist linked in the Readme. Receive this when creating an animated region on state:

[code]

Anyone else run into this problem?
Thanks in advance!

[2016-03-30 04:28] irfaan commented on #156
Oops! Needed to use `<MapView.Animated>` instead of `<MapView>`!

[2016-03-30 04:28] #156 closed

[2016-03-30 06:05] jrichardlai commented on #146
@maluramichael can you try https://github.com/lelandrichardson/react-native-maps/pull/157 and let me know if that fixes it?

[2016-03-30 08:39] mvaivre opened #158 "Prevent mapToolbar to show when selecting a marker"
Strange behaviour related to the selection of a marker: a map toolbar appears... after rotating the screen to landscape mode. Maybe a MapView prop to allow or not the mapToolbar to show would be nice!

![screenshot_20160330-103031](https://cloud.githubusercontent.com/assets/6715943/14136507/693105f6-f663-11e5-99a7-3f9678328cf6.png)

[2016-03-30 10:58] bbk1985 commented on #134
I'm on Android and it seems to be called continuously.

`  constructor(props) {
    super(props);
    this.state = {
      region: {
        latitude: this.props.coords.latitude,
        latitudeDelta: 0.01,
        longitude: this.props.coords.longitude,
        longitudeDelta: 0.01,
      }
    }
  }

  render() {
    return (
      <MapView
        style={styles.map}
        showsUserLocation={

[2016-03-30 15:35] maluramichael commented on #146
I tried ```npm install https://git@github.com:lelandrichardson/react-native-maps#9aaa9a539fc7f347d8a8e958b798322f2896802d``` restarted the packager with --reset-cache and got the same problem as above described.

[2016-03-30 15:50] jrichardlai commented on #146
hmm strange this fix worked for me. Just double checking, did you rebuild the iOS app?

[2016-03-30 17:16] lelandrichardson commented on #49
@gunters63 yes, we could potentially have click events on the entire rendered view, just not on specific components, and handling `<Touchable*>` properly is probably never going to be possible (without additional support from the maps library itself).

The `onMarkerPress` event should work for you here. That works right now on android IIRC.

[2016-03-30 23:11] guinaldi opened #160 "Warning when trying to set region: latitude with a variable"
Hi guys!

When trying to set region latitude with a variable, my iOS simulator is showing a warning message saying that the required propType : latitude was not found. But actually the map is working!

Is that ok?

Thanks!

[2016-03-31 03:45] jrichardlai commented on #160
What are the params you are using? Do you have a sample code? Is latitude the only missing proptype?

[2016-03-31 11:10] mylonasg88 commented on #108
Hi,
I just had same error as @**kristianmandrup** so I followed and changed content of ```node_modules/react-native/Libraries/Animated/src/AnimatedImplementation.js``` (1695 lines of code where [this one](https://github.com/facebook/react-native/blob/master/Libraries/Animated/src/AnimatedImplementation.js) is 1904 and I believe am using the latest `react-native`)
with
[AnimatedImplementation.js](h

[2016-03-31 12:34] joshbedo opened #161 "Any way to create paths from Point A - Point B"
Similar to what google maps has to offer. You can enter to locations and it tells you the best route to get there. Does anyone know if there is any way to do that currently with this plugin or react native? For example something like Uber where it shows you the paths to take from Point A to get to Point B.

[2016-03-31 12:38] guinaldi commented on #160
I have a fetch getting data from a json and set state consulta receiving this json object.

Then in render i have =

 var consulta = this.state.consulta;

 <MapView
    style = {styles.map}
    region={{
      latitude: consulta.Latitude,
      longitude: consulta.Longitude,
      latitudeDelta: 0.005,
      longitudeDelta:  0.010
    }}
    />

[2016-03-31 12:45] guinaldi commented on #160
Actually the message is: Warning: Failed propType: Required prop 'region.latitude' was not specified in 'MapView'. Check render method.

This happens only with region.latitude and initialRegion.latitude so far.

[2016-03-31 12:52] guinaldi commented on #160
Just tested here. With MapView.Marker coordinate also is trowing the warning on latitude.

[2016-03-31 13:00] maluramichael commented on #146
@jrichardlai awesome. i don't know why it is now working. Thanks for your help.

[2016-03-31 13:00] #146 closed

[2016-03-31 13:01] joshbedo commented on #118
Any updates on the iOS version? I'm still seeing a blank screen and not sure how to fix it.

[2016-03-31 16:57] jrichardlai commented on #160
should it be `consulta.latitude` instead of `consulta.Latitude` ?

[2016-03-31 19:07] guinaldi commented on #160
in our JSON is Latitude.
The Map is working... It's getting the latitude value on console too.
But keeps the warning message.

[2016-03-31 19:48] DennisMG commented on #161
+1

[2016-03-31 20:35] jrichardlai commented on #160
Is it rendered multiple times? Does it has the latitude on the first rendering?

[2016-03-31 20:58] guinaldi commented on #160
@jrichardlai You are right. Its rendering twice. The fetch is done on componentDidMount().
Sorry about that and thanks a lot for the attention!

[2016-03-31 20:58] #160 closed

[2016-04-01 08:05] Froelund commented on #118
I had the issue on iOS. I just had to re-run on the simulator after rnpm link..

[2016-04-01 08:25] sasha42 commented on #108
I'm seeing a similar issue with the provided example. The commenting out solution from above did not work for me, and I don't quite understand how to use the AnimatedImplementation.js example.
![screen shot 2016-04-01 at 10 19 22](https://cloud.githubusercontent.com/assets/1775702/14201596/3a0a2424-f7f3-11e5-8704-6b7430a17951.png)
I ran `rnpm link`, the repository is up to date as of submitting th

[2016-04-01 16:20] joshbedo commented on #110
Is there any way to show a blue dot displaying where the user is without custom markers?

[2016-04-01 16:38] heydabop commented on #158
I actually have a patch for this, I just haven't taken the extra time to make it a prop.

[code]

[2016-04-01 21:45] davidskaarup opened #162 "Add "animatesDrop" option to marker"
Is it possible to add this option?

[2016-04-01 23:15] joshbedo commented on #118
Yeah i ended up fixing it after doing the manual install. I tried rnpm link 2 times.

[2016-04-02 09:28] JamesWatling commented on #95
@sodik82 This has improved the leaks, but they're still quite prevalent, and on some devices (mostly tablets) the app becomes unresponsive quite quickly

[2016-04-02 14:14] sodik82 commented on #95
thanks for report. I am also not convinced that current solution removed all leaks. Therefore I am leaving the issue open and hoping that someone more experienced can bring more light on the subject.

[2016-04-02 19:12] zandzpider opened #163 "Failed to open Map on Android 6 (real device)"
Specs: Sony Xperia Z5 Compact running latest android (6)
Google maps and play services are installed and working

What i have tested and confirmed that is working
- The genymotion android 6 and 5 simulator works
- Tested on several other real devices (samsung s4 with android 5.1) works

![2016-04-02 19 07 22](https://cloud.githubusercontent.com/assets/321691/14228542/7f6750e4-f917-11e5-96d6-f34e7f

[2016-04-03 10:25] davidskaarup commented on #161
+1

[2016-04-04 08:49] gorjanz commented on #108
@sasha42 follow @badaz instructions to get it working. As for the actual example, I haven't gotten around to check if @badasve answer is working. If someone gets around to check it out, please close the issue if the fix is correct.

[2016-04-04 11:44] compains opened #164 "Cant get working on Android"
Hi

I managed to get it working on iOs, but in android is failing, on real device and emulator.

This is the error message that I receive on the Android Studio
[code]

The app is built correctly but when I try to launch it a get a "Application has stopped" alert.

Any idea?

Thanks in advance!!

[2016-04-04 14:20] eMatsiyana commented on #161
+1

[2016-04-04 15:10] jrichardlai commented on #164
Can you check your version of com.google.android.gms:play-services-base in your app? react-native-maps using 8.4.0, I noticed there might be conflicts in versions.

[2016-04-04 16:12] compains commented on #164
Hi @jrichardlai thanks for your answer. I don't have any Java (neither Android) environment experience.

Where can I check the com.google.android.gms:play-services-base version un my app, I found the file inside react-native-maps module that specifies the 8.4.0 version, but i can't find anything similar in my app.

[2016-04-04 17:03] compains commented on #164
Hi @jrichardlai I managed to make the app fire up. I added these lines

`compile "com.google.android.gms:play-services-base:8.4.0"
    compile 'com.google.android.gms:play-services-maps:8.4.0'`

to the build.gradle (the onen from the app folder) and the i found that the react-native-push-notificacion uses 8.3.0, so I changed the dependency to 8.4.0 (I have no idea of what I'm doing....) and the ap

[2016-04-04 17:39] compains commented on #164
@jrichardlai After some issues with my wifi, I was able to run the app on a device (an old Galaxy S2) and the map is working. If I left the react-native-push-notification build.gradle file as it was originally
`compile 'com.google.android.gms:play-services-gcm:8.3.0'`

As said before, I have no experience in Java or Android environments so if there is a better way of solving this issue....

Thanks

[2016-04-04 19:24] davidskaarup commented on #161
If this is implemented it would be great if transport type is included as an option - e.g. either car, walking, cycling etc.

[2016-04-05 19:14] ws3li commented on #118
How about Android? Any update? I still see a blank map with Google on the bottom left corner.
I saw a RN release 24 which is supposed to fix some Android map issue. Not sure if this is related.

Can anyone confirm?

[2016-04-05 19:36] alexHlebnikov commented on #118
@ws3li sound like you don't enable Google Maps Android Api or you Api key is not valid.
Also, try this: generate and copy your `debug.keystore` ([more info here] (https://developers.google.com/maps/documentation/android-api/signup#release-cert)) file in **android** folder in your react native app folder. Then add in `gradle.properties` these lines:
[code]
and in `build.gradle` add this in `signing

[2016-04-06 08:04] BigPun86 opened #165 "Getting error on real device"
Hey there! I am getting following error when i try to start the map on real device. On my emulator everything works perfectly....

![screenshot_20160406-100034](https://cloud.githubusercontent.com/assets/7880624/14309796/dfa1812c-fbde-11e5-98ef-f9c784844a0c.png)

This is what i found but i can´t really do anything with it

https://code.google.com/p/gmaps-api-issues/issues/detail?id=9071

[2016-04-06 12:19] BigPun86 commented on #163
+1

[2016-04-06 13:13] BigPun86 commented on #154
+1

[2016-04-06 18:16] zandzpider commented on #163
Tested on Samsung S7 curved with Android 6. worked. weird it's only on my phone. and BigPun86 too i guess

[2016-04-06 20:24] jrichardlai commented on #163
What are the versions for google play services that you are using ? I think they should be 8.4.0

    compile 'com.google.android.gms:play-services-base:8.4.0'
    compile 'com.google.android.gms:play-services-location:8.4.0'
    compile 'com.google.android.gms:play-services-maps:8.4.0'

[2016-04-06 20:34] BigPun86 commented on #163
I am using 8.3 for all. Might be the reason why it breaks my app. But if i update it in react-native-maps build.gradle, then the build fails.

<img width="1384" alt="screen shot 2016-04-06 at 22 33 40" src="https://cloud.githubusercontent.com/assets/7880624/14331949/abf40b88-fc47-11e5-9049-24824faadfe4.png">

[2016-04-06 20:38] socialbit-at commented on #154
+1

[2016-04-06 20:39] mcliquid commented on #154
+1

[2016-04-07 02:40] arashbi opened #166 "rnpm link"
When I run this command on a fresh project, after adding dependency, 'rnpm link' doesn't do anything. The process sits there and never terminates.

[2016-04-07 07:29] zandzpider commented on #163
@jrichardlai are you thinking of phone version of google play services? if so, it is 8.3.03 (2645110-446)

[2016-04-07 07:31] zandzpider commented on #163
@jrichardlai

or this maybe? node_modules/react-native-maps/android/build.gradle

dependencies {
    compile 'com.facebook.react:react-native:0.19.+'
    compile "com.google.android.gms:play-services-base:8.4.0"
    compile 'com.google.android.gms:play-services-maps:8.4.0'
}

[2016-04-07 08:04] BigPun86 commented on #163
@jrichardlai No not the Phone Version. I meant the dependencies in node_modules/react-native-maps/android/build.gradle. If i use 8.4.0 for base and maps my app won´t build. I get the above error.

So i had to downgrade to:

    dependencies {
        compile 'com.facebook.react:react-native:0.19.+'
        compile "com.google.android.gms:play-services-base:8.3.0"
        compile 'com.google.androi

[2016-04-07 09:30] compains commented on #164
Forking the repos and fixing Google Play Api versions make it works. Closing

[2016-04-07 09:30] #164 closed

[2016-04-07 23:44] christopherdro commented on #166
@arashbi This could be from some recent changes to rnpm. Could you try manually linking the libraries?

[2016-04-07 23:46] christopherdro commented on #161
You would have to use a third party API to get that data then plug in into react native maps.
I don't think there are plans to include that functionality into this project since you can use google, mapbox or any other map service API to retrieve proper route data and plug it into this library.

[2016-04-07 23:47] christopherdro commented on #161
This might help. https://github.com/lelandrichardson/react-native-maps/issues/52

[2016-04-08 05:22] octavioturra opened #169 "Layer problems in android"
I've got an error with MapView when I put it under some input.
In my app, there is a TextIput over the map, but, when I press it, it doesn't focus. The same for any other pointer events on any object over the map.
Can someone help me? Is this a bug?

[2016-04-08 07:43] grabbou commented on #166
Please upgrade to 1.6.1. That is indeed a bug with 1.6.

<img width="650" alt="screen shot 2016-04-08 at 09 43 02" src="https://cloud.githubusercontent.com/assets/2464966/14377127/5549fdd8-fd6e-11e5-89e8-6a3c06e8585a.png">

[2016-04-08 08:38] KGALLET commented on #118
Got the same issue here.. Blank map on Android, but not on iOS.
My problem is probably the same as you with the API_KEY, i follow steps gave here by @magrinj but nothing change i got the blank map aswell.

[2016-04-08 14:39] christopherdro commented on #166
Thanks @grabbou!

[2016-04-08 14:39] #166 closed

[2016-04-09 14:16] thatsmydoing commented on #35
This would also be useful when using Google Maps Places Search or similar. The terms of service say that you can only show the search results on a Google Map.

[2016-04-09 14:22] iSimar opened #171 "a search box on the map"
is there a way to put a search box on the map? then using google places api with it...

[2016-04-09 16:08] lelandrichardson commented on #35
This is an interesting topic and I'm not sure where to go with it.

On the one hand using the same maps platform across iOS and Android would certainly be nice and able to provide a more consistent cross-platform experience...

On the other hand, mapkit handles the types of things I want this library to do (ie, arbitrary views inside of  callouts and markers). Google Maps is significantly underpow

[2016-04-09 21:33] mdutkin commented on #108
guys, I had almost the same problem
<img width="374" alt="2016-04-10 0 27 12" src="https://cloud.githubusercontent.com/assets/8430504/14406534/0839b9fc-feb3-11e5-86c4-26f1c7eee259.png">
it was clear that the problem is in definition of `requestAnimationFrame`. I'm using `react-native@0.22.2`. I found the fix in one of the forks by @polacekpavel, which you can find in https://gist.github.com/polace

[2016-04-09 23:53] zandzpider commented on #171
i have implemented this in my app. just some css trickery =)

[2016-04-10 02:39] badaz commented on #108
Tx ! Will try this asap !
guys, I had almost the same problem
<img width="374" alt="2016-04-10 0 27 12" src="https://cloud.githubusercontent.com/assets/8430504/14406534/0839b9fc-feb3-11e5-86c4-26f1c7eee259.png">
it was clear that the problem is in definition of `requestAnimationFrame`. I'm using `react-native@0.22.2`. I found the fix in one of the forks by @polacekpavel, which you can find in http

[2016-04-10 06:09] nickdaugherty opened #172 "Marker callout closed when content changes (Android)"
If a re-render causes a Marker's callout to change, either via the `title` and `description` properties, or a custom callout child element, a previously open callout will unexpectedly be closed.

The expected behavior is for the previously open callout to remain open, while reflecting the changes.

An example use case would be showing the current distance from the user to a marker in a custom call

[2016-04-10 09:35] fabiovella83 commented on #118
For me too running `react-natice run-ios` after 'rnpm link' solves the problem, but I haven't tried it on android yet

[2016-04-10 10:55] fabiovella83 opened #173 "How do I implement custom skins?"
Is it possible to implement custom skins to our map like the one you can get on snazzy?

for example:

`[{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"off"}]},{"featu

[2016-04-10 17:30] hakosl opened #174 "MapView onRegionChange stops working after 5 seconds, and the app crashes 1 min later"
I'm trying to get the displaylatLng example to work on android, but it stops updating the state approximately 5 seconds after i start moving the map around, then after ca 1 min the entire app crashes. The issue is very similar to earlier issues with the onRegionChange callback. I'm running using an lg g2 running 5.0.2 on react native 0.22.0
edit: by crashing I mean that the app closes and exits en

[2016-04-11 03:26] niftylettuce commented on #81
@lelandrichardson I'll get my PR in tonight I think :+1:

[2016-04-11 12:27] mathiasnovas commented on #110
React Native has added a prop to disable `followUserLocation`. Commit: https://github.com/wildlifela/react-native/commit/4aa43223ccfcff1a5df242e94789482867b9b5ee

[2016-04-11 19:30] frankbolviken commented on #37
You would actually think that a basic thing like being able to quickly see which marked was tapped on would be perhaps the most needed functionality of a map component. So I'm a bit surprise that this doesn't get more attention.

[2016-04-11 20:33] frankbolviken commented on #37
The way I solved this for anyone interested was that I did a substring of the dispatchId prop to get the id (last digits behind $). Then using this id with "this.refs[id]". When initialising the markers i added the station as a parameter on the Marker.

[2016-04-12 06:03] gathole opened #175 "How to set the Google Map zoom level to show all the markers?"
Once all the markers are added to the map, I want to make all the markers visible on the map. How can I set zoom level automatically to make all markers visible on the map all the time, regardless of the distance between markers and no. of markers?

[2016-04-12 10:27] zvona commented on #165
We're getting the same error occasionally. Here's longer stack trace we're receiving:
[code]

[2016-04-12 14:18] jrichardlai commented on #165
Can you check your version of com.google.android.gms:play-services-base in your app? react-native-maps is using 8.4.0, can you set it to 8.4.0 to see if that fixes it?

[2016-04-12 15:47] tomazahlin opened #176 "[Android] Blank map"
Hello, I have installed react-native-maps to our application, but had a problem where the <MapView> would render blank (like nothing was there).

After searching the repository for solutions, I haven't found anything that would work for me, but ultimately we found a solution. If anyone else has a problem, here is what we found out:

We use Android Virtual Device (AVD) Manager to start the emulator

[2016-04-12 18:17] zvona commented on #165
In build.gradle `compile 'com.google.android.gms:play-services-maps:8.4.0'`, which should be correct.

In our case, this crash seems to happen only on Sony Xperia devices, which are running on Android 6.0. There is similar context on the discussion here: https://code.google.com/p/gmaps-api-issues/issues/detail?id=9071#c14

[2016-04-12 19:50] matiascba opened #177 "[Android] Black background on ScrollView"
Hello, first of all, Excellent Work!,

I have a problem in Android when i put the MapView inside a ScrollView, when the screen scroll
a black background appears.

Here is my code:

[code]

This is what i see:

![problemmapgit](https://cloud.githubusercontent.com/assets/4285148/14473462/96bd6d6e-00ce-11e6-9d38-59ef592fa658.gif)

[2016-04-12 21:13] jrichardlai commented on #177
this is linked to to https://github.com/lelandrichardson/react-native-maps/pull/91

[2016-04-12 22:32] christopherdro commented on #174
@hakosl What does the `onRegionChange` callback do your app?

[2016-04-12 22:33] christopherdro commented on #175
You can use the `fitToElements` prop on your `<MapView/>` component.
https://github.com/lelandrichardson/react-native-maps/blob/master/docs/mapview.md#methods

[2016-04-12 22:33] #175 closed

[2016-04-12 22:35] christopherdro commented on #173
@fabiovella83 Unfortunately this is not possible with native maps and are limited to the following map types.

[code]

[2016-04-12 22:35] #173 closed

[2016-04-12 22:41] #161 closed

[2016-04-12 22:47] christopherdro commented on #176
Can you try taking a look at #118 ?

[2016-04-12 23:28] christopherdro commented on #152
I think this would be a bit out of scope for this library.
However, you can try and React Native built in `Intent` Api that allows you to at least generate directions from 2 coordinates.

[2016-04-12 23:28] #152 closed

[2016-04-12 23:30] christopherdro commented on #171
@iSimar Sure, thats totally possible with this library!
I suggest opening an issue on Stack Overflow for help since we are trying to track bug related issues.

Thank you!

[2016-04-12 23:30] #171 closed

[2016-04-12 23:31] christopherdro commented on #119
@heydabop Could you try using to the `pitchEnabled` prop to disable tilting on that specific view?

[2016-04-13 00:42] jrichardlai commented on #169
Are you putting the TextInput component after the MapView? What is the style you are using for you MapView? You can try to put a backgroundColor on the Component to see how is the component rendering.

[2016-04-13 00:42] jrichardlai commented on #140
Closing this for now, please reopen if that's still an issue

[2016-04-13 00:42] #140 closed

[2016-04-13 00:45] octavioturra commented on #169
I'm making something like Google maps. My input is insid a view that is
placed above the map with position absolute.

Em ter, 12 de abr de 2016 21:42, Jean-Richard Lai <notifications@github.com>
escreveu:

[2016-04-13 00:49] #90 closed

[2016-04-13 03:58] heydabop commented on #119
This was fixed in my PR [#128](https://github.com/lelandrichardson/react-native-maps/pull/128)

[2016-04-13 03:58] #119 closed

[2016-04-13 04:15] jrichardlai commented on #169
Sorry but my questions was more about the ordering of Components:
[code]
I noticed that would behave differently than
[code]

[2016-04-13 04:35] jrichardlai commented on #154
Does that still happens? What is the code you are using for the Marker?

[2016-04-13 04:59] jrichardlai commented on #154
Nevermind still seems to be happening.

[2016-04-13 06:52] gathole commented on #175
I am getting error **"no included points"**

Here is my code and markers has 2 points:
[code]

[2016-04-13 08:27] tomazahlin commented on #176
Looks like a similar issue, I will let the users know of my solution.

[2016-04-13 08:29] tomazahlin commented on #118
Like I wrote in the issue 176 (as referenced above), you guys can try my solution for Android, how we got it to work.

[2016-04-13 12:40] KGALLET commented on #176
What do you mean by "WEB" api key?
We have to take it from Google Console API but the type of the key must be "Android", i'm right?

[2016-04-13 13:48] matiascba commented on #177
@jrichardlai Thanks!,

I will close this issue and follow the evolution of the PR that you mention #91

[2016-04-13 13:48] #177 closed

[2016-04-13 15:58] tomazahlin commented on #176
Other developer in our company told me, to use "Browser or web" key, not some other key. It was a little confusing.

[2016-04-13 16:04] magrinj commented on #176
@KGALLET & @tomazahlin: Maybe you can do a PR to update the documentation :)

[2016-04-13 16:21] KGALLET commented on #176
@tomazahlin are you going to PR this ? If Not i can do it

[2016-04-13 16:45] tomazahlin commented on #176
@KGALLET You can do it, I am currently working on another PR for another react module, and not sure when I have time. But if you need any more details from me, you can ask anytime.

[2016-04-13 19:31] KGALLET commented on #176
Done. #179

[2016-04-14 10:05] gathole opened #180 "Error on using fitToElements"
To set the Google Map zoom level to show all the markers, I was suggested  to use **fitToElements** but I am getting error **"not included points"**

Here is my code and markers have 2 points:

[code]

[2016-04-14 15:14] christopherdro commented on #180
Whats the data in `marker.latlng` look like?

[2016-04-14 15:15] #176 closed

[2016-04-14 16:07] gathole commented on #180
[code]

Latitude and Longitude are string value... I think it supposed to be a Point... Let me know if I am correct and Thanks for reply

[2016-04-14 18:07] jrichardlai commented on #180
Not sure if thats the issue but can you cast the latitude and longitude to a float?

[2016-04-14 18:08] jrichardlai commented on #174
@hakosl do you have a stacktrace that shows the crash?

[2016-04-14 18:14] christopherdro commented on #165
@zvona Did you try any of the suggested fixes from the discussion.

https://code.google.com/p/gmaps-api-issues/issues/detail?id=9071#c16
https://code.google.com/p/gmaps-api-issues/issues/detail?id=9071#c18

[2016-04-14 20:46] miracle2k commented on #175
Me too. But only on Android. The same code works fine on iOS.

[2016-04-14 21:02] christopherdro commented on #175
Could be a race condition where `this.props.markers` is not available or empty.
Are you passing in static data?

[2016-04-15 02:19] pcampolina opened #182 "Android (RN): How to set lat/long of MapView before render? Getting region update error"
I'm a beginner in RN and i'm having some issues with MapView and geolocalizer. Some one can help? Its actually 2 issues in one: I want to know the mobile geolocation and render a map with its lat/long. So, here's what i'm trying: Using componentWillMount function to get the geolocation with the suggested code: (using this to try to set the state with the coords before render)

[code]

The state in

[2016-04-15 06:24] zvona commented on #165
@christopherdro, yes. I tried to apply hardware acceleration in manifest to fix Xperia issues, but it didn't help.

[2016-04-15 06:38] gathole commented on #175
Yes I am passing static data

[2016-04-15 07:43] gathole commented on #180
I cast the latitude and longitude to a float but getting the same error "No included points". Can you please explain where should I mention points and what would be the values (x and y) to be passed in Point?

Let me clarify one more thing is that I am working on **Android**.

[2016-04-15 13:33] hakosl commented on #174
@christopherdro onRegionChange does this.setState({ region }), which i use to show the current centered location on the map, just like in the example.

[2016-04-15 13:42] christopherdro commented on #174
/cc @rt2zz

[2016-04-15 15:42] rt2zz commented on #174
Possibly an infinite loop? I would try putting a debounce on the onRegionChange (e. g. Lodash has a good deboince util)

[2016-04-15 15:43] rt2zz commented on #174
Fwiw We have a very similar setup minus the setstate bit, so the issue likely stems from rerender

[2016-04-15 16:45] christopherdro commented on #174
It's probably stemming from something else that keeps re-rendering.
You can trying using `onRegionChangeEnd` instead.

Does this crash happen in the example without any modifications?

[2016-04-16 01:56] osungjin commented on #141
Are you solved it?

[2016-04-17 12:18] ZigGreen opened #183 "transparency for polygons"
Is there a way I set some transparency level to `MapView.Circle` or `MapView.Polygon`?

[2016-04-17 14:17] ivanbtrujillo commented on #118
@jakegny solution works for me. I've creted an Android APi Key and enable Google Maps API on Google Developers console using my SHA1:
keytool -list -v -keystore ~/.android/debug.keystore -alias androiddebugkey -storepass android -keypass android

[2016-04-17 15:56] jrichardlai commented on #183
You can use rgba color `rgba(r,g,b,0.5)` for `fillColor` or `strokeColor`

[2016-04-17 17:27] ZigGreen commented on #183
cool!

[2016-04-17 17:27] #183 closed

[2016-04-18 13:49] jeveloper commented on #125
Curious if anyone had observed this, is this still an issue in the current RN

[2016-04-18 15:57] jeveloper commented on #154
Happening here too

[2016-04-18 21:24] jrichardlai commented on #169
@octavioturra did that work for you?

[2016-04-18 21:37] octavioturra commented on #169
I'll test it tonight

Em seg, 18 de abr de 2016 18:24, Jean-Richard Lai <notifications@github.com>
escreveu:

[2016-04-19 01:43] zachcowell opened #184 "Cocoapods pod install throws error"
[code]

I installed react-native-maps with npm. When I went inside the `node_modules/react-native-maps` directory, there was no podspec file. I downloaded the file directly from the repo and placed it in the above directory and it seemed to work.

[2016-04-19 01:49] octavioturra commented on #169
It worked. Thank you all.

[2016-04-19 01:49] #169 closed

[2016-04-19 04:11] jrichardlai commented on #184
Which version of cocoapods are you using? in which folder are you running pod install ?

[2016-04-19 04:26] christopherdro commented on #184
@zachcowell  The added podspec hasn't been published on a new version.
You can try pulling from master for now.

/cc @lelandrichardson
Should we get a minor release of with recent additions?

[2016-04-19 04:37] lelandrichardson commented on #184
Done!

0.3.2 should be on npm

[2016-04-19 12:42] npomfret commented on #118
Was there a consensus on how to solve the blank maps problem in android (not IOS, worked fine in IOS without any tinkering)?  I do not have a red border as some people where reporting.  Just  blank map.

So far I have:

Checked my Google Developer Console and Google Maps Android API is enabled.
In my credentials, I have an Android type API key, which I've added to my manifest.xml.
I've added **2**

[2016-04-19 12:45] tomazahlin commented on #118
@npomfret  Did you try this #176? I had the same problem (just blank, no red border).

[2016-04-19 13:03] npomfret commented on #118
I wasn't sure what the 'web key' was mentioned in #176.  Which of these, if any is a web key:

![screen shot 2016-04-19 at 14 02 15](https://cloud.githubusercontent.com/assets/5489469/14640018/729fe786-0637-11e6-82cc-f2a3923c0d71.png)

And the other instructions don't apply as I'm on a physical device, not an emulator.

[2016-04-19 13:06] KGALLET commented on #118
This is the 'Browser key' when you create a new one.
Here :
![capture d ecran 2016-04-19 a 15 04 56](https://cloud.githubusercontent.com/assets/14168629/14640117/458d3cfe-0640-11e6-9199-24b77ec13760.png)

[2016-04-19 13:20] npomfret commented on #118
Ok thanks, I created a browser key and replaced the value in my manifest.xml.  I've waited 5 minutes and still no map.  I've made sure the app got redeployed, but I didn't delete the app from the phone, maybe I should?

[2016-04-19 13:28] KGALLET commented on #118
Yep, wipe data on your phone. Check google to know the process to do it

[2016-04-19 14:16] npomfret commented on #118
Ok - wiped it, still blank.  I can't tell if its just a display problem or something more fundamental. If I use the style hint:

    map: {
      position: 'absolute',
      top: 0,
      left: 0,
      right: 0,
      bottom: 0,
    }

... it really screws up my iOS layout.  Is this definitely needed?  And I didn't really understand the comments about needing to do this twice if the map is in a '

[2016-04-19 15:18] npomfret opened #185 "Does the example app work on android?"
I just tried to run the example app on a physical lollipop device and it crashed immediately with this:

    /com.airmapsexplorer E/ReactNativeJS: undefined is not a function (evaluating 'EventPluginHub.injection.injectInstanceHandle(ReactInstanceHandles)')

Any ideas?

[2016-04-19 15:23] tomazahlin commented on #118
@npomfret I had to install these:
Extras / Google Play services rev 29
Extras / Google Repository rev 25
Android 6.0 (API 23) / Google APIs Intel x86 Atom System Image Rev. 12

Can you check if you have the same?

[2016-04-19 15:38] npomfret commented on #118
Ok, got it working finally.  Thanks for your help.  For the record...

I'm working on a physical lollipop device.

I did not end up using the 'web key' but the original 'android' key.

Updating Google Play Services (which I think was the final piece of the puzzle) was not easy.  I tried searching for it within the Play Store app but for some reason it doesn't come back in the results.  Instead I u

[2016-04-19 15:53] magrinj commented on #118
For the style, when I try to put something else than

[code]

that's doesn't works for the moment for me, I need to try again with other configuration, since my first solution was just my first try :)
I'm gonna try it in the next month.

[2016-04-19 20:22] gerard0315 opened #186 "Syntex Error: Unexpected token"
Hi, this may seem a bit off topic, but I am trying to initialize the MapView with current geolocation. I am a beginner in this, apologize if it is too stupid.
 This is my code
`'use strict';

import MapView from 'react-native-maps';

import React, {
  Component,
  StyleSheet,
  Text,
  View,
} from 'react-native';

exports.framework = 'React';

const styles = StyleSheet.create({
  container: {

[2016-04-19 20:51] #186 closed

[2016-04-20 02:09] #54 closed

[2016-04-20 05:27] npomfret commented on #110
Is there a trick to getting showsUserLocation to work on android?  For some reason I don't see it on the map.  Also, _navigator.geolocation.getCurrentPosition_ doesn't work for me.  I've got the permissions _android.permission.ACCESS_FINE_LOCATION_ and _android.permission.ACCESS_COARSE_LOCATION_ in my manifest file... but no gps.

[2016-04-20 05:51] jrichardlai commented on #110
@npomfret are you using genymotion? make sure you enable the location of the user if you are using the simulator.

[2016-04-20 06:07] npomfret commented on #110
Thanks for the reply.  I've fixed my problem, well most of it. I'm using a physical device and the version of Google Play Services was not correct.  I've submitted a PR with the things I've learnt.

All that's wrong now is that I can't get the users current location in android.  I'm getting a timeout error when calling _navigator.geolocation.getCurrentPosition_.  No idea what the problem is.  I ca

[2016-04-20 06:44] npomfret commented on #43
Do _navigator.geolocation.getCurrentPosition_ work and _navigator.geolocation.watchPosition_ work on android?  I'm just getting a timeout error.  I've got `<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> `in my manifest file, and I can see the users current position (the blue dot) on a map, but I can't programatically get the position.

[2016-04-20 16:38] DennisMG commented on #180
The docs says `fitToElements` method receives argument `animated: Boolean` ... I'm not sure what a Animated: Boolean is!

[2016-04-20 16:58] DennisMG commented on #180
I found the solution, you just have to add an empty js object, like this: `this.refs.map.fitToElements(true,{});` I don't know why but it worked.

[2016-04-20 21:06] simonhintersonnleitner commented on #180
@DennisMG `this.refs.map.fitToElements(true,{});` do not work for me.

[2016-04-20 21:20] DennisMG commented on #180
I thought it solved the problem but sometimes throws the error described above and other times works perfectly

[2016-04-21 04:15] BrianLeeGH opened #189 "<MapView.Marker/> Hits A Wrong Event"
I use MapView as a child node in TabBarIOS.Item , when pressing the MapView.Marker in MapView  it hits the TabBarIOS.Item's onPress event.

[2016-04-21 04:33] mcliquid commented on #154
Any news yet?

[2016-04-21 05:08] thatsmydoing opened #190 "Point is not scaled according to screen"
This is for the Android maps, I don't know the behavior on iOS. I don't know what the expected behavior is but the point returned in the onPress event needs to be scaled to get RN's resolution independent pixels. This is needed for positioning elements absolutely.

[code]

[2016-04-21 05:17] thatsmydoing opened #191 "Add a way to convert between coordinates and screen point"
Example use case: We can get screen points from some events like onPress to position views on a certain coordinate, but we cannot make the view move when the map is panned because we don't have a way to recalculate the new screen point for the panned map.

[2016-04-21 08:48] ockka commented on #43
I’m having a similar issue. I can’t receive the initial position on Android via _navigator.geolocation.getCurrentPosition_ because it will timeout. But I can receive the position from _navigator.geolocation.watchPosition_ with Android. Currently I need to wait for the position before my component can be launched.

[2016-04-21 08:57] juand89 commented on #108
I followed @mdutkin instructions and changed the file but now I am having this issue:
![simulator screen shot apr 21 2016 5 56 19 pm](https://cloud.githubusercontent.com/assets/17539365/14703361/6f18f3be-07ea-11e6-92dc-8fc62fb8a81a.png)

[2016-04-21 09:08] subtirelumihail commented on #100
+1

[2016-04-21 09:55] npomfret commented on #43
I've debugged the java code and found that my device is not updating its GPS location very often.  The last update was over 12 hours ago.  So if I change my js code to allow _navigator.geolocation.getCurrentPosition_ to return a very old value it at least returns something now.

I've no idea why the device is not updating the location.  I can see a blue dot on a MapView so I'm sure the GPS is work

[2016-04-21 16:13] jrichardlai commented on #43
@npomfret this is more a react-native question in the comments it says
[code]
Its possible you have to move around to update the location.

[2016-04-21 16:18] npomfret commented on #110
Also, +1 for this feature.  It'd be nice to see the users location but not be centred on it.

[2016-04-21 17:18] npomfret commented on #43
Thanks. Looks like there's something wrong with the device, its only updating the gps very rarely, so yes a very large value for max age works around the issue.

[2016-04-21 17:27] christopherdro commented on #43
Use distance filter option on the watchPosition method.

[2016-04-22 01:59] #184 closed

[2016-04-22 08:20] bosung90 commented on #185
I am getting exactly same error on Galaxy S6
Using commit#1004b03

[2016-04-22 18:24] jeveloper commented on #154
Quick update: i noticed playing with style - height, width, somehow displays an image but trying to use full h/w does not work, just shows white background.

It would be great to have this fixed, willing to donate

[2016-04-22 21:59] BigPun86 commented on #154
+1

[2016-04-23 02:15] py110 commented on #141
i see the demo
    this.refs.m1.showCallout();
i use this method in
  componentDidMount(){
    this.refs.m1.showCallout();
  },
no result

[2016-04-23 15:33] mdutkin commented on #108
@juand89 try to `watchman watch-del-all` and restart your project in XCode, maybe this will help

[2016-04-24 08:36] polacekpavel commented on #108
@juand89 If `watchman watch-del-all` doesn't help try this revision [https://gist.github.com/polacekpavel/682bd75a54117516c166/43bc8173dd1ad8a58b074aebafe9f1efee4711fc](url)

[2016-04-24 18:42] XiSmartElf commented on #35
Google map for consistency on IOS nd Android, especially we use a lot of google map API

[2016-04-25 00:00] Dzale commented on #67
I have the same issue on Android. onRegionChange function is called, component render() function is also called but the map doesn't load new data.  First image is my initial map, and second one is what happens when i zoom it few times. Did anyone have this problem or has idea how to fix it ?
Thanks!!

[
![image](https://cloud.githubusercontent.com/assets/9077950/14771370/463e8fd4-0a89-11e6-9fed-10

[2016-04-25 00:06] Dzale opened #196 "Map isn't updating on region prop change"
I have this issue on Android. onRegionChange function is called, component render() function is also called but the map doesn't load new data. I used code from [example](https://github.com/lelandrichardson/react-native-maps#using-a-mapview-while-controlling-the-region-as-state). First image is my initial map, and second one is what happens when i zoom it few times. Did anyone have this problem or

[2016-04-25 01:59] juand89 commented on #108
@polacekpavel watchman watch-del-all didn't help, can you pass me that revision again? it seems like the link is broken

[2016-04-25 06:56] polacekpavel commented on #108
Sry, try this [Tweaked AnimatedImplementation](https://gist.github.com/polacekpavel/682bd75a54117516c166/43bc8173dd1ad8a58b074aebafe9f1efee4711fc)

[2016-04-25 17:50] Dzale commented on #196
It worked when i used browser key for google maps, instead of using android on!

[2016-04-25 17:50] #196 closed

[2016-04-26 01:18] juand89 commented on #108
@polacekpavel Thank you is finally working!!

[2016-04-26 05:32] osungjin commented on #100
+1

[2016-04-26 15:09] DennisMG commented on #180
try changing the fitToElements function in react-native-maps/android/src/main/java/com/AirMaps/AirMapView.java for this:

[code]
It worked for me.

[2016-04-26 18:13] hakosl commented on #174
@christopherdro It's working when i use onRegionChangeEnd, thanks for the help, and sorry for slow replies

[2016-04-26 18:52] jeveloper opened #198 "Marker Callout position moves around , bug or need a workaround"
Hello and thank you for making this library !

I'm using calloutOffset to slightly move it over the pin (it hides very well)

[code]

However when tapping/clicking on the image pin (its a wide image) , what happens is callout also moves to the left or right (x axis).

I have a feeling that i need to capture x, y where the person tapped it and change calloutOffset dynamically before its displayed.

[2016-04-27 07:47] lwinkyawmyat commented on #100
I had the same issue.
[code]
On running  android version 5.1.1
![screenshot_2016-04-27-14-06-54](https://cloud.githubusercontent.com/assets/13135332/14845127/47f011f4-0c82-11e6-8589-6b8673842e5a.png)

[2016-04-27 09:53] dwaligora opened #199 "Disable android map marker click auto center"
Hey guys,

First of all, I love your lib and job you do here!!! Amazing and works like a charm!

I am working on custom callout implementation for my map and I was wondering if it the lib support disabling android map marker auto center on click? I could not make it work and find any option which might allow that, did I miss something or it isn't supported?

Thanks in advance for you help and once

[2016-04-27 13:46] jrichardlai commented on #199
Hello @dwaligora unfortunately it is not currently possible to disable the auto centering on click :(. It seems to be possible with this code http://stackoverflow.com/questions/15925319/how-to-disable-android-map-marker-click-auto-center

[2016-04-28 01:21] mdutkin commented on #108
guys, after upgrading to RN 0.25.1 I'm having ass pain again..... buuuut, the fix is here
https://gist.github.com/mdutkin/bb9a1beab88001cf48b087ef48a27be5
don't know if anyone having the same issues, but I suggest it would be better to leave it here)

[2016-04-28 10:13] eMatsiyana opened #200 "iOS polyline coordinate update Not showing new route"
I have the following for the Polyline inside my MapView.

`<MapView.Polyline` coordinates={this.state.routeCoords} strokeColor={'#55C2DD'} strokeWidth={4}/>

It works perfectly well and updates with the new route for Android.

But when I change the state.routeCoords for iOS... The new route is not rendered. It keeps showing the old route.

How else can I handle this?

[2016-04-29 08:47] mohammadrafigh commented on #81
what's the progress guys? I really need it now!

[2016-04-29 10:00] janroures opened #201 "iOS map callout is pixelated"
Anyone else seen this? The callouts/annotations on my map are pixelated on iOS. Not on Android.

[2016-04-29 12:31] KarlosQ commented on #118
One question, the API KEY in AndroidManifest how is this written?
Like this:
 android:value="{{hashashas1241241}}"
or like this:
android:value="hashashas1241241"

[2016-04-29 13:33] jrichardlai commented on #118
@KarlosQ `android:value="hashashas1241241"` should work

[2016-04-29 14:13] heydabop commented on #151
Sorry to bring this back up, but I think you're misreading the intention there.

I'm fairly certain it just means it updates the marker for the user's location periodically, not that it updates the map's region periodically. I don't see anything in that description regarding the map's location.

Also, you explicitly tell it to follow a user's location in [AirMap.m:179](https://github.com/lelandric

[2016-04-29 15:43] ManrajGrover opened #202 "Map not displaying on Android Device"
Not able to display Map on Android Device. I haven't tried it on emulator but will do and update the issue.

Chrome Debugger has this output.
[code]

Let me know if source code is required.

[2016-04-29 15:49] KarlosQ commented on #185
Same problem in Redmi Note 3 (5.1.1)

[2016-05-02 04:46] kanerogers commented on #185
I'm having this exact same message too, but I'm not using react-native-maps: stumbled on this page via Google. I'd just upgraded my RN project from 0.20 to 0.24 - some issue there?

[2016-05-02 13:55] jrichardlai commented on #202
Hello, can you double check that the library is [linked and installed properly](https://github.com/lelandrichardson/react-native-maps/blob/master/docs/installation.md#android)? It seems that it can't find the native components.

[2016-05-02 13:55] jrichardlai commented on #201
Hello, I'm not sure I understand the issue, can you put a screenshot of what you see? Thanks!

[2016-05-02 13:57] jrichardlai commented on #200
Hello, which version of react-native-maps are you using? `v0.3.2` should have this fixed, otherwise is it possible to see an example of code?

[2016-05-02 14:42] jrichardlai commented on #185
Which version of RN are you using and which version of React is it?

[2016-05-02 14:56] kanerogers commented on #185
RN 0.24, React 0.14.8.

I eventually got it working by clearing the npm cache and deleting the
packager's cache.

K
On Tue, 3 May 2016 at 12:42 AM, Jean-Richard Lai <notifications@github.com>
wrote:

[2016-05-02 16:03] ManrajGrover commented on #202
My bad! I missed a line, hence resulting to this. Thank you! :)

[2016-05-02 16:03] #202 closed

[2016-05-02 18:13] dwaligora commented on #199
thanks @jrichardlai

[2016-05-02 18:13] #199 closed

[2016-05-02 18:52] sammosampson opened #205 "Cant find google play when building apk"
Hi, I have installed all of the required android libraries including the play services and repository etc. But I Still get the following when assembling the release. Any ideas?

A problem occurred configuring project ':app'.

        Searched in the following locations:
            file:/Users/Papa/.m2/repository/com/google/android/gms/play-services-base/8.4.0/play-services-base-8.4.0.pom

[2016-05-02 23:20] arhmnsh commented on #35
Apple Maps don't have information about places in my region. Would definitely love using Google Maps on iOS.

[2016-05-03 11:37] eMatsiyana commented on #200
Hello,

I was on v0.3.1.

v0.3.2 Works perfectly well for this...

Thank you!

[2016-05-03 11:37] #200 closed

[2016-05-03 14:15] jrichardlai commented on #205
Does this works on your simulator? Not sure what is happening here if you installed properly google services, maybe they are not up to date?

[2016-05-03 15:02] ACCTFORGH opened #206 "How do I turn a marker around?"
I would need to turn the marker to different directions. Is there any way I can realize this feature?

[2016-05-03 17:02] sai-prasanna opened #207 "Android: Pushing view with mapview on existing mapview"
Hi,
When I push a view on navigation stack(using React Native Experimental Router  or React Native Flux Router), if first view, and the view that is being pushed have MapViews,
the first map view persists in the second view. This happens only in android.

[2016-05-03 18:31] sammosampson commented on #205
my sdk seems to be located user/local/Cellar/android-sdk/24.4.1 the locations that the build was looking (see above) doesn't match that at all. Any ideas

[2016-05-03 19:32] sammosampson commented on #205
If i look in the folders that the build is looking in I can see version 8.3 but not 8.4 that it is asking for. If i run the android package manager there are no updates available for the packages in question. Any ideas y that would be?

[2016-05-03 19:51] sammosampson commented on #205
So as it would seem I have two Android SDK's installed it seemed one in usr/local/Cellar/android-sdk/24.4.1 and also in /Users/Papa/Library/Android/sdk/. the former holds all the 8.4 stuff, the latter only 8.3. Copying the 8.4 stuff over into the latter location allows me to build But does anyone know how I got into this situation? And how I remedy it?

[2016-05-03 20:09] niftylettuce commented on #81
you could look at the commit in my fork here https://github.com/niftylettuce/react-native-maps

I think I need to finish Android integration with all these helper methods I added, can't remember if I did.

[2016-05-04 14:30] benhoyt opened #208 "Deprecation warnings using latest version of React Native"
We've just upgraded to the latest version of React Native (0.25), and in dev mode we're seeing "yellow box" warnings like 'Warning: ReactNative.createElement is deprecated. Use React.createElement from the "react" package instead.' This deprecation warning was added in version 0.25 -- see [release notes](https://github.com/facebook/react-native/releases/tag/v0.25.0) and the [relevant commit](https

[2016-05-04 14:36] benhoyt commented on #208
Also, I believe you've been able to use react's `createClass` for the last several versions of React Native (not sure exactly how far back), so making these changes won't penalize users on older versions of React Native.

[2016-05-04 16:24] jrichardlai commented on #208
Hello, thanks for submitting the issue it seems that someone did a PR for it https://github.com/lelandrichardson/react-native-maps/pull/192 do you know which version minimum supports this?

[2016-05-04 16:33] benhoyt commented on #208
Ah yes, PR #192 looks great. No, sorry, I'm not sure exactly what version minimum -- my gut says quite a few versions back, but I don't know.