[2021-11-25 21:56] Simon-TechForm commented on #4021
The `tappable` prop is iOS Google Maps only (as stated in the docs), and is included in v0.30.0.

`isPreselected` is Apple Maps only (as stated in the docs), and should be included in the source code, but is missing from the typescript declaration file. This should be fixed when #3985 is merged at some point.

[2021-11-25 22:11] Simon-TechForm commented on #4018
supportLibVersion should no longer be required since #3106, and we are running successfully without specifying it.

Feel free to submit a pr. to improve the documentation.

[2021-11-25 22:21] 00frank commented on #3955
Nothing to do with this issue, but a fast run solution could be using a reverse geolocation api.
If you are developing this for a really small project or demo, you can use free Open Cage API and a the function could be exported like this, up to the devs add/merge/fix this package functionality.

[code]

[2021-11-25 22:27] Simon-TechForm commented on #3919
What's the state of this?

[2021-11-26 00:58] WathikAhmed commented on #4023
For Markers

[code]

[2021-11-26 00:58] #4023 closed

[2021-11-26 01:07] WathikAhmed commented on #4023
For Plygon
[code]

[2021-11-26 05:04] Zhou-Bill commented on #3476
how to solve?

[2021-11-26 10:24] lucasroca commented on #4022
Hi @JakeOrel, you're right, no issues on an actual device. I wonder why it only happens on the iOS simulator, though.

[2021-11-26 11:18] SArsalanK commented on #2633
A way around to this is using a `WebView` instead of an `Image`

[code]

[2021-11-26 12:01] EmreAbi commented on #3363
same issue here

[2021-11-26 14:10] Mubashirkhan commented on #3148
any update on this issue. Still reproducible on android with the latest version "0.29.3"

[2021-11-26 14:37] smanzini commented on #3656
Hello @Kenny4444 I'm currently running "react-native-maps": "0.29.4" and having the same issue after build ->
AppDelegate.m: 'GoogleMaps/GoogleMaps.h' file not found
"react": "17.0.2",
"react-native": "0.66.3"
macOS 12.0.1
iOS SDK Facebook 9.3.0
iOS 15.1

platform :ios, '15.0'

target 'xxxx' do
  rn_maps_path = '../node_modules/react-native-maps'
  pod 'react-native-google-maps', :path => rn_maps_

[2021-11-26 14:45] #4022 closed

[2021-11-26 14:51] #3935 closed

[2021-11-26 20:30] riancz commented on #4021
Hmmm okay I found a reference to the isPreselected in MapMarker.js in propTypes. When I put it on the Marker it still didn't work. But that might be caused by the bug that makes other props (on <Map />) not working. (Controls not showing up).

[2021-11-27 16:51] n76i commented on #3527
still not working in M1 machines. :(

[2021-11-27 18:29] riancz opened #4024 "Marker clustering"
# Feature request

One of the very important feature for a map library is clustering, that's showing multiple markers that tare close by (depending on map zoom) as one marker. Could help performance and map readability.

## Why it is needed

As mentioned above in case of many markers such feature could help with performance, design and readability of the map underneath.

## Possible implementation

[2021-11-28 10:23] krakz999 commented on #3905
@js1998 found a solution, is this unimplemented or a bug?

[2021-11-28 12:12] jroux-git commented on #3823
Any progress on this issue maybe?

[2021-11-28 18:34] mobeenali12 commented on #1592
For the beginners who came here for the solution, [check this out](https://stackoverflow.com/a/54078573/10809746). :)

[2021-11-29 14:45] Pardiez commented on #4012
I guess changes shouldn't be released if they don't behave the same way in both libraries. @Filippo39

[2021-11-29 16:24] smanzini commented on #3656
Hi @christopherdro thanks for reopening.

I've done all the steps above:
Add only in the Podfile:
pod 'GoogleMaps'
pod 'Google-Maps-iOS-Utils'
pod install
In XCode, "add files to {project_name} ..." -> node_modules/react-native-maps/lib/ios/AirGoogleMaps and node_modules/react-native-maps/lib/ios/AirMaps
Change import in {project_name}/AirGoogleMaps/AIRGoogleMapHeatmap.h to #import "GMUHeatmapTile

[2021-11-30 14:33] Hatko commented on #3657
+1

[2021-12-01 08:09] Fiyaz6772 opened #4025 "Execution failed for task ':app:mergeDebugAssets'. > Could not resolve all files for configuration ':app:debugRuntimeClasspath'. > Could not find :react-native-maps':. Required by: project :app"
## Summary

👋 Hi!

I am running react-native run-android and getting this error,

- [ ] report: FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:mergeDebugAssets'.

     Required by:
         project :app

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insi

[2021-12-01 14:54] tb42 opened #4026 "Default zoom"
# Feature request

Having a default zoom prop that can be applied when map is initially opened. The Google Maps API has this feature already.

## Why it is needed

Customizing the zoom level for users is effective for tailoring to each dev's use case that they're building for. e.g. an app for a specific city will have a default zoom level that's focused on that 1 city, versus an app for a region w

[2021-12-01 16:54] adnanirfan commented on #3523
`onRegionChangeComplete` provides `isGesture` in second parameter of a callback, to identify if the move was from the **user** or an **animation**.

https://github.com/react-native-maps/react-native-maps/blob/master/docs/mapview.md#events

[2021-12-01 17:21] Shaninnik commented on #3527
@salah-ghanim sorry to comment on the closed issue, but google maps just released v6.0 that they claim should work with M1 Macs:

https://cloud.google.com/blog/products/maps-platform/announcing-version-60-maps-and-places-sdks-ios

Is it realistic to expect an update soon?

[2021-12-01 20:23] benkhlifafahmi commented on #3983
same issue here

[2021-12-02 05:46] Akshh057 commented on #369
Try to use icon prop for custom marker image and tracksViewChanges={false} prop, this will surely increase the performance.

[2021-12-02 06:42] KrifaYounes commented on #3523
IsGesture is only availabble on android

[2021-12-02 07:16] Fiyaz6772 commented on #4025
I have sort it out. Thank You.

[2021-12-02 07:16] #4025 closed

[2021-12-02 07:56] princefishthrower commented on #3416
@alexandrepalagem - I think your example should be starting at `1`, i.e. `const fadeAnim = useRef(new Animated.Value(1)).current;`, and then you want to go to `0` since it's for opacity right? Anyway, here's my TypeScript component version that's working, kind of a blend of @alexandrepalagem and @zholmes1 - I couldn't use the solution by @alexandrepalagem because `MapView` was complaining it had a

[2021-12-02 08:47] yonitou commented on #3527
Hi there,

Completely agreed with @Shaninnik. We've been patient for GoogleMaps to update their SDK for iOS.

Can we reopen this issue and update this dependency to make it accessible to all react-native users ?

Thanks a lot !

[2021-12-02 09:22] Corasonn commented on #1309
I fixed the original problem with the help of [this](https://stackoverflow.com/questions/56951512/react-native-cannot-find-symbol-after-upgrade-to-0-60/56972260) comment:

build.gradle

[code]

Make sure react native is installed as dependency (as peer dependency the error will be still there in the project)

I had an error that node couldn't be found. If someone else also has it, [this](https://s

[2021-12-02 11:54] adnanirfan commented on #3523
@KrifaYounes it works in both Android and iOS. But this is mentioned in the docs that `isGesture` is supported by **Google Maps** only.

[2021-12-02 14:48] smanzini opened #4027 "'GoogleMaps/GoogleMaps.h' file not found"
# Bug report

## Summary

issue after build -> AppDelegate.m: 'GoogleMaps/GoogleMaps.h' file not found

## Environment info

"react": "17.0.2",
"react-native": "0.66.3"
"react-native-maps": "^0.29.4",
XCode Version 13.1 (13A1030d)
macOS 12.0.1
Target Platform iOS 15.1 Phone using GoogleMaps

## Steps to reproduce

Create new project
Add config = use_native_modules! in the Podfile
Add in the Podfil

[2021-12-02 19:45] KrifaYounes commented on #3523
In ios I get : isgesture:undefined

[2021-12-03 02:50] atsushisuzuki0001 opened #4028 "3D buildings for Android"
Would you fix Android map for 3D buildings?
iOS map is displayed for 3D, but Android one isn't.
If you have some solutions, we'd like to know them.

Left picture is for Web. Right one is for Android.
<img width="696" alt="スクリーンショット 2021-12-03 11 23 47" src="https://user-images.githubusercontent.com/93562244/144536068-68b93739-458a-41b7-83f4-400163107840.png">

We'd appreciate your cooperation.

Re

[2021-12-03 07:33] JimTeva opened #4029 "Xcode Build error on m1 mac (arm)"
# Bug report

## Summary
Xcode build error on M1 mac.
Not using Rosetta (because of performance)
Getting this error:

## Environment info
Macbook pro 2021 M1 MAX
MacOS 12

react-native: 0.65.1
react: 17.0.2
react-native-maps: "git+https://github.com/react-native-community/react-native-maps.git"

## Podfile
pod 'GoogleMaps', '~> 3.5.0'
pod 'Google-Maps-iOS-Utils'

------
My best guess is that the P

[2021-12-03 07:35] taj567 commented on #3113
./node_modules/react-native-fbsdk/lib/module/FBLoginButton.js
Attempted import error: 'requireNativeComponent' is not exported from 'react-native'.

am facing this issue after converting react-native to react-native-web.

[2021-12-03 07:38] uzbeki commented on #3823
no progress yet?

[2021-12-03 07:38] uzbeki commented on #3823
How can I help?

[2021-12-03 08:37] JimTeva commented on #4029
@lelandrichardson

[2021-12-03 20:09] navarrofracisco commented on #2010
Can this issue be reopned? What is the point of using  library for maps if basic functionality like centering location is not working?

[2021-12-03 20:22] smanzini commented on #4027
@lelandrichardson could you please help me?

[2021-12-03 21:56] smanzini commented on #4027
Seems to be solved, there was a WARNING on pod install:
[!] The `xxx [Debug]` target overrides the `FRAMEWORK_SEARCH_PATHS` build setting defined in `Pods/Target Support Files/Pods-xxx-xxx/Pods-xxx-xxx.debug.xcconfig'. This can lead to problems with the CocoaPods installation
    - Use the `$(inherited)` flag, or
    - Remove the build settings from the target.

I've SOLVED with `$(inherited)` fla

[2021-12-03 21:56] #4027 closed

[2021-12-04 00:17] JimTeva commented on #4029
I switched to the pre-release version 0.30.0 (https://github.com/react-native-maps/react-native-maps/releases/tag/v0.30.0) and it builds.

[2021-12-04 00:17] #4029 closed

[2021-12-04 17:32] caminoninja commented on #3823
Got the same problem here, and without a workaround that works.

[2021-12-04 21:29] brentvatne commented on #3924
@vrinch - you are not being helpful. https://docs.expo.dev/build-reference/troubleshooting/#how-to-ask-a-good-question

[2021-12-05 02:31] josephcrowell commented on #3823
My solution was to rewrite my app in Flutter and I haven't regretted it yet.

[2021-12-05 02:59] caminoninja commented on #3823
Well then it won't be helpful to tell you how I worked around it

[2021-12-05 23:56] LeoKaynan commented on #3823
0.29.3 - (August 29, 2021)
    Common: #3920 GeoJSON onPress Crash Fix and Marker Customization Options
    Common: #3930 Updated peer deps to maintain compatibility with expo init
0.29.2 - (July 5, 2021)
    Android: Revert #3797 Allow a previously dashed line to be made solid

[2021-12-05 23:56] LeoKaynan commented on #3823
Try to update the module to the latest version.

[2021-12-05 23:57] LeoKaynan commented on #3823
Try to update the module to the latest version
https://yarnpkg.com/package/react-native-maps

0.29.3 - (August 29, 2021)
    Common: #3920 GeoJSON onPress Crash Fix and Marker Customization Options
    Common: #3930 Updated peer deps to maintain compatibility with expo init
0.29.2 - (July 5, 2021)
    Android: Revert #3797 Allow a previously dashed line to be made solid

[2021-12-06 02:00] LeoKaynan commented on #3823
Tutorial Video
https://www.youtube.com/watch?v=-FuYiPnSo6Q

[2021-12-06 02:00] LeoKaynan commented on #3823
Tutorial Video
https://www.youtube.com/watch?v=-FuYiPnSo6Q

[2021-12-06 11:05] sonnt612 commented on #3804
@christopherdro Can you take a look at this bug?

[2021-12-06 13:08] dan-os commented on #3750
Bump. Our team is also running into this issue. Has anyone investigated into why this may occur? Or managed to fix it?

[2021-12-06 16:52] #3098 closed

[2021-12-06 19:48] Astronaut750 opened #4030 "Example project maps are blank"
# Bug report

## Summary

All of the maps in the examples project are blank, despite having followed the Examples Setup very thoroughly 😉. It doesn't work either after following the installation instructions again and filling in the missing??? lines in AndroidManifest.xml and build.gradle.
I also replaced the API key with my personal one.

## Environment info

OS: Windows 11
Target Platform: Andro

[2021-12-06 21:48] alis0nc opened #4031 "Apple Maps on iOS emits spurious `onRegionChange` upon mount"
# Bug report

## Summary

Apple Maps emits two spurious `onRegionChange` events upon component mount. The first one has the coordinates of an intersection in Saratoga, CA (37.275419, -122.009200)*, and the second one has the coordinates of the `MapView`'s `InitialRegion`.

\* In our actual app, we're getting the coordinates of [Apple Park](https://en.wikipedia.org/wiki/Apple_Park) (37.3346, -122.0

[2021-12-07 01:34] luisgurmendez commented on #3497
@renishdeveloper did you find a way to accomplish this?

[2021-12-07 10:43] MUZAFFAR-PURELOGICS opened #4032 "Location button not display on android"
Location button does not display on android. Button is display on IOS and working fine.
I am using all properties but failed to display location button on Android:
-   followsUserLocation={true}
-   showsUserLocation={true}
-   showsMyLocationButton={true}

[2021-12-07 12:45] arunpugahz commented on #3761
Any Support?

[2021-12-07 17:19] alis0nc commented on #4031
Our use case is dismissing some help text when the user interacts with the map, so for our purposes `onPanDrag` is close enough. It doesn't fire when you perfectly pinch zoom without panning at all, but you're gonna need a hell of a lot of practice to do that on a real touchscreen.

[2021-12-08 13:21] vineelk8 commented on #3524
Hi, I have a workaround for the above issue, we can have a custom icon on the map. After clicking on the custom icon trigger a method. In the method get the current location coordinates using [Geolocation](https://www.npmjs.com/package/@react-native-community/geolocation) and fire **animateToRegion** and pass the coordinates.

**Step 1:** Declare mapRef
[code]

**Step 2:** Assing mapRef to MapView

[2021-12-08 15:44] mxmtsk commented on #3983
Same here, did anyone find a solution?

I noticed that this does not happen in Debug Mode in simulator. It also doesn't happen when I use the arrays `index` as a key. If I use another property, like an `id`, the error appears:

Works:

[code]

Does not work:

[code]

[2021-12-09 04:36] krishna11124 commented on #4003
Okey.thanks

[2021-12-09 19:04] rossparachute commented on #967
Hey folks,

For what it's worth, in case anyone comes up against this problem again, here's how we handled it.

Cheers,
Ross

----

Say you've got a functional React Native component:

`
import MapView, { Polyline } from "react-native-maps"; // for rendering
import Geojson from "react-native-geojson"; // optional: for rendering
import { DOMParser } from "xmldom"; // for parsing your KLM string, co

[2021-12-09 19:24] jwaldrip opened #4033 "Reopen #3527"
I am creating this issue to call attention to the Google Maps SDK update and for #3527 to be reopened for visibility.

[2021-12-09 23:57] CCB-cerivera commented on #3656
Test this in your podfile

 rn_maps_path = '../node_modules/react-native-maps'

  # react-native-maps dependencies
  pod 'react-native-maps', path: rn_maps_path
  pod 'react-native-google-maps', path: rn_maps_path
  pod 'GoogleMaps'
  pod 'Google-Maps-iOS-Utils'

[2021-12-10 09:54] smanzini commented on #3656
hello @CCB-cerivera many thanks, already solved!

[2021-12-10 10:13] #3656 closed

[2021-12-10 16:54] siddharth-kt commented on #3991
any update on this ?

[2021-12-10 17:28] croaker commented on #3983
Using the Apple Maps implementation on iOS solves the problem for me (i.e. dropping the `provider={GOOGLE_PROVIDER}` prop).

[2021-12-11 15:32] valeriik commented on #2575
guys, any news here?

[2021-12-11 20:06] kimkong88 commented on #3621
This solution worked for me.

[2021-12-13 04:18] auliakbarh opened #4034 "Google released a major update of Maps SDK for Android (version 18.0.0)"
I got an email from Google regarding Google releasing a major update of Maps SDK for Android (version 18.0.0).

Is it necessary to upgrade the Google Play Services version in `app/build.gradle`?

Reference:
https://developers.google.com/maps/documentation/android-sdk/renderer

[2021-12-13 09:24] mak12 commented on #4034
waiting for this release.

[2021-12-13 09:26] mak12 commented on #3564
Hi, Abdul Kawee here , Having experience of more than 4+ years in React-Native and Android Native.
Would love to help.

[2021-12-13 14:56] christopherdro commented on #4034
Duplicate https://github.com/react-native-maps/react-native-maps/issues/3991

[2021-12-13 14:56] #4034 closed

[2021-12-13 14:56] #4033 closed

[2021-12-13 14:57] #4032 closed

[2021-12-13 16:48] maullerz commented on #3904
Try making `tracksViewChanges={false}` prop for Marker component.
It helps in my case - also have custom View as children.

[2021-12-14 17:47] mariomurrent-softwaresolutions commented on #4030
Same here on Android. iOS is working fine

[2021-12-14 20:43] cedced19 opened #4035 "New Google Play requirements SDK 18.0.0"
# Feature request

Is `react-native-maps` compilant with the [new Google Play requirements](https://developers.google.com/maps/documentation/android-sdk/renderer)?

If it is not the case, I suggest updating `com.google.android.gms:play-services-maps` to `18.0.0`.

(I searched into `react-native-maps` code and I found that `com.google.android.gms:play-services-maps` was set at `17.0.0`)

## Why it

[2021-12-14 21:17] christopherdro commented on #4035
Duplicate #3991

[2021-12-14 21:17] #4035 closed

[2021-12-14 22:16] isidoro98 commented on #4012
Hey @Pardiez I've opened a PR that should fix your issue #4036

[2021-12-14 23:03] alexqhj commented on #4016
I think this needs to be bumped even further, to 6.0 to be compatible with M1 macs.

[2021-12-15 17:00] Pardiez commented on #4012
Thank you @isidoro98 !. I will check it

[2021-12-15 22:39] isidoro98 commented on #4031
Hey @alis0nc raised a PR that fixes the issue #4037, feel free to check it out!

[2021-12-16 04:28] Chaviya98 opened #4038 "Can't we move the map instead of the marker to select a location ???"
# Feature request

If we can use the map to select a location where the marker is fixed on the screen I think that will solve a lot of performance and user-friendliness issues on the marker dragging feature.

[2021-12-16 05:20] Zolboo05 commented on #3633
is there another solution beside mapPadding?

[2021-12-16 12:22] kkureli commented on #2924
any solution ?

[2021-12-16 12:32] mikehardy commented on #2924
@kkureli

[2021-12-17 16:11] christopherdro commented on #4038
You should be able to use `animateCamera` to achieve this.

[2021-12-17 16:11] #4038 closed

[2021-12-17 16:24] #4031 closed

[2021-12-17 16:27] christopherdro commented on #4030
In almost all cases the issue with a blank map rendering on Android is related to the API key. Please take a look at some of the other related issues that have been opened in the past. https://github.com/react-native-maps/react-native-maps/search?q=blank+map&type=issues

[2021-12-17 21:36] Astronaut750 commented on #4030
@christopherdro So does the example project work for you? If so, where did you insert your API key?

[2021-12-18 14:53] palatshq commented on #4030
I have the same problem with my live app. The maps are working fine on Expo Go and on iOS phones, however, on Android phones (the playstore app, works fine on Expo Go) the map is returned blank.

I double checked the API-key, and I even replaced it with a new one and pushed through playstore again, without any result.

I have tried reverting to older published releases, none of them work either no

[2021-12-18 21:15] mariomurrent-softwaresolutions commented on #4030
Can you log the errors? Or do you see any errors in the log?

[2021-12-19 18:27] OrLevy23 commented on #4026
would also glad to have this

[2021-12-20 06:13] swansoffie01 opened #4042 "react-native-maps"
# Bug report

## Summary

## Environment info

`react-native info` output:

[code]

## Steps to reproduce

1. …
2. …

Describe what you expected to happen:

1. …
2. …

Describe what you actually happens:

1. …
2. …

## Reproducible sample code

[2021-12-20 06:13] swansoffie01 opened #4043 "react-native-maps"
# Feature request

## Why it is needed

## Possible implementation

### Code sample

[2021-12-20 08:21] amnbhr commented on #3982
same problem in react-native-maps v.0.27.1

[2021-12-20 10:18] riancz opened #4044 "Icons appear on google maps"
# Bug report

## Summary

After pressing on marker using google maps on android these two buttons appear in the lower right corner:
<img width="101" alt="image" src="https://user-images.githubusercontent.com/47085300/146750264-a9d667be-86a7-4f25-b6c2-20f18f641040.png">

Since there isn't any option to remove it as far as I know I think this must be bug that appeared because perhaps google added it

[2021-12-20 17:19] isidoro98 commented on #4044
Hey @riancz those icons can be turned on/off on Android Google maps using the MapView prop `toolbarEnabled`. Set it to false and they won't show anymore.

[2021-12-20 17:31] isidoro98 commented on #4026
Hey @tb42 you can already specify the area of the map that is first shown on the screen using `latitudeDelta` and `longitudeDelta`.

This SO post explains it very good: https://stackoverflow.com/questions/36685372/how-to-zoom-in-out-in-react-native-map/36688156#36688156

[2021-12-20 18:09] riancz commented on #4044
Oh thanks so much man! You are right!

[2021-12-20 18:09] #4044 closed

[2021-12-20 20:11] isidoro98 commented on #4028
Using the new maps renderer seems to show 3D building in Japan. You should probably keep an eye on #3991. Once the update is done you should be able to see the building in the devices that can use the new renderer.

[2021-12-20 23:17] christopherdro commented on #4030
Please make sure that Maps SDK for Android is enabled.

<img width="906" alt="Screen Shot 2021-12-20 at 3 16 38 PM" src="https://user-images.githubusercontent.com/3741055/146845197-11b8f171-27dd-4232-bc59-bd8a3703983d.png">

[2021-12-21 13:00] hisamafahri commented on #3527
I am experiencing this issue:

[code]

[2021-12-21 15:30] Astronaut750 commented on #4030
I am currently working on my diploma project and am already using the MapView Component there and everything is working fine. Just the example project is completely bugged. So did you just clone the repo and start it and eveything worked fine?

[2021-12-21 15:52] christopherdro commented on #4030
I haven’t ran through all the examples but I wouldn’t be surprised if there are various bugs since the example app isn’t updated often. Pull requests are welcome.

[2021-12-21 18:12] kickbk commented on #3755
@jasonmichaels any luck with this?

[2021-12-22 07:33] ravikumar-yadav commented on #2924
same issue on oneplus with 0.64.1

[2021-12-22 12:55] abhishek000000000000000 commented on #118
how did you solve i am facing exact same problem

[2021-12-22 13:23] AlexMachin1997 commented on #3605
I've just come across this issue after upgrading my app.

I'm currently using version 0.28, when I scroll away it just takes me back to my position. Am I missing a property or something ?

Just a note, I'm watching the users location and updating it via "expo-location" watchAsync which updates the postion so that might be causing the issue.

Would appreciate any comments 😄

[2021-12-23 14:29] mwegener-com commented on #3305
Still facing the same issue.
 @brtdv your solution is not working for me.

[2021-12-24 00:30] frankitox commented on #245
So, this is still a problem. I'm getting an exception here

https://github.com/react-native-maps/react-native-maps/blob/ae09e685228f3bf5ac0a48c220ab64806f470d15/lib/android/src/main/java/com/airbnb/android/react/maps/AirMapView.java#L752-L753

In my case the problem arises if I disable animations in react-navigation, so I ended up adding a little timer before navigating. Anyone came up with a non

[2021-12-25 07:59] abdullahkhan70 commented on #3564
@rborn I want to help you out and if you add me here I can contribute myself to maintain the code.

[2021-12-27 15:45] palatshq commented on #4030
Yep, this was the issue. Thank you.

I find it strange that it worked for several months before, but oh well, at least it is working now.

[2021-12-27 15:52] #4030 closed

[2021-12-27 21:58] creix opened #4048 "Marker title not showing using <Geojson>"
**Summary**

I'm using a <Geojson> component with either polygon and points on the map. Everything is showing fine, even with different color for each point, but if i add the property `title` when i click on a specific point nothing is rendered, it just animate the view centering the point in the map.

**Environment info**

      react-native: 0.64.3
      react: 17.0.1
      react-native-maps: 0.

[2021-12-28 03:41] ngocphucstyle commented on #3628
I solved it by set animationEnabled={false} in MapView

[2021-12-28 07:31] rborn commented on #3564
Everyone we didn't reply to: https://github.com/react-native-maps/react-native-maps/issues/3564#issuecomment-772375951

I you want start contributing do it from your own forks and make PRs 🤗

[2021-12-28 08:31] SangWonyy opened #4049 "i have problem map rending"
## Summary

## Environment info
    "react-native-maps": "^0.29.4",
    "react-native": "0.66.3",
    "react": "17.0.2",

Describe what you actually happens:

1. i just load google map. but, google map is broken.

<MapView
            ref={ref}
            style={{ flex: 1 }}
            showsUserLocation
            showsMyLocationButton
            provider={PROVIDER_GOOGLE}
            cacheEna

[2021-12-28 13:00] norflin321 commented on #3898
I solved by running Xcode using Rosetta

[2021-12-28 13:25] MaiSaan commented on #2382
@hadijoons how do i do this in typescript?

[2021-12-28 14:56] mamicrose commented on #3761
how can i use this in RN?

[2021-12-28 19:51] ingvardm commented on #3983
This happens only when the marker has children

[2021-12-28 19:55] tolik85 commented on #3527
How come Google is not fixing such a bug?
There any many M1 macs out there now...

[2021-12-28 20:54] rushelex commented on #3527
This is a react-native-maps problem, not Google's

[2021-12-29 01:51] SangWonyy commented on #4049
my mistake,, if there is no UrlTile, it is as above

[2021-12-29 01:51] #4049 closed

[2021-12-29 05:56] chungweileong94 opened #4050 "Lag when dragging around on IOS without `onPanDrag`"
# Bug report

## Summary

## Environment info

react-native: 0.66.4
react: 17.0.2
react-native-maps: 0.29.4

Target Platform: iOS - 15.2

I'm using GoogleMaps on IOS

`react-native info` output:

[code]

## Steps to reproduce

1. Add a `<MapView />` without specify the `onPanDrag` props

Describe what you expected to happen:

1. It shouldn't have any performance lag when dragging around the map

D

[2021-12-29 06:54] hisamafahri commented on #3527
@rushelex It is Google's issue, but as @Shaninnik reply, that [Google released v6.0](https://cloud.google.com/blog/products/maps-platform/announcing-version-60-maps-and-places-sdks-ios), it might shine a new hope to solve this issue.

But as mentioned in the v6.0 announcement:

[code]

this issue is involving both Google and react-native-maps.

[2021-12-29 07:11] tolik85 commented on #3527
Does this mean that any project that uses Google Maps is unable to run on a simulator?

[2021-12-29 07:15] hisamafahri commented on #3527
I do believe not all of them. As far as I know, this issue is mostly occur if you are using iOS simulator in the Apple M1 machines.

[2021-12-29 07:18] tolik85 commented on #3527
Which is me, and I believe a lot of people since MacBook Pro 16" with M1 Max is available worldwide :)

[2021-12-29 07:38] japaaak opened #4051 "KML markers not showing on iOS"
# Bug report
I'm trying to import the KML folder and show the markers.

On android it is working fine, but on iOS it is not showing the markers.

I did all the configuration of ios that is in the instruction, but it's not working.

I tested to put the "showsIndoorLevelPicker" in MapView to check if it is configured with the PROVIDER_GOOGLE, and the showsIndoorLevelPicker worked correctly.

## Envi

[2021-12-30 01:22] richcrad commented on #3941
I know this issue is closed, but I've run into the same problem using the tile server from NOAA, i.e.:

      <UrlTile urlTemplate='http://tileservice.charts.noaa.gov/tiles/50000_1/{z}/{x}/{y}.png/>

This works perfectly on iOS but doesn't load the tiles at all on Android.

Does anyone know if there is a generic issue with tile servers on Android? Thanks!

[2021-12-30 13:22] filiphorvei opened #4053 "Polyline onPress event on Apple Maps does not include coordinates"
# Bug report
## Summary

On Apple Maps (iOS), pressing a polyline sends the "polyline-press" event, but no coordinates are included in the event. On Android, the coordinates of the first point in the polyline is used. This is fixed in PR #4054

## Environment info

[code]

## Steps to reproduce

1. Create a polyline and specify the onPress prop.
2. Press the polyline

Describe what you expected to

[2021-12-31 01:08] xgenem commented on #3294
Issue still presists.

[2022-01-02 22:24] AlexMachin1997 commented on #4024
This would be really great to have as a standard feature, it's kind of expected for most map libaries.

I remember a few years ago trying this library out for the first time, I tried rendering the markes with no luck as i tried to render a few thoustand.

I've searched for a solution for this for a while, everyone who has created the solution is either out of date or overly complcated and difficul

[2022-01-03 18:51] #4053 closed

[2022-01-03 18:52] #3919 closed

[2022-01-03 18:53] #4050 closed

[2022-01-04 00:46] bassasaurus opened #4056 "<Polyline> Component interfering with react-native-gesture-handler?"
Whenever I add the Polyline component, the StackNavigator goBack() button and another Touchable are disabled on the android device using expoGo

Markers load fine, but the issue only occurs when Polyline is added and the issue doesn't exist on AVD or ios Simulator, only on the actual android device using expoGo
[code]

From logcat:
[code]

[2022-01-04 07:36] govindaBump commented on #3675
same for me 😅, thanks

[2022-01-04 09:21] Priya-2016 commented on #1919
Do you have sample code? I need it urgently, unable to do it. Please help me

[2022-01-05 19:24] saransh-malik commented on #3687
Any updates here?

[2022-01-06 01:28] christopherdro commented on #3991
@Borduhh @siddharth-kt @pke @mak12 @dishantwalia Please take a look at this open PR #4055.
It would be very helpful if you can test the proposed changes with your app and report back with any issues you come across.

[2022-01-06 08:56] MatrixFrog commented on #3906
@Simon-TechForm Is this what you mean? https://github.com/react-native-maps/react-native-maps/pull/4058

@hmartiins does it work as expected?

[2022-01-06 09:17] Simon-TechForm commented on #3906
Yes, that was what I imagined. But since it isn't initialized in the contructor, I suggest making it optional.

[2022-01-06 21:03] creix opened #4059 "How to pass coordinates from geoJSON to markerComponent?"
I have a geoJSON with polylines and points, i wanted to know how to render a `<Marker>`  using `markerComponent` prop in `<Geojson>` since i can't figure out how to pass the coordinates of the points to `<Marker>`.

[2022-01-06 21:45] #4059 closed

[2022-01-06 23:14] WRiferreiro commented on #4028
@atsushisuzuki0001 feel free to try #4055 and use the new renderer calling `useLatestsRenderer`, 3d buildings are working fine now.

[2022-01-06 23:17] isidoro98 commented on #4028
@atsushisuzuki0001 feel free to try #4055 and use the new renderer calling useLatestsRenderer, 3d buildings are working fine now.

[2022-01-07 12:27] matifriaz commented on #2371
Can You please how to get the right bounds everything is working fine on IOS but on android I only see a line on right side of the polygon

[2022-01-07 13:30] manufunk opened #4060 "Initial load of map will show world first and jump to initialRegion"
# Bug report

## Summary

I'm using the google maps provider with expo. If I test my map on Android, the map will first be displayed with a 0 zoom of the whole world. After a second or less, the `initialRegion` (or initialCamera - I tried both) is used and it will display my defined location. However I would expect the map to respect the initial coordinates right from the beginning without showing

[2022-01-07 15:05] jacobltobin commented on #2344
@virus2016
Oh, turns out I do, a year later.
for anyone looking:

node-modules/react-native-maps/lib/android/src/main/java/com/airbnb/android/react/maps/AirMapUrlTile.java

in createTileOverlayOptions() add options.transparency(0.5f);
(1 is transparent).

I use [patch-package](https://github.com/ds300/patch-package) to apply these fixes automatically for me

if anyone out there knows how to expose

[2022-01-07 20:44] MatrixFrog commented on #3906
good idea, done

[2022-01-08 00:29] meliodev commented on #2958
If you remove provider, you will use apple map instead of google maps.

[2022-01-09 01:46] #255 closed

[2022-01-09 12:28] haeniya commented on #482
Does anyone have a working solution to completely disable / hide the callouts? The solution above is not working for me.

[2022-01-10 02:39] QuocVi1994 commented on #1480
same issue, bro, do you have some clue ？

[2022-01-10 07:56] yogieeka commented on #486
Try using setTimeOut like this:

`setTimeout(() => {
    markersRef.current[index].showCallout();
      }, 1);`

[2022-01-10 12:53] kkureli commented on #2298
hi, can u solve?

[2022-01-10 19:26] harensarma opened #4062 "Not working properly with RN 0.67 (RC 6)"
May be my mistake, but it was working fine till RN 0.66 (stable) but not working with RN 0.67 (RC 6). The complete issue is here: [https://stackoverflow.com/questions/70657797/react-native-maps-issue-in-ios-app-undefined-symbols-for-architecture-x86-64](https://stackoverflow.com/questions/70657797/react-native-maps-issue-in-ios-app-undefined-symbols-for-architecture-x86-64)

Please help me to reso

[2022-01-10 21:19] GeovaneDaSilva commented on #2778
You need to create a new emulator that has Google Play, as they are complete and have support for this new version.
Create a Pixel 2 API 30 emulator.

[2022-01-10 21:19] GeovaneDaSilva commented on #1297
You need to create a new emulator that has Google Play, as they are complete and have support for this new version.
Create a Pixel 2 API 30 emulator.

[2022-01-11 01:22] zhenguet commented on #2382
Does anyone have an example of [Markers' coordinates](https://github.com/react-native-maps/react-native-maps#using-the-mapview-with-the-animated-api) code by Hook example :/
I try to use
`const [coordinate, setCoordinate] = useState(
    new AnimatedRegion({
      latitude: LATITUDE,
      longitude: LONGITUDE,
    }),
  );`
but app render error

pls help me @@

[2022-01-11 01:46] zhenguet commented on #2382
@hadijoons How do I do this in Hook?

[2022-01-11 04:34] #3906 closed

[2022-01-11 04:35] christopherdro commented on #4062
Just merged the following PR that might resolve your issue. https://github.com/react-native-maps/react-native-maps/pull/4061

Can you try testing from the master branch?

[2022-01-11 08:02] ehsanbigzad commented on #3009
Hi @smallsaucepan could you find any solution?

[2022-01-11 08:33] harensarma commented on #4062
I have tested from master branch, getting this : https://pastebin.com/aMBYDH61

[2022-01-11 10:06] zhenguet commented on #2382
@hadijoons how about move multiple marker? Can u help me @@

[2022-01-11 11:14] zoolle opened #4063 "Animating the markers will kill the app in Android"
I am animating a car over map by using `AnimatedRegion` and `animateMarkerToCoordinate` every time when a new set of  coordinates is received but it will fail when I call `markerReferece.current.animateMarkerToCoodinate()` in Sentry I get error with  `Application not responding for at least 5000 ms`

I am using the app on two different real Android devices with last Android 12
RN: 0.66.4
react-nat

[2022-01-11 16:06] christopherdro commented on #4063
Have you taken a look at the animated markers example? https://github.com/react-native-maps/react-native-maps/blob/master/example/examples/AnimatedMarkers.js

[2022-01-12 03:49] fillybrese commented on #3294
@xgenem yeah i'm experiencing same

[2022-01-12 07:04] AizenSousuke commented on #3182
I'm having this issue too..

[2022-01-12 12:30] claudiarsl opened #4064 "Circle in ios with Provider_Google"
# Bug report
Circle in ios with Provider_Google

## Summary
When I use PROVIDER_GOOGLE in MapView and test on iPhone, the circle just has a black line and doesn't assume the fill color and stroke color. If I remove the provider or use PROVIDER_DEFAULT, the circle takes on all the props I defined with all the correct colors.

## Environment info

[code]
    Target Platform: iOS - 15.1 iPhone XS

My

[2022-01-12 13:55] Lab3l commented on #3804
Hi

Stumbled upon the same issue on our app and ended up figuring a solution which at least for us fixed this problem as we're only rendering a single animated marker on the map (given it might introduce some performance issues if rendering a bunch of markers).
Set a reference to the marker and upon animating the position, set up an interval w/ 10ms execution time which runs markerRef.redraw(). Af

[2022-01-12 17:30] KianSalehi commented on #4025
How did you fix this? I'm having the same error, it seems to be from jCenter

[2022-01-12 18:08] briang123 commented on #3958
Same issue. Anyone find a solution?

Running on RN 0.66.4 and react-native-maps v0.30.1

`<MapView
        style={styles.map}
        region={{
          latitude: currentRegion.coords.latitude,
          longitude: currentRegion.coords.longitude,
          latitudeDelta: 0.0922,
          longitudeDelta: 0.0421,
        }}>
        {Object.keys(items).map((item) => (
          <Marker

[2022-01-12 18:20] Thumendes commented on #4025
@KianSalehi Me too.
[code]

[2022-01-12 19:17] D10S60948 opened #4065 "Android random crash - marker/polyline related?"
# Bug report

## Environment info
[code]

## Summary + Steps to reproduce
It happens randomly, caught with Sentry. It can happen even after few minutes of use of the app.
Didn't manage to recognize any pattern which causes it ☹️ but.. I think it happens more often when returning from background or navigating between screens (might be false assumption and hence deceiving so please don't take it as

[2022-01-12 20:26] 32godev commented on #4025
same here:
Execution failed for task ':app:mergeDebugAssets'.

     Searched in the following locations:
       - file:/C:/Users/JD/.m2/repository/com/facebook/flipper/flipper/0.54.0/flipper-0.54.0.pom
       - file:/C:/Users/JD/Documents/GitHub/RDUListingApp/node_modules/react-native/android/com/facebook/flipper/flipper/0.54.0/flipper-0.54.0.pom
       - file:/C:/Users/JD/Documents/GitHub/RDUList

[2022-01-13 04:54] suhaillilac commented on #3958
try adding as  provider={"google"}

[2022-01-13 11:54] amserhii11 commented on #3910
Any solutions @kHorozhanov  ?

[2022-01-13 16:54] Shaninnik opened #4066 "onMapReady not always called with google maps on latest commit in master"
# Bug report

## Summary

I am trying to use the lib from commit 22a9c9b6e38c3845ed3ab61b4da32a24000efe6c to get it running on M1 mac simulator, and it does, but now `onMapReady` is not always called (it is extremely sporadic). I know that this is not yet released but probably worth looking at.

## Environment info

"react-native": "0.66.3"
"react": "17.0.2"
"react-native-maps": "https://github.co

[2022-01-14 10:51] amsabots commented on #3564
I kindly request to be added, strong background for native code java

[2022-01-14 11:30] zoolle commented on #4063
Yes but seem to do the exactly same thing

[2022-01-14 13:55] bhishaksanyal commented on #4016
@hesan-aminiloo Can you please try testing from the master branch? Probably we can close this issue if all is good

[2022-01-14 15:44] christopherdro commented on #4066
@bhishaksanyal

[2022-01-14 21:04] Smartdata-web commented on #3564
I want to contribute

[2022-01-15 01:20] dlombardi commented on #482
We need this in order to prevent callouts from showing if the end user is clicking around the markers too fast.  A way to debounce/throttle the callout interactions, if you will.

[2022-01-15 08:02] LightKnight3r commented on #3804
hi @Lab3l , i tried this but redraw() function does not work on IOS. Which version of this modules did you use? can you send me full solution? thanks alot

[2022-01-15 09:00] molchanovskiy opened #4068 "How can I implement curved polyline?"
I am using Polyline as show below, but it is only showing straight line and I can't find any props to curve it.

` <MapView.Polyline
                    key={"1sds"} miterLimit={12}
                    coordinates={locations}
                    strokeColor={ThemeManager.mainColor}
                    fillColor={ThemeManager.mainColor}
                    strokeWidth={2} />`
My result:
![Screensho

[2022-01-15 15:37] babarmemon-dev commented on #3118
platform :ios, '11.0'

pod 'GoogleMaps', '5.1.0'
 pod 'Google-Maps-iOS-Utils' , '3.10.3'

 this. works for me

[2022-01-16 05:31] #3948 closed

[2022-01-16 12:34] nohagazzaz opened #4069 "showsMyLocationButton and marker issues"
# Bug report

## Summary
 show my location button doesn't work in android along with showing a marker on user press throws an error

## Environment info

      react-native: 0.64.3
      react: 17.0.1
      react-native-maps: 0.28.1

`react-native info` output:

[code]

## Steps to reproduce

1. modal opens
[on map view](https://drive.google.com/file/d/1AwNl6nNqxnNFgSD4U6JZwC9CUZo1v7nP/view?usp=sh

[2022-01-16 14:21] salah-ghanim commented on #3687
I just looked again into the native code and I see only the following issue

iOS supports gradient but Android doesn't

This is somehow being mentioned in the comments but not really in the initial ticket description.

The only question I have here, have anyone tested the same data with a native android and iOS app and can confirm that this is in fact a mistake in the library ? maybe the differenc

[2022-01-16 14:27] salah-ghanim commented on #3527
@tolik85 can you please check against master now ? the latest Google Maps SDK for iOS (6.0.1) I can't find a release note for that version but I imagine the issue is fixed

[2022-01-17 07:04] aliraza-noon commented on #3875
not stale

[2022-01-17 17:02] usama-asfar commented on #880
I was getting this on Github Actions after removing Grandle caching solves the issue. and also after re-running a few times.

[2022-01-18 10:02] udabasili commented on #2989
@mshavandi answer worked for me
`    const mapView = React.useRef<MapView | null>(null);`

Then
`<MapView
                                initialRegion={{
                                    ...location
                                }}
                                ref={ref => { mapView.current = ref  as MapView}}

                                style={styles.map}

[2022-01-18 14:28] victorjspinto commented on #4068
Actually, I am looking for implementing the same feature in my company (I would be happy to help implement this new feature).

To archive this result there is some native code needed. The react-native-maps is just a thin layer between react native and native code.

https://stackoverflow.com/questions/43305664/can-i-draw-a-curved-dashed-line-in-google-maps-android/43665433

This stack overflow has

[2022-01-18 16:24] harensarma opened #4070 "Custom view (with image) not showing at android but working at iOS"
I am using the below code to show custom fixed marker:

[code]
and this is producing below image on iOS
<img width="341" alt="Screenshot 2022-01-18 at 9 00 07 PM" src="https://user-images.githubusercontent.com/24252804/149976867-10a2f43a-b1fe-407c-8140-97cf2adbc4c8.png">
But on android, its not showing the marker (image):
<img width="341" alt="Screenshot 2022-01-18 at 8 53 02 PM" src="https://user

[2022-01-18 16:36] #4070 closed

[2022-01-18 20:34] Rc85 opened #4071 "Zoom messes with map boundaries?"
# Bug report

## Summary

Not sure if this is intended but it seems like the coordinates supplied to setMapBoundaries is setting the size of the view port rather than the how far north/south/west/east your view port can go.

![Screenshot_20220118-122204_MT Drivers](https://user-images.githubusercontent.com/22307591/150013620-6854df19-8b22-4165-80cc-a98869f6fe5f.jpg)

Notice the boundary shown by t

[2022-01-19 00:24] patrickgalbraith commented on #118
If it works locally but not when uploaded to the Play store and you use Play App Signing. Make sure the Play signing key is whitelisted in the "Maps SDK for Android" you can find the SHA1 key in the Play console under "Setup -> App integrity -> App signing key certificate".

[2022-01-19 07:16] bhomaramgtsinfo commented on #3958
Hey @suhaillilac
i am getting the same issue still on iOS. can you please help to resolve this issue

[2022-01-19 09:39] apanagio commented on #3823
Not actually a lineDashPattern, but if you set
`lineCap="square"`
`lineDashPattern={[1]}`
you get a filled line

[2022-01-19 11:39] bodrius commented on #3392
++++

[2022-01-19 16:24] arunpugahz opened #4072 "Display street View options for Expo apps"
# Feature request

First Thanks to the developers for this great package.
It would be really helpful if this package could support StreetView
A prop or a method to open street view in the MapView.

Request: https://github.com/react-native-maps/react-native-maps/issues/3761

[2022-01-20 02:44] dlombardi commented on #4060
Same issue

[2022-01-20 04:03] deng-yc commented on #4066
Same problem

[2022-01-20 11:14] jinhojang6 opened #4073 "Google Maps is outdated"
I found that Google Maps is outdated on iOS and Android both.

For example, the image below is Google Maps showing my region (https://www.google.com/maps/@37.4791964,126.8727954,16z)

![KakaoTalk_Photo_2022-01-20-20-11-26 002](https://user-images.githubusercontent.com/41753422/150328000-77c8bef3-d0bd-4de8-9e2e-1fea81331dbd.jpeg)

<br/>

But this image below is the map of the same region, which I b

[2022-01-20 13:35] Parlegrandpa commented on #4062
@harensarma I'm also having a similar issue. Are you able to fix it?

[2022-01-20 14:33] harensarma commented on #4062
I have reverted back to RN 0.66.4 .. now working fine..

[2022-01-20 19:02] jinhojang6 commented on #4073
Found that Google Maps itself is outdated yet.

[2022-01-20 19:02] #4073 closed

[2022-01-21 10:16] sainteye opened #4074 "[Android] Attempt to invoke virtual method 'double java.lang.Double.doubleValue()' on a null object reference"
[This is an Android Issue]

Hi, our team use react-native-maps in our production. After we upgrade to RN 0.63, we notice some our users get **"Attempt to invoke virtual method 'double java.lang.Double.doubleValue()' on a null object reference"** error when they leave app for a long time and get back to app again.

<img width="770" alt="screenshot" src="https://user-images.githubusercontent.com/573

[2022-01-22 06:54] teodorusluo opened #4075 "AirMapCoordinate.h file not found"
Hi,

I got an error "AirMapCoordinate.h file not found" while build the code with XCODE 13.1.

Here is my system:
1. XCODE -> 13.1
2. REACT-NATIVE -> 0.64.2
3. REACT-NATIVE-MAPS -> 0.30.1

Here is my PodFile
`
require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '11.0'

u

[2022-01-23 15:33] patrik-u commented on #3154
Setting map width and height to screen width and height AND doing map initialization (fetching data for markers, etc.) in onLayout() worked for me.
`
            <MapView style={styles.map}
                onLayout={onMapReady}
            ...>
`

[code]

[code]

[2022-01-23 15:33] patrik-u commented on #245
Setting map width and height to screen width and height AND doing map initialization (fetching data for markers, etc.) in onLayout() worked for me.
`
            <MapView style={styles.map}
                onLayout={onMapReady}
            ...>
`

[code]

[code]

[2022-01-24 10:06] matejpolak commented on #3305
I'm facing the same issue, any solution to that other then forking and fixing this ourselves?

[2022-01-24 14:13] ionutmiftode commented on #3724
any update on this?

[2022-01-25 04:41] RyanTG commented on #3952
Given that someone else created their own issue for this (closed above), I think there's _some_ demand.

[2022-01-25 06:51] buitrbao222 commented on #3823
Any progress? The solution by @apanagio works find but the line cap is not round so I can't use it in my case.

[2022-01-25 11:23] bdmostafa commented on #3564
I would love to help and always ready to contribute to the community

[2022-01-25 13:15] samiksha-syn commented on #3564
I am interested to help you on maintaining this repository. Will help in any possible way

[2022-01-25 17:12] abdullahkhan70 commented on #3564
I also have an Android Native java background. I want tp contribute in
every way possible.

On Tue, Jan 25, 2022 at 6:16 PM samiksha-syn ***@***.***>
wrote:

[2022-01-25 18:23] Josefpa opened #4078 "Web Support for React Native Maps"
Hey

Please add support for React Native Web

[2022-01-25 18:24] Josefpa commented on #3861
Does the web Maps have all the features of react native maps?
Like custom Markers, Polygon/Area Drawings?

[2022-01-25 18:26] MoOx commented on #3861
It's very limited, but I guess PR are welcome there :) Check out the README.

[2022-01-25 22:34] Oriole-Alex opened #4079 "Android device crash instantly - no logs."
# Bug report

Adding react-native-maps with following values:

playServicesVersion = "18.0.0"
androidMapsUtilsVersion = "2.3.0"

will immediately crash the app on android device at launch. However launches on a emulator. That said, the map is greyed out on the emulator (havent looked for solution to this yet until I had solved physical device launch).

The difficulty I'm facing is there are no cra

[2022-01-26 12:43] agupta-avenir commented on #4075
I am also facing the same issue suddenly. This has been working earlier.
Project Config:
XCODE -> 13.1
REACT-NATIVE -> 0.65.1
REACT-NATIVE-MAPS -> 0.28.0

[2022-01-26 22:24] renchap commented on #4079
I dont know if this is related, but I just submitted #4080 for a similar issue. Do you have `compileSdkVersion = 31` in your `android/build.gradle`?

If yes, this is the issue and you can add `implementation "androidx.work:work-runtime:2.7.1"` to the `dependencies` block in `android/app/build.gradle`.

If you want to troubleshoot this further, you need to use `adb logcat -T 20` after having [paire

[2022-01-27 11:15] Oriole-Alex commented on #4079
Thanks very much! This is perfect!

[2022-01-27 11:15] #4079 closed

[2022-01-27 12:50] aylok1n commented on #2814
same problem(((

[2022-01-28 03:18] chrismerino commented on #4060
I'm having the same issue on RN 0.63.3

[2022-01-28 09:42] JoniVR commented on #3434
Hi @maartenvandillen, Did you manage to fix this?

[2022-01-28 10:58] JoniVR commented on #3434
I'll update this in case anyone else runs into it. I've discovered that latest versions of `UrlTile` support a `maximumNativeZ` property. Playing around with this combined with `maxZoomLevel` on the map itself allows you to work around it. Apparently, from my reading, osm limits around 18, so I'd recommend that as a `maximumNativeZ`.

[2022-01-28 15:29] Oriole-Alex opened #4081 "addressForCoordinate - TypeError: undefined is not a function"
# Bug report
## Summary

Trying to use addressForCoordinate  method returns [TypeError: undefined is not a function].
Apologies if I've imported something wrongly but I can't find any code examples to copy from. The code I'm using is from the issue https://stackoverflow.com/questions/67490594/react-native-maps-convert-coordinates-to-address and I'm using onRegionChangeComplete as per (https://gith

[2022-01-29 12:33] thorfinnko commented on #4075
same here was working fine until a week ago

[2022-01-29 13:51] agupta-avenir commented on #4075
It got automatically fixed. Try clearing cache and pod repo update might help.

[2022-01-30 01:33] Brenosalv opened #4082 "User-Editable Shapes"
# Feature request

Hi,
I need to implement User-Editable Shapes but it does not exist in the lib yet I believe, only in Google Maps Platform. Feature: https://developers.google.com/maps/documentation/javascript/examples/user-editable-shapes

## Why it is needed

With this feature, it's possible to add a user editable rectangle to the map.

Thanks in advance.

[2022-01-30 05:13] tmbax0098 commented on #3564
I use your lib in my app

[2022-01-30 19:01] jones345 commented on #3564
how can I best assists in maintaining the lib

[2022-01-31 11:04] Willham12 opened #4083 "java.lang.IllegalArgumentException: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent."
Add this to fix the problem:
``
    implementation 'androidx.work:work-runtime-ktx:2.8.0-alpha01'
``

[2022-01-31 14:23] AhmedSarhan commented on #3363
same issue please solve it

[2022-01-31 20:12] lekzd commented on #4078
@Josefpa you can use `react-native-web-maps` as well. Just add it as alias to your webpack config

[2022-01-31 22:09] NavigilOMantere opened #4085 "Enable isPreselected to work for the default pin marker"
# Feature request

The `<Marker />` component has an `isPreselected` prop, but it does nothing on iOS MapKit if the default pin marker is used.

## Why it is needed

Because users want to use the `isPreselected` prop to avoid tapping markers twice in order to drag.

## Possible implementation

This PR implements the required change: https://github.com/react-native-maps/react-native-maps/pull/4084

[2022-01-31 22:11] Josefpa commented on #4078
Yes But it is missing a lot of features

[2022-02-01 01:16] khaledtag98 opened #4086 "Custom Marker gets bigger when zoom out"
Hello there ,

When I zoom out the markers get bigger. How to make it fixed size

[2022-02-01 01:21] khaledtag98 commented on #4086
Original
![B9E8BEC0-1055-4B6C-A9E3-162C72A5D728](https://user-images.githubusercontent.com/55442919/151899316-d399d1c5-db0c-4f66-9188-61219b0a1b62.jpeg)

[2022-02-01 01:22] khaledtag98 commented on #4086
Zoom out ( makers scales up and get bigger)
![E60AB7BE-FE68-4742-8369-8B51C283F53E](https://user-images.githubusercontent.com/55442919/151899385-6c8f8097-e9af-46ad-8362-183ecba0f4c3.jpeg)

[2022-02-01 02:51] kaushikparmarneoscript commented on #3564
@rborn I will available is maintainer for the lib with below alls.
native code (java/objC)
 issue triaging
 PRs management
 improvements (docs, examples, testing)

[2022-02-01 09:31] fristyr opened #4087 "Google Maps SDKs"
# Bug report
Hi all!
I received a message from Google about Maps that Google Maps SDK beta will be disabled and new supported versions available now.
What this should mean??

A bit of text from email bellow

What do I need to know?
App versions built with the mobile Maps SDKs (Android & iOS) beta (versions 3.0.0, 3.1.0, and 3.10.0) will not work once the beta versions are decommissioned, no earlie

[2022-02-01 11:25] flavrwebdev commented on #4087
+1

[2022-02-01 13:58] KonstantinZhukovskij commented on #4027
I'm sure you didn't add this code and didn't install pods.

[code]

`pod install`

[2022-02-01 15:17] KonstantinZhukovskij commented on #4032
Any news here?

[2022-02-01 16:45] mangkoran commented on #3902
Currently encountering this issue too.

[2022-02-01 17:40] jsjexpert commented on #4087
+1

[2022-02-01 18:54] oliuradu commented on #4087
+1

[2022-02-01 19:02] brianmharding13 commented on #4087
+1

[2022-02-02 08:42] xegulon commented on #661
Which dimensions are you talking about? I think I have the same problem.

[2022-02-02 08:47] xegulon commented on #661
I found it. This example explains things well: https://docs.expo.dev/versions/latest/sdk/map-view/#usage

![image](https://user-images.githubusercontent.com/74178038/152121414-0d99a40a-9e3a-448e-ab78-d0277c2c4829.png)

[2022-02-02 11:31] Rc85 opened #4088 "setMapBoundaries on ios raises error"
https://github.com/react-native-maps/react-native-maps/blob/3338a960c62cc3c364286433ab98e5cf59435ebf/lib/components/MapView.js#L1001

[code]

[2022-02-02 12:28] arunpugahz commented on #4087
++1

[2022-02-02 19:36] Willham12 commented on #4083
https://github.com/react-native-maps/react-native-maps/blob/master/lib/android/build.gradle#L32

after that line i guess

[2022-02-02 20:12] mgsesq commented on #4087
+1

[2022-02-03 00:11] brianmharding13 commented on #4087
According to line 31 of the [build.gradle](https://github.com/react-native-maps/react-native-maps/blob/master/lib/android/build.gradle) file, this repo uses SDK version [0.5](https://github.com/googlemaps/android-maps-utils/releases/tag/0.5.0).

[2022-02-03 06:48] bhomaramgtsinfo commented on #4088
+1

[2022-02-03 14:19] Lekhrajk commented on #4083
Thanks man
Finally, it worked in an emulator in dev mode before this it was not even opening the app. Hope will work in production also

[2022-02-03 19:18] RonaldPS1993 commented on #1677
onMapReady is not working for me, i am using expo-location to fetch the current lat,lon

[2022-02-03 19:25] marcelmedina commented on #4087
The [build.gradle]([build.gradle](https://github.com/react-native-maps/react-native-maps/blob/master/lib/android/build.gradle)) file needs updating as per latest release [Android-SDK Releases](https://developers.google.com/maps/documentation/android-sdk/releases) to com.google.android.gms:play-services-maps:18.0.2

[2022-02-04 00:58] roni-castro-db opened #4090 "[iOS] onMapLoaded is called before the map is rendered on screen"
# Bug report

## Summary

`onMapLoaded` is called before the map is rendered on iOS and currently the loading indicator is not working on iOS when Google Map provider is used, so there's no way to show loading while the map is not rendered on screen, and the device has some slow internet connection

## Environment info

`react-native info` output:

[code]

## Steps to reproduce

1 - Uninstall the

[2022-02-04 02:53] ggerminiani commented on #3476
same problem

[2022-02-04 03:46] 12944qwerty opened #4091 "Cannot create a string longer than 0x1fffffe8 characters"
# Bug report

## Summary

I copied the example folder onto my computer and followed the instructions at the [setup](https://github.com/react-native-maps/react-native-maps/blob/master/docs/examples-setup.md). I still get an error (screenshot at bottom)

## Environment info

![image](https://user-images.githubusercontent.com/45984786/152468554-fcff4b9a-9bb7-4cb2-9df0-d25bc85554c5.png)

## Steps to r

[2022-02-04 03:53] 12944qwerty commented on #4091
After a bit of debugging, I noticed that it's returning this error from files that aren't even in the directory I'm using. Why is this happening? How to fix without moving files?

[2022-02-04 11:44] verochan commented on #4066
I'm suffering the same problem on a Macbook Pro mid 2012 on XCode iOS simulator since v0.30.0 and using GoogleMaps. On the other hand, on Android emulator, iOS & Android devices, `onMapReady` callback always gets called.

This is really frustrating, as I was trying to solve this [problem](https://github.com/react-native-maps/react-native-maps/pull/4036) (which is not still merged into master branc

[2022-02-04 17:09] andriy200017 commented on #3955
I have the same issue when using mapRef.current.addressForCoordinate inside the onPress callback for getting the address from coordinate. Have anyone got any solution for this to make it work on iOS? Using the another geo api is not a solution for me at all.

![Simulator Screen Shot - iPhone 13 - 2022-02-04 at 17 56 41](https://user-images.githubusercontent.com/40670081/152571363-c34374e8-0630-4c9

[2022-02-04 17:37] danieldanielecki commented on #3955
Not really, looks like a big issue :(

[2022-02-04 19:58] k-saparia commented on #3088
I'm facing the same issue sometimes not the all time.
Please keep us posted if anyone finds a better solution.
Thank you in advance.

[2022-02-04 21:01] exp8589ert commented on #2896
@BasilJohn,

Set "showsUserLocation={false}" prop of MapView to false. Then add a Marker and with Image and coordinate props. There you use custom image.
![Response](https://user-images.githubusercontent.com/18294817/152602452-f2ea28ef-ce59-49e6-9d8c-61df1e53e3f6.PNG)

[2022-02-06 11:54] AhmedSarhan opened #4092 "How to show directions between two markers or points on Map"
this is either a feature request or an inquiry about a feature

I would like to show my user on a React Native application the directions of a ride between two markers like in google maps,
it would also be super helpful if I can show the estimated distance in KM / time in minutes or hours
is this available with this package or is there another way to do it?

[2022-02-07 12:57] thomasviaud commented on #4092
Hello, you can use : https://github.com/bramus/react-native-maps-directions

[2022-02-07 13:19] AhmedSarhan commented on #4092
thank you a lot this was really super helpful

[2022-02-07 23:23] SakeFabi commented on #3527
Does anyone have some good news? If google fixed this, will it immediately translate into being fixed in RN?

[2022-02-08 21:14] oleliabo opened #4093 "Failed prop type: Geojson: prop type `tappable` is invalid"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-maps@0.30.1` for the project I'm working on.

[code]

Gives console error:

[code]

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</e

[2022-02-09 11:47] vkorpas commented on #3983
Any solution??

[2022-02-09 14:02] Kubqo commented on #2344
You need to add
java
[code]
to AirMapUrlTileManager.java

and
[code]
 to

[2022-02-09 16:18] FadiAboMsalam commented on #4083
@Willham12 thank u so much it worked <3

[2022-02-09 19:40] rravithejareddy opened #4094 "Polyline is not working for array of two coordiantes."
I am not able to draw line between two location, I am using Polyline for it, but it's not working with two objects, I need to provide at least three location object for it. So how can I draw line between two location?

[2022-02-09 19:52] jacobltobin commented on #2344
oh nice - thanks!

[2022-02-09 23:58] rodrigo2392 commented on #3943
+1

[2022-02-10 05:46] #3976 closed

[2022-02-10 05:46] #3860 closed

[2022-02-10 05:50] therealgilles commented on #3057
Anyone has an update on this?

[2022-02-10 06:14] aaalsubaie commented on #3057
we are still having this issue!

[2022-02-10 08:18] verochan commented on #3057
Even with this [patch](https://github.com/react-native-maps/react-native-maps/issues/3025#issuecomment-865725136), sometimes, I'm still experiencing this problem... Waiting for the definitive solution 😐

[2022-02-10 13:58] Gentlee opened #4095 "onUserLocationChange not always called when showsPointsOfInterest provided iOS"
# Bug report

## Summary

Passing `showsPointsOfInterest` prop to MapView leads to sometimes (~70% times) not firing `onUserLocationChange` when MapView is mounted.

## Environment info

react-native-maps: 0.30.1
platform: iOS, Apple maps

`react-native info` output:

System:
    OS: macOS 12.2
    CPU: (8) arm64 Apple M1
    Memory: 107.11 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    N

[2022-02-10 14:27] Gentlee commented on #4095
seems it was a problem of reloading simulator, restarting the app helps

[2022-02-11 13:07] devlooppro commented on #4075
Same issue!

[2022-02-11 17:06] rodrigodiasf1984 commented on #4062
I've spent the entire day trying to find a solution and finally, i did compile the ios project right now following this:
https://gist.github.com/badsyntax/72c5c965fcaefe66d049a8c2cdf34198

I hope this can help!

[2022-02-12 13:13] asit-panda commented on #3943
Property 'Animated' does not exist on type 'typeof Marker'.

Same issue. Please look into this. Thanks in advance.

[2022-02-13 23:30] Simon-TechForm commented on #4093
This is already fixed in master, see: #4019 :)

[2022-02-14 00:44] Simon-TechForm commented on #4088
It's a little hard to guess since you deleted the issue template, but I assume you are using Apple maps. `setMapBoundaries` is Google Maps only as stated in the [docs](https://github.com/react-native-maps/react-native-maps/blob/master/docs/mapview.md?plain=1#L96).

[2022-02-14 03:05] karatekid430 opened #4097 "No M1 support because GoogleMaps pod < 6.0.1"
# Bug report

## Summary

ld: building for iOS Simulator, but linking in object file built for iOS, file '/Users/nicholas/git/tenant/ios/Pods/GoogleMaps/Maps/Frameworks/GoogleMaps.framework/GoogleMaps' for architecture arm64

This happens when building on an M1 Apple machine without Rosetta

## Environment info

    "react-native": "0.66.3",
    "react": "17.0.2",
    "react-native-maps": "^0.30.1

[2022-02-14 15:23] oleliabo commented on #4093
Great! Sorry for the inconvenience.

[2022-02-14 15:23] #4093 closed

[2022-02-14 21:06] Derewith commented on #3715
@tharakanwn2014 can you provide an example to close this issue ?

[2022-02-15 00:06] hchen98 opened #4098 "Map without Google or Apple's maps."
I have a project where it requires me to form a map, the Native American Tribe's map. Is there a way I can use this lib to form my map that's not from Google or Apple?

I found one API that I could use (URL: https://native-land.ca/our-wonderful-wily-api/). The simplest way could be having a webview component that displays that `<iframe>` map from the site's API. However, that's not ideal as I will

[2022-02-15 06:44] 4RGUS commented on #3958
Same issue for me on:

react-native - v0.66.4
react-native-maps - v0.30.1

[2022-02-15 06:46] suhail135 commented on #3958
try adding as provider={"google"}

[2022-02-15 15:51] mcapocaccia opened #4099 "Android crash due to missing existence check in AirMapView.java"
react-native-maps v.0.30.1

Crash:
NullPointerException
Attempt to invoke virtual method 'com.google.android.gms.maps.Projection com.google.android.gms.maps.GoogleMap.getProjection()' on a null object reference

Reason:
AirMapView.java:1014 (function dispatchTouchEvent is:

tapLocation = map.getProjection().fromScreenLocation(new Point(X,Y));

Should be:

if (map != null) {
tapLocation = map.getPr

[2022-02-16 00:31] navarrofracisco commented on #3465
Still happening on 0.30

[2022-02-16 06:34] navarrofracisco commented on #3817
How is this still not fixed? This seems like core/vital functionality for the "best" react native maps library available. How can we help fix this?

[2022-02-16 15:51] zabojad commented on #3678
I'm having the same problem. Did you find a way to display kml data @JaiSaro @phybriun ?

[2022-02-16 21:20] zabojad commented on #3678
[There](https://github.com/react-native-maps/react-native-maps/blob/3338a960c62cc3c364286433ab98e5cf59435ebf/lib/android/src/main/java/com/airbnb/android/react/maps/AirMapView.java#L1214), if I replace this:

        LatLng latLng = ((LatLng) placemark.getGeometry().getGeometryObject());

by:

        LatLng latLng = ((java.util.ArrayList<java.util.ArrayList<LatLng>>) placemark.getGeometry().getGe

[2022-02-17 03:08] alunparanggi commented on #4086
I don't think those markers get bigger, the size is still same it just the map is getting smaller because you zoomed it out

[2022-02-17 03:09] ziggear commented on #3564
Hey bros I can help with native code (ObjC), I worked for 4 years at the company relatives to mobile maps.
Let me know if I can be of any help! : )

[2022-02-17 08:27] Kubqo commented on #2344
but it is already in ( version 0.30.0 - (November 10, 2021)) [#3938] Add URLTile & WMSTile opacity property

[2022-02-17 08:46] zabojad commented on #3874
Same here:

    LoadError - dlsym(0x209029740, Init_ffi_c): symbol not found - /Library/Ruby/Gems/2.6.0/gems/ffi-1.13.1/lib/ffi_c.bundle
    /System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0/rubygems/core_ext/kernel_require.rb:54:in `require'
    /System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0/rubygems/core_ext/kernel_require.rb:54:in `require'

[2022-02-17 08:57] ziggear commented on #2958
Same problem, it works for me.

[2022-02-17 12:10] LHowlett97 opened #4100 "Custom SVG marker with custom callout not behaving correctly."
My custom callout works fine with a normal marker or with a marker image however when I use a custom SVG component the custom callout box starts behaving strangely...

## Environment info

      "react-native": "^0.64.3",
      "react": "17.0.1",
       "react-native-maps": "0.28.0"

**Custom callout normal marker:**

<img width="207" alt="image" src="https://user-images.githubusercontent.com/6477

[2022-02-17 12:23] SakeFabi commented on #4097
Same here not working on M1 chip.

[2022-02-17 13:59] shahin963 commented on #3057
Having the same issue with GoogleMaps 3.5.0

[2022-02-17 14:04] zabojad commented on #3190
Still having the same problem on iOS...

[2022-02-17 14:05] zabojad commented on #4051
https://github.com/react-native-maps/react-native-maps/issues/3190

[2022-02-17 14:06] raulgordejev commented on #3057
I'm still having the same issue as well. However I've managed to get it working good enough for now with this [workaround](https://github.com/react-native-maps/react-native-maps/issues/3025#issuecomment-522968087) + using react-native-maps version 0.26.1.

I've noticed that on newer versions than 0.26.1 the workaround doesn't have the same effect.

[2022-02-17 14:12] zabojad commented on #2360
It seems it's not the reason why this is happening. I load my kml files from a server that sets correctly the `Content-Type` header to `application/vnd.google-earth.kml+xml`

[2022-02-17 14:30] zabojad commented on #2360
hmmm. I've managed to render my kml data by editing the AIRGoogleMap.m file as per https://developers.google.com/maps/documentation/ios-sdk/utility/kml#maps_ios_kml-objective-c

It works but the almost entire [`setKmlSrc`](https://github.com/react-native-maps/react-native-maps/blob/3338a960c62cc3c364286433ab98e5cf59435ebf/lib/ios/AirGoogleMaps/AIRGoogleMap.m#L835) method is rewritten...

[2022-02-17 16:36] zabojad commented on #3190
[I've fixed it by rewriting the ](https://github.com/react-native-maps/react-native-maps/issues/2360)

[2022-02-17 21:14] Simon-TechForm commented on #4097
This is alredy merged. There's no release for it yet though :) See #4061. You could try installing from the master branch.

[2022-02-17 21:19] Simon-TechForm commented on #4083
Ref:  #4080

[2022-02-17 21:51] Simon-TechForm commented on #4081
Hi @Oriole-Alex :)

`addressForCoordinate` is a member of MapView. Try something like this:

[code]

[2022-02-18 00:14] AlejandroFNadal commented on #2508
This problem is still happening on 2022 :-(

[2022-02-18 00:50] Shaninnik commented on #4066
When I was testing it, for some reason, it was happening much more frequent on my real project and less frequent on clean project, so might be possible that you are just not seeing it. Also might be possible that it works fine now with new master and 0.67.2 react. I will try it again tomorrow to see if I can still replicate.

[2022-02-18 08:14] tonsnoei opened #4101 "Support for play-services-maps 18.0.0 new renderer (because of progressive rollout 2022)"
# Feature request

Support for play-services-maps 18.0.0 new renderer. Because of progressive roll out in june 2022

## Why it is needed

I am not sure if the older version of the play-services-maps will be in support after june 2022

## Possible implementation

Just add `implementation 'com.google.android.gms:play-services-maps:18.0.0'` to the build.gradle?

[2022-02-19 02:48] hchen98 commented on #4098
@ziggear  that's not what I'm asking for.

[2022-02-19 16:51] isipisi281 commented on #4097
Working fine 4 me mmhmmmm

[2022-02-19 17:18] SakeFabi commented on #4097
@Simon-TechForm will take a look thanks!

[2022-02-20 00:35] brownieboy commented on #3908
I just got the blank Google map issue on Android.   As @christopherdro says, it's almost always an online permissions issue, and so it was for me.

In my case, my SHA-1 signing key for Android had changed.   I just needed to find the new one, then add it to the relevant Google API key on the Google site.

With **Android App**s radio button selected on your  API key, you need to add the new SHA-1 k

[2022-02-21 03:48] karatekid430 commented on #4097
That is a different issue, make sure you are excluding arm64 for any ios simulator SDK both in your Podfile for your pods and in Xcode for your main targets. Do not exclude for any SDK. That will ruin it.

[2022-02-21 08:10] zhenguet commented on #2082
How about a Marker move to over 1000coordinates as [my problem](https://stackoverflow.com/questions/71124554/how-to-optimise-react-native-maps-performance) @@

[2022-02-21 08:56] ydhnwb commented on #3747
the url
```http://c.tile.openstreetmap.org/{z}/{x}/{y}.png```

is hit when we moving, zooming the maps?

[2022-02-21 10:59] Simon-TechForm commented on #4101
There's already an open issue regarding this, as well as a pull request. See #3991 and #4055. I'm sure the pr author and maintainers would appreciate someone testing out the proposed changes :)

[2022-02-21 19:26] oliverloops commented on #4087
+1

[2022-02-21 19:28] oliverloops commented on #4078
Google Maps web SDK has some similarities to mobile native maps, but it is possible to share code between these platforms?

[2022-02-21 23:07] MatthewLamperski opened #4102 "Markers not being removed from MapView [ios]"
# Bug report

## Summary

In my MapView, I have an array of Markers maintained by a state variable `markerObjs`. In my actual application, I have implemented a simple custom Marker (just a green circle). My problem comes when I try to filter the `markerObjs` array. When a specific `markerObj` is filtered out (removed from the state array), the Marker is still left on the MapView. While I am unable

[2022-02-22 02:28] zhenguet opened #4103 "Marker animates to a lot of coordinates very slow performance"
I'm making a vehicle's journey review. But I have a big problem.
My journey data is an array. And the Marker will move every **200ms** from data[timer -1] to data[timer].
If `data.length < 200`, app till run smoothly. But if more, app starts lagging.
So has anyone solved this problem?
I've been looking for an answer for a long time, but still haven't found it.
For more infomation, you can see [her

[2022-02-22 16:01] margabit commented on #4060
Same issue

[2022-02-22 18:42] eduardoborges commented on #3958
Same problem here.

react-native 0.67.3

[2022-02-22 21:33] iway1 opened #4104 "[Documentation] Google Maps API Usage"
# Feature request
Add documentation that makes it clear when / how many Google maps API requests will be sent. (Is it one per render, is it one per MapView component mount, is it when the user scrolls the map? I have no idea). It would also be useful to have tips to reduce the number of these requests that will be sent. Again, these costs can blow up if you accidentally create an app that sends a

[2022-02-22 21:38] Simon-TechForm commented on #4102
First of all, thank you for taking the time to write a thorough issue description, following the issue template. 👍

I tried looking into this, but I'm struggling to reproduce the bug. Could you try to provide a minimal, reproducible example? I'm aware that your example is fairly minimal, but can you strip away all unnecesarry props, states and third party components, and try to reproduce this in a

[2022-02-22 22:14] Simon-TechForm commented on #4104
Last time I checked (admittedly it's been quite a while), the Google Maps SDK for both iOS and Android was free for the functionally provided by `react-native-maps`. Looking at [iOS billing](https://developers.google.com/maps/documentation/ios-sdk/usage-and-billing) and [Android billing](https://developers.google.com/maps/documentation/android-sdk/usage-and-billing) this seems to be the case to th

[2022-02-23 01:19] MatthewLamperski commented on #4102
Interesting... I created an entirely new project to test out the minimal version you gave me, and it worked just fine. So I tried replacing everything on the specific file I had in my project with the version you gave me, and it is not working again. I assume this means something went wrong in my project, so I will figure out where the problem is stemming from. If you have any ideas I'd love to he

[2022-02-23 02:19] pacarvalho commented on #2016
Has anyone been able to address this issue whilst using the image prop?

[2022-02-23 04:26] #4103 closed

[2022-02-23 12:13] dusanspasojevic commented on #3947
Try to adjust your markers zIndex

[2022-02-23 17:46] gustavohcastro commented on #4094
provide at least three location works for me!!

[2022-02-23 19:25] McCaffertyp commented on #2588
Feb 2022, still not working. Would appreciate if this could be reopened, please?

[2022-02-23 20:25] raphaelbadia commented on #2588
Well I reopened it but I think you should create a new issue because I don’t have the project anymore 😅

[2022-02-23 20:33] McCaffertyp commented on #2588
Oh no haha. Thanks for the reopen though. To temporarily get around this issue, for anyone who see's this, I'm temporarily doing this - Went ahead and created a View wrapper for the custom marker that had a height and width to fit everything inside, positioned everything as wanted, and then to adjust for any marker movement happening due to the wrapper's set width and height, I just used the Marke

[2022-02-24 06:24] LHowlett97 commented on #4100
Anybody? No? Dust..

[2022-02-24 08:23] pyr0hu commented on #3842
@christopherdro This is not a question, but a bug. If you have a marker on the map and you start to zoom in and out, the marker position will not hold the original position but wander around the map.

[2022-02-24 08:44] ilyass-comoncloud commented on #2389
Still happen

[2022-02-24 21:36] Simon-TechForm commented on #4102
@MatthewLamperski nothing off the top of my head, unfortunately. And I don't see anything obvious in your example either. But please do give an update when you track it down :)

[2022-02-24 23:40] brownieboy commented on #154
Still and issue for me on Android.

Putting the `<Image>` inside a `<Text>` did nothing for me.

[2022-02-25 06:48] jackimatin opened #4105 "detail of places"
hi
thanks for develop this library...

I have a question:

can I get detail of a place like google map?(for example picture, stars and ...)

[2022-02-25 09:43] rravithejareddy commented on #4094
I have used Polygon for two locations, but polyline is not working for two locations.

[2022-02-25 12:10] gustavohcastro commented on #4094
you can duplicate last point of location array, to give three points to a Polygon Component.

[2022-02-25 14:07] tsvetann opened #4106 "[question] how to dynamically fit a polygon on the visible map"
I would like to display a polygon on the map. It works but with bigger polygons they are not always displayed within the map hence my questions is how to calculate my delta so that I can ensure polygons are always fit within the viewable map?

Thanks

[2022-02-26 23:55] #3986 closed

[2022-02-27 06:06] MatthewLamperski commented on #4102
So, after searching for the issue for a couple days, I decided to give up because the time spent was not worth the benefit. Luckily, the project I am working on is still in its relatively early stages, so I have decided to make a fresh project and copy my files over.

In short, **the map is working fantastically now**. I'm still not sure where the original issue stemmed from, but if I figure out,

[2022-02-27 06:06] #4102 closed

[2022-02-28 03:29] ryansalatti commented on #3713
Hey I noticed your jsfiddle link is broken. Could you reshare? Really looking for a workaround on this.

[2022-02-28 03:34] jamesjara commented on #4060
Same issue

[2022-02-28 09:59] salierg commented on #3981
Same here. Any solution ?

[2022-03-01 04:41] Rileyp33 commented on #2984
Chiming in here because I had issues implementing both `animateCamera` and `animateToRegion` together because there's no way to know when the animation is finished (long story, but I can't just use the `center` property in `animateCamera` -- I need to set `latitudeDelta` and `longitudeDelta` dynamically).

I was able to implement a pseudo-callback on `animateToRegion` using React Native's `Interac

[2022-03-02 05:38] KazakovVS commented on #3645
Same here

[2022-03-02 16:02] Mazen94 commented on #3046
Hi @pedrolopes10,
did you figure out how to use it ?
if yes, can you share please?

[2022-03-03 02:33] cheynewallace commented on #3897
@jstnwang0 got an example of this?  When I try this, the map is still on top, so the press events are sent to the map, not the pressable (it works though if I press on the very outer edges where the pressable is overlapping)

[2022-03-03 19:11] iway1 commented on #3013
Strongly recommend not conditionally rendering map views because each mounting of a map view will trigger a map load which will go against your google api limit (which is 28k map loads per month)

[2022-03-03 19:30] GabeConsalter commented on #684
I I'm having this problem in Android only in release Bundle.

- I have the correct key
- I put the app package name and correct fingerprint on my API Restrictions

*My map shows all white, with no Google logo in bottom left corner.

[2022-03-03 23:39] kevin-carlson opened #4107 "iOS Standard Flyover MapType"
# Feature request

I was looking through the different map types available for MapKit with iOS. I noticed that the standard map has 3d buildings, but the buildings are all extruded from a flat plane. With hybridFlyover map type, it appears that elevation is accounted for and visible in the 3d view. On Apple Maps, elevation is used to extrude the buildings in the standard map, which would be useful

[2022-03-05 09:58] jackimatin commented on #2376
hi all I have a question

when I get placeId how can I get details of that?

is it possible to help me?

[2022-03-06 09:17] SaadBazaz commented on #4069
Getting issues with:
[code]

where the following props are not working:

[code]

[2022-03-06 11:10] SaadBazaz commented on #1542
The fake marker hack is interesting, but it'd be great if the native icons could be used. Because the iOS version and Android version of the marker is different (Google Maps vs Apple Maps)

[2022-03-06 22:54] linzof commented on #4105
Seen you post this in a few different repositories.

Google Developer Console

You need to create an account and create an api key.

[placeID](https://developers.google.com/maps/documentation/places/web-service/place-id)

For something open source, try [leaflet](https://leafletjs.com/SlavaUkraini/examples.html) or [openstreetmaps](https://www.openstreetmap.org/#map=4/38.01/-95.84)

[2022-03-07 03:10] falentinodjoka2801 commented on #4083
@Willham12  thank you so much brother, it works on Flutter too. I use Flutter for Android Development.

[2022-03-07 03:43] sknutsonsf commented on #3715
I'm having a similar issue, but in my test case the number of markers and polylines remains constant after the 4'th re-render (there are separate server calls to get the polylines and markers).

Is there any chance this issue can be fixed?

[2022-03-07 12:28] sau05 commented on #3273
I'm also facing the same issue on Android 11

[2022-03-07 15:40] nschild commented on #3500
bump

[2022-03-07 23:00] darksoul333666 opened #4108 "How detect when the showsMyLocationButton button is pressed?"
Hello everyone, i need detect when the button showsMyLocationButton is pressed for update and render information linked the map, someone can help me?

[2022-03-08 05:35] gamestap99 commented on #4083
Thank for answer, It work on Flutter 2.10.3

[2022-03-08 09:06] danieldanielecki commented on #3775
@christopherdro any update on this? as per [3955](https://github.com/react-native-maps/react-native-maps/issues/3955) we badly need this functionality.

[2022-03-08 13:50] gen1lee commented on #2410
setting pointerEvents to "auto" helps but onPress is called after delay.

[2022-03-08 14:11] MUZAFFAR-PURELOGICS opened #4109 "Android shows white color instead of map."
This is showing a white color page on android. API key is purchased and services is enable from google console. All integration is successfully done. I also use position absolute etc.
I have created an empty project its behaviour is same on newly project also.
Kindly make a look into this bug thanks.

[2022-03-08 15:32] nschild commented on #3500
I stumbled across this
https://stackoverflow.com/questions/18990030/how-to-add-contentdesctiption-to-infowindow-or-marker-in-android-googlemaps-v2-f

Android, at least, works when setting the title or description prop to whatever you want the screen reader to say.

[2022-03-08 15:33] nschild commented on #3981
I stumbled across this
https://stackoverflow.com/questions/18990030/how-to-add-contentdesctiption-to-infowindow-or-marker-in-android-googlemaps-v2-f

Android, at least, works when setting the title or description prop to whatever you want the screen reader to say.

[2022-03-08 18:10] aliwaqar981 opened #4110 "[IOS] onRegionChangeComplete is not firing up at all"
# Bug report

## Summary

onRegionChangeComplete is not firing up at any point on ios.

## Environment info

      react-native: 0.66.4
      react: 17.0.2
      react-native-maps: ^0.30.1

    Target Platform: iOS - 14.5 Simulator/iPhone 12,

    MapProvider: AppleMaps

`react-native info` output:

System:
    OS: macOS 11.2.3
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory:

[2022-03-09 00:50] #3990 closed

[2022-03-09 07:27] noah-wen opened #4111 "Custom styles filtering are more detailed for MapView"
# Feature request

When we use MapView to hide some markers like the dinning room or lodging, filter a certain poi by using map_style.json conditions, but when we reach the business area and go to a higher level - like lodging, the expected effect cannot be achieved.

## Why it is needed

Sometimes when using the map, the points we define ourselves will conflict with the points returned by Google

[2022-03-09 08:18] 9r4ik opened #4112 "[iOS] - add details.isGesture prop to onRegionChangeComplete callback"
# Feature request

## Why it is needed

**onRegionChangeComplete** note from [mapview doc](https://github.com/react-native-maps/react-native-maps/blob/master/docs/mapview.md)
[code]
Now iOS MapView with MapKit provider  trigger **onRegionChangeComplete** multiple times while user pan/zoom/pinch map.

iOS MapView with google provide trigger **onRegionChangeComplete** ones when user remove fingers f

[2022-03-09 12:16] danieldanielecki commented on #3955
@bruno-de-queiroz can you share your code?
I've been debugging on `iOS` and same effect.

[2022-03-09 12:56] aliwaqar981 commented on #4110
I've figured that out onRegionChangeComplete doesn't fires when I give ref. It works correct  if ref isn't there.

[2022-03-09 13:41] dkjeune opened #4114 "java.lang.NullPointerException"
Hi, i have this bug on some android smartphone.
Impossible to understand where it can come from.
Here the log :

java.lang.NullPointerException:
  at com.airbnb.android.react.maps.AirMapView.dispatchTouchEvent (AirMapView.java:1014)
  at android.view.ViewGroup.dispatchTransformedTouchEvent (ViewGroup.java:3863)
  at android.view.ViewGroup.dispatchTouchEvent (ViewGroup.java:3492)
  at android.view.

[2022-03-09 21:07] Simon-TechForm commented on #4099
Hi @mcapocaccia.

Could you fill out the issue template and describe when this issue happens? I see that there's no existence for `map` but when does this exception occur?

[2022-03-09 21:12] Simon-TechForm commented on #4066
@Shaninnik have you had the time to look into this again?

[2022-03-09 21:24] jaskp commented on #4086
And is there a way around it?

[2022-03-10 07:52] mokshmodi96 commented on #4097
Your solution worked for me as my app project was excluding the arm64 but not the pods project updating it solved the issue

[2022-03-10 08:50] karatekid430 commented on #4097
Does anybody know when the next release is scheduled? Cheers :)

[2022-03-10 08:59] EricaLi123 opened #4117 "Index.d.ts should contains comment. Otherwise, development is difficult,"
![image](https://user-images.githubusercontent.com/58462179/157626862-34ef0ef0-ff1c-425b-9de3-e3f294aa1124.png)

[2022-03-10 09:25] WheelerLee commented on #4099
@Simon-TechForm
When the map show "Google Play services are updating"

[2022-03-10 10:27] 100sarthak100 opened #4118 "animateToRegion & fitToCoordinate methods are not present in the MapView reference."
# Bug report

MapView Reference object
  context: Object
  forceUpdate: ƒ ()
  isReactComponent: Object
  map: Object
  props: Object
  refs: Object
  setState: ƒ ()
  state: Object
  updater: Object
  __lastRegion: Object
  __layoutCalled: true
  __reactInternalMemoizedMergedChildContext: Object
  __reactInternalSnapshotBeforeUpdate: Object
  _onChange: ƒ ()
  _onLayout: ƒ ()
  _onMapReady: ƒ ()

[2022-03-11 08:34] aliwaqar981 commented on #1620
Anyone found solution for this?

[2022-03-11 09:26] danieldanielecki commented on #4024
I feel, [#2992](https://github.com/react-native-maps/react-native-maps/issues/2992) should've been opened.

[2022-03-11 09:28] danieldanielecki commented on #2992
bump, we've to use https://github.com/venits/react-native-map-clustering in order to achieve the functionality

[2022-03-11 09:29] danieldanielecki commented on #3904
Tip: use https://github.com/venits/react-native-map-clustering for clustering your markers. It has improved my app significantly, I'm handling thousands of markers.

[2022-03-11 14:19] aliwaqar981 commented on #4112
It would be great if this can be implemented for iOS MapView. Eagerly looking for this

[2022-03-11 15:38] jwaldrip commented on #3527
Any news on this?

[2022-03-11 18:04] #4003 closed

[2022-03-11 18:04] #4006 closed

[2022-03-11 18:09] #4016 closed

[2022-03-11 18:11] #4081 closed

[2022-03-11 18:15] Simon-TechForm commented on #4101
Duplicate of #3991.

[2022-03-11 18:15] #4101 closed

[2022-03-11 19:52] Simon-TechForm commented on #3527
@jwaldrip could you try installing from master and report back? `react-native-maps` now depends on the newest `GoogleMaps` podspec as of #4061.

[2022-03-11 20:17] Simon-TechForm commented on #4118
I'm having no issues calling e.g. animateToRegion using the ref. See:
[code]
Closing for now as you didn't fill out the issue template. If you continue experiencing problems regarding this, feel free to edit your issue including the sections mentioned in the issue template and re-open.

[2022-03-11 20:17] #4118 closed

[2022-03-11 20:20] Simon-TechForm commented on #4117
Please follow the issue template.

[2022-03-11 20:20] #4117 closed

[2022-03-11 20:21] #4114 closed

[2022-03-11 20:23] Simon-TechForm commented on #4109
Please fill out the issue template and re-open if you keep experiencing this :)

[2022-03-11 20:23] #4109 closed

[2022-03-11 20:35] Simon-TechForm commented on #4106
Hello @tsvetann. We would like to keep the issue section related to the development of the library. I suggest taking this question to stackoverflow :)

If you believe that this is a bug or a feature request, please fill out the appropiate template and re-open.

[2022-03-11 20:35] #4106 closed

[2022-03-11 20:37] Simon-TechForm commented on #4105
Hello @jackimatin. We would like to keep the issue section related to the development of the library. I suggest taking this question to stackoverflow :)

If you believe that this is a bug or a feature request, please fill out the appropiate template and re-open.

[2022-03-11 20:37] #4105 closed

[2022-03-11 20:38] Simon-TechForm commented on #4104
Closing for now. Please comment and re-open if you find any further information regarding my comment above.

[2022-03-11 20:38] #4104 closed

[2022-03-11 20:41] Simon-TechForm commented on #4100
Hello @LHowlett97. Could you please follow the issue template when posting this. (Eg. test using the latest react-native-maps version?). The bug might very well still persist, but please test using the latest version and follow the issue template. I'm going to close this for now, but please feel free to open a new issue following the issue template.

[2022-03-11 20:41] #4100 closed

[2022-03-11 20:41] dkjeune opened #4119 "java.lang.NullPointerException"
Hi, i have this bug on some android smartphone.
Impossible to understand where it can come from.

react-native-maps => 0.30.1
React => 17.0.2
react-native => 0.66.4

Here the log from google :

java.lang.NullPointerException:
at com.airbnb.android.react.maps.AirMapView.dispatchTouchEvent (AirMapView.java:1014)
at android.view.ViewGroup.dispatchTransformedTouchEvent (ViewGroup.java:3863)
at android

[2022-03-11 20:44] Simon-TechForm commented on #4099
So this is happening on devices that doesn't already have play services installed? This should definitely be a part of the issue, to allow anyone to help you out/fix the issue. Closing for now, but please feel free to open a new issue following the issue template :)

[2022-03-11 20:44] #4099 closed

[2022-03-11 20:46] Simon-TechForm commented on #4098
Hi @hchen98. This library currently only supports Apple Maps and Google Maps. If you would like, please open an issue with a feature request for this :)

[2022-03-11 20:46] #4098 closed

[2022-03-11 20:54] Simon-TechForm commented on #4119
Hello @dkjeune. This issue is still missing important parts of the issue template. Please read and fill out the entire template before creating a new issue.

Tip:
To improve readability of your issue, embed your code/stacktrace in md, see: https://assemble.io/docs/Embedding-Code.html

[2022-03-11 20:54] #4119 closed

[2022-03-11 20:58] Simon-TechForm commented on #4092
Hi @AhmedSarhan. I'm going to close this for now, but feel free to open a new issue following the feature request template if this is still relevant :)

[2022-03-11 20:58] #4092 closed

[2022-03-11 21:01] Simon-TechForm commented on #4087
Closing this in favour of #3991.

[2022-03-11 21:01] #4087 closed

[2022-03-11 21:05] Simon-TechForm commented on #4075
Closing for now. If you keep experiencing this issue, please feel free to open a new issue following the bug issue template.

[2022-03-11 21:05] #4075 closed

[2022-03-11 21:07] Simon-TechForm commented on #4078
Closing for now. If this is still relevant, please feel free to open a new issue following the feature-request issue template.

[2022-03-11 21:07] #4078 closed

[2022-03-11 21:14] Simon-TechForm commented on #4026
Closing for now as the answer provided by @isidoro98 should solve this. If you find that this is not the case, please feel free to open a new issue following the feature request template.

[2022-03-11 21:14] #4026 closed

[2022-03-11 21:16] Simon-TechForm commented on #4021
Closing for now. See: #4084. If you believe that this is still an issue, please feel free to open a new issue following the issue template.

[2022-03-11 21:16] #4021 closed

[2022-03-11 21:18] Simon-TechForm commented on #4018
Closing for now. If you believe that this is still relevant, please feel free to open a new issue following the feature request template.

[2022-03-11 21:18] #4018 closed

[2022-03-11 21:19] Simon-TechForm commented on #4015
Closing for now. If you believe that this is still relevant, feel free to open a new issue following the feature request template.

[2022-03-11 21:19] #4015 closed

[2022-03-11 21:22] Shaninnik commented on #4066
@Simon-TechForm same issue, tried from latest commit https://github.com/react-native-maps/react-native-maps/commit/3338a960c62cc3c364286433ab98e5cf59435ebf and no luck, onMapReady not called, was testing on device

[2022-03-11 22:25] Shaninnik commented on #4066
I am trying to dig deeper, it is quite a lot of code, but I've added some NSLogs and stepped in with debugger through AIRGoogleMap.m and found that in `(void)didPrepareMap` `self.onMapReady` is always null and thus never called. Just to verify I've tried the same with `onMapLoaded` and in `(void)mapViewDidFinishTileRendering` both `self.onMapReady` and `self.onMapLoaded` are already not null and `

[2022-03-12 00:22] edi commented on #3057
Any fix for this ... ?

[2022-03-12 04:08] therealgilles commented on #3057
I filled an issue with Google IssueTracker here: https://issuetracker.google.com/issues/218789650

[2022-03-12 07:33] tsvetann commented on #4106
@Simon-TechForm thx for your feedback. Do you think discussions should be enabled on this repo for this purpose? Thanks again

[2022-03-13 07:17] muhammadqazi opened #4120 "React Native on Apple Silicon M1 - The linked library 'libPods-ProjectName.a' is missing one or more architectures."
# Bug report

I'm trying to use react-native-maps in my project, but after several attempts, I am still getting the same issue. I followed all the steps mentioned at https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md .

Is anyone with a similar issue? how to fix it?

[2022-03-13 14:13] Simon-TechForm commented on #4120
Please check out #4097 and/or #3527.

[2022-03-13 14:13] #4120 closed

[2022-03-13 14:16] yairopro commented on #1620
@aliwaqar981

[code]

[2022-03-13 16:15] Simon-TechForm commented on #3614
I think your approach is overcomplicating things a bit.

The following works for me on both iOS and Android:
[code]

I'm going to close this for now, but if you believe that there's still a bug regarding this, feel free to open a new issue following the issue template.

[2022-03-13 16:15] #3614 closed

[2022-03-13 16:40] #3765 closed

[2022-03-13 16:50] #3790 closed

[2022-03-13 17:06] Simon-TechForm commented on #3808
I'm struggling to reproduce this. Could one of you try to reproduce this on the latest `react-native-maps`? And if you are able to, provide a sample code, and the stack trace from the crash?

[2022-03-13 17:16] Simon-TechForm commented on #3821
Closing for now. If you believe this is still relevant, please open a new issue.

[2022-03-13 17:16] #3821 closed

[2022-03-13 17:18] Simon-TechForm commented on #3822
Closing for now. If you believe that this is still relevant, please feel free to open a new issue.

[2022-03-13 17:18] #3822 closed

[2022-03-13 17:27] Simon-TechForm commented on #3838
I'm going to close this for now, as I'm not really sure anyone on here will be able to help. If you believe that this is still relevant and caused by react-native-maps, please feel free to open a new issue. I hope you worked it out :)

[2022-03-13 17:27] #3838 closed

[2022-03-13 17:30] #3873 closed

[2022-03-13 18:20] Simon-TechForm commented on #3888
I don't think that the map being blank has anything to do with the borderRadius. Your code sample is working as expected on my end.

I'm going to close this for now, but if you think this is still relevant and releated to react-native-maps, please feel free to open a new issue.

[2022-03-13 18:20] #3888 closed

[2022-03-13 18:27] Simon-TechForm commented on #3890
I just did a quick test, the following works perfectly fine for me:
[code]

I'm going to close this for now, as I don't think it's related to react-native-maps. If you believe that this is still relevant and related to react-native-maps, please feel free to open a new issue.

[2022-03-13 18:27] #3890 closed

[2022-03-13 18:29] #3898 closed

[2022-03-13 18:39] Simon-TechForm commented on #3902
I'm struggling to reproduce this. Can any of you please provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)? There's quite a bit going on in the example provided currenly.

[2022-03-13 18:43] Simon-TechForm commented on #3916
@Eli-Nathan what was the outcome of this? Was it a glitch? Or is it continuing to happen?

[2022-03-13 18:57] Simon-TechForm commented on #3943
Yeah, this seems to be a mistake in the TS declaration. In the meantime, you could:
[code]

which is the same as `Marker.Animated` and should work with TS.

[2022-03-13 19:31] Simon-TechForm commented on #3955
This is more a missing feature and a lack of documentation, than a bug. `addressForCoordinate` isn't implemented for `provider={"google"}` on iOS.

@bruno-de-queiroz the following works on both Android and iOS, but not when using Google Maps on iOS.

[code]

If anyone could open a pull request to clearly state in the docs that addressForCoordinate is Android and Apple Maps only, that would be extr

[2022-03-13 19:39] Simon-TechForm commented on #4106
@tsvetann I'm not opposed to the idea. @christopherdro thoughts?

[2022-03-14 03:41] Louisten commented on #1874
any update?

[2022-03-14 04:59] kafeelkhatri commented on #199
Simple. Add moveOnMarkerPress prop to MapView and set it to false.

<MapView
      moveOnMarkerPress={false}

[2022-03-14 06:56] mmubeennisar commented on #3969
Any update on this issue ?

[2022-03-14 09:48] danieldanielecki commented on #3656
[code]

as described in https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md#enabling-google-maps, but `pod install` was missing in the `ios` directory.

[2022-03-14 09:52] danieldanielecki commented on #3663
`pod install` has installed for me the missing pods:
[code]
in combination with the [installation guide](https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md) it fixed the issue :)

[2022-03-14 12:48] Nero2869 commented on #2924
Any updates?
same issue on  "react-native": "0.64.2" which cooperate with   "react-native-paper": "^4.9.2",

[2022-03-14 14:08] KrisLau commented on #3808
@Simon-TechForm Unfortunately I stopped trying to use the toolbar and ended up manually creating buttons which perform the same behaviour so i don't have a sample code anymore. However I tried recreating it in a snack and it seems like the problem is coming from when I try to put it in an animated view: https://snack.expo.dev/du_R0LoIe

[2022-03-14 15:49] #3733 closed

[2022-03-14 17:20] Simon-TechForm commented on #3824
This isn't possible, as react-native-maps relies on native components. Please check out [jest docs](https://jestjs.io/docs/tutorial-react-native#mock-native-modules-using-jestmock) and [react-native docs](https://reactnative.dev/docs/testing-overview#mocking).

[2022-03-14 17:20] #3824 closed

[2022-03-14 18:59] Simon-TechForm commented on #3823
I'm only able to reproduce the issue put forward by the author in v.0.29.0 and v0.29.1.

Can anyone still experiencing this please get back to me with the following:

- Running expo? If yes, what version?
- What version of react-native-maps?
- [Minimal minimal-reproducible-example](https://stackoverflow.com/help/minimal-reproducible-example)
- Error message and stacktrace

[2022-03-14 19:02] Simon-TechForm commented on #3808
@francesco-clementi-92 @sushilbansal able to help out with the above?

[2022-03-14 19:12] Simon-TechForm commented on #3862
@rxng8 if you could please provide a [minimal-reproducible-example](https://stackoverflow.com/help/minimal-reproducible-example) I would be happy to look into whether this is a bug or intended behaviour.

[2022-03-14 19:29] vu-dang opened #4124 "polyline won't render on iOS Apple Map near Alaska."
# Bug report

## Summary

On iOS Apple map, polyline won't render for a simple 2 point line near Alaska region.

This is the app.js content

[code]
## Environment info

      react-native: 0.64.3
      react: 17.0.1
      react-native-maps: 0.30.1

   AppleMaps
-->

## Steps to reproduce

create a react native app
replace app.js with above code

The map is rendering a line from a fixed point to th

[2022-03-14 19:52] rxng8 commented on #3862
I think I should put it like this:
- When I use the tappable feature on the GeoJson tag, it might look like an intended behavior to be tappable on anywhere inside the GeoJson region (which is the current function in `react-native-maps`).
- However, the GeoJson consists of multiple polylines and polygons, only those objects can be tappable, not the other unmarked places (even places inside the GeoJ

[2022-03-14 21:55] Simon-TechForm commented on #4091
Hello @12944qwerty. The example folder relies on being placed in the path that it is in, as it uses relative paths to resolve files. So you will have to download the entire repo, and keep the example folder as is :)

I'm going to close this for now, put please feel free to get back to me if this doesn't fix the issue.

[2022-03-14 21:55] #4091 closed

[2022-03-14 22:22] Simon-TechForm commented on #4086
There's no build in way to do this. I assume you could work something out by tracking the latitude/longitude-delta in `onRegionChange` and changing your custom view size based on this. I haven't tried this though.

I'm going to close this for now.

[2022-03-14 22:22] #4086 closed

[2022-03-14 22:24] Simon-TechForm commented on #4094
I'm going to close this. Please feel free to create a new issue following the issue template if you think that there's a bug in react-native-maps.

[2022-03-14 22:24] #4094 closed

[2022-03-14 22:51] #4074 closed

[2022-03-14 23:02] Simon-TechForm commented on #4071
@Rc85 I'm going to close this for now, as I'm gonna have to have you test this on the latest version of react-native-maps and also provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example). Granted, the issue might still persist, but you are running a 2 year old version of the library.

Please feel free to open a new issue following the issue template if

[2022-03-14 23:02] #4071 closed

[2022-03-14 23:09] mMarcos208 commented on #3273
Any update?

[2022-03-14 23:13] Simon-TechForm commented on #4069
@nohagazzaz please look into how to provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example). I would love to help, but I can't spend the time looking through several hundred lines of code and on top of that having to make several changes to even make them run on my end, as there are countless dependencies, local assets and so on. Could you also make su

[2022-03-14 23:13] #4069 closed

[2022-03-14 23:18] Simon-TechForm commented on #4065
Hello @D10S60948. Have you managed to reproduce this? It's extremely difficult to assist you without a sample code reproducing the issue.

[2022-03-14 23:22] Simon-TechForm commented on #4064
Hi @claudiarsl. Yeah, this seems to be an issue in the Google Maps SDK for iOS. Closing in favour of #3057.

[2022-03-14 23:22] #4064 closed

[2022-03-14 23:25] #4060 closed

[2022-03-14 23:27] Simon-TechForm commented on #4062
Closing in favour of #3527 and #4097.

[2022-03-14 23:27] #4062 closed

[2022-03-14 23:30] Simon-TechForm commented on #4000
Closing as this should be doable by using the solution proposed by @adamwlev.

[2022-03-14 23:30] #4000 closed

[2022-03-14 23:41] Simon-TechForm commented on #3984
Closing this for now. Feel free to open a new issue as a feature request.

[2022-03-14 23:41] #3984 closed

[2022-03-14 23:49] Simon-TechForm commented on #3963
I'm going to close this for now as this haven't got a lot of traction, and I can't reproduce the issue with the sample code provided. If this is still an issue, please feel free to open a new issue, providing a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2022-03-14 23:49] #3963 closed

[2022-03-14 23:57] Simon-TechForm commented on #3958
Heatmap isn't implemented for Apple Maps, which is why it's only working with `provider={"google"}`

It would be extremely helpful if one of you could open a PR to update the docs to clearly state that heatmap is google maps only.
Also if one of you could open a new issue following the feature request template, there's a much better chance that this will be picked up by someone.

[2022-03-15 00:00] Simon-TechForm commented on #3947
As suggested by @dusanspasojevic specifying the zIndex should fix this. Closing for now, but feel free to open a new issue if specifying zIndex doens't fix the issue.

[2022-03-15 00:00] #3947 closed

[2022-03-15 00:13] Simon-TechForm commented on #3899
Unfortunately this is the native behaviour of Apple Maps. And there's a simular "issue" on google maps. See (https://issuetracker.google.com/issues/35823783). I'm going to close this for now, as there's not a lot to do.

[2022-03-15 00:13] #3899 closed

[2022-03-15 02:15] SaadBazaz commented on #4069
It's the same issue. I'll open a new issue then with the proper format. Thanks for the heads up @Simon-TechForm

[2022-03-15 06:34] D10S60948 commented on #4065
Hi, it happened all the time but hard to intentionally reproduce as nothing in particular triggered it.
I managed to get rid of it once I downgraded react-native from 0.66.4 to 0.65.3 and react-native-reanimated from 2.3.1 to 2.2.3 (Is suspect that `react-native-reanimated` was the trigger and that a threads race condition on the Java side caused it. but it's just an assumption).
I Added some logc

[2022-03-15 08:12] Simon-TechForm commented on #4065
I see. Since you found out that it's likely caused by react-native-reanimated and it doesn't seem like anyone else is experiencing it, I hope you don't mind me closing it? :)

If you experience it again and manages to reproduce it, please feel free to open a new issue :)

[2022-03-15 08:12] #4065 closed

[2022-03-15 08:16] Simon-TechForm commented on #3862
Thank you for your explanation. Would you be able to provide a sample code that reproduces this, where you include everything needed to to run the example? I can't tell what geojson features are in the sample code you currently provided :)

[2022-03-15 10:42] JurgenFiGO commented on #2575
Still experiencing extreme performance degradation on Android when using custom markers when not setting trackViewChanges to false. Any update on a potential fix or workaround?

[2022-03-15 11:19] tikhonNikita opened #4126 "is it possible to add support for ''tracksInfoWindowChanges'' props for android?"
# Bug report

## Summary

## Environment info

`react-native info` output:

[code]

## Steps to reproduce

1. …
2. …

Describe what you expected to happen:

1. …
2. …

Describe what you actually happens:

1. …
2. …

## Reproducible sample code

[2022-03-15 19:52] Simon-TechForm commented on #4090
Hello @roni-castro-db. I would guess that the network conditions you are simulating triggers the callback because the map thinks it cannot load (failed permanently). Either way, there's unfornatunately nothing we can do to change this, as we only forward it when the Google Maps SDK for iOS triggers it ([here](https://github.com/react-native-maps/react-native-maps/blob/master/lib/ios/AirGoogleMaps/

[2022-03-15 19:52] #4090 closed

[2022-03-15 19:54] Simon-TechForm commented on #4083
Fixed by #4116. Looking to publish a new release soon, in the mean time you can install from master.

[2022-03-15 19:56] Simon-TechForm commented on #4068
Thank you for your help @victorjspinto. As you pointed out, this should be a feature request, following the feature request issue template. I'm going to close this for now, but either of you are more than welcome to open a new issue as a feature request :).

[2022-03-15 20:01] Simon-TechForm commented on #4066
@Shaninnik thank you! I will take a look again.

[2022-03-15 20:40] Simon-TechForm commented on #4063
I'm having no issues animating markers. If you are still experiencing this, can you try to reduce your code sample to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)? There seems to be several syntax errors and missing information in the sample code you provided.

For reference, I tried the following, also runnning on an Android 12 device:
[code]

[2022-03-15 20:42] Simon-TechForm commented on #4056
I'm going to close this for now, as you didn't provide any sample code that reproduces the issue, which makes it extremely difficult for anyone to help you. Please feel free to open a new issue following the issue template if you are still having issues :)

[2022-03-15 20:42] #4056 closed

[2022-03-15 20:55] Simon-TechForm commented on #4004
`react-native-maps` doesn't add any boundary for how far you can zoom out, this is decided by the native SDK, and should be the same (or close to) what you would expierence when opening the Google Maps/Apple Maps app on your phone :)

[2022-03-15 20:55] #4004 closed

[2022-03-15 21:12] Simon-TechForm commented on #3982
I'm unable to reproduce this, using the sample code you provided. Could you please try to reproduce this on the latest version of `react-native-maps` and report back? :)

[2022-03-15 21:52] Darapsas commented on #3982
It seems to be resolved on the latest version of `"react-native-maps": "0.30.1"`. Thank you for your hard work maintainers 👏👏👏

[2022-03-15 21:52] #3982 closed

[2022-03-15 21:58] Simon-TechForm commented on #3910
I'm unable to reproduce this on the latest version of react-native-maps. Can you please test out the latest version and report back?

[2022-03-15 22:16] Simon-TechForm commented on #3905
Apple haven't included the heading annotation in MapKit, meaning `react-native-maps` cannot show it either, unfortunately :)

[2022-03-15 22:16] #3905 closed

[2022-03-15 22:39] Simon-TechForm commented on #3750
The `bearing` prop is for Google Maps only. This is actually already in the docs, but a syntax error causes the information not show.

[2022-03-15 22:41] #3750 closed

[2022-03-15 23:19] ProkhoDim commented on #3453
This solution helped me!

[2022-03-16 00:04] faycal-dev commented on #3955
i solved this problem by saving e.nativeEvent.coordinate in a variable and then using it like this :
onPress={(e) => {
            const pressCoords = e.nativeEvent.coordinate
            setLocation((prevState) => ({
              ...prevState,
              latitude: pressCoords.latitude,
              longitude: pressCoords.longitude,
            }));
          }}

[2022-03-16 03:41] jvgaeta commented on #3924
This is happening to me. adb says

03-15 19:55:26.756 27585 27585 E AndroidRuntime: java.lang.RuntimeException: API key not found.  Check that <meta-data android:name="com.google.android.geo.API_KEY" android:value="your API key"/> is in the <application> element of AndroidManifest.xml

It seems like an issue with eas. They are ignoring the android.config key

[2022-03-16 08:40] Simon-TechForm commented on #3946
@JacquesLeupin could you please update your sample code to a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)? I can't run the code you provided, as there are multiple custom hooks, functions, components etc :)

[2022-03-16 08:43] TongCong opened #4128 ">What is the specific content of the podfile file?"
hello @CCB-cerivera many thanks, already solved!

_Originally posted by @smanzini in https://github.com/react-native-maps/react-native-maps/issues/3656#issuecomment-990793293_

Hi，What is the specific content of the podfile file? thanks

[2022-03-16 08:44] TongCong commented on #3656
What is the specific content of the podfile file? May I take a look at it，Thanks

[2022-03-16 08:44] #4128 closed

[2022-03-16 10:33] Simon-TechForm commented on #4097
@karatekid430 can't give you an exact date, but I'm looking to push a new release relatively soon.

I'm going to close this in favour of #3527 to try and keep the discussion in one place :)

[2022-03-16 10:33] #4097 closed

[2022-03-16 15:31] tikhonNikita opened #4129 "is it possible to add support for ''tracksInfoWindowChanges'' props for android?"
on android it is impossible to control content changes inside the callout

[2022-03-16 18:55] anija opened #4130 "App crash on ios 15.4"
# Bug report

## Summary
App started to crash with ios 15.4

## Environment info

react-native: 0.66.4
react: 17.0.2
react-native-maps: 0.30.1

Target Platform: iOS - 15.4 Simulator/iPhone 13
Using GoogleMaps

`react-native info` output:

System:
    OS: macOS 12.2.1
    CPU: (8) arm64 Apple M1
    Memory: 1.02 GB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.13.2 - ~/.nvm/versions

[2022-03-17 06:58] AllanBengco commented on #2924
Adding my bug report to this thread.

Using React Native 0.64.2, with Expo, running the app in development is fine. The build for Google Play is another matter.

[2022-03-17 07:38] Nero2869 commented on #2924
What's more this bug is so rare that I cant do more debug.. Its occurs also in production.

[2022-03-17 13:02] AmigoDeluxe commented on #3924
Yup... same here. Works with "expo build", fails with "eas build".

[2022-03-17 21:45] stdavis opened #4131 "tileCachePath prop on UrlTile is not triggering the caching of tiles on the device"
# Bug report

## Summary

Tile files are not being written to `tileCachePath` for the `UrlTile` component even though I'm providing a valid, writable directory. I've tried on iOS and Android. Perhaps this happens when using this package in an Expo managed application?

## Environment info

[code]

`react-native info` output:

[code]

## Steps to reproduce

1. update `tileCachePath` to match your l

[2022-03-18 13:59] jackimatin opened #4132 "onChangeComplete method render many times"
hi all
when I drag map or zoom in or out
and after my changecomplete the on changecomplete method run many times....

in some issues said use some if condition like this:

 if (
      e.longitude.toFixed(3) === lonSearch.toFixed(3) &&
      e.latitude.toFixed(3) === latSerach.toFixed(3)
    )

is there any other solution? because id does not work very well...

[2022-03-18 14:56] cbaser opened #4133 "Marker Changing its position zoom-in and zoom-out"
I have a map set up according to examples, with a markers on the fly. And when i zoom in and then out the marker seems to be changing its position. What can I do to fix it?

[code]

![Selection_085](https://user-images.githubusercontent.com/15069807/159026033-969be3ea-a467-431d-811a-6fd2e50b141d.png)
![Selection_084](https://user-images.githubusercontent.com/15069807/159026038-5b88e006-f507-4200-9

[2022-03-18 19:23] #4132 closed

[2022-03-18 19:59] Simon-TechForm commented on #4130
I'm unable to reproduce this. Is this happening in a clean react native project?

[2022-03-18 20:11] Simon-TechForm commented on #4133
Hi @cbaser. Could you please edit your code sample to provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2022-03-19 08:33] jackimatin commented on #4132
why it is not a bug ???

 Is it resolved before?

if yes please help me to resolve it...
if no why you close this issue?

[2022-03-19 13:00] Simon-TechForm commented on #4130
So it seems like this might be M1 specific, which could be the reason why I couldn't reproduce it. We should keep an eye on this: https://issuetracker.google.com/issues/224584852

[2022-03-19 13:17] #3955 closed

[2022-03-19 13:17] #3958 closed

[2022-03-19 13:17] muhammadqazi opened #4135 "Warning: Failed prop type: The prop `coordinate` is marked as required in `MapMarker`, but its value is `null`."
react-native-maps, it's working fine but when I remove PROVIDER_GOOGLE it gave me this error, The error is located somewhere is Callout without Callout component it works fine with apple maps but when I add this it gave me this Warning: Failed prop type: The prop `coordinate` is marked as required in `MapMarker`, but its value is `null`.

 <Callout onPress={() => showModalChargeInfo()} tooltip>
<V

[2022-03-19 13:27] Simon-TechForm commented on #4135
Hi @muhammadqazi. I'm gonna have to ask you to take the time it takes to fill out the issue template. There's not nearly enough information in the issue to provided, to sort out if this is a bug. Please feel free to open a new issue following the issue template, and make sure to take a look at how to provide [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example

[2022-03-19 13:27] #4135 closed

[2022-03-19 13:29] muhammadqazi commented on #4135
Aight, I'm gonna follow it in the next issue.

[2022-03-19 13:46] muhammadqazi opened #4136 "Warning: Failed prop type: The prop `coordinate` is marked as required in `MapMarker`, but its value is `null`."
# Bug report

👋 Hi!

## Summary

## Environment info

      react-native: 0.67.3
      react: 17.0.2
      react-native-maps: 0.30.1

`react-native info` output:

System:
    OS: macOS 12.2.1
    CPU: (8) arm64 Apple M1 Pro
    Memory: 133.42 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 17.6.0 - /opt/homebrew/bin/node
    Yarn: 1.22.17 - /usr/local/bin/yarn
    npm: 8.5.1 - /opt/h

[2022-03-19 15:47] github-actions[bot] opened #4138 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-03-19 15:48] #4138 closed

[2022-03-20 09:21] jackimatin commented on #3715
same issue...
any solution ?

[2022-03-21 10:46] NachoJusticia commented on #3459
I solved it like this:
- I checked my `node_modules/react-native-maps/react-native-google-maps.podspec` and I have the following versions:

[code]

- then I updated my `Podfile` like this:
[code]

- I ran `pod install` and I got this error: `[!] The platform of the target `inguru` (iOS 10.0) may not be compatible with `GoogleMaps (5.1.0)` which has a minimum requirement of iOS 11.0.`
- I updated t

[2022-03-21 12:18] GregoryEsberci opened #4140 "Opacity is ignored on first render of overlay on android"
# Bug report

## Summary
Opacity is ignored on first render of overlay on android

## Environment info

react-native: 0.66.0
react: 17.0.2
react-native-maps: 0.30.1

Target Platform: Android 10, Moto G7 plus

`react-native info` output:

[code]

## Steps to reproduce

1. Create the overlay:

[code]

2. The opacity is ignored
3. Change the opacity manually, the value is applied

Describe what you e

[2022-03-21 14:57] stdavis commented on #4131
@MaRaSu Do you have any ideas?

[2022-03-21 16:08] AlMel3000 commented on #4130
App crashes with provider={PROVIDER_GOOGLE} on M1

When I comment remove MapView from render - app works as expected

Sentry shows me that:

EXC_BAD_ACCESS
Exception 1, Code 2768238912, Subcode 8 >
Attempted to dereference garbage pointer 0x7ff4a4fff940.

<img width="600" alt="Screenshot 2022-03-21 at 16 07 37" src="https://user-images.githubusercontent.com/19572431/159302526-5e70ef9b-c93f-41e1-b2

[2022-03-21 18:54] JackJBlundell commented on #4130
I too am experiencing this issue but on iOS 15.0 - Sometimes the Map will render for me, but mostly it just crashes with the only warning output being:

[code]
From online i've seen this isn't the issue though.

Dependencies:
[code]
Podfile:
[code]

[2022-03-22 18:24] arnekolja commented on #4130
Having this crash on all iOS 15 versions in Simulator (not sure if on real device too) since I changed npm dependencies lately. Map is shown for a moment, but then gets distorted textures from the left and crashes the app.
Removing PROVIDER_GOOGLE helped for me, too.

[2022-03-22 22:57] stdavis commented on #4131
This was my bad. I didn't think about the need for building a new custom client since the excellent updates by @MaRaSu were native code that is not yet built into the Expo Go app.

[2022-03-22 22:57] #4131 closed

[2022-03-23 11:00] cbaser commented on #4133
Okay I have found out the issue, If I use the custom style for call out like this:

` calloutContainer: {
      flexDirection: 'column',
      alignSelf: 'flex-start',
    },`
Marker moves with zoom in and zoom out automatically. I have deleted this part and it worked
Thank you for your help you can close this is issue if you want.

[2022-03-23 11:00] #4133 closed

[2022-03-23 14:05] #4008 closed

[2022-03-23 19:30] osmakins commented on #3564
Hey, I can help with the native android java code. At moment I am also building a native android app for tracking mileage using maps and GPS location.

[2022-03-24 04:42] Patrishiya opened #4142 "URLtile authorization header and urltemplate to be a function"
1)Is it possible to add authorization header for url tile.
2)Url template accepts a string url with .png is it possible to get the z,x and y values outside of the urltemplate.

[2022-03-24 07:36] jackimatin commented on #1113
any solution?

[2022-03-24 20:34] burakkbilginn commented on #1580
This problem still persists. No solution on IOS

[2022-03-25 06:09] ravirajw commented on #4100
The issue is for me to...
I created a custom marker and custom callout...
The callout height is very long and the width is very small...
Using latest 0.30.1 version

[2022-03-25 14:23] saeedtkh commented on #4097
any news? I have the same issue!

[2022-03-25 14:24] saeedtkh commented on #3527
any news? I have the same issue!

[2022-03-25 14:38] Shaninnik commented on #3527
To anyone having problems with running on simulator on M1 macs and not wanting to wait for new release, just install this lib from git master branch. I can 100% confirm that it works, you might or might not need to tweak `EXCLUDED_ARCHS` in XCode, for me setting `"EXCLUDED_ARCHS[sdk=iphonesimulator*]" = "i386 arm64"` and
[code]
in pod file worked. However there is one gotcha (at least for me) with

[2022-03-25 14:58] burakkbilginn opened #4143 "mapref.current.animateToRegion function doesn't zoom directly to the desired point in IOS"
When I use react-native-maps on Android, mapref.current.animateToRegion works perfectly, zooming to the desired region directly. But with the same code and with required additions, when I use it in IOS, map starts zooming to  a not-intended region, to a far away point at the north of the desired region, and at last stops at the desired point. I mean it doesn't zoom directly to the desired region,

[2022-03-25 21:09] Simon-TechForm commented on #3991
The new renderer can be now be enabled starting from [v0.31.0-beta.2](https://github.com/react-native-maps/react-native-maps/releases/tag/v0.31.0-beta.2) which is released on the beta channel of npm. Props to @isidoro98.

[2022-03-25 21:09] #3991 closed

[2022-03-25 21:48] #4063 closed

[2022-03-25 21:49] #3946 closed

[2022-03-25 21:49] #3916 closed

[2022-03-25 21:49] #3910 closed

[2022-03-25 21:49] #3902 closed

[2022-03-25 21:50] #3808 closed

[2022-03-25 22:08] Simon-TechForm commented on #3527
Here's an update on the current situation of this issue:

Installing from `master` isn't necessary as I've released a beta version of `react-native-maps` on the `@beta` channel of npm that includes the updated version of the Google Maps SDK, that everyone expected to include a fix for M1 macs.

But for whatever reason, Google has decided not to include the fix in the CocoaPods release of the libra

[2022-03-25 22:17] #3862 closed

[2022-03-25 22:34] #4140 closed

[2022-03-25 22:37] Simon-TechForm commented on #4143
Is this Google Maps or Apple Maps on iOS?

[2022-03-25 22:48] Simon-TechForm commented on #4136
I can't run the reproducible sample code you provided, as you didn't provide `region, fromLocation, showModalChargeInfo and styles.shadow`.

Looking at the error message and the code you provided, I guess that you are trying to access the location of the user on iOS, which is somehow failing. This might be caused by a lack of permissions or something else. I suggest taking this question to stackov

[2022-03-25 22:48] #4136 closed

[2022-03-25 22:55] Simon-TechForm commented on #3943
I'm going to close this, as I need to narrow down the open issues. I hope that the workaround I provided above will suffice for now. I will merge a TS rewrite soon, that will fix the issue itself.

[2022-03-25 22:55] #3943 closed

[2022-03-26 05:23] burakkbilginn commented on #4143
Google maps of course

[2022-03-26 09:19] Simon-TechForm commented on #4143
This is unfornately not something that `react-native-maps` has control over. The library calls `animateToCameraPosition` from the Google Maps iOS SDK natively, which creates the animation. See the [Google Maps iOS SDK documentation](https://developers.google.com/maps/documentation/ios-sdk/reference/interface_g_m_s_map_view#a56e54408e70f1b3e469a2b58ed1b5e93).

[2022-03-26 09:19] #4143 closed

[2022-03-26 11:22] Simon-TechForm commented on #3853
Fixed by #4002.

[2022-03-26 11:22] #3853 closed

[2022-03-26 22:04] Simon-TechForm commented on #3875
Closed by #4146.

[2022-03-26 22:04] #3875 closed

[2022-03-26 22:07] #3729 closed

[2022-03-26 22:10] #3876 closed

[2022-03-26 22:11] #3773 closed

[2022-03-26 22:16] #3687 closed

[2022-03-27 10:44] alexdarh opened #4148 "The maps works in JS app but not work in TypeScript app"
Hi, I use TypeScript for my app, and try use your component. it works very good, but in type script when I change state (array of markers) the deleted markers staying on map. On JS app same code work fine and markers not staying on map

this code: `import React, {useEffect, useRef, useState} from 'react';
import type {Node} from 'react';
import {
    Button,
    Dimensions, Image,
    SafeAreaView

[2022-03-27 11:16] Imran109 commented on #3474
This saved my day!. I did the same mistake.

[2022-03-28 02:39] yashShelatkar commented on #3564
Hey folks I would love to help maintain the module

[2022-03-28 14:53] vkozinec opened #4149 "Android 12 app crash with 0.31.0-beta.3 version - cannot find symbol variable Renderer"
Currently trying to run maps on android 12 and getting this error. Using standard Idk 11 from android studio. Does anyone have luck with building the app on android 12?

[code]

![Screenshot 2022-03-28 at 16 51 31](https://user-images.githubusercontent.com/570613/160425434-d2b23e24-384d-4888-a5b1-6767c3bc62d0.png)

## system info

[code]

## build.gradle
[code]

## react native

[code]

[2022-03-28 16:40] JiriHoffmann commented on #4024
I created a clustering library [react-native-clusterer](https://github.com/JiriHoffmann/react-native-clusterer). It uses the c++ version of supercluster to make it even faster and with the `useClusterer` hook you can cluster points with literally one line of code.

[2022-03-29 07:36] safwanAzman commented on #3173
Same problem!
Any solution?

[2022-03-29 07:38] Simon-TechForm commented on #4149
Hi @vkozinec.

I'm quite sure that this is caused by specifying a `playServicesVersion < 18.0.0` in your build.gradle. If you don't need to pin the version, I would suggest just removing it from your build.gradle and let the library use the default versions.

This should definitely be in the docs, so I will leave the issue open until we sort them out.

[2022-03-29 07:40] vkozinec commented on #4149
Hi @Simon-TechForm

I will try to remove it now. We are also using OneSignal and I have read that there can be some issues also while using both libraries, so I will test things not and let you know.

Thank you for fast response!

[2022-03-29 07:53] vkozinec commented on #4149
Just an update, I have tested this on both Android 12 and 10 versions and I can confirm that removing explicit version of `playServicesVersion` from `build.gradle` works.

Also, using it side by side with OneSignal works, tested it on both android versions.

I am really thankful for your help. You can close this issue and update the docs.

[2022-03-29 08:50] leighquince commented on #4130
Seeing the same behviour on simulator;
Non M1 mac
ios version = 15.4
"react-native-maps": "0.30.1",
"react-native": "0.65.1",

Crashes only in simulator when `provider={PROVIDER_GOOGLE}` is set

[2022-03-29 14:26] #4149 closed

[2022-03-29 14:40] salah-ghanim commented on #4130
I see the following ticket on google map's iOS SDK https://github.com/googlemaps/google-maps-ios-utils/issues/398
and seems like a crash is reported for iOS 15.4

since this is a dependency issue that we can't do anything about I would recommend ether:
1. use another OS version of the simulator
2. force an older version of the SDK that doesn't include the latest GoogleMaps SDK

From time to time s

[2022-03-29 14:42] salah-ghanim commented on #4051
@japaaak please try @zabojad fix .. if it doesn't work out please submit another ticket with more details.

[2022-03-29 14:42] #4051 closed

[2022-03-29 14:51] salah-ghanim commented on #3983
This is not an issue regarding this project, instead it's an implementation detail difference between GoogleMaps and apple MapKit on iOS.

mainly Apple MapKit supports UIView object inside markers, it knows how to display them. which means if you create a react element inside the marker <Image> in the above example a UIKit view element is created UIImage and added when AppleMaps is used.

but Goog

[2022-03-29 14:51] #3983 closed

[2022-03-29 15:08] Simon-TechForm commented on #4149
@salah-ghanim are you preparing a PR to update the docs? If not I would prefer that we keep this open or open another issue describing the lacking documentation :)

[2022-03-30 09:45] prashanta07 commented on #897
Any one solved this issue?

[2022-03-30 10:00] salah-ghanim commented on #4130
@Simon-TechForm thanks for your input. yes I don't mind keeping this open if we add a special tag here (waiting on dependency update) for example , just to reduce the cognitive load involved with maintaining this lib.

let's reopen this anyway and discuss a solution that we can use as maintainers moving forward.

[2022-03-30 14:37] berkayakks commented on #2087
i am still facing this problem. Has anyone found a new solution? This is very important for me

[2022-03-30 14:40] berkayakks commented on #1542
i am still facing this problem. Has anyone found a new solution? This is very important for me

[2022-03-30 15:16] whitesnow9291 opened #4154 "directions button not showing in IOS"
Directions buttons at bottom right are showing in android.
But it doesn't show in IOS

![image](https://user-images.githubusercontent.com/25058760/160870002-d010d4d4-4b3e-41ed-9401-a6aa3eeb1088.png)

[code]

[2022-03-30 19:14] salah-ghanim commented on #4149
@Simon-TechForm done
https://github.com/react-native-maps/react-native-maps/pull/4155

fyi ... it seems like GoogleMaps dependencies could be significantly simplified / cleaned up based on the latest version of the google maps SDK

I will try to update the following
 1. GoogleMaps SDK
 2. the sample app
 3. all related documentations

[2022-03-30 20:23] affansk opened #4156 "Add support for react native new architecture"
Please add support for react native new architecture

[2022-03-31 04:58] karatekid430 opened #4157 "Please change GoogleMaps from 6.0.1 to 6.1.1 before the react-native-maps 31 release"

[2022-03-31 07:03] AskaHD commented on #4099
Updating this issue, just got the crash on a Redmi Note 8 Pro, wich has Google Play Services.

![image](https://user-images.githubusercontent.com/11071186/160996607-aa221286-8916-4cce-9ccd-50104f3d7db8.png)

I can't really confirm when this is happening. A user has open the app, went on a page with the map and got the crash. When going again on the map it was all fine, so the crash doesn't always

[2022-03-31 12:34] emehmet opened #4158 "[Proposal] Converting Marker Component to PureComponent and coordinate to primitive types"
Hi everyone,

Is there a possibility to convert the Marker Component to React PureComponent and convert the coordinate props to primitive type (Lat={40.29} Lon={29.55})
Because React cannot compare Shallow compare coordinate. A new value every time.

If we do this, I think there will be a performance increase while using too many markers on the map.

Is that wrong?

[2022-03-31 15:38] mickael-bdias opened #4159 "React Native Maps still uses the Google API Maps even I use my own urlTemplate from my server"
# Bug report

## Summary

React Native Maps still uses the Google API Maps even I use  my own urlTemplate from my server.

## Environment info

`react-native info` output:

[code]

## Steps to reproduce

1. Build my own tile server using the tips from [Switch2OSM](https://switch2osm.org/serving-tiles/using-a-docker-container/)
2. Test from my Internet browser
3. Follow the guide to use my urlTempl

[2022-03-31 16:04] njacob1001 commented on #2614
I addeed this in `app/build.gradle `

[code]
now works for me

[2022-04-01 06:35] abdulrehmansiddiqui commented on #3865
npm i react-native-maps --legacy-peer-deps

[2022-04-01 09:13] rossjcooper commented on #4086
I'm also having this issue, the docs have been updated about how to generate different resolution images to make them scale better but I'm still a bit stuck on how to do this https://github.com/react-native-maps/react-native-maps/pull/3771

[2022-04-01 17:48] SohelIslamImran commented on #4136
Same Issue on Android @Simon-TechForm

![image](https://user-images.githubusercontent.com/76745339/161315809-ff8b757a-9d45-4783-9557-a5a520e865d3.png)

[2022-04-01 18:57] jsjexpert opened #4160 "Fails to compile using Expo EAS Build with 0.31.0-beta.2"
# Bug report

## Summary

## Environment info

`react-native info` output:

[code]

## Steps to reproduce

1. Using Expo SDK 44
2. in App.tsx add the following lines to allow new Maps SDK 18 renderer to load:
`import { enableLatestRenderer } from "react-native-maps";
enableLatestRenderer();`
3. Replace Expo managed react-native-maps@0.29.4 with react-native-maps@0.31.0-beta.2
4. Run `eas build:and

[2022-04-02 14:13] OTHMANE-AKHSAS commented on #3929
I have the same issue in android standalone app (IOS works fine), is this problem resolved ?

[2022-04-02 14:45] jamesholcomb commented on #3835
Thanks @taylorkline, your workaround for `fitToCoordinates` helped me out.   Experiencing this on Android and React Native 0.66.4

[2022-04-02 16:40] AxelHgt opened #4161 "Out of memory [Android] Custom Marker - new Google maps renderer"
# Bug report

## Summary

Out of memory crash, using the new Google renderer on a old Android device.
The app works fine with the LEGACY renderer.

## Environment info

Device:
Samsung Galaxy S5 SM-G900F
Android 6.0.1

`react-native info` output:

[code]

## Steps to reproduce

1. Enable the new rendered -> add "enableLatestRenderer();" on index.js file

2. Display the map with a custom marker and

[2022-04-02 20:45] karuzo17 commented on #3631
Issue is for me present as well on Android with v0.28.1

[2022-04-02 22:38] lclarkg18 commented on #3632
Disappointed that this was closed, would make things much easier if you could just tap a marker

[2022-04-04 03:18] namnh240795 commented on #3929
Same but they're ignore it. I've seen other issue mention this, my key work fine on example in flutter app so i'm sure that my config is fine. but on this package it's always display blank map with logo
![Screen Shot 2022-04-04 at 10 16 52](https://user-images.githubusercontent.com/20696416/161468211-6119c9d6-fe75-47e1-82b1-be20fd499ca9.png)

[2022-04-04 07:20] lillamu commented on #3929
Check the google maps API key permissions, my problem was due to it!

[2022-04-04 07:56] karuzo17 commented on #3618
This is exactly my issue at the moment on Android with react-native-maps 0.28.1. As soon as the keyboard shows up my complete Map is not responding anymore. Working on it since 3 days, still no solution.

[2022-04-04 11:24] jackimatin commented on #2298
hi
any solution
?

[2022-04-04 14:46] echong112 commented on #3564
i can help

[2022-04-04 18:12] muhammadqazi commented on #4136
@Simon-TechForm you need to open this issue again.

[2022-04-04 18:27] ramiel1999 opened #4162 "Pass an onPress to showUserLocation button"
# Feature request

I would love to be able to pass a callback to the "showUserLocation" button to run some code if user location is not granted

## Why it is needed

It is useful because if a user has his location services off I would be able to maybe show an alert to ask them to grant location permission in case they forgot it is off.

## Possible implementation

### Code sample

[2022-04-04 20:50] stdavis commented on #3969
I have the same issue when I use background location tracking to draw a polyline on the map. @MaRaSu Did you ever find a workaround?

[2022-04-04 21:40] JoniVR commented on #4159
Hi, fyi, for me using:

[code]

resolves the issue.

[2022-04-04 23:22] erickbennett commented on #4130
@Simon-TechForm

I completely agree. I am also having the issue.

[2022-04-05 02:32] touchalex opened #4163 "I can not make the iOS build in react-native 0.68"
I installed react-native-maps on react-native 0.68 with parameters "--force"

Here are some other development environments:
- M1 Pro MacBook
- Mac OS 12.3.1 (21E258)
- XCode 13.3 (13E113)
- Homebrew 3.4.4
- Node 17.8.0
- NPM 8.5.5
- Watchman 2022.03.21.00
- React Native CLI 2.0.1
- React Native 0.68
- Pod 1.11.3

It throws dependency error if I did not added '--force' parameters.
I added the AppDe

[2022-04-05 05:22] therealgilles commented on #3057
The Google team is asking the following:
[code]

Anyone has tested v6.1.1? Anyone has a sample project they can use to debug?
I haven't and don't have one myself right now.

[2022-04-05 05:24] jackimatin commented on #1617
hi
same issue

[2022-04-05 05:43] jackimatin opened #4164 "initial region"
hi

in my app, map is the first screen

after map loading, initialRegion and region does not working.

(I set latitude and longitude in useEffect of my component and I'm using useState for it...)

[2022-04-05 06:30] ravis-farooq opened #4165 "Marker onPress updating state in android but not in ios"
Hey there , I am using React native map, In that I use Marker onPress which sets my  **const [ind,setInd]=React.useState()** , The onPress just works fine in android but in ios it is not updating my **const [ind,setInd]=React.useState()**
<Marker
    coordinate={{...coordinate}}
    flat={true}
    onPress={i => {
      setInd(i);

      mapView?.current?.animateToRegion(
        {
          ...co

[2022-04-05 08:02] jackimatin commented on #1580
This problem still persists, on IOS....

[2022-04-05 09:08] mickael-bdias commented on #4159
Hi @JoniVR !
Thanks but it did not solve the counter of the Google Cloud Platform API.
I did 4 requests and I saw them on the GCP.

[2022-04-05 09:12] JoniVR commented on #4159
Oh okay, wasn't aware of this, sorry!

[2022-04-05 10:36] mickael-bdias commented on #4159
@JoniVR that's OK.
Thanks for helping.
I will use a Web-view or something.
Google maps is very expensive.

[2022-04-05 11:25] DennisOstertag opened #4166 "'NSLocationWhenInUseUsageDescription' is needed even if no location is in use"
# Bug report

## Summary

## Environment info

      react-native: 0.64.2
      react: 17.0.2
      react-native-maps: 0.30.1

`react-native info` output:

[code]

## Steps to reproduce

- You must provide a clear list of steps and code to reproduce the problem.
- Keep the code reproducing the bug as simple as possible, with the minimum amount of code required to reproduce the issue. See https://s

[2022-04-05 13:39] NavigilOMantere commented on #4021
@Simon-TechForm Speaking of, any chance we could have that #4084 reviewed? It's a small change and easy to test.

[2022-04-06 14:16] arinconc opened #4167 "Error installing in a clean project"
## Summary
I have created a new completely clean project the only thing I have installed is react-native-maps with the following command:
[code]

## Environment info
`react-native info` output:

[code]

## Steps to reproduce

1.  ```react-native init test```
2. ```cd test```
3. ```npm install react-native-maps --save-exact```

Result:
[code]

Thanks!
Antonio

[2022-04-06 22:50] sunny-mittal commented on #307
I just had this same issue and did something like this:
[code]
In my particular instance, I wanted to center the map about 10% of the screen height below where it would have gone without the offset and this worked for me. Some minor tweaks could make it work for other use cases but an advantage of this approach (for me) is that using the NE and SW coordinates, I automatically account for zoom. Hop

[2022-04-07 00:08] cl3i550n commented on #4167
i same problem.

[2022-04-07 09:20] touchalex opened #4168 "App Crashed on Android 12"
My App crashed when starting on Android 12 without throwing any error (but it works fine on Android 11 and iOS)

Here is my environments:
Developement Environment:
- MacBook Pro (14-inch, 2021) M1 Pro 16GB RAM
- Mac OS 12.3.1 (21E258)
- XCode 13.3 (13E113)
React Native Environment:
- Homebrew 3.4.5
- Node 17.8.0
- NPM 8.5.5
- Watchman 2022.03.21.00
- React Native CLI 2.0.1
- React Native 0.68
- Po

[2022-04-07 09:34] brianbscho opened #4169 "overflow: visible in Marker style is not working"
## Summary

I'm trying to show `<Image />` above the `coordinate` and `<Text />` below the `coordinate` in map, using Marker, like below:

[code]

But <Text> component is not visible. I tried to use negative `marginBottom` and it didn't either. Is it expected behavior? Is there any way I could show component below the `coordinate` prop in map?

## Environment info

      react-native: 0.64.0

[2022-04-07 09:36] touchalex commented on #4168
I found this updates: https://github.com/react-native-maps/react-native-maps/commit/7ccc65d83b409735034912279d72a7c6dc232066

And I tried to update my android build settings as following:

ext {
    buildToolsVersion = "31.0.0"
    minSdkVersion = 21
    compileSdkVersion = 30 // changed this from 31 to 30
    targetSdkVersion = 30 // changed this from 31 to 30
    ndkVersion = "21.4.7075529"

[2022-04-07 18:50] aliw2025 commented on #3755
still issue with  onTouchEnd() on iOS

[2022-04-07 19:10] salah-ghanim commented on #4167
@arinconc @cl3i550n can you guys please try and use the following

npm i --save react-native-maps/react-native-maps/#pull/4170/head

It might solve the issue since the library's package.json doesn't support RN 0.68 yet on master

[2022-04-07 20:15] arinconc commented on #4167
Hi Salah!
Thanks a lot but I run npm i --save react-native-maps/react-native-maps/#pull/4170/head and I get
[code]
I'm not good with this, but I think it will have to be put in another way because it doesn't find that path

Thanks a lot!!
Antonio

[2022-04-08 13:38] gen1lee commented on #4024
@JiriHoffmann you can also add answer with your lib here https://stackoverflow.com/questions/39815649/react-native-maps-clustering

[2022-04-08 13:55] Lian39 opened #4171 "Is it possible to rotate custom marker?"
I've added a custom arrow marker to user's position instead of default one. Now I'm interested if it's possible to rotate my marker depending on the user's direction of movement.

[2022-04-08 16:19] salah-ghanim commented on #4156
I'm interested in moving this forward but I think some help from the community would be awesome as well, I'm curious if anyone wants to join this effort or have experience in the new architecture already

[2022-04-08 20:45] lucaslt89 commented on #3066
@TheEhsanSarshar I'm facing the same issue, did you manage to fix it? I don't have any `Marker.Animated` in my code, just Markers

[2022-04-08 21:54] salah-ghanim commented on #4167
@arinconc I provided the wrong command to test the branch I mentioned, but I just tested it and it worked as expected. at least I didn't have any compilation issues or app crash (tested on an android phone)

this is the package.json file I used

`{
  "name": "awesomemaps",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native ru

[2022-04-09 14:25] alexdarh commented on #4171
<Image style={{transform: [{ rotate: `${myCurrentPosition.heading}deg` }]}}

[2022-04-09 17:59] lekzd commented on #3605
Looks like it's m1 chipset related issue and can be fixed using "run with Rosetta" option in simulator application info modal in Mac OS

[2022-04-09 18:05] dansimau commented on #3605
The M1 was announced on November 10 2020[[1](https://en.wikichip.org/wiki/apple/mx/m1)] and this bug report was filed on November 5 2020.

[2022-04-10 22:37] Girum opened #4172 "Error to set same points to another polygon"
Hi!

I`m trying to set Markes in Map and after, it draws a polygon. Ok. This is doing fine.

But, when I try to set another points, with some points equal in another polygon, it gives an error. How can I set same points (like a wall in houses, for example)?

Edit: Whem I try to set point inside the polygon, to make another polygon, it gives the same error)

This is the main code:

[code]

And a Vi

[2022-04-10 23:52] abtfulmind opened #4173 "Map pins are too large on build #2016"
# Bug report
Please see "Map pins are too large on build #2016"

this was closed for some arbitrary reason. THe issue persists: we're having it right now. Perhaps admin can re-open since there was no reason for closing it in the first place.

## Summary

## Environment info

`react-native info` output:

[code]

## Steps to reproduce

1. …
2. …

Describe what you expected to happen:

1. …
2. …

Des

[2022-04-11 05:25] jhexdejesus1 opened #4174 "Blank map when moved to production for android"
Hi,

Google maps is not showing properly when app is moved to production. My project is made in expo, it was working fine on expo tests. But when I made an apk build, maps is blank. On iOs is working fine.

![image](https://user-images.githubusercontent.com/57471351/162670192-aac41d87-bcc2-4adf-86c2-860042cd06ec.png)

[2022-04-11 05:26] jhexdejesus1 commented on #4174
Versions:
"expo": "~43.0.2",
"react-native-maps": "^0.30.1",

Source Code:
<React.Fragment>
            <MapView
              ref={(map) => {
                this.map = map;
              }}
              data={markers}
              initialRegion={initialRegion}
              renderMarker={renderMarker}
              showsUserLocation={true}
              showsMyLocationButton={true}

[2022-04-11 06:45] princefishthrower commented on #4174
We're seeing the same... specifically our map `Marker` is not displaying on real Android Devices (works everywhere else, iOS, and Android emulator)

[2022-04-11 06:57] jhexdejesus1 commented on #4174
I think this happened when they added 0.31.0-beta.2. My app is working fine in previous months, then last 2 weeks ago it went blank.

[2022-04-11 07:09] princefishthrower commented on #4174
Ah ok, likely unrelated to our problem then, we are on 0.30.1

[2022-04-11 09:42] MaRaSu commented on #3969
@stdavis & @mmubeennisar Unfortunately I have been too busy with other things in life to investigate this any further. Since it appeared with iOS 15 I was a bit hoping it would be a broader issue that Apple would fix with iOS 15.x releases. But apparently that has not been the case.

When I investigated this it was not readily apparent that something in RNM was causing it and a Google search for o

[2022-04-11 09:51] BishesSaha opened #4175 "I Am Facing Issue In Installing it in my Latest Project"
# Bug report

# npm resolution error report

2022-04-11T09:47:02.079Z

While resolving: demoproject@0.0.1
Found: react@17.0.2
node_modules/react
  react@"17.0.2" from the root project
  peer react@">= 16.0 || < 18.0" from react-native-maps@0.30.1
  node_modules/react-native-maps
    react-native-maps@"*" from the root project
  peer react@"17.0.2" from react-native@0.68.0
  node_modules/react-nati

[2022-04-11 09:56] #4163 closed

[2022-04-11 09:56] salah-ghanim commented on #4175
duplicate https://github.com/react-native-maps/react-native-maps/issues/4167

[2022-04-11 09:56] #4175 closed

[2022-04-11 10:47] Lian39 commented on #4171
But if I'm rendering my marker as a <Marker />
[code]

[2022-04-11 11:42] Lian39 opened #4177 "Custom showsMyLocationButton"
I've added a custom arrow marker to user's position instead of default one. Now I'm interested how to create my own showsMyLocationButton. I've tried the following but it doesen't work for me:
[code]

[2022-04-11 12:09] #4168 closed

[2022-04-11 14:08] Simon-TechForm commented on #4167
The confusion here is likely caused by the fact that npm installs peerDependencies automatically, while yarn doesn't, meaning that this error only happens with npm.

The error isn't specific to `react-native@0.68` and isn't fixed in the PR put forth by @salah-ghanim. It's caused by the fact that `react@18` has been released and is depended on by `react-native-web` which we in turn depend on as a p

[2022-04-11 15:42] russmenum opened #4183 "App wont build using Google Map iOS"
# Bug report

## Summary

After following the install instructions for iOS attempted to run the app in the XCODE simulator. If the install instruction code is present the app will not build.

## Environment info
      react-native: "~0.63.4"
      react: "16.13.1"
      react-native-maps: "0.30.1"
      Target Platform: eg: iOS - 15.2 Simulator/iPhone 11 (trying to use googleMaps)
      XCODE: Ver

[2022-04-12 11:51] Simarrajput12 commented on #3564
here am react native developer heaving 4+ years experience how can i help you

[2022-04-12 12:01] lekzd commented on #3605
I found this issue similar to mine, related with M1 and hope "run with Rosetta" solution helps others who read issues like me

[2022-04-12 13:12] kapil21 opened #4184 "TileOverLay"
Hi I am using custom map in my project , here is the code used to show this map on MKMap view:
//CustomTileOverlay : MKTileOverlay

@property (nonatomic, strong) CustomTileOverlay *tileOverlay;
@property (weak, nonatomic) IBOutlet MKMapView *mapView;

 -(void) setMapType() {
	[self.mapView setMapType:4];
	[self.mapView addOverlay: tileOverlay];
}

can this be done using react-native-maps  or sugge

[2022-04-12 14:13] russmenum commented on #3527
Is this the same [issue](https://github.com/react-native-maps/react-native-maps/issues/4183)?

[code]

[code]
I tried this exclude arm64, and this is an Intel not M1 Mac

<img width="679" alt="Screen Shot 2022-04-12 at 10 05 53 AM" src="https://user-images.githubusercontent.com/77687831/162980962-f66b71f9-457a-4799-9cf3-340eadc94aa4.png">

[2022-04-12 14:44] adamsoutar commented on #4174
@jhexdejesus1 Maybe check on your environment variables?
I'm not certain how it works with Expo, but I had a "blank map" issue that ended up being my build process unable to find the `GOOGLE_MAPS_API_KEY`

[2022-04-12 17:42] russmenum commented on #4174
Unrelated to your issue @jhexdejesus1 , but since you have this working in iOS, did you have a build error when you first started?  what I am getting [here](https://github.com/react-native-maps/react-native-maps/issues/4183)

My app is an EXPO ejected app so thought you might have? If so, what did you do to fix it?

I had this error with the blank screen on Android, if you do a release build in An

[2022-04-12 17:46] russmenum commented on #4174
@princefishthrower same question since you also have this working in iOS. If you had the

[code]

error what is the current fix?

[2022-04-12 23:24] #4184 closed

[2022-04-12 23:29] Simon-TechForm commented on #4183
hi @kapil21. We need to keep the issue section related to bugs and feature requests. I suggest taking this question to stackoverflow or the likes :) The install instructions haven't changed for a while, so it's unlikely that this is caused by react-native-maps. If you manage to track down the issue further, feel free to open a new issue :)

[2022-04-12 23:29] #4183 closed

[2022-04-12 23:30] Simon-TechForm commented on #4177
hi @Lian39. We need to keep the issue section related to bugs and feature requests. I suggest taking this question to stackoverflow or the likes :)

[2022-04-12 23:30] #4177 closed

[2022-04-12 23:31] Simon-TechForm commented on #4171
hi @Lian39 . We need to keep the issue section related to bugs and feature requests. I suggest taking this question to stackoverflow or the likes :)

[2022-04-12 23:31] #4171 closed

[2022-04-12 23:33] Simon-TechForm commented on #4165
hi @ravis-farooq. We need to keep the issue section related to bugs and feature requests. I suggest taking this question to stackoverflow or the likes :)

[2022-04-12 23:33] #4165 closed

[2022-04-12 23:39] Simon-TechForm commented on #4166
I support this change being implemented. The same thing applies to android, as `react-native-maps` adds the ACCESS_COARSE_LOCATION permission to the android manifest, which in best case is redundant and in worst case causes conflicts.

[2022-04-12 23:44] Simon-TechForm commented on #4156
We looked into the new architecure a bit. One major blocker is [react-native docs](https://reactnative.dev/docs/new-architecture-library-intro#writing-the-javascript-spec). Using flow instead of TS isn't viable imo.

[2022-04-12 23:44] russmenum commented on #4183
Who is @kapil21? @Simon-TechForm And so this repo just ignores critical install wholes?

[2022-04-12 23:52] Simon-TechForm commented on #4183
@russmenum my apologies, too quick on the paste. Edited my comment :)

We don't ignore issues if bug reports indicates that there's an error in the library, but your issue doesn't indicate any issue in the library. As I said, if you manage to track down the issue, please feel free to open another issue :)

[2022-04-12 23:55] #4154 closed

[2022-04-13 00:00] russmenum commented on #4183
Then what is the error?

If I remove this library app builds, if I install it, the Google-Maps-iOS-Utils ver it requires prevents the app building

[2022-04-13 00:17] russmenum commented on #4183
@Simon-TechForm  this is a bug with respect to fresh installs, I am not sure what changed but at this time you cant use Google Maps on iOS following the current directions. It could be anything from a ver change of who knows... I am willing to provide whatever info is needed to track this down, as I am sure it is affecting a lot of iOS builds... But I am very confused why instead of prob the ticke

[2022-04-13 00:44] russmenum commented on #3527
@Simon-TechForm since you forced closed my issue, will. you at least confirm if this is the same issue when it won't build on an Intel Mac?

[2022-04-13 05:08] saransh-malik commented on #3897
Yup, this issue still is existing and there seems to be no good workaround for this.

[2022-04-13 05:19] jhexdejesus1 commented on #4174
@russmenum react-native-maps is working fine ever since I made the app and haven't made any changes in my code. Then 2 weeks ago the issue for Android happened.

[2022-04-13 10:53] adamsoutar opened #4187 "`showPointsOfInterest` has no effect on Android"
# Bug report

## Summary

`showPointsOfInterest={false}` doesn't seem to have any effect on Android.

When supplying this prop, nothing happens, the POI are still visible (it _does_ work on iOS MapKit - I have not tried iOS Google Maps as I don't have that set up for this project).

You can work around this by providing a custom style to hide POI on Android's `standard` map:

[code]

However, `cus

[2022-04-13 11:31] SergioAN007 opened #4188 "iOS/Android Timing animation crash app with useNativeDriver"
# Bug report
Using timing animation with useNativeDriver: true app crashes in ios and android
react-native-maps version 0.30.0+ include last 0.31.0-beta.5

## Summary
Using timing animation with useNativeDriver: true app crash in ios and android

disconnectAnimatedNodeFromView: Animated node with tagp[176] does not exist
Error: This JS animated node type cannot be used as native animated node

##

[2022-04-13 12:05] russmenum commented on #4174
@jhexdejesus1 for my sanity can you glance at the ```Podfile``` and ```AppDelegate.m``` from my ticket and see if I added the code same place you did? At this point, I am just stuck. It is very odd to just have a build error like this for no reason.

[2022-04-13 14:43] cl3i550n opened #4189 "Examples not working"
Examples not working after

[code]

[code]

[2022-04-13 16:40] whysetiawan commented on #3527
My issue was solved by doing these step :
1. install Rosseta using the terminal
`softwareupdate --install-rosetta`
2. Go to Applications -> Right Click Xcode -> Select "Get Info" -> check the "Open using rosseta"
3. Open Xcode and `clean` and `build` the app via Xcode

**Note** : i was using `"react-native-maps": "^0.31.0-beta.5"`

[2022-04-13 17:01] jwaldrip commented on #3527
@whysetiawan building under rosetta is not solving for ARM builds. It is a workaround, but this has other implications for many other users on m1 macs.

[2022-04-13 17:03] jwaldrip commented on #3527
@russmenum using the latest beta build will fix this but as @Shaninnik mentioned, there is an issue with the onMapReady function. If you are not using that, there should not be an issue.

[2022-04-13 17:17] russmenum commented on #3527
Are you referring to my not force closed ticket? If so how do you install the beta instead of the main?

[2022-04-13 18:22] Simon-TechForm commented on #4183
@russmenum Lets make sure I wasn't too quick on this :)

I just tried to reproduce your issue, but I can't. I even tried to reproduce it in a `react-native@0.63.4` project to be sure. It builds and runs successfully on my end.

If you are able to provide a [minimal reproducible example project](https://stackoverflow.com/help/minimal-reproducible-example) in a repo, I will be happy to revisit the i

[2022-04-13 18:36] #3823 closed

[2022-04-13 18:47] fabianomarechal commented on #3564
Hey @rborn I can help with native code (java/objC) and improvements

[2022-04-13 18:55] Simon-TechForm commented on #4187
@adamsoutar first of all, thank you for taking the time to write a thorough issue.

You are absolutely correct. It's simply only implemented for iOS Mapkit, which should be stated in the docs. I've just opened a PR that adds a note about it.

If you would like to see it implemented on Google Maps as well, feel free to open a feature request (most of it should be a copy/paste of this issue) :)

[2022-04-13 19:14] adamsoutar commented on #4187
Awesome, that makes sense.

Thanks for updating the docs, I'll open a Feature Request when I'm at my machine tomorrow 👍

[2022-04-13 23:28] loydchristmass commented on #4130
Having this issue also on Latest 0.30.1, and simulator running 15.4.

[2022-04-14 03:47] whysetiawan commented on #3527
`npm install react-native-maps@beta`

[2022-04-14 08:21] zarkoden opened #4191 "Custom IOS native module 'GoogleMaps/GoogleMaps.h' file not found"
# Bug report

## Summary

When `#import <GoogleMaps/GoogleMaps.h>` is used in custom IOS native module it fails. But it's being imported in AppDelegate.m without any problems.

## Environment info

`react-native info` output:

System:
    OS: macOS 12.3.1
    CPU: (10) arm64 Apple M1 Pro
    Memory: 75.88 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.18.1 - ~/.nvm/versions/node/

[2022-04-14 08:57] adamsoutar opened #4192 "Implement `showsPointsOfInterest` for Google Maps"
# Feature request

It'd be really nice to be able to show/hide Points of Interest on Android (& iOS using Google Maps) - at the moment the `showsPointsOfInterest` prop is only implemented for MapKit. In the current version, POI are always visible on Google Maps and cannot be hidden.

It's worth noting that on MapKit the POI toggle works for all the map types, including satellite maps. This would b

[2022-04-14 08:58] adamsoutar commented on #4187
Closing in favour of #4192 .
Thanks for the help @Simon-TechForm :)

[2022-04-14 08:58] #4187 closed

[2022-04-14 09:52] FayyazAliKhan1 commented on #2780
@mertlena the issue is the TouchableOpacity which is not clickable is positioned above mapview
Rest TouchableOpacity are working

[2022-04-14 12:43] tdranv opened #4193 "Build input file cannot be found: '/my-app/ios/AirMaps/Callout/SMCalloutView.m'"
# Bug report

## Summary

I've started using the library in a project but I cannot build it. I get the following error when trying to build the iOS project.
[code]

I'm not sure why xCode looks for the files in the ios folder. The files are present in `node_modules/react-native-maps/lib/ios`, but I do not know how to tell xCode to look for them there. I tried modifying the build configuration and

[2022-04-14 14:42] russmenum commented on #4183
@Simon-TechForm  cloned the project, still cant build when using Google Maps on iOS

striping out all keys and screens other than the ```Map.js``` in its most min form for a [minimal reproducible example project](https://stackoverflow.com/help/minimal-reproducible-example)

If this repo will build for you that would mean there is just something beyond odd in the node, xcode, or pod files that are

[2022-04-14 17:26] Simon-TechForm commented on #4183
@russmenum your example repo builds and runs successfully for me as well.

Yeah it definitely seems like there's something odd going on in your local env. I would suggest creating a new RN project from scratch and installing react-native-maps in that and check whether that works as expected, eg.:

- `npx react-native init MapsTest`
- Follow the installation instructions of react-native-maps

[2022-04-14 17:45] russmenum commented on #4183
@Simon-TechForm respectfully having to restart a project from scratch just to use a library is itself a bug.

How did you build the project? Directly in XCODE or using "npm run ios"? If in XCODE what target?

What ver of XCODE? and so on? Whatever this X ingredient is, that or a lack of it is the bug...

[2022-04-14 17:53] Simon-TechForm commented on #4183
@russmenum I'm not talking about restarting a project, I'm asking you to check whether it works in a fresh project, since the bug is only reproducible on your computer :)

[2022-04-14 18:52] russmenum commented on #4183
@Simon-TechForm the clean test you recommend won't even let me npm install

[code]

```17.0.2``` seems to be in the target range so very confused? And it at least completed this step on the project that was ```16.13.1```

I literally only done:
- ```npx react-native init MapsTest```
- ```cd MapsTest```
- ```npm run ios``` to test that it built right
- closed the app
- and now ```npm install react-

[2022-04-14 19:09] Simon-TechForm commented on #4183
@russmenum yeah, this is caused by https://github.com/react-native-maps/react-native-maps/issues/4167. You should be able to install with the --force flag without issues :)

[2022-04-14 19:26] russmenum commented on #4183
Not sure why but it builds, but it is still using Apple Maps, not Google

[2022-04-14 19:29] Simon-TechForm commented on #4183
@russmenum  Make sure to apply the `provider="google"` prop.

[2022-04-14 19:43] russmenum commented on #4183
@Simon-TechForm any idea where to look for what is different? While this runs, it does not really fix the problem, unless this app is completely rebuilt on this new base from scratch.

There is clearly some change here that needs to be spliced over, but nothing obvious. And it is still beyond odd that the same code will run on your system, but not this one. I would also expect a core system config

[2022-04-14 19:58] Simon-TechForm commented on #4183
@russmenum since you're able to build in a fresh install, you've most likely ruled out system settings, xcode version etc, and probably narrowed it down to something project specific. Since I'm able to build and run the exact same code, I would suspect that cleaning out the project completely, reinstalling everything might fix it. The easiest way to test that is probably to clone your own repo int

[2022-04-14 20:10] russmenum commented on #4183
@Simon-TechForm that is basically how I made the MREP

- Fresh clone of this app repo to a separate dir
- copied everything but ```.git``` to the MREP
- ```npm install```
- ```cd ios```
- ```pod install```
- ```cd ..```
- ```npm run ios```

Before I committed the change to MREP I removed all the things listed above, so the keys and what not would not be on that GIT. But I am at a complete loss how

[2022-04-14 20:21] Simon-TechForm commented on #4183
@russmenum are you currenly on an Intel or M1 mac?

[2022-04-14 20:23] russmenum commented on #4183
@Simon-TechForm I have both. Today am on an Intel one.

[2022-04-14 20:55] Simon-TechForm commented on #4183
@russmenum Okay. I'm also currently on an Intel one, so that doesn't explain why it doesn't build on your end.

[2022-04-15 10:40] salah-ghanim commented on #4189
@cl3i550n there is a pull request to fix this #4170 ... waiting to be merged

[2022-04-15 10:47] salah-ghanim commented on #4191
@zarkoden this is not a bug in this repository, this completely depends on how you setup your native environment, this lib on its own doesn't define native dependencies for iOS instead it just gives instructions where those dependencies to be expected your project's (Podfile).

don't assume GoogleMaps is part of react-native-maps and you should be able to phrase your question properly for stackove

[2022-04-15 10:47] #4191 closed

[2022-04-15 10:52] salah-ghanim commented on #4156
Good catch @Simon-TechForm I was planning on investigating it this weekend myself, but I guess we can wait for TS support, I hope it's coming soon because this lib can communicate a lot over the bridge.

[2022-04-15 11:02] salah-ghanim commented on #2575
with the new architecture of react-native we can get much better performance and get closer to native performance by avoiding serializing map data (markers).

hopefully with RN supporting typescript for Turbo Modules we can start working on that

#4156

[2022-04-15 13:14] #4189 closed

[2022-04-15 13:26] salah-ghanim commented on #4193
@tdranv there is nothing special here, most likely you didn't link the library correctly given the fact that you're trying to link the files manually in xcode

Please follow the instructions here: https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md

[2022-04-15 13:26] #4193 closed

[2022-04-15 13:41] russmenum commented on #4183
@Simon-TechForm

While I still get
[code]
It looks like the build may keep running past that? It goes on to

[code]

no idea where it is even getting 8 from because ```IPHONEOS_DEPLOYMENT_TARGET = 11.0```; but that does not seem to be what is crashing this. Any idea on the next bit ?

[2022-04-15 15:30] russmenum commented on #4183
@Simon-TechForm In case anyone else encounters this posting here. I have never encunted this issue before.

As noted above was getting a lot of ```Could not find or use auto-linked library 'swift*'``` and then errors for not finding them.

Finaly found [this](https://stackoverflow.com/questions/52536380/why-do-i-get-ios-linker-errors-with-my-static-libraries)

Apparently, in weird cases, XCODE nee

[2022-04-15 15:38] Simon-TechForm commented on #4183
@russmenum I'm glad you worked it out :)

If we get more people reporting the issue, I will make sure to add a note about it in the installation instructions. I think this will happen on any library that relies on swift libraries, so it isn't specific to `react-native-maps` :) But yeah, very strange that it worked fine on my end.

[2022-04-15 19:45] ajyku commented on #4130
I have also faced the same issue in the iOS 15.4 simulator.

[2022-04-18 14:37] kigh143 commented on #4130
Hey guys, I am getting an error for maximum-call-stack-size-exceeded, when I comment out the mapView, it works fine. At first, it was just crashing.

[2022-04-19 12:34] shakawy commented on #4130
Also facing the same issue in the iOS 15.4 simulator.
removing `provider={PROVIDER_GOOGLE}` solves the issue.
but i don't like this temporary solution cause i want to use google maps view

[2022-04-19 13:24] tcha-tcho commented on #3564
Hi @rborn ! Our team at SmartGPS wants to help to build the integration with react-native-windows to make react-native-maps run on desktops. Please, let me know if it's something that is at your milestone. Regards from Brazil! :)

[2022-04-19 14:23] GustavoChiochetta commented on #3025
I'm having the same problem with version 0.30.1 when the polygon intersect with itself

[2022-04-19 18:16] gmztech commented on #4130
I was having this issue and i manage to solve it this way.
`import MapView, {PROVIDER_GOOGLE, PROVIDER_DEFAULT} from 'react-native-maps';`
Then create an useState for the map provider and set its initial value to the default provider (PROVIDER_DEFAULT), then on the MapView component, use the onMapReady listener, inside of it change the state of the provider to the PROVIDER_GOOGLE and it should loa

[2022-04-19 18:21] AlMel3000 commented on #4130
@gmztech

Great solution, but after 0.28.0 version onMapReady not calling on iOS 😂
 (here is a separate issue for this)

[2022-04-20 10:39] shakawy commented on #4130
Ok i managed to use `PROVIDER_GOOGLE`
through setting the height of `<MapView />` style.
I was calculating the height dynamically and it was `100.28299999999999` so i think this is exceeding the data type size, when i rounded the number everything worked find without any crashes

[2022-04-20 12:37] rborn commented on #3564
@tcha-tcho  I am not active anymore in this repo since some time, probably @christopherdro  might help

[2022-04-20 14:26] russmenum commented on #4097
Can I ask, what did everyone do to get ```pod install``` using google maps to even run right on an M1 Mac?

If I ```cd ios``` and ```pod install``` with

[code]

it will not even finish the pod install

[2022-04-20 15:37] russmenum commented on #3527
Can I ask, what did everyone do to get ```pod install``` using google maps to even run right on an M1 Mac?

If I ```cd ios``` and ```pod install``` with

[code]

it will not even finish the pod install, instead of a crapload of errors. Willing to try the run in rosetta, as have everything working on the Intell Mac, but there is no point to try and build before ```pod install``` successfuly complet

[2022-04-21 06:06] iraniancat opened #4194 "Android 12"
# Bug report

## Summary

Hello
I want to develop this component for my application but not compatible for android 12 and Crash on Android 12

[2022-04-21 11:00] chramos commented on #3392
is it possible?

[2022-04-21 11:46] Stephan-MDD commented on #3823
Hi @Simon-TechForm - I'm using a library called [react-native-map-clustering](https://www.npmjs.com/package/react-native-map-clustering).

The issues occurs when multiple pins has the same coordinates. The library handles these clusters and expands when you click them. When the cluster is expanded every pin is connected with a PolyLine which causes the issue.

Changing the internal `PolyLine` prop

[2022-04-21 19:57] burakkbilginn opened #4195 "Can I make the usage of google navigation inside the app without opening google maps to navigate the route?"
# Feature request

Can I make the usage of google navigation inside the app without opening google maps to navigate the route?

## Why it is needed

I need this, since I want the user to use the google navigation feature inside the app, not opening the native google maps app.

## Possible implementation

### Code sample

There is a mapview, and mapviewdirections inside it. All is done well like br

[2022-04-22 01:49] CVHOANG-coder commented on #4194
same problem

[2022-04-22 14:39] danieldanielecki opened #4196 "Marker icon SVG"
# Feature request

Allow an `icon` prop of the `<Marker />` component to accept `.svg` files.

## Why it is needed

We could have a scalable icon, which wouldn't lose quality on zoom in.

## Possible implementation

`<Marker icon={require("../assets/images/sample.svg")} />`

### Code sample

Currently, pointing to `.svg` file would display the default marker.
`<Marker icon={require("../assets/imag

[2022-04-22 14:58] salah-ghanim commented on #3527
**working solution**
regarding M1 , iOS simulator and latest version of google maps this is a clear description of the current status and a working solution:
https://github.com/googlemaps/google-maps-ios-utils/issues/355#issuecomment-1060959728

TLDR use the 6.0.1-beta as an [XCFramework](https://developers.google.com/maps/documentation/ios-sdk/config#install-the-xcframework).
  * ether use cartha

[2022-04-22 15:00] salah-ghanim commented on #4194
@iraniancat @CVHOANG-coder there is a format to submitting tickets that are missing. which is necessary info to support you here.

I'm closing this bug, please submit it again with all info you have including
1. environment info
2. which devices did you test on.
3. the crash's stacktrace

[2022-04-22 15:00] #4194 closed

[2022-04-22 15:17] urkin-dev commented on #307
@sunny-mittal Thanks it works, but when you rotate the map lat and lon are also changing and the center goes in wrong direction

[2022-04-22 19:37] dhruvparmar1 opened #4197 "Getting error after installing pods in iOS Simulator React Native 0.68.1"
# Bug report

## Summary

Getting an error after installing react-native-google-maps pods for iOS:

rn_maps_path = '../node_modules/react-native-maps'
pod 'react-native-google-maps', :path => rn_maps_path

## Environment info

`react-native info` output:

[code]

## Steps to reproduce

1. In AppDelegate.mm added #import <GoogleMaps/GoogleMaps.h> & [GMSServices provideAPIKey:@"_YOUR_API_KEY_"];
2.

[2022-04-23 08:15] sohailmadan opened #4198 "React native maps works fine on expo client but in standalone app created via expo build android. it fails to work"
i have added api key to my app.json file. Also enabled the required map sdk android and other apis in google console. Followed other steps to get finger print and added it to console as well. Still i am facing issue.
here's how my app.json android block looks like.
"android": {
      "package": "mypackagename",
      "versionCode": 1,
      "config": {
        "googleMaps": {
          "apiKey": "

[2022-04-23 16:43] kriit24 commented on #2646
Same issue, when i run expo start then map shows, but when i run expo run:android then backround is light grey and logo is visible

And i have installed like: https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md

[2022-04-23 20:55] dorthwein commented on #3969
I'm running into this as well :(

[2022-04-24 09:20] salah-ghanim commented on #4197
@dhruvparmar1 duplicate
https://github.com/react-native-maps/react-native-maps/issues/3527

[2022-04-24 09:20] #4197 closed

[2022-04-24 09:24] xjdqq opened #4199 "You have to have Google Play enabled before you can run it Flash back"
You have to have Google Play enabled before you can run it
Click on the enable
Flash back
"react-native-maps": "^0.30.1",

implementation(project(':react-native-maps')){
        exclude group: 'com.google.android.gms', module: 'play-services-base'
        exclude group: 'com.google.android.gms', module: 'play-services-maps'
    }
    implementation 'com.google.android.gms:play-services-base:18.0.1

[2022-04-24 09:25] MarcHbb commented on #3416
Nice and smooth animation, it's working perfectly, I have no flickering issue while the map is loading.
But the overlay is over the map, event though it has opacity value of 0. So I can't interact with the map.

I added few lines to fix it.

In overlay comp :

`    const [hideOverlay, setHideOverlay] = useState(false);
`

Use callback after animation to set the state

`.start(() => {

[2022-04-24 18:03] #4198 closed

[2022-04-24 18:04] #4199 closed

[2022-04-24 20:11] #4157 closed

[2022-04-24 20:11] #4160 closed

[2022-04-25 10:11] arundevkv commented on #3606
Same issue here

[2022-04-25 10:12] arundevkv commented on #2265
Facing same issue. Please reopen

[2022-04-25 13:10] ScreamZ opened #4208 "Typescript typings issue"
Within the latest version, when I Start a new Expo project I'm getting the following ts error

I'm having issues understanding why

[code]

## Reproduction

`npm i -g expo-cli`
`expo init` -> Typescript starter
`expo install react-native-maps`-> `"react-native-maps": "0.29.4"` given

Try to use `<MapView />` within a component in a `.tsx` file

[2022-04-25 13:46] ScreamZ commented on #4208
Looks related to https://github.com/facebook/react/issues/24304

[2022-04-25 20:56] Qwardly opened #4209 "how to make a custom current position button react-native-maps?"
Added a jump button to my position. Button is displayed on the screen, but how can I move it or change it somehow?

[2022-04-26 17:16] Willham12 commented on #3995
@alakdam07 do you found an solution?

[2022-04-27 06:10] bumjin1013 opened #4210 "Execution failed for task ':react-native-maps:compileDebugJavaWithJavac'."
Hi, when i put playServicesVersion = "17.0.0" on build script, Excution failed for task error occur and build is fail.
With out playServicesVersion, build is success but app is crashed when MapView is called.

environment
rn : 0.68.0
react : 17.0.2

[code]

[2022-04-27 07:24] caglardurmus commented on #4210
Same here i can't build too.

[2022-04-27 07:52] DuongVuongUTE commented on #4210
+1

[2022-04-27 07:54] MarcHbb commented on #3416
@jamesholcomb You can"t have tiles still loading because the fade animation trigger when `onMapReady` is true so no matter what the `duration` you have set, you should not have flashes

[2022-04-27 08:28] hansemannn commented on #3416
Please excuse if it's an unpopular opinion, but let's face it: Google has to provide a proper fix here to prevent the default map to flash before the custom style is loaded. Every workaround has it pro's and con's (performance vs stability), so it's really up to Google to fix that behavior.

[2022-04-27 13:59] #4210 closed

[2022-04-27 14:58] #4209 closed

[2022-04-27 14:59] #4208 closed

[2022-04-27 20:21] peterkeith2010 commented on #3057
tested with new react-native-maps 0.31.0 and GoogleMaps 6.1.1.
Same issue

[2022-04-27 20:38] peterkeith2010 commented on #3025
same problem with 0.31.0

[2022-04-28 02:29] bumjin1013 commented on #4109
+1

[2022-04-28 07:09] VictorPulzz commented on #4102
I got same issue @Simon-TechForm , how we can clear markers manually?

[2022-04-28 07:27] VictorPulzz opened #4214 "Markers no removed"
# Bug report

## Summary
I use last version react-native-maps, I add custom marker on map, using array, but when I remove marker, marker not removed from map...

## Video
Just check video
https://user-images.githubusercontent.com/23406402/165700618-c313e746-db29-4882-a87e-e792b865b027.mp4

## Environment info
[code]

[code]

## Steps to reproduce
1. Follow instruction steps for this package
2. Add

[2022-04-28 08:28] fuelkoy commented on #3910
This is still happening to me on Android real device (haven not tested emulator
`
"expo": "^44.0.6",
"react": "17.0.1",
"react-native": "0.64.3",
"react-native-maps": "^0.31.0",
`

[2022-04-28 08:49] alakdam07 commented on #3995
https://stackoverflow.com/questions/17410499/difference-between-adjustresize-and-adjustpan-in-android

[2022-04-28 09:38] CVHOANG-coder opened #4215 "Can't build version 0.31.0 on android"
I upgrade version from 0.30.1 to 0.31.0 and i can't build my app.  I use android sdk 31 and build on android 12 / realme gt neo 2
`
    "react": "17.0.2",
        "react-native": "0.66.3",    "react-native-maps": "^0.31.0", `

![image](https://user-images.githubusercontent.com/53090290/165722817-1a63315f-6c0d-42cb-a102-2552d6939505.png)

[2022-04-28 11:31] Kjagd commented on #3006
Also seems to have a similar issue with elevation on a custom Marker

[2022-04-28 12:20] galechus commented on #4196
Hi @danieldanielecki,
have you tried:
`
<Marker>
    <View style={{ width: 40, height: 56 }}>
        <Svg width="100%" height="100%" viewBox="0 0 40 56">
            <Path d="M19.7 0c-10.9 .2-19.7 9.1-19.7 20v.1c0 .1 0 .2 0 .3c.1 7.6 4.5 14.1 10.7 17.4c1.8 .9 3.1 2.4 3.8 4.3l5.5 13.9l5.5-14c.7-1.8 2.1-3.3 3.8-4.2c6.4-3.4 10.7-10.1 10.7-17.8c0-11-9-20-20-20c-0.1 0-0.2 0-0.3 0Z" fill={fill} />

[2022-04-28 16:53] caolong0204 commented on #3153
i'm still meeting this issue, please fix it

[2022-04-28 17:29] caolong0204 opened #4216 "onDoublePress is not working"
# Bug report

## Summary
I add event onDoublePress on Mapview and i see my event never fired.
Please fix this bug or show me how can i know when user zoomin map.

## Environment info

[code]

Describe what you expected to happen:

1. my function is called when user double tap to mapview
2. i know when user zoom in map;

Describe what actually happens:

1. My function will never triggerd when i add

[2022-04-28 17:32] NilsBaumgartner1994 commented on #4078
Still relevant

[2022-04-28 17:32] NilsBaumgartner1994 commented on #3861
Still relevant

[2022-04-28 17:34] caolong0204 opened #4217 "Show Title of Marker while Zooming in"
# Feature request
Firstly Marker hide title and when user zoom in map , all marker will show title without press

## Why it is needed
It make marker become value more than, such as street's name or big shop's name;

## Possible implementation

### Code sample

[2022-04-28 21:19] ger88555 commented on #2646
Same issue, I'm using `expo run:android` (a dev client). The background is light gray and the Google logo is visible at the bottom.

[2022-04-29 04:37] jhexdejesus1 commented on #4174
@russmenum sorry, I can't help you with that I'm still new to react native and currently using Expo for my projects, it doesn't have ios nor android folder.

[2022-04-29 09:32] TalalNuman commented on #154
Putting the <Image> inside a <Text> solved the problem for me.

Maybe we can only use <Text> inside a callout for Android.

[2022-04-29 09:35] TalalNuman commented on #154
Putting the `<Image>` inside a `<Text>` solved the problem for me.

Maybe we can only use `<Text>` inside a Callout on Android. But this issue should be resolved as putting the `<Image>` inside a `<Text>` doesn't make any sense.

[2022-04-29 11:43] midhungopipk commented on #4215
did you able tp solve this issue?

[2022-04-29 20:55] nes123 commented on #4119
Did you manage to solve it?

[2022-04-30 08:11] binitgurzu commented on #3755
still looking for solutions

[2022-04-30 08:43] l-barbosa commented on #4214
@VictorPulzz I've been experiencing this issue for quite a while now.
Just like you, I saw issue #4102 and that it wasn't reproducible and the poster ended up giving up on it, only to try it later and it did work.

I've been working on other sections of my app (that hasn't been released yet) and was hoping for this to be magically fixed by a new release but 0.31.0 doesn't fix it (I know... why wou

[2022-04-30 12:13] l-barbosa commented on #4214
Some more details.
I went into `AirMap.m` and tried to log data as views get removed:

[code]

When I zoomed out and the custom markers where removed but in their place the default marker appeared, this got logged:

[code]

This didn't seem to make sense since I was still seeing the markers/annotations.
I wondered if something else was happening async so I added this to the end of the `removeReact

[2022-04-30 17:25] Simon-TechForm commented on #4215
@CVHOANG-coder please have a look at the [installation docs](https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md#upgrading-to--v0310).

@midhungopipk I've just released a new version that should fix your issue. If not, please open a new issue with the bug you are experiencing.

[2022-05-01 07:55] YairCaspi commented on #4110
I'm having the same problem.
I need both "onRegionChangeComplete" and "ref".
I can not give up using ref.
On Android it works properly

[2022-05-01 14:02] affansk commented on #4196
@danieldanielecki  just convert SVG to react component and use it

[2022-05-01 20:53] therealgilles commented on #3025
Can this issue please be re-open?

[2022-05-01 20:54] edi commented on #3025
Guess this is just dead and wont be fixed :)

[2022-05-01 20:58] therealgilles commented on #3025
Oh my bad, I think this is been tracked in https://github.com/react-native-maps/react-native-maps/issues/3057.

[2022-05-02 04:41] mahcloud opened #4221 "liteMode makes maps unusable on older android devices"
# Bug report

## Summary

Using the prop liteMode on an android device that is old enough that it does not support light/dark mode results in a map that will not interact. The user cannot zoom or move.

## Environment info

      react-native: 0.67.2
      react: 17.0.2
      react-native-maps: 0.31.1

    Target Platform: eg: android

## Steps to reproduce

Opening a map on a pixel 2 or pixel 3 r

[2022-05-02 04:45] meliodev commented on #4166
Any solution or workaround for this issue ?

[2022-05-02 10:23] guilhermeJB commented on #3391
+1

[2022-05-02 19:58] therealgilles commented on #3057
I'm following up on Google issue tracker. I suggested they use the react-native-maps bundled example as test case. They put it as priority P4.

Does anyone know if this issue happens with release builds? When I experimented recently, I only observed it on debug builds.

[2022-05-03 02:06] eprice122 commented on #4173
+1

[2022-05-03 08:47] iarmankhan commented on #4214
Same issue when using Children in Marker component

[2022-05-03 09:19] l-barbosa commented on #4214
I ran my app on Android and the issue did not manifest there.
I'll be focusing my efforts on iOS and I'll post any updates.

[2022-05-03 09:24] iarmankhan commented on #4214
Did you find any solutions for IOS? I tried updating the library to latest version but it's still happening for me.
@l-barbosa Do we not have any workarounds for this?

[2022-05-03 09:28] l-barbosa commented on #4214
No, I'm not a contributor to this project so I'm not that familiar with it, was just using the library and ran into this issue.
I'm trying to either put together a repository where the issue can be easily reproduced or narrow down the source of the issue. Whatever I can do to make it easier for regular maintainers.
I'll post any update on this thread.

[2022-05-03 09:41] iarmankhan commented on #4214
Thanks, from another thread a workaround could be to give key as markers.length to Map component, this will forcefully re-render it. I couldn't try this out due to some other issues but maybe it can work for you. @l-barbosa

[2022-05-03 11:38] l-barbosa commented on #4214
By setting up a few breakpoints as the views are added/removed and following the execution I found that it was [React Native Reanimated](https://github.com/software-mansion/react-native-reanimated) that was adding views back as they were removed.

To test this I went back to the project I set up to demonstrate my issue and that initially was working fine and added reanimated to it.
As soon as I ad

[2022-05-03 11:43] l-barbosa commented on #4102
@MatthewLamperski I've been trying to find the source of a very similar issue [here](https://github.com/react-native-maps/react-native-maps/issues/4214) and also wasn't able to initially create a demo repo where the issue occurred.
After investigation, the issue seems to be connected with [react-native-reanimated](https://github.com/software-mansion/react-native-reanimated).

Do you remember if yo

[2022-05-03 14:58] rajanbalana commented on #4099
Were you able to solve it?

[2022-05-03 17:25] nes123 commented on #4099
Happened after upgrading com.google.android.gms package. More specifically:

'com.google.android.gms:play-services-measurement-base:20.0.0'

was upgraded to

 'com.google.android.gms:play-services-measurement-base:20.1.0'

[2022-05-04 09:48] Willham12 commented on #1580
On IOS Simulator do this:
[code]

[2022-05-04 15:59] arelstone opened #4222 "Check if longitude and latitude is within the region"
# Feature request

## Why it is needed
When dealing with a lot of markers the performance of the map is slow and sluggish. A performance optimisation is to check if a marker is within the region of the map before rendering it.

## Possible implementation

You can use the region to see if the point is within the given region

### Code sample

I've been using this for a long time in the app I am wor

[2022-05-05 02:11] parmarravi opened #4223 "Google-Maps-iOS-Utils/GoogleMapsUtils.modulemap' not found"
I am getting this error when I try to build the app in Xcode

Package .json

[code]

POD FILE

[code]

Error on vs code

[2022-05-05 03:12] #4223 closed

[2022-05-05 12:20] arelstone opened #4224 "Android: v0.31.1 not building"
# Bug report

## Summary
After upgrading to version 31.1 my **android** build it failing. For **ios** all I had to do was upgrading the pod repo

I followed the [installation guide](https://github.com/react-native-maps/react-native-maps/blob/master/docs/installation.md#upgrading-to--v0310)

I must be missing something, the question is just, what?

## Environment info

####  `react-native info` out

[2022-05-05 13:26] xAirx commented on #4025
HOW DID YOU SOLVE IT

[2022-05-05 13:53] DoneDeal0 opened #4226 "Does this lib uses free of charge Google mobile SDK, or does it implies a fee per map load?"
Hello,

I know this is not a bug, but since you don't have a discussion tab, I didn't know where to send this message. So, I'd love to use your lib in an Expo app, but I need to be sure of its actual cost. Does this lib uses free of charge Google mobile SDK, or does it implies a fee per map load (currently 7$ per 1000 load)?

Long story short, if I have 1000 users displaying 50 maps per month each

[2022-05-05 14:38] arelstone commented on #4224
@Simon-TechForm I havn't used react-native-clean-project but I've done `rm -rf node_modules/ dist/ ios/Pods/ && yarn && yarn pods`. Did I forget deleting something? I might have. I will try using the rn-clean-project

My `settings.gradle` contains a linking to react-native-maps

[code]

And thanks for clearing up that the `play-services-maps` is not needed. I will remove it

[2022-05-05 14:55] Simon-TechForm commented on #4224
@arelstone that's most likely your problem. Adding `react-native-maps` to your settings.gradle haven't been necessary since `react-native@0.60.0` added autolinking.

I would suggest looking through the [legacy installation docs (for react-native@0.59 and lower)](https://github.com/react-native-maps/react-native-maps/blob/5be836e1290457c4c7cefe83246ef532859c692d/docs/installation.md) and check for

[2022-05-05 15:40] arelstone commented on #4224
@Simon-TechForm There is no need to use the legacy implementation. We are running `react-native: 0.67.4 => 0.67.4`..

It seems to be working after removing it from `settings.gradle`.

Sometimes a silly mistake like this causes things to blow up in your face. I am however curious to why has was working with all the versions prior to 0.31.1

Thank you and thanks for your time

[2022-05-05 16:58] DoneDeal0 commented on #4226
Very nice! Thanks!

[2022-05-06 03:26] iarmankhan commented on #4214
This is really frustrating that none of the maintainer is even replying on this issue, I've tried everything but nothing can make it work properly in my existing project.

[2022-05-06 06:45] l-barbosa commented on #4214
It's never easy when an issue is caused by the interaction between two libraries...
I will probably just remove the use of the `reanimated` library on that particular screen, replacing it with standard React animations.
If your issue is the same as mine and you do the same, you should be able to get around the issue.

[2022-05-06 12:26] DennisOstertag commented on #4166
yes as i posted above you can patch react native maps and remove the line that requests permission.

_Originally posted by @edanedison in https://github.com/react-native-maps/react-native-maps/issues/3305#issuecomment-668745054_

[Link to patch package](https://anu-thomas.medium.com/patch-package-in-react-native-c7786a15e279)

[2022-05-06 14:34] leo-mercier opened #4228 "addressForCoordinate return undifined"
this code :
![image](https://user-images.githubusercontent.com/50695235/167154111-4d262f85-b3a1-430b-a244-3d875d3bbaf9.png)

return this :
![image](https://user-images.githubusercontent.com/50695235/167153764-3c727de8-c8a5-4b1b-ac51-2c69509ced61.png)

can someone help me, i rade that addressForCoordinate was released. but for me it dont works

[2022-05-07 18:24] badaz commented on #3350
I'm facing the same situation, has anyone found a workaround?

RN 0.68.1
react-native-maps 0.31.1

[2022-05-08 13:14] FadiAboMsalam commented on #3657
same issue any update on this ?

[2022-05-09 07:31] arundevkv commented on #3606
Any update on this issue. Please reopen this issue.

[2022-05-09 09:47] DoneDeal0 opened #4230 "Fix tooltip width"
# Bug report
Custom tooltip's width are very narrow. Each character fills a line.

There are currently 3 ways to fix it:
1)  apply a fixed width (ex: `width: 200`), but it creates a weird ui depending of the text (too large or too small, rarely well adjusted)
2) apply a `position: relative` property to the `Callout` element (as child of the `Marker`), but the `Marker` is not properly positioned on

[2022-05-09 10:40] fulltime117 commented on #880
It's works for me.
Thanks @cosfix

[2022-05-09 13:52] TucaMariusOctavian opened #4231 "Traffic rendering issue on Android"
# Bug report

## Summary

Traffic glitches appear on Google Map on Android when traffic is on. This happens when zoom is around 6.5 especially around Paris, Nederlands or Belgium (a lot of roads).

![image](https://user-images.githubusercontent.com/17797197/167418977-ac4694cf-6d81-4b75-ada6-6f99b2d7dff4.png)
![image](https://user-images.githubusercontent.com/17797197/167419233-7116b092-bd3f-4770-9

[2022-05-09 13:54] satyaranjan-evince opened #4232 "fitToCoordinates does not work properly on iPhone 11 Pro Max"
### Summary
fitToCoordinates does not work as expected in iPhone 11 Pro Max

### Environment info
  react-native: 0.63.4
  react: 16.13.1
  react-native-maps: 0.31.1

**Target Platform**:  iOS

**Device in which issue is reproduced** : iPhone 11 Pro Max, iOS 15.4

**Steps to reproduce**
Call fitToCoordinates once when screen is mounted using a set of coordinates, works fine
Navigate to another scr

[2022-05-09 15:32] togenius1 commented on #4197
I got the same issues on M1.

[2022-05-09 18:48] emehmet commented on #3096
+

[2022-05-10 02:06] CuHeng opened #4233 "LongLogTag issue"
Lint found 5 errors, 19 warnings. First failure:

...\node_modules\react-native-maps\android\src\main\java\com\airbnb\android\react\maps\AirMapTileProvider.java:174: Error: The logging tag can be at most 23 characters, was 28 (urlTile: tile cache HIT for ) [LongLogTag]
    Log.d("urlTile: tile cache HIT for ", Integer.toString(zoom) +
[code]

[2022-05-10 06:39] 06pranto commented on #4136
@SohelIslamImran can you solve it?

[2022-05-10 06:39] 06pranto commented on #4136
i am facing the same error

[2022-05-10 07:50] SohelIslamImran commented on #4136
@06pranto
Actually, in my case, I'm using expo SDK 44. And it only supports `react-native-maps version 0.29.4`, But I mistakenly installed version  0.30.1. So when I again downgrade to version 0.29.4 the problem is solved.

[2022-05-11 03:55] MGD-GLS opened #4234 "initialRegion not working on Android on version 0.31.0 or 0.31.1"
![image](https://user-images.githubusercontent.com/97229362/167765922-9d227b27-ffb5-4376-a888-3c52604e77b2.png)
error while updating property 'initialRegion' of a view managed by airmap

but on version 16.1 working correct